Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[docs]: rename the branch to tdm-port and record the Phase 0 integration plan
  .agents/handoffs/tdm-port-handoff.md
Due: none

[test]: add the modular-vs-upstream TDM parity gate
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/test_tdm_upstream_parity.py
Due: none

[feat]: add the TDM regression warmup and step ladder
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/README.md
  tests/local_tests/tdm/test_tdm_config_smoke.py
  tests/local_tests/tdm/test_tdm_warmup_and_ladder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add reference-free TDM distillation metrics
  fastvideo/train/utils/tdm_metrics.py
  tests/local_tests/tdm/test_tdm_metrics.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add the TDM video acceptance report and warmup-phase controls
  tests/local_tests/tdm/test_tdm_warmup_and_ladder.py
  tests/local_tests/tdm/tools/tdm_video_report.py
Due: none

[docs]: record the TDM acceptance policy and Phase 2 evidence
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/README.md
Due: none

[test]: add the Wan fixed-recipe validation config, pod, and runner
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_fixed_recipe.yaml
  tests/local_tests/tdm/k8s/pod_wan_tdm.yaml
  tests/local_tests/tdm/k8s/run_wan_tdm_fixed_recipe.sh
Due: none

[fix]: extract the staged tree into its own directory in the Wan runner
  tests/local_tests/tdm/k8s/run_wan_tdm_fixed_recipe.sh
Due: none

[fix]: accept the modular validation-video layout in the report tool
  tests/local_tests/tdm/tools/tdm_video_report.py
Due: none

[test]: parameterize the Wan runner learning rates
  tests/local_tests/tdm/k8s/run_wan_tdm_fixed_recipe.sh
Due: none

[docs]: record the Phase 3 no-op-regime finding and the LR rerun
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: ship the validated TDM learning rates and record the Phase 3 gate
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_fixed_recipe.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_overfit.yaml
  tests/local_tests/tdm/README.md
Due: none

[feat]: multi-prompt and held-out diversity assets for the TDM fixed recipe (Phase 3.1)
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/wan/tdm_multiprompt_train_prompts.txt
  examples/train/configs/distribution_matching/wan/tdm_multiprompt_validation.json
  tests/local_tests/tdm/k8s/run_wan_tdm_multiprompt.sh
  tests/local_tests/tdm/tools/tdm_multiprompt_report.py
Due: none

[bugfix]: wait on the preprocess worker pids in the multiprompt runner
  tests/local_tests/tdm/k8s/run_wan_tdm_multiprompt.sh
Due: none

[feat]: per-record validation seed so repeated captions sample different noise
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/wan/tdm_multiprompt_validation.json
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
  tests/local_tests/tdm/k8s/run_wan_tdm_multiprompt.sh
  tests/local_tests/tdm/tools/tdm_multiprompt_report.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record the Phase 3.1 multi-prompt diversity and held-out results
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: Phase 4 design for H3 joint video+audio in the modular TDM stack
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: H3 joint video+audio TDM model hooks and LoRA support
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/test_tdm_h3_joint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record Phase 4 4A completion and the parked 4B method WIP
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: make TDMMethod modality-general for joint H3 video+audio
  fastvideo/train/methods/distribution_matching/tdm.py
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/k8s/run_wan_tdm_parity4b.sh
  tests/local_tests/tdm/test_tdm_method_unit.py
  tests/local_tests/tdm/test_tdm_upstream_parity.py
  tests/local_tests/tdm/test_tdm_warmup_and_ladder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record 4B completion, the parity lesson, and the confirmation run
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: H3 joint video+audio TDM config, validation set, and smoke test
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
  examples/train/configs/distribution_matching/tdm_h3_overfit_validation.json
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/test_tdm_h3_config_smoke.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record 4C completion and the H3 asset findings
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: point the H3 TDM gate at the 4-row replica and record the smoke
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[feat]: H3 TDM gate runner and the launched run record
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/k8s/run_h3_tdm_gate.sh
Due: none

[fix]: point the H3 TDM config at the complete model overlay and record the validation blocker
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[docs]: record the drifting-workstream H3 model-view findings
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the in-process H3 validation blocker for 4D
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
  tests/local_tests/tdm/k8s/run_h3_tdm_gate.sh
Due: none

[fix]: validate once at the final H3 gate step to avoid the stream-state crash
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[docs]: record the H3 joint TDM gate pass
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: int8 transformer for MiniMax H3
  fastvideo/layers/quantization/minimax_h3_int8.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/ops/quantization/test_minimax_h3_int8.py
  fastvideo/tests/ops/quantization/test_minimax_h3_transformer_int8_converter.py
  scripts/checkpoint_conversion/convert_minimax_h3_transformer_int8.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: wire H3 video-sparse attention into the TDM training path
  .agents/handoffs/tdm-port-handoff.md
  fastvideo/train/models/minimax_h3/minimax_h3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add a narrow FastH3 8-step MLX ladder
  docs/getting_started/installation/mps.md
  docs/inference/fasth3-distilled.md
  examples/inference/basic/mlx_fasth3.py
  examples/inference/basic/mlx_fasth3_8step.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_8step_schedule.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: add FastH3 8-Step V2 cookbook serving and OpenAI client path
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/index.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/openai-api.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  examples/serving/README.md
  examples/serving/mlx_fasth3_8step.yaml
  examples/serving/openai_fasth3_8step.yaml
  fastvideo/entrypoints/openai/mlx_server.py
  fastvideo/tests/entrypoints/test_openai_video_client.py
  tests/local_tests/test_cookbook_serving.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record the GPU-allocation blocker for the 4E VSA smoke
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the capacity sweep results for the 4E smoke
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: note that the image pull completed and the pod is now capacity-bound
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the end of the pod monitoring window
  .agents/handoffs/tdm-port-handoff.md
Due: none

change version compatibility for cudnn kernel in flashinfer
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
