Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

update
  .agents/skills/seed-ssim-references/SKILL.md
  .agents/skills/seed-ssim-references/scripts/seed_ssim.sh
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCat self-forcing training scaffold
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(ssim-modal): install torch before fastvideo-kernel build
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(kernel-build): detect CUDA arch via active venv python directly
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

docs(seed-ssim-skill): fix modal volume get path + force flag
  .agents/skills/seed-ssim-references/SKILL.md
Due: none

update
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update lingbot
  fastvideo/tests/ssim/test_lingbot_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] add LTX-2 distilled T2V SSIM regression test (#1240)
  .agents/scripts/sync-skills.sh
  .agents/skills/index.jsonl
  .agents/skills/seed-ssim-references/SKILL.md
  fastvideo-kernel/build.sh
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test] [6/n] Improve API: gpu_pool-style LTX-2 kwarg round-trip
  fastvideo/api/compat.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] [6/n] Improve API: colocate LTX-2 pipeline config and stages
  fastvideo/configs/pipelines/__init__.py
  fastvideo/pipelines/basic/ltx2/pipeline_configs.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_text_encoding.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/registry.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  tests/local_tests/test_ltx2_registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [6/n] Improve API: add ltx2_two_stage preset
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [6/n] Improve API: typed LTX2 refine stage overrides
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stage_overrides.py
  fastvideo/tests/api/test_ltx2_stage_overrides.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] [6/n] Simplify LTX-2 preset scaffolding
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stage_overrides.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/api/test_ltx2_stage_overrides.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [6/n] Improve API: typed torch.compile kwargs + pipeline.vae_tiling
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

modify preprocess text_encoder offload and FSDP error
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_text.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Perf: fuse RoPE into a single Triton Kernel and Cache FP32
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/rope_triton.py
  fastvideo-kernel/tests/test_rope_triton.py
  fastvideo/layers/layernorm.py
  fastvideo/layers/rotary_embedding.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Minor: Change Test number
  fastvideo-kernel/tests/test_rope_triton.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

feat(api): typed text-encoder compile + PR 6 review follow-ups
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/api/test_parser.py
  tests/local_tests/pipelines/test_ltx2_pipeline_smoke.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(presets): replace negative_prompt=None with empty string
  fastvideo/pipelines/basic/matrixgame/presets.py
  fastvideo/pipelines/basic/turbodiffusion/presets.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(sampling): LTX-2 CFG class defaults off (1.0) to stop cross-family leak
  fastvideo/api/sampling_param.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos 2.5 T2W training pipeline (LoRA + full fine-tune)
  examples/training/finetune/cosmos2_5/README.md
  examples/training/finetune/cosmos2_5/finetune_t2w.sh
  examples/training/finetune/cosmos2_5/finetune_t2w_lora.sh
  examples/training/finetune/cosmos2_5/preprocess_cosmos2_5_t2w.sh
  examples/training/finetune/cosmos2_5/validation.json
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/dataset/utils.py
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/training/cosmos2_5_training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos 2.5 DiT config, pipeline config, and registry entry
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/configs/pipelines/cosmos2_5.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(longcat): restore T5 max_length padding so CFG concat lines up
  fastvideo/configs/pipelines/longcat.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add FastLTX-2.3 Gradio demo package (draft)
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/README.md
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/__init__.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/__main__.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/app.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/config.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/download_fasttext_classifiers.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/examples.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/prompt_enhancer.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/prompt_rewrite.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/prompts/prompt_extension_system_prompt.md
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/rendering.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/safety.py
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/selected_ltx2_prompts.jsonl
  examples/inference/gradio/local/gradio_local_demo_ltx2_3/ui.py
Due: none

perf(ssim-modal): move 14B I2V tests to a dedicated heavy partition
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add CI Performance Regression Tracking Changes
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: normalize uint8 pil_image in ImageVAEEncodingStage.preprocess
  fastvideo/pipelines/stages/image_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add regression tests for ImageVAEEncodingStage.preprocess
  fastvideo/tests/stages/test_image_vae_encoding.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: add one-shot i2v pil_image reproducer
  scripts/debug/verify_i2v_pil_image_range.py
Due: none

[misc]: remove one-shot i2v pil_image reproducer
  scripts/debug/verify_i2v_pil_image_range.py
Due: none

[style]: apply yapf formatting to ImageVAEEncodingStage.preprocess raises
  fastvideo/pipelines/stages/image_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Perf CI Run Schedule
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/compare_baseline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

simplify: review follow-ups on session commits
  fastvideo/api/sampling_param.py
  fastvideo/configs/pipelines/longcat.py
  fastvideo/tests/api/test_presets.py
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

perf(ssim-modal): reserve explicit host RAM to stop SIGKILL OOM
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
