Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

update docstr
  fastvideo/attention/ring/__init__.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update env_vars
  docs/contributing/env_vars.md
Due: none

refactor code and add padding support in ring-atten
  .buildkite/scripts/lanes/training.sh
  .buildkite/scripts/unit_test.sh
  docs/contributing/env_vars.md
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring_attention.py
  fastvideo/envs.py
  fastvideo/tests/attention/test_ring_attention_fa2_dependency.py
  fastvideo/tests/attention/test_ring_attention_padding.py
  fastvideo/tests/attention/test_ring_attention_rope.py
  fastvideo/tests/distributed/test_ring_attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

change attention dir and add ring-attem docs
  fastvideo/attention/AGENTS.md
Due: Transformer Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]support flashinfer attention kernel of prefill
  fastvideo/attention/backends/flashinfer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add tests for flashinfer
  fastvideo/tests/attention/test_flashinfer_backend.py
  fastvideo/tests/attention/test_selector_role_override.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

check flashinfer env
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add flashinfer enum
  fastvideo/platforms/interface.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add flashinfer backend in selector
  fastvideo/attention/selector.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

beanchmark for test
  examples/inference/benchmark_attention_backends.py
Due: none

rebase
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix some bugs
  fastvideo/attention/backends/flashinfer.py
  fastvideo/attention/selector.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_flashinfer_cuda_dispatch.py
  fastvideo/tests/attention/test_selector_role_override.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete benchmark
  examples/inference/benchmark_attention_backends.py
Due: none

change version compatibility for cudnn kernel in flashinfer
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

import cudnn kernels
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add flashinfer implementation
  fastvideo/attention/backends/flashinfer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add prefill backend for flashinfer
  docs/contributing/env_vars.md
  fastvideo/attention/backends/flashinfer.py
  fastvideo/envs.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update test
  fastvideo/tests/attention/test_flashinfer_cuda_dispatch.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update docs for flashinfer kernel
  docs/inference/optimizations.md
Due: none

add cudnn head size check
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add cudnn test
  fastvideo/tests/attention/test_flashinfer_backend.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update test
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_flashinfer_backend.py
  fastvideo/tests/attention/test_flashinfer_cuda_dispatch.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix some bugs
  docs/inference/optimizations.md
  fastvideo/models/wan/transformer.py
  fastvideo/tests/api/test_wan_flashinfer_selection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: Hide only the VSA-H3 block mask from regional compile
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/layer.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] VSA block-sparse attention: add HIP autotune configs for gfx950 (MFMA 16x16, kpack, waves_per_eu)
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] VSA block-sparse attention: drop kpack and test the gfx950 autotune configs (#1860)
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
  fastvideo-kernel/tests/test_vsa_triton_hip_autotune.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA
