Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[new-model] Add Wan2.2-S2V-14B speech-to-video (model port + checkpoint converter)
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  examples/inference/basic/basic_wan_s2v.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/wan_s2v.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wan_s2v.py
  fastvideo/models/dits/wan_s2v_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/s2v_stages.py
  fastvideo/pipelines/basic/wan/wan_s2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/audio_encoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/transformers/test_wan_s2v.py
  pyproject.toml
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: S2V converter fetches only the files it uses
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: none

[bugfix]: set MASTER_ADDR/MASTER_PORT defaults in the S2V transformer test
  fastvideo/tests/transformers/test_wan_s2v.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: cast timestep sinusoid to param dtype in the S2V embedder
  fastvideo/models/dits/wan_s2v.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: API plumbing, registry, preset
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/pipelines/basic/wan/animate_stages.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/registry.py
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: transformer + face/motion modules + tests
  fastvideo/models/dits/wan_animate.py
  fastvideo/models/dits/wan_animate_face.py
  fastvideo/tests/transformers/test_wan_animate.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: arch + pipeline configs
  fastvideo/configs/models/dits/wan_animate.py
  fastvideo/configs/pipelines/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Wan-Animate: first GPU run fixes (norm_added_q, test init scale)
  fastvideo/models/dits/wan_animate.py
  fastvideo/tests/transformers/test_wan_animate.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: example + support matrix
  docs/inference/support_matrix.md
  examples/inference/basic/basic_wan_animate.py
Due: none

[misc] Wan-Animate: apply fan-out review findings
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/sampling_param.py
  fastvideo/configs/models/dits/wan_animate.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wan_animate.py
  fastvideo/models/dits/wan_animate_face.py
  fastvideo/pipelines/basic/wan/animate_stages.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/transformers/test_wan_animate.py
  scripts/checkpoint_conversion/wan_animate_relight_lora.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Wan-Animate: pre-commit fixes from the first hook run
  fastvideo/configs/models/dits/wan_animate.py
  fastvideo/pipelines/basic/wan/animate_stages.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: pipeline stages + composition
  fastvideo/pipelines/basic/wan/animate_stages.py
  fastvideo/pipelines/basic/wan/wan_animate_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Wan2.2-Animate-14B: relighting LoRA support
  fastvideo/configs/models/dits/wan_animate.py
  scripts/checkpoint_conversion/wan_animate_relight_lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: align multimodal OpenAI serving APIs
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/server_contracts/openai.md
  examples/serving/README.md
  examples/serving/openai_fasth3.yaml
  examples/serving/openai_fasth3_lora.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add OpenAI server smoke client and finish lint
  fastvideo/api/compat.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/video_api.py
  scripts/smoke_test_openai_video_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover OpenAI video route lifecycle
  fastvideo/entrypoints/openai/stores.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: register full FastH3 checkpoints
  fastvideo/registry.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Align multimodal OpenAI serving APIs (#1781)
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/server_contracts/openai.md
  examples/serving/README.md
  examples/serving/openai_fasth3.yaml
  examples/serving/openai_fasth3_lora.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/stores.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/registry.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
  scripts/smoke_test_openai_video_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add MiniMax H3 MLX T2VA inference (#1770)
  docs/getting_started/installation/mps.md
  docs/inference/support_matrix.md
  examples/inference/basic/README.md
  examples/inference/basic/mlx_fasth3.py
  fastvideo/mlx_runtime/__init__.py
  fastvideo/mlx_runtime/fastwan.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_audio_vae.py
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/mlx_runtime/minimax_h3_video_vae.py
  fastvideo/mlx_runtime/rife_interp.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_conditioner.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_fast_mode.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_parity.py
  fastvideo/tests/mlx/tiny_h3.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
  tests/local_tests/minimax_h3/test_mlx_audio_vae_parity.py
  tests/local_tests/minimax_h3/test_mlx_video_vae_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: add SIMD VSA and optimize H3 MLX attention
  docs/attention/vsa/index.md
  docs/getting_started/installation/mps.md
  examples/inference/basic/mlx_fasth3.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_vsa.py
  fastvideo/mlx_runtime/minimax_h3_vsa_simd.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: bound H3 VSA reference attention memory
  fastvideo/mlx_runtime/minimax_h3_vsa.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add MiniMax H3 MLX inference-only VSA
  docs/attention/vsa/index.md
  docs/getting_started/installation/mps.md
  docs/inference/support_matrix.md
  examples/inference/basic/README.md
  examples/inference/basic/mlx_fasth3.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/mlx_runtime/minimax_h3_vsa.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden OpenAI serving review findings
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/server_contracts/openai.md
  examples/serving/openai_fasth3_lora.yaml
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Harden OpenAI serving after post-merge review (#1782)
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/server_contracts/openai.md
  examples/serving/openai_fasth3_lora.yaml
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep unused LoRA setup from loading lazy DiTs
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: load pipeline components on demand and free them after their last stage
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/offloading.md
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lazy_module.py
  fastvideo/pipelines/stages/base.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve compile across lazy module reloads
  docs/inference/offloading.md
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lazy_module.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: expose lazy module loading in the MiniMax H3 example
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[perf]: test the real load and stage-construction paths
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: rebuild the deferred-release schedule when a stage is added late
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: expose lazy module loading in the FastH3 example
  examples/inference/basic/basic_fasth3.py
Due: none

[perf]: make deferred loading opt-in per pipeline and clean up on failure
  docs/inference/offloading.md
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/base.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Clean up
  apps/MiniMaxAI/MiniMax-H3
  apps/fastvideo_studio/database.py
  apps/fastvideo_studio/job_runner.py
  apps/fastvideo_studio/models/create_job_request.py
  apps/fastvideo_studio/server.py
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  apps/fastvideo_studio/src/components/jobs/JobCard.tsx
  apps/fastvideo_studio/src/lib/h3Prompt.ts
  apps/fastvideo_studio/src/lib/h3References.ts
  apps/fastvideo_studio/src/lib/jobToFields.ts
Due: none

pre-commit
  apps/fastvideo_studio/database.py
  apps/fastvideo_studio/job_runner.py
  apps/fastvideo_studio/server.py
Due: none

[feat]: add streaming GPU LoRA extraction
  docs/training/finetune.md
  docs/utilities/lora.md
  fastvideo/tests/lora_extraction/test_streaming_lora_extraction.py
  scripts/lora_extraction/README.md
  scripts/lora_extraction/extract_lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix the training data preprocess pipeline of h3 ref2va
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_ref2va.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add MiniMax-H3 Ref2VA and LoRA training support
  examples/train/configs/overfit_minimax_h3_ref2va.yaml
  examples/train/configs/overfit_minimax_h3_ref2va_lora.yaml
  examples/train/configs/overfit_minimax_h3_t2va_lora.yaml
  fastvideo/dataset/minimax_h3_ref2va_dataset.py
  fastvideo/pipelines/basic/minimax_h3/ref2va_manifest.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_ref2va.py
  fastvideo/train/callbacks/minimax_h3_ref2va_validation.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/models/minimax_h3/minimax_h3_ref2va.py
  fastvideo/train/utils/moduleloader.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: shard MiniMax H3 LoRA adapters with FSDP
  fastvideo/layers/lora/linear.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/train/models/test_minimax_h3_lora.py
  fastvideo/tests/train/utils/test_lora_fsdp.py
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/utils/lora.py
  fastvideo/train/utils/moduleloader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
