Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

feat(ltx2): wire FP4 inference through fastvideo.layers.quantization
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/compat.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

refactor(quant): rename FP4 → NVFP4 to disambiguate from other FP4 variants
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(ltx2-sr): close port gaps surfaced by alignment harness retries
  fastvideo/configs/models/vaes/base.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  scripts/ltx2_sr_alignment.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(ltx2): wire SR pipeline graph + port denoising/latent-prep stages
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/stages/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: unwrap list-of-generator before torch.randn in LTX-2 latent prep
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: track D-15 + #13/#14/#15 — PR #1286 arch review
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

feat(ltx2): port LTX-2 SR runtime — upsampler, refine stages, refine args
  fastvideo/fastvideo_args.py
  fastvideo/models/upsamplers/__init__.py
  fastvideo/models/upsamplers/ltx2_upsampler.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_image_conditioning.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_refine.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: track GpuPool architecture decision (D-12)
  .agents/memory/dreamverse-integration/decisions-log.md
Due: none

[docs] dreamverse-integration: track D-13 + 9 new follow-ups from this thread
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

[feat] streaming: VideoEvent hierarchy + VideoResult alias
  fastvideo/api/__init__.py
  fastvideo/api/results.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] add STACK.md + CO-AUTHORS.md trackers for the will/ltx2_sr_port stack
  CO-AUTHORS.md
  STACK.md
Due: none

test(ltx2-sr): add numerical alignment harness — public vs internal
  scripts/ltx2_sr_alignment.py
Due: none

[docs] streaming: OpenAI HTTP contract reference
  docs/design/server_contracts/index.md
  docs/design/server_contracts/openai.md
Due: none

fix(api): propagate generic refine_* args + match internal randn
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test(nvfp4): lock LTX-2 wiring + typed transformer_quant flow
  fastvideo/api/compat.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/linear.py
  fastvideo/tests/api/test_typed_quant_flow.py
  fastvideo/tests/ops/quantization/test_nvfp4_ltx2_wiring.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] .agents/memory: add dreamverse-integration knowledge base
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/cross-repo-surfaces.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/design.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/pr-roadmap.md
  .agents/memory/dreamverse-integration/quantization.md
  .agents/memory/dreamverse-integration/source-archive/PR-plan.md
  .agents/memory/dreamverse-integration/source-archive/README.md
  .agents/memory/dreamverse-integration/source-archive/apirefactor.md
  .agents/memory/dreamverse-integration/source-archive/dreamverse_integration.md
  .agents/memory/dreamverse-integration/source-archive/dreamverse_review.md
  .agents/memory/dreamverse-integration/source-archive/handoff-nvfp4-launch-demo.md
  .agents/memory/dreamverse-integration/source-archive/streaming-server-upstream-plan.md
  .agents/memory/dreamverse-integration/source-archive/video-generator-config-api-design.md
  .agents/memory/dreamverse-integration/state.md
  .agents/memory/dreamverse-integration/streaming-server.md
  .agents/memory/index.jsonl
  CLEANUP.md
Due: none

[test] streaming: generate_async coverage + refreshed streaming test
  fastvideo/tests/contract/test_generate_async.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: avoid model.to() round-trip in Gemma encoder forward
  fastvideo/models/encoders/gemma.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: track D-14 + #12 — PR #1284 arch review
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

[docs] streaming: Dynamo native-backend integration reference
  docs/design/server_contracts/dynamo.md
  mkdocs.yml
Due: none

[docs] dreamverse-integration: reflect 7.5/7.6/7.7 merged + 7.8 opened
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/pr-roadmap.md
Due: none

[docs] dreamverse-integration: add runbook + fresh-context onboarding
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/runbook.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[chore] .agents: drop stale STATUS.md + sync-dashboard SOP + vapor skills
  .agents/STATUS.md
  .agents/skills/index-related-work/SKILL.md
  .agents/skills/index.jsonl
  .agents/skills/search-related-work/SKILL.md
  .agents/workflows/sync-dashboard.md
Due: none

fix(registry): order LTX-2 detectors so distilled wins for distilled paths
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: add authors.md + track D-16 router polish
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/authors.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

feat(ltx2): full i2v conditioning + continuation latent port
  fastvideo/api/sampling_param.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_image_conditioning.py
  fastvideo/pipelines/pipeline_batch_info.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(api): align public SamplingParam ltx2 defaults with distilled
  fastvideo/api/sampling_param.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(api): typed per-component CompileConfig + FastVideoArgs carriers
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] streaming: contract tests for Dreamverse + Dynamo shapes
  fastvideo/tests/contract/__init__.py
  fastvideo/tests/contract/test_dreamverse_shape.py
  fastvideo/tests/contract/test_dynamo_shape.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: reconcile post-#1286 merge + 7.10 split
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/authors.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/pr-roadmap.md
  .agents/memory/dreamverse-integration/runbook.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[docs] dreamverse-integration: D-17 — abandon split, single mega-PR #1288
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/authors.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/pr-roadmap.md
  .agents/memory/dreamverse-integration/runbook.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[ci] Replace flaky LTX-2 pixel SSIM with latent-slice cosine regression (#1253)
  .agents/skills/seed-ssim-references/SKILL.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/latent_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
  fastvideo/tests/ssim/test_stable_audio_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore] remove STACK.md — split-PR plan abandoned per D-17
  STACK.md
Due: none

[docs] dreamverse-integration: drift audit + integration tradeoff doc
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/authors.md
  .agents/memory/dreamverse-integration/integration-review.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/pr-roadmap.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[misc] Ignore .venv-overlay/ in .gitignore
  .gitignore
Due: none

[misc]: ignore LATENTS_REPORT.md
  .gitignore
Due: none

[misc] Add SoccerNet smoke-test scripts under scripts/soccernet_smoke/
  scripts/soccernet_smoke/run_wan22_i2v.py
  scripts/soccernet_smoke/sample_seed_frames.py
  scripts/soccernet_smoke/submit_wan22_i2v.sbatch
Due: none

[reliability] Wire dist_timeout into init_process_group (R2)
  fastvideo/distributed/parallel_state.py
  fastvideo/train/entrypoint/train.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[reliability] Fail-soft W&B tracker calls (R4)
  fastvideo/training/trackers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[reliability] Add NaN/Inf gate in trainer step (R1)
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
