Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix]: unset GenerationRequest fields inherit model presets
  docs/design/server_contracts/openai.md
  examples/inference/gradio/serving/ray_serve_backend.py
  fastvideo/api/parser.py
  fastvideo/api/schema.py
  fastvideo/api/translation.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/streaming/mock_server.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_preset_inheritance.py
  fastvideo/tests/entrypoints/streaming/test_auxiliaries.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Stop forcing FA4 in model-load lanes (#1561)
  fastvideo/tests/contract/test_modal_fa4_policy.py
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep LTX2 rms_norm outputs bf16 under torch 2.12 autocast
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: skip the gate self-test on PR heads that predate the gate
  .github/workflows/ci-precommit.yml
Due: none

Added Flux dev pipeline
  examples/inference/basic/basic_flux_dev.py
  fastvideo/api/flux.py
  fastvideo/api/sampling_param.py
  fastvideo/configs/models/dits/flux.py
  fastvideo/configs/pipelines/flux.py
  fastvideo/models/dits/flux.py
  fastvideo/pipelines/basic/flux/__init__.py
  fastvideo/pipelines/basic/flux/flux_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/flux_stages.py
  fastvideo/registry.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/test_flux_t2i_similarity.py
  fastvideo/tests/transformers/test_flux.py
  fastvideo/tests/utils.py
  tests/local_tests/flux/__init__.py
  tests/local_tests/flux/test_flux_dev_component_loaders.py
  tests/local_tests/pipelines/test_flux_dev_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Fix pre-commit formatting for FLUX.1-dev port
  fastvideo/configs/pipelines/flux.py
  fastvideo/pipelines/stages/flux_stages.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Relax pipeline parity test to sanity checks — pixel parity not feasible across noise seeds
  tests/local_tests/pipelines/test_flux_dev_pipeline_parity.py
Due: none

[bugfix] Fix device mismatch in get_1d_rotary_pos_embed for CUDA pos tensor
  fastvideo/layers/rotary_embedding.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] FLUX review: fix SSIM import, warn on timestep fallback, drop dead RoPE kwarg, refresh PORT_STATUS
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/flux.py
  fastvideo/pipelines/stages/flux_stages.py
  fastvideo/tests/ssim/test_flux_t2i_similarity.py
  tests/local_tests/flux/PORT_STATUS.md
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix CI failures and address review comments
  fastvideo/api/schema.py
  fastvideo/models/dits/flux.py
  fastvideo/tests/ssim/test_flux_t2i_similarity.py
  tests/local_tests/flux/PORT_STATUS.md
  tests/local_tests/flux/README.md
  tests/local_tests/pipelines/test_flux_dev_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix FluxSamplingParam import path after configs/sample → api rename
  fastvideo/api/flux.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Register use_embedded_guidance and true_cfg_scale in schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[misc] Record PASS evidence for all 4 GPU tests on L40S (2026-05-11)
  tests/local_tests/flux/PORT_STATUS.md
Due: none

[misc] Seed FLUX.1-dev SSIM reference image on A40 (TORCH_SDPA, 256x256, 8 steps, seed=0)
  .gitignore
  fastvideo/tests/ssim/reference_videos/default/A40_reference_videos/black-forest-labs__FLUX.1-dev/TORCH_SDPA/a photo of a cat.png
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] SSIM utils: pass output_media_name to _remove_stale_generated_video
  fastvideo/tests/ssim/inference_similarity_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add use_embedded_guidance to test_parser roundtrip snapshot
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Replace runtime diffusers RoPE imports with FastVideo-native layer
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/flux.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Add PORT_STATUS, README, export FluxDiTConfig, fix loader test config
  fastvideo/configs/models/dits/__init__.py
  tests/local_tests/flux/PORT_STATUS.md
  tests/local_tests/flux/README.md
  tests/local_tests/flux/test_flux_dev_component_loaders.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add CLI args for use_embedded_guidance and true_cfg_scale
  fastvideo/api/sampling_param.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add FLUX.1-dev pipeline parity test vs Diffusers FluxPipeline
  tests/local_tests/flux/PORT_STATUS.md
  tests/local_tests/flux/README.md
  tests/local_tests/pipelines/test_flux_dev_pipeline_parity.py
Due: none

[misc] Correct GPU label in PORT_STATUS: A40 not L40S
  tests/local_tests/flux/PORT_STATUS.md
Due: none

[bugfix] Fix output shape handling in FLUX parity test (CHW, squeeze frame dim)
  tests/local_tests/pipelines/test_flux_dev_pipeline_parity.py
Due: none

[bugfix] Fix DiT parity tolerance: atol=0.5 matches observed bf16 tail error (median=0, mean=0.04)
  fastvideo/tests/transformers/test_flux.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: strip qwen dtype strings
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/tests/encoders/test_qwen2_5_vl_vision_dtype.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore]: complete issue 1578 stage 3 handoff
  .agents/handoffs/issue-1578-handoff.md
Due: none

[bugfix]: propagate qwen vl visual dtype
  .agents/handoffs/issue-1578-handoff.md
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/tests/encoders/test_qwen2_5_vl_vision_dtype.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore]: retire issue 1578 handoff
  .agents/handoffs/issue-1578-handoff.md
Due: none

[chore]: add issue 1578 handoff
  .agents/handoffs/issue-1578-handoff.md
Due: none

[chore]: update issue 1578 validation handoff
  .agents/handoffs/issue-1578-handoff.md
Due: none

[perf]: register a real backward for FA2 default + masked/varlen custom ops (training-under-compile) (#1388)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_default.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_flash_attn_default_custom_op.py
  fastvideo/tests/attention/test_flash_attn_no_pad_custom_op.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: keep completed results when a prompt-file batch group fails (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: satisfy all-files pre-commit formatting
  fastvideo/batching/admission.py
  fastvideo/batching/signature.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record final batching validation result
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix]: fail jobs still queued when the batch scheduler stops (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: park the in-flight job back in _pending if the scheduler loop crashes (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 5 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix]: survive asyncio.TimeoutError on py3.10 and fail futures if the scheduler dies (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: harden dynamic generation batching
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/batching/run_dynamic_batching_parity.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address batching review comments (#1453)
  .agents/exploration/pr-1453-gemini-review-handoff.md
  fastvideo/batching/admission.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/batching/test_admission.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
