Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[feat] magi-human: SR-1080p with block-sparse local-window attention
  examples/inference/basic/basic_magi_human_sr1080p.py
  examples/inference/basic/basic_magi_human_sr1080p_ti2v.py
  fastvideo/models/dits/magi_human.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  tests/local_tests/helpers/magi_human_upstream.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_sr1080p_pipeline_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: hoist invariants out of MagiHuman denoising/latent-prep
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: cache RoPE+masks+kv_repeat in MagiHuman DiT forward
  fastvideo/models/dits/magi_human.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: add tests/local_tests/magi-human.md (Phase 11 status)
  tests/local_tests/magi-human.md
Due: none

[fix] magi-human audio decode: raise on missing audio_latents
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human DiT: remove hardcoded bf16 casts; loader-owned dtype
  fastvideo/models/dits/magi_human.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] magi-human: numerical-alignment investigation findings + OQ-6/OQ-7
  tests/local_tests/magi-human.md
Due: none

[test] magi-human: add SA usage parity vs official repo (bit-exact)
  tests/local_tests/magi_human/test_magi_human_sa_audio_official_parity.py
Due: none

[feat] utils: support umbrella-repo subfolders in maybe_download_model
  fastvideo/utils.py
  tests/local_tests/magi-human.md
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] magi-human: Wave 10 dtype refactor + post-rebase test paths + OQ-9
  tests/local_tests/magi-human.md
Due: none

[test]: principled bf16+CFG bounds for MagiHuman pipeline parity
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: none

[misc]: name upstream constants in MagiHuman audio decoding
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] magi-human: complete neg prompt; raise on missing CFG embeds
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] magi-human: switch all 8 examples to umbrella HF repo + register umbrella paths
  examples/inference/basic/basic_magi_human.py
  examples/inference/basic/basic_magi_human_distill.py
  examples/inference/basic/basic_magi_human_distill_ti2v.py
  examples/inference/basic/basic_magi_human_sr1080p.py
  examples/inference/basic/basic_magi_human_sr1080p_ti2v.py
  examples/inference/basic/basic_magi_human_sr540p.py
  examples/inference/basic/basic_magi_human_sr540p_ti2v.py
  examples/inference/basic/basic_magi_human_ti2v.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] examples: add basic_* stubs for remaining magi-human variants
  examples/inference/basic/basic_magi_human_distill.py
  examples/inference/basic/basic_magi_human_distill_ti2v.py
  examples/inference/basic/basic_magi_human_sr1080p.py
  examples/inference/basic/basic_magi_human_sr1080p_ti2v.py
  examples/inference/basic/basic_magi_human_sr540p.py
  examples/inference/basic/basic_magi_human_sr540p_ti2v.py
  examples/inference/basic/basic_magi_human_ti2v.py
Due: none

[refactor] magi-human: route DiT attention through FV's LocalAttention
  fastvideo/models/dits/magi_human.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  tests/local_tests/magi_human/test_magi_human_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] magi-human: fix _find_base_shard_dir + snapshot_download fallback
  tests/local_tests/magi_human/_debug_magi_human_weight_diff.py
  tests/local_tests/magi_human/test_magi_human_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: none

[feat] Port daVinci-MagiHuman base model with AV output
  .gitignore
  examples/inference/basic/basic_magi_human.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/magi_human.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/sa_audio.py
  fastvideo/configs/models/encoders/t5gemma.py
  fastvideo/models/dits/magi_human.py
  fastvideo/models/encoders/sa_audio.py
  fastvideo/models/encoders/t5gemma.py
  fastvideo/pipelines/basic/magi_human/__init__.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/__init__.py
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_magi_human_similarity.py
  pyproject.toml
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  scripts/checkpoint_conversion/push_magi_human_to_hf.py
  tests/local_tests/helpers/magi_human_upstream.py
  tests/local_tests/magi_human/__init__.py
  tests/local_tests/magi_human/test_magi_human_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_sa_audio_parity.py
  tests/local_tests/magi_human/test_magi_human_t5gemma_parity.py
  tests/local_tests/magi_human/test_magi_human_vae_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[feat] add zero-overhead-when-off activation trace mode (env-gated)
  fastvideo/envs.py
  fastvideo/hooks/activation_trace.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/hooks/test_activation_trace.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] activation trace mode + Extensions 1-3 design + magi-human Wave 9 entry
  docs/contributing/activation_trace.md
  tests/local_tests/magi-human.md
Due: none

[fix] magi-human encoder: stop tokenizer pre-padding T5-Gemma
  fastvideo/configs/models/encoders/t5gemma.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: GPU4 smoke validated; flashinfer prereq
  .agents/memory/dreamverse-integration/integration-plan.md
Due: none

[fix]: magi-human audio decode: scipy.signal.resample for upstream parity
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: magi-human denoising: precompute step-invariant packed layout
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/pipelines/basic/magi_human/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] dreamverse-monorepo: Phase 1 — skeleton + tooling
  .gitignore
  .pre-commit-config.yaml
  apps/dreamverse/README.md
  apps/dreamverse/pyproject.toml
  apps/dreamverse/server/__init__.py
  apps/dreamverse/server/tests/__init__.py
  docs/contributing/dreamverse-development.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci]: magi-human SSIM test: switch model path to umbrella scheme
  fastvideo/tests/ssim/test_magi_human_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] dreamverse-monorepo: Phase 2 — backend move + import rewires
  apps/dreamverse/server/config.py
  apps/dreamverse/server/main.py
  apps/dreamverse/server/prompt_enhancer.py
  apps/dreamverse/server/prompt_safety.py
  apps/dreamverse/server/prompts/README.md
  apps/dreamverse/server/prompts/auto_extension_system_prompt.md
  apps/dreamverse/server/prompts/next_segment_system_prompt.md
  apps/dreamverse/server/prompts/rewrite_user_system_prompt.md
  apps/dreamverse/server/prompts/rewrite_window_system_prompt.md
  apps/dreamverse/server/rewrite_prompt_payload.py
  apps/dreamverse/server/routes/__init__.py
  apps/dreamverse/server/routes/health.py
  apps/dreamverse/server/routes/presets.py
  apps/dreamverse/server/runtime.py
  apps/dreamverse/server/session/__init__.py
  apps/dreamverse/server/session/controller.py
  apps/dreamverse/server/session/messages.py
  apps/dreamverse/server/tests/conftest.py
  apps/dreamverse/server/tests/test_config.py
  apps/dreamverse/server/tests/test_entrypoints.py
  apps/dreamverse/server/tests/test_import_contract.py
  apps/dreamverse/server/tests/test_realtime_stress.py
  apps/dreamverse/server/tests/test_session_logging.py
  apps/dreamverse/server/utils.py
  apps/dreamverse/server/video_generation.py
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/entrypoints/streaming/protocol.py
  fastvideo/entrypoints/streaming/session_init_image.py
  fastvideo/entrypoints/streaming/session_logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: magi-human latent prep: honor batch.num_frames
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: magi-human SSIM: bump REQUIRED_GPUS=2 + sp_size=2 for L40S fit
  fastvideo/tests/ssim/test_magi_human_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] dreamverse-monorepo: carry generic-merged files product-local
  apps/dreamverse/server/av_streaming.py
  apps/dreamverse/server/gpu_pool.py
  apps/dreamverse/server/main.py
  apps/dreamverse/server/mock_server.py
  apps/dreamverse/server/runtime.py
  apps/dreamverse/server/server_entry.py
  apps/dreamverse/server/session/controller.py
  apps/dreamverse/server/session_init_image.py
  apps/dreamverse/server/session_logger.py
  apps/dreamverse/server/tests/test_entrypoints.py
  apps/dreamverse/server/tests/test_gpu_pool.py
  apps/dreamverse/server/tests/test_mock_server.py
  apps/dreamverse/server/tests/test_prompt_enhancer.py
  apps/dreamverse/server/tests/test_session_init_image.py
  apps/dreamverse/server/tests/test_session_logging.py
  apps/dreamverse/server/worker_ipc.py
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/entrypoints/streaming/protocol.py
  fastvideo/entrypoints/streaming/session_init_image.py
  fastvideo/entrypoints/streaming/session_logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] dreamverse-monorepo: entrypoint + audio re-encode + verification
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/pyproject.toml
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/server/tests/test_import_contract.py
  apps/dreamverse/server/video_generation.py
  docs/contributing/dreamverse-development.md
Due: none

[docs] dreamverse-integration: D-19 — migration executed on will/dreamverse-monorepo
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[ci]: magi-human SSIM: align with example preset (width=480, steps=8)
  fastvideo/tests/ssim/test_magi_human_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] dreamverse-deploy skill + docs prereq additions
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  docs/contributing/dreamverse-development.md
Due: none

[feat] streaming: promote /healthz /readyz /status to public build_app
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/health.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/tests/entrypoints/streaming/test_health_routes.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] dreamverse: use public health routes via build_app
  apps/dreamverse/server/main.py
  apps/dreamverse/server/routes/health.py
Due: none

[feat]: magi-human DiT: enable FLASH_ATTN backend + use it for SSIM
  fastvideo/models/dits/magi_human.py
  fastvideo/tests/ssim/test_magi_human_similarity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] dreamverse: pin ffmpeg native build toolchain by uname -m
  apps/dreamverse/scripts/install_native_ffmpeg.sh
Due: none

[fix] api: route LTX-2 audio kwargs through batch.extra; strict update
  fastvideo/api/sampling_param.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/api/test_extra_overrides_routing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
