Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] cosmos3: native video pipeline + framework denoise parity
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  fastvideo/registry.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_denoise_cfg_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_smoke.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record real-weights E2E acceptance + scheduler fix (I003)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[misc]: simplify cosmos3 port (reuse embed, dedup prompt, hoist)
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: I2V image conditioning (static-repeat) + parity + example
  examples/inference/basic/basic_cosmos3_i2v_new_api.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_i2v_conditioning_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: resolution-based flow_shift + T2I check & example
  examples/inference/basic/basic_cosmos3_t2i_new_api.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_flow_shift_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR4: deepstack reasoner forward (image-conditioned reasoning)
  fastvideo/models/dits/cosmos3.py
  tests/local_tests/cosmos3/test_cosmos3_reasoning_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3 PR2: AVAE sound decoder done; remaining audio components
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[docs] cosmos3 PR2: audio port plan (AVAE + DiT sound pathway + t2vs)
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
Due: none

[feat] cosmos3 PR2: native AVAE sound decoder + bit-exact parity
  fastvideo/models/audio/cosmos3_avae.py
  fastvideo/models/vaes/oobleck.py
  tests/local_tests/cosmos3/test_cosmos3_avae_parity.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record T2I verification + resolution-based flow_shift
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3 PR3: action (domain-aware) DiT pathway + packing + CFG glue
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_action_parity.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: full-omni parity summary (all components bit-exact)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[misc]: simplify cosmos3 action (fold action split into _split_flat_latent)
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3 PR2 (audio/t2vs) complete; bit-exact across components
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[misc]: simplify cosmos3 audio (fold sound split into _split_flat_latent)
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: port_feedback.md (pitfalls/lessons) + native-reuse audit
  tests/local_tests/cosmos3/port_feedback.md
Due: none

[feat] cosmos3 PR4: text reasoning (und pathway + lm_head), bit-exact
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  tests/local_tests/cosmos3/test_cosmos3_reasoning_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR4: vision_encoder parity (transformers Qwen3-VL == framework)
  tests/local_tests/cosmos3/test_cosmos3_vision_encoder_parity.py
Due: none

[feat] cosmos3 PR2: DiT sound pathway + sound packing (bit-exact parity)
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
  tests/local_tests/cosmos3/test_cosmos3_sound_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR2: t2vs pipeline (joint denoise + AVAE decode + AV mux)
  examples/inference/basic/basic_cosmos3_t2vs_new_api.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_sound_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: opt in to fork-PR head checkout after actions/checkout guard change
  .github/workflows/ci-precommit.yml
Due: none

[ci]: opt in to fork-PR head checkout after actions/checkout guard change (#1625)
  .github/workflows/ci-precommit.yml
Due: none

[misc]: address review — stale STG docstring, typos, rename np-less freq-grid helper, add compile-conditions contract test
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/tests/contract/test_ltx2_compile_conditions.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: enable per-block torch.compile for LTX2 with persistent cache
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: harden LTX2 compile cache handling
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/models/dits/ltx2.py
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/contract/test_ltx2_compile_conditions.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] streamline DGX Spark install guide
  docs/getting_started/installation.md
  docs/getting_started/installation/spark.md
Due: none

[perf]: enable per-block torch.compile for LTX2 with persistent cache (#1602)
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/contract/test_ltx2_compile_conditions.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] adjust Spark kernel smoke test
  docs/getting_started/installation/spark.md
Due: none

Fix Ulysses sequence-parallel crash in self-forcing causal Wan DiT
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cover Spark Docker and generation smoke test
  docs/getting_started/installation/spark.md
Due: none

[docs] address Spark review suggestions
  docs/getting_started/installation/spark.md
Due: none

[fix]: keep functional RMSNorm output in input dtype when weight dtype differs
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Align LTX-2 QAT with the NVFP4 deployment profile
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  examples/train/configs/overfit_ltx2_t2v_nvfp4_qat.yaml
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/layers/quantization/nvfp4_qat_train_config.py
  fastvideo/tests/nightly/test_e2e_ltx2_overfit_new_stack.py
  fastvideo/tests/ops/quantization/test_nvfp4_ltx2_wiring.py
  fastvideo/tests/train/fixtures/ltx2_t2v_qat_finetune_min.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/test_ltx2_finetune.py
  fastvideo/tests/train/models/test_load_ltx2.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/train/models/ltx2/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add NVFP4 QAT support to modular trainer for LTX-2 fine-tuning
  examples/train/configs/overfit_ltx2_t2v_nvfp4_qat.yaml
  fastvideo/tests/nightly/test_e2e_ltx2_overfit_new_stack.py
  fastvideo/tests/train/fixtures/ltx2_t2v_qat_finetune_min.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/test_ltx2_finetune.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Fix LTX-2 loader monkeypatch target
  fastvideo/tests/train/models/test_load_ltx2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Seed LTX-2 NVFP4 QAT GB200 gradient norm
  fastvideo/tests/train/methods/grad_norm_refs.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Validate LTX-2 QAT with NVFP4 FA4
  docs/inference/optimizations.md
  docs/training/train_infra.md
  examples/train/configs/overfit_ltx2_t2v_nvfp4_qat.yaml
  fastvideo/attention/backends/flash_attn.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Pin the NVFP4 FA4 dependency stack
  docs/inference/optimizations.md
Due: none

[feat] Train and validate LTX-2 with attention QAT
  docs/inference/optimizations.md
  docs/training/train_infra.md
  examples/train/configs/overfit_ltx2_t2v_nvfp4_qat.yaml
  fastvideo/attention/backends/attn_qat_infer.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/selector.py
  fastvideo/models/dits/ltx2.py
  fastvideo/tests/attention/test_selector_role_override.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/tests/train/fixtures/ltx2_t2v_qat_finetune_min.yaml
  fastvideo/tests/train/methods/test_ltx2_finetune.py
  fastvideo/train/callbacks/validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Verify LTX-2 attention QAT on GB200
  docs/training/train_infra.md
  examples/train/configs/overfit_ltx2_t2v_nvfp4_qat.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
