Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[fix]: resolve_model_root skips the base fp16 DiT (QAD int8 flow)
  examples/inference/basic/mlx_wan_prompt_to_video.py
Due: none

[bugfix] fix profiler review issues
  examples/training/finetune/wan_t2v_1.3B/crush_smol/profile_finetune_t2v.sh
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/profiler.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: make MLX TAEHV decode self-contained
  examples/inference/basic/mlx_wan_prompt_to_video.py
  fastvideo/tests/mlx/test_mlx_prompt_to_video_decode.py
  fastvideo/third_party/taehv/LICENSE
  fastvideo/third_party/taehv/__init__.py
  fastvideo/third_party/taehv/taehv.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] profiler region system: record + export actually work, usability roll-up (#1691)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/profile_finetune_t2v.sh
  fastvideo/envs.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/profiler.py
  fastvideo/tests/contract/test_profiler_regions.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Fixed yapf formatting on LingBot-World-Fast pipeline config
  fastvideo/configs/pipelines/lingbotworld_fast.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Added LingBot-World-Fast image-to-video support
  examples/inference/basic/basic_lingbotworld_fast.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/lingbotworld_fast.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/lingbotworld_fast.py
  fastvideo/models/dits/lingbotworld2/causal_fast.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/lingbotworld_fast/__init__.py
  fastvideo/pipelines/basic/lingbotworld_fast/fast_pipeline.py
  fastvideo/pipelines/basic/lingbotworld_fast/presets.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_lingbot_fast_similarity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] honor LingBot-World-Fast runtime configuration
  fastvideo/models/dits/lingbotworld2/causal_fast.py
  fastvideo/pipelines/basic/lingbotworld_fast/presets.py
  fastvideo/tests/api/test_presets.py
  fastvideo/tests/attention/test_lingbotworld_fast_backend.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address mlx runtime review regressions
  examples/inference/basic/mlx_rife_smoke_test.py
  examples/inference/basic/mlx_wan22_generate.py
  examples/inference/basic/mlx_wan_prompt_to_video.py
  fastvideo/layers/quantization/mlx_mxfp4_qat.py
  fastvideo/mlx_runtime/fastwan.py
  fastvideo/mlx_runtime/rife_interp.py
  fastvideo/mlx_runtime/wan22.py
  fastvideo/tests/mlx/test_mlx_diffusers_compile_dispatch.py
  fastvideo/tests/mlx/test_mlx_prompt_to_video_decode.py
  fastvideo/tests/mlx/test_mlx_rife_interpolation.py
  fastvideo/tests/mlx/test_mlx_taehv_parity.py
  fastvideo/tests/mlx/test_mlx_wan22_parity.py
  fastvideo/tests/mlx/test_mlx_wan22_prompt_cache_fingerprint.py
  fastvideo/tests/mlx/test_mlx_wan22_real_weights_parity.py
  fastvideo/tests/mlx/test_mlx_wan_vae.py
  fastvideo/tests/mlx/test_mlx_wan_vae_denormalization.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: address mlx runtime pre-commit issues
  fastvideo/mlx_runtime/attn_scaling_probe.py
  fastvideo/mlx_runtime/memory.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: satisfy full pre-commit for mlx runtime
  .pre-commit-config.yaml
  fastvideo/mlx_runtime/fastwan.py
  fastvideo/mlx_runtime/wan22.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

compile FP4 (attn_qat_infer) kernels for sm_121a (GB10), gated on CUDA >= 12.9
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[new-model] Add Wan2.2-S2V-14B speech-to-video (model port + checkpoint converter)
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  examples/inference/basic/basic_wan_s2v.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/wan_s2v.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wan_s2v.py
  fastvideo/models/dits/wan_s2v_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/s2v_stages.py
  fastvideo/pipelines/basic/wan/wan_s2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/audio_encoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/transformers/test_wan_s2v.py
  pyproject.toml
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: S2V converter fetches only the files it uses
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: none

single-file bundle loader: metadata config, prefix routing, per-stream ff bias, encoder-root resolution
  examples/train/configs/fine_tuning/ltx2_5/nvfp4_qat_t2v.yaml
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/ltx_single_file.py
  fastvideo/models/registry.py
  fastvideo/tests/api/test_ltx_single_file.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

resolve pipeline config for single-file bundles from declared transformer class
  fastvideo/registry.py
  fastvideo/tests/api/test_ltx_single_file.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

bundle route through the real pipeline: module map, component paths, loader branches, connector factorization
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/ltx_single_file.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/api/test_ltx_single_file.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

WIP: route single-file bundles through the modular train stack
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/ltx_single_file.py
  fastvideo/registry.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/training/distillation_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] reason1: handle BatchEncoding from apply_chat_template
  fastvideo/models/encoders/reason1.py
  fastvideo/tests/encoders/test_reason1_chat_template.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

reason1: fail loudly on batch>1 chat_template output
  fastvideo/models/encoders/reason1.py
  fastvideo/tests/encoders/test_reason1_chat_template.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] Build + allow attn_qat_infer FP4 attention on sm_121a (DGX Spark)
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/stages/denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[kernel] Address review: guard sm_121a on CUDA>=13, downgrade main arch, wheel+README
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: harden SM121 Attn-QAT support
  .github/workflows/publish-kernel.yml
  docs/getting_started/installation/spark.md
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/tests/test_attn_qat_infer.py
  fastvideo-kernel/tests/test_build_arch.py
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: drop redundant attn_qat_infer capability test (superseded by #1647)
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: retire stale compiled graph when DiT input shape changes
  fastvideo/mlx_runtime/fastwan.py
  fastvideo/mlx_runtime/wan22.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: pin rife-mlx and defer non-shipping MLX modules to a follow-up
  examples/inference/basic/mlx_fastwan_probe.py
  examples/inference/basic/mlx_wan_block_parity.py
  examples/inference/basic/mlx_wan_blocks_runtime.py
  examples/inference/basic/mlx_wan_dit_runtime.py
  examples/inference/basic/mlx_wan_real_block_parity.py
  examples/inference/basic/mlx_wan_streaming.py
  fastvideo/layers/quantization/mlx_mxfp4_qat.py
  fastvideo/mlx_runtime/__init__.py
  fastvideo/mlx_runtime/accel_probe.py
  fastvideo/mlx_runtime/attn_scaling_probe.py
  fastvideo/mlx_runtime/causal.py
  fastvideo/mlx_runtime/causal_dit.py
  fastvideo/mlx_runtime/causal_sampler.py
  fastvideo/mlx_runtime/w8a8_gemm.py
  fastvideo/mlx_runtime/wan22_i2v.py
  fastvideo/tests/mlx/test_accel_probe.py
  fastvideo/tests/mlx/test_mlx_affine_qat_parity.py
  fastvideo/tests/mlx/test_mlx_causal_attention.py
  fastvideo/tests/mlx/test_mlx_causal_dit_parity.py
  fastvideo/tests/mlx/test_mlx_causal_dit_real_weights.py
  fastvideo/tests/mlx/test_mlx_causal_sampler.py
  fastvideo/tests/mlx/test_mlx_mxfp4_qat_parity.py
  fastvideo/tests/mlx/test_mlx_w8a8_gemm.py
  fastvideo/tests/mlx/test_mlx_wan22_i2v.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: green the MLX suite on MLX 0.32
  fastvideo/tests/mlx/test_import_laziness.py
  fastvideo/tests/mlx/test_mlx_compile_parity.py
  fastvideo/tests/mlx/test_mlx_wan22_real_weights_parity.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: vendor the MLX RIFE backend instead of installing it from git
  docs/design/apple_silicon_fast_mode.md
  examples/inference/basic/mlx_wan_prompt_to_video.py
  fastvideo/benchmarks/eval_metalfx_rife.py
  fastvideo/mlx_runtime/rife_interp.py
  fastvideo/tests/mlx/test_mlx_rife_interpolation.py
  fastvideo/third_party/rife_mlx/LICENSE
  fastvideo/third_party/rife_mlx/__init__.py
  fastvideo/third_party/rife_mlx/config.py
  fastvideo/third_party/rife_mlx/model/IFNet_HDv3.py
  fastvideo/third_party/rife_mlx/model/RIFE_HDv3.py
  fastvideo/third_party/rife_mlx/model/__init__.py
  fastvideo/third_party/rife_mlx/model/warplayer.py
  fastvideo/third_party/rife_mlx/ops/__init__.py
  fastvideo/third_party/rife_mlx/ops/grid_sample.py
  fastvideo/third_party/rife_mlx/ops/interpolate.py
  fastvideo/third_party/rife_mlx/ops/spatial.py
  fastvideo/third_party/rife_mlx/pipeline_mlx.py
  fastvideo/third_party/rife_mlx/utils/__init__.py
  fastvideo/third_party/rife_mlx/utils/weights.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: skip the RIFE regression when its weights cannot be fetched
  fastvideo/tests/mlx/test_mlx_rife_interpolation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: set MASTER_ADDR/MASTER_PORT defaults in the S2V transformer test
  fastvideo/tests/transformers/test_wan_s2v.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: cast timestep sinusoid to param dtype in the S2V embedder
  fastvideo/models/dits/wan_s2v.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Triton block-sparse backward: scale QK^T after the dot, keep K raw
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[feat] per-rank sharded base-weight cache for fast training relaunches
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/shard_cache.py
  fastvideo/tests/loader/test_shard_cache.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] H3 VSA/DMD2 training fixes: bf16 boundaries, validation offload, buffer-free AdamW
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/layer.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/schedulers/scheduling_minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/train/methods/test_minimax_h3_dmd2.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/optimizer.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] MiniMax-H3 config suite: SFT sparsity sweep, data-free DMD2, 32-GPU Slurm launch, README
  examples/train/configs/distribution_matching/minimax_h3/README.md
  examples/train/configs/distribution_matching/minimax_h3/dmd2_simulate_fa4_32gpu.yaml
  examples/train/configs/distribution_matching/minimax_h3/dmd2_simulate_fa4_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/README.md
  examples/train/configs/fine_tuning/minimax_h3/sft_fa4_bs2_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_fa4_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa0_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa80_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa90_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa95_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa95_overfit_2gpu.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa97_overfit.yaml
  examples/train/configs/fine_tuning/minimax_h3/sft_vsa97_overfit_2gpu.yaml
  examples/train/slurm/dmd2_32xgb200.sbatch
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

docs: Slurm handoff for the 32x GB200 data-free DMD2 run
  HANDOFF-slurm-32xgb200.md
Due: none

bundle variant -> preset resolution, pipeline pin, and LTX-2.5 examples
  examples/inference/basic/README.md
  examples/inference/basic/basic_ltx2_5.py
  examples/inference/basic/basic_ltx2_5_distilled.py
  fastvideo/models/loader/ltx_single_file.py
  fastvideo/registry.py
  fastvideo/tests/api/test_ltx_single_file.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] DMD2: per-modality loss normalization for packed multi-modality models
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] DMD2: skip the unconditional teacher forward at guidance scale 1.0
  fastvideo/train/methods/distribution_matching/dmd2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] DMD2: reuse the generator rollout for the critic loss on student steps
  fastvideo/train/methods/distribution_matching/dmd2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[train] DMD2: intermediate-latent visualization callback (legacy training/ parity)
  fastvideo/train/callbacks/callback.py
  fastvideo/train/callbacks/latent_vis.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
