Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix] v2 VideoGenerator: modality-aware result path (audio/image, not only video)
  v2/video_generator.py
Due: none

[feat] add InterleaveThinker RL training loop
  .agents/exploration/interleavethinker-fastvideo-integration.md
  examples/train/configs/rl/interleave_thinker/critic_grpo.yaml
  fastvideo/train/methods/rl/__init__.py
  fastvideo/train/methods/rl/interleave_thinker.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/interleave_thinker.py
  fastvideo/train/models/interleave_thinker/__init__.py
  fastvideo/train/models/interleave_thinker/critic.py
  tests/local_tests/test_interleave_thinker_method.py
  tests/local_tests/test_interleave_thinker_reward.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] record InterleaveThinker RL handoff
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[feat] v2 GPU bring-up: 5 more models verified on H100 (huge MoE/world + DMD)
  v2/platform/backends/torch_lingbotworld.py
  v2/recipes/lingbotworld/card.py
  v2/recipes/lingbotworld/program.py
  v2/recipes/sfwan22/loop.py
Due: none

[docs] v2: GPU bring-up results — 20 models verified on H100
  examples/inference/basic/V2_PORTING_STATUS.md
Due: none

[docs] add NVIDIA DGX Spark (GB10) install guide
  README.md
  docs/getting_started/installation.md
  docs/getting_started/installation/spark.md
Due: none

[feat]: add kandinsky5 pipeline support
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/kandinsky5.py
  fastvideo/models/dits/kandinsky5.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/kandinsky5/__init__.py
  fastvideo/pipelines/basic/kandinsky5/kandinsky5_pipeline.py
  fastvideo/pipelines/basic/kandinsky5/presets.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/kandinsky5.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/registry.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] QAD 5090: FP4 QAT linear STE for training (13/12) (#1463)
  fastvideo/fastvideo_args.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/nvfp4_qat_train_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] Resolve CUDA arch in the CMake build, not only build.sh
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[build] Build fastvideo-kernel from source on aarch64 (DGX Spark)
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs] Simplify DGX Spark install to a single uv pip install -e .
  README.md
  docs/getting_started/installation/spark.md
Due: none

Add front/backend verified changes
  fastvideo/performance_dashboard/api.py
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_dashboard_api.py
  fastvideo/tests/performance/test_dashboard_service.py
  performance_dashboard/README.md
  performance_dashboard/frontend/src/App.tsx
  performance_dashboard/frontend/src/api.ts
  performance_dashboard/frontend/src/styles.css
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add backend logic and test changes
  .buildkite/scripts/pr_test.sh
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/hf_store.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Fix performance dashboard baseline metadata flow
  docs/contributing/performance_benchmarks.md
  fastvideo/performance_dashboard/api.py
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/hf_store.py
  fastvideo/tests/performance/test_dashboard_api.py
  fastvideo/tests/performance/test_dashboard_service.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] QAD 5090: FP8 QAT linear training (14/12)
  fastvideo/layers/fp8linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/fp8_qat_train_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] apply yapf formatting for pre-commit
  fastvideo/layers/fp8linear.py
  fastvideo/layers/quantization/fp8_qat_train_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] integrate InterleaveThinker model backends
  .agents/exploration/interleavethinker-fastvideo-integration.md
  examples/interleave/README.md
  examples/train/configs/rl/interleave_thinker/critic_grpo.yaml
  fastvideo/entrypoints/interleave/generator.py
  fastvideo/train/methods/rl/interleave_thinker.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/interleave_api.py
  fastvideo/train/models/interleave_thinker/__init__.py
  fastvideo/train/models/interleave_thinker/critic.py
  pyproject.toml
  tests/local_tests/test_interleave_thinker_api_models.py
  tests/local_tests/test_interleave_thinker_critic_model.py
  tests/local_tests/test_interleave_thinker_method.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[build] Unify CUDA Dockerfiles + matrix-build the images
  .agents/skills/seed-ssim-references/SKILL.md
  .buildkite/pipeline.yml
  .dockerignore
  .github/workflows/_template-build-image.yml
  .github/workflows/infra-build-image.yml
  apps/dreamverse/docker/Dockerfile
  docker/Dockerfile
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  docs/contributing/ci_architecture.md
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[feat] QAD 5090: FP8 QAT linear training (14/12) (#1464)
  fastvideo/layers/fp8linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/fp8_qat_train_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fx fp8 quantization: pop bf16 weights after conversion, optimize conversion memory usage
  fastvideo/layers/quantization/fp8_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add updated fp8 config
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/fp8_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix cfg, sampling and gradien accumulation, increase train batch size
  examples/train/configs/rl/wan/diffusion_nft_videoalign.yaml
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  fastvideo/train/methods/rl/common/sampling.py
  modal_train_diffusion_nft.py
  tests/local_tests/test_train_rl_sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] v2: correct SF-Wan + LTX2 2-stage SR sampling defaults (GPU frame-verified)
  v2/platform/backends/torch_backend.py
  v2/recipes/ltx2/card.py
  v2/recipes/wan_causal/card.py
  v2/tests/test_inference.py
  v2/tests/test_sampling_defaults.py
  v2/tests/test_world_session.py
Due: none

[bugfix] v2: MatrixGame2/3 causal-loop progress counter + MG3 patch alignment
  v2/recipes/matrixgame2/loop.py
  v2/recipes/matrixgame3/loop.py
Due: none

[perf] make fused RoPE fire on real call sites + keep fast paths inference-only
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/rope_triton.py
  fastvideo-kernel/tests/test_rope_triton.py
  fastvideo/layers/layernorm.py
  fastvideo/tests/layers/test_inference_fastpaths.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[feat] harden InterleaveThinker critic backend
  .agents/exploration/interleavethinker-fastvideo-integration.md
  examples/train/configs/rl/interleave_thinker/critic_grpo.yaml
  fastvideo/train/models/interleave_thinker/critic.py
  tests/local_tests/test_interleave_thinker_critic_model.py
  tests/local_tests/test_interleave_thinker_method.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] update InterleaveThinker integration handoff
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[docs] record InterleaveThinker critic smoke
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[docs] add full InterleaveThinker integration plan
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[feat] add InterleaveThinker planner actor
  .agents/exploration/interleavethinker-fastvideo-integration.md
  examples/train/configs/interleave_thinker/planner_smoke.yaml
  fastvideo/train/models/interleave_thinker/__init__.py
  fastvideo/train/models/interleave_thinker/critic.py
  fastvideo/train/models/interleave_thinker/planner.py
  fastvideo/train/models/interleave_thinker/qwen_actor.py
  tests/local_tests/test_interleave_thinker_planner_model.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] update InterleaveThinker planner handoff
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[feat] wire InterleaveThinker model providers
  .agents/exploration/interleavethinker-fastvideo-integration.md
  fastvideo/entrypoints/interleave/__init__.py
  fastvideo/entrypoints/interleave/providers.py
  tests/local_tests/test_interleave_model_providers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] record InterleaveThinker provider push
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[feat] add InterleaveThinker run CLI
  .agents/exploration/interleavethinker-fastvideo-integration.md
  examples/interleave/README.md
  examples/interleave/interleave_run.yaml
  fastvideo/entrypoints/cli/interleave_run.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/interleave/__init__.py
  fastvideo/entrypoints/interleave/config.py
  fastvideo/entrypoints/interleave/orchestrator.py
  fastvideo/entrypoints/interleave/runner.py
  tests/local_tests/test_interleave_run_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] record InterleaveThinker run CLI push
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[bugfix] preserve interleave CLI config paths
  .agents/exploration/interleavethinker-fastvideo-integration.md
  fastvideo/utils.py
  tests/local_tests/test_interleave_run_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] record interleave CLI config fix
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[docs] record interleave run generator smoke
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[feat] add InterleaveThinker data normalizers
  .agents/exploration/interleavethinker-fastvideo-integration.md
  fastvideo/train/models/interleave_thinker/__init__.py
  fastvideo/train/models/interleave_thinker/data.py
  tests/local_tests/test_interleave_thinker_data.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] record InterleaveThinker data normalizer push
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
