Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[docs]: record cached 4090 timings and sm89 precision validation
  scripts/benchmarks/minimax_h3_4090/README.md
Due: none

[wip]: prototype tile-64 INT8 QK and FP8 PV attention on sm89
  fastvideo/attention/backends/minimax_h3_sparse_int8.py
  fastvideo/tests/attention/test_minimax_h3_sparse_int8.py
  scripts/benchmarks/minimax_h3_4090/README.md
  scripts/benchmarks/minimax_h3_4090/bench_sparse_qkv.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: release H3 fine-attention copies before the gated merge
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: fuse H3 INT8 VAE scaling and bias without intermediates
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/models/vaes/minimax_h3_int8_kernels.py
  fastvideo/tests/vaes/test_minimax_h3_int8_shared.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: read H3 INT8 sparse attention from existing layouts
  fastvideo/attention/backends/minimax_h3_sparse_int8.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_minimax_h3_sparse_int8.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: fuse serialized NVFP4 encoder weight dequantization
  fastvideo/layers/quantization/nvfp4_dequant.py
  fastvideo/models/encoders/minimax_h3_checkpoint_nvfp4.py
  fastvideo/tests/encoders/test_minimax_h3_encoder_layerwise.py
  fastvideo/tests/ops/quantization/test_nvfp4_dequant.py
  scripts/benchmarks/minimax_h3_4090/bench_encoder_dequant.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: share VAE INT8 input preparation and avoid weight copies
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/vaes/test_minimax_h3_int8_shared.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: stream the H3 encoder for consumer VRAM limits
  fastvideo/hooks/layerwise_offload.py
  fastvideo/models/encoders/minimax_h3_checkpoint_nvfp4.py
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/tests/encoders/test_minimax_h3_encoder_layerwise.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record 12 GiB and streamed 4090 results
  scripts/benchmarks/minimax_h3_4090/README.md
Due: none

[bugfix]: retain consumer attention environment parsing after core rebase
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: adapt consumer VSA validation to packed segment metadata
  fastvideo/models/dits/minimax_h3_vsa_fp4.py
  fastvideo/tests/transformers/test_minimax_h3_tile_first.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bench]: sample total GPU memory for consumer budget checks
  scripts/benchmarks/minimax_h3_4090/bench_pod.py
  scripts/benchmarks/minimax_h3_4090/summarize.py
Due: none

[docs]: record 42-second 4090 clips and consumer memory validation
  scripts/benchmarks/minimax_h3_4090/README.md
Due: none

[docs]: record Track B PR and strict 8 GiB budget limit
  scripts/benchmarks/minimax_h3_4090/README.md
Due: none

[ci]: start golden-gate and the longest fastcheck lanes first
  .buildkite/pipeline.yml
Due: none

[docs] Add OpenAI serving recipes for Wan cookbook pages (#1906)
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/assets/custom.css
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  docs/generate_examples.py
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
  tests/local_tests/test_cookbook_serving.py
Due: none

[ci]: improve CI efficiency by reordering lanes (#1914)
  .buildkite/pipeline.yml
Due: none

[bugfix]: Preserve image output formats
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_image_generation_route_compatibility.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: Validate image request parameters
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/tests/entrypoints/test_image_response_format_validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: make Qwen-Image-2.1 dense attention selectable
  fastvideo/configs/models/dits/qwen_image21.py
  fastvideo/models/dits/qwen_image21.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover Qwen dense backend masks and prefix-cache dispatch
  tests/local_tests/transformers/test_qwen_image21_attention_backends.py
Due: none

[test]: preserve Qwen attention benchmark scripts and run evidence
  outputs/qwen_image21/attention-20261005/benchmark_kernels.py
  outputs/qwen_image21/attention-20261005/benchmark_pipeline.py
  outputs/qwen_image21/attention-20261005/kernel-benchmark-cudnn.log
  outputs/qwen_image21/attention-20261005/kernel-benchmark.log
  outputs/qwen_image21/attention-20261005/kernel-metrics-cudnn.json
  outputs/qwen_image21/attention-20261005/kernel-metrics.json
  outputs/qwen_image21/attention-20261005/pipeline-flash.json
  outputs/qwen_image21/attention-20261005/pipeline-flash.log
  outputs/qwen_image21/attention-20261005/pipeline-sdpa.json
  outputs/qwen_image21/attention-20261005/pipeline-sdpa.log
  outputs/qwen_image21/attention-20261005/sage-build.log
  outputs/qwen_image21/attention-20261005/sage-toolchain-install.log
Due: none

[test]: add a released-weight Qwen T2I restoration smoke run
  outputs/qwen_image21/restore-20261005/run_t2i.py
Due: none

[perf]: add a warmed Qwen DiT compile benchmark with default off
  examples/inference/basic/qwen_image21_t2i.yaml
  outputs/qwen_image21/compile-20261005/benchmark_compile.py
Due: none

[docs]: record Qwen T2I compile timings and preserve run logs
  outputs/qwen_image21/compile-20261005/attempt-1-run.log
  outputs/qwen_image21/compile-20261005/attempt-2-metrics.json
  outputs/qwen_image21/compile-20261005/attempt-2-run.log
  outputs/qwen_image21/compile-20261005/metrics.json
  outputs/qwen_image21/compile-20261005/run.log
  outputs/qwen_image21/restore-20261005/environment.json
  outputs/qwen_image21/restore-20261005/metrics.json
  outputs/qwen_image21/restore-20261005/model-path.txt
  outputs/qwen_image21/restore-20261005/run.log
  tests/local_tests/qwen_image21/GPU_VALIDATION.md
  tests/local_tests/qwen_image21/PORT_STATUS.md
Due: none

[docs]: FastH3 NVFP4 on RTX PRO 6000
  docs/inference/fasth3_rtx_pro_6000.md
  docs/inference/optimizations.md
  mkdocs.yml
Due: none

[bugfix]: validate sparse FP4 block lists before launch; restore the #44 sparse kernel tests
  fastvideo-kernel/attn_qat_infer/api.py
  fastvideo-kernel/tests/test_attn_qat_infer_sparse.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: keep ModelOpt-quantized projections off the dense re-quantize path; converter parity test
  fastvideo/tests/ops/quantization/test_minimax_h3_modelopt_nvfp4_converter.py
  scripts/checkpoint_conversion/convert_minimax_h3_modelopt_nvfp4_dit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: headline benchmarks record their decode mode; 4090 bench never reports unmeasured memory as 0 GiB
  scripts/benchmarks/minimax_h3_4090/bench_pod.py
  scripts/benchmarks/minimax_h3_pro6000/app.py
  scripts/benchmarks/minimax_h3_pro6000/bench_headline.py
Due: none

[bugfix]: streamed NVFP4 encoder layers pass their FP4 scalars on the GEMM's device
  fastvideo/models/encoders/minimax_h3_checkpoint_nvfp4.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve ModelOpt H3 activation calibration in NVFP4 export
  fastvideo/tests/ops/quantization/test_minimax_h3_modelopt_activation_scale.py
  scripts/checkpoint_conversion/convert_minimax_h3_modelopt_nvfp4_dit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: sparse FP4 entry points validate block lists by default
  fastvideo-kernel/attn_qat_infer/api.py
  fastvideo/models/dits/minimax_h3_vsa_fp4.py
  scripts/checkpoint_conversion/convert_minimax_h3_modelopt_nvfp4_dit.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: clone batched VAE tile output before the next CUDA-graph replay
  fastvideo/models/vaes/minimax_h3_video.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: declare NVFP4 static activation-scale cache attributes for mypy
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: VSA zero-gate guard checks packed NVFP4 gates
  fastvideo/pipelines/basic/minimax_h3/vsa_guard.py
  fastvideo/tests/stages/test_minimax_h3_vsa_guard.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix HunyuanVideo forward pass with batch size greater than one
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/tests/transformers/test_hunyuan_batch.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: Respect existing output directories
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
