Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[feat]: add gaussian training weight to dfsft
  fastvideo/train/methods/fine_tuning/dfsft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

mc dfsft
  examples/train/configs/dfsft_wangame_causal_v3.yaml
  examples/train/run.sh
Due: none

fix gen3c weight conversion, add test skip conditions, and register the pipeline
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
  tests/local_tests/transformers/test_gen3c.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add gen3c, still need to test
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
  tests/local_tests/transformers/test_gen3c.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

lints
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

align pipeline configs and restore EDM scheduler parity
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/gen3cvae.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  tests/local_tests/pipelines/test_gen3c_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add 3d-cache pipeline and tokenizer VAE integration
  examples/inference/basic/basic_gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/gen3c.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/gen3c_tokenizer_vae.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/camera_utils.py
  fastvideo/pipelines/basic/gen3c/depth_estimation.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

adddress feedback & rebase
  fastvideo/models/dits/gen3c.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update hf repo path
  docs/inference/gen3c.md
  docs/inference/support_matrix.md
  fastvideo/registry.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

refactor to use fastvideo layers instead of naive pytorch + split gen3c pipeline stages
  fastvideo/models/dits/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/gen3c_stages.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add GEN3C tests, docs, and address high-pri review bot feedback
  docs/inference/gen3c.md
  docs/inference/support_matrix.md
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  tests/local_tests/pipelines/test_gen3c_pipeline_smoke.py
  tests/local_tests/transformers/test_gen3c.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix rebase regressions and restore inference/ssim flow
  docs/inference/gen3c.md
  fastvideo/configs/models/vaes/gen3cvae.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/camera_utils.py
  fastvideo/pipelines/basic/gen3c/depth_estimation.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix: correct TimestepEmbedding return value and param_names_mapping for GEN3C parity
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update usage/defaults in docs + model id in support matrix
  docs/inference/gen3c.md
  docs/inference/support_matrix.md
Due: none

fix ssim test fail after rebase
  fastvideo/tests/ssim/test_gen3c_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

rebase
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/camera_utils.py
  fastvideo/pipelines/basic/gen3c/depth_estimation.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/gen3c_stages.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add GEN3C example script and sampling config
  examples/inference/basic/basic_gen3c.py
  fastvideo/configs/sample/gen3c.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

stabilize ssim test/make more deterministic and update moge installation steps across docs
  docs/inference/gen3c.md
  examples/inference/basic/basic_gen3c.py
  fastvideo/pipelines/basic/gen3c/depth_estimation.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/tests/ssim/L40S_reference_videos/GEN3C-Cosmos-7B/TORCH_SDPA/gen3c_ssim_baseline.mp4
  fastvideo/tests/ssim/test_gen3c_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add direct test retry with check overwrite and aggregate status refresh
  .buildkite/pipeline.yml
  .github/mergify.yml
  .github/workflows/ci-aggregate-status.yml
  .github/workflows/ci-precommit.yml
  .github/workflows/ci-slash-commands.yml
  docs/contributing/ci_architecture.md
  docs/contributing/pull_requests.md
Due: none

[ci] Add direct test retry with check overwrite and aggregate status refresh (#1214)
  .buildkite/pipeline.yml
  .github/mergify.yml
  .github/workflows/ci-aggregate-status.yml
  .github/workflows/ci-precommit.yml
  .github/workflows/ci-slash-commands.yml
  docs/contributing/ci_architecture.md
  docs/contributing/pull_requests.md
Due: none

cleanup and precommit
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/matrixgame3/model.py
  fastvideo/models/dits/matrixgame3/utils.py
  fastvideo/pipelines/basic/matrixgame/matrixgame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix rebase issues
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/L40S_reference_videos/GEN3C-Cosmos-7B/TORCH_SDPA/gen3c_ssim_baseline.mp4
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Use update instead of rebase for auto branch sync
  .github/mergify.yml
Due: none

[ci] Use update instead of rebase for auto branch sync (#1215)
  .github/mergify.yml
Due: none

[feat] add gen3c (cosmos-7b) model and pipeline support (#1059)
  docs/inference/gen3c.md
  docs/inference/support_matrix.md
  examples/inference/basic/basic_gen3c.py
  fastvideo/configs/models/dits/gen3c.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/gen3cvae.py
  fastvideo/configs/pipelines/gen3c.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/gen3c.py
  fastvideo/models/dits/gen3c.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/gen3c_tokenizer_vae.py
  fastvideo/pipelines/basic/gen3c/__init__.py
  fastvideo/pipelines/basic/gen3c/cache_3d.py
  fastvideo/pipelines/basic/gen3c/camera_utils.py
  fastvideo/pipelines/basic/gen3c/depth_estimation.py
  fastvideo/pipelines/basic/gen3c/gen3c_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/gen3c_stages.py
  fastvideo/registry.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/L40S_reference_videos/GEN3C-Cosmos-7B/TORCH_SDPA/gen3c_ssim_baseline.mp4
  fastvideo/tests/ssim/test_gen3c_similarity.py
  scripts/checkpoint_conversion/convert_gen3c_to_fastvideo.py
  tests/local_tests/pipelines/test_gen3c_pipeline_smoke.py
  tests/local_tests/transformers/test_gen3c.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Refactor frontend to next.js
  ui/frontend/.gitignore
  ui/frontend/README.md
  ui/frontend/eslint.config.mjs
  ui/frontend/next.config.ts
  ui/frontend/package-lock.json
  ui/frontend/package.json
  ui/frontend/postcss.config.mjs
  ui/frontend/src/app/favicon.ico
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
  ui/frontend/tsconfig.json
  ui/server.py
Due: none

Move API_BASE_URL to environment file
  ui/README.md
  ui/frontend/README.md
  ui/frontend/next.config.ts
  ui/frontend/src/lib/api.ts
Due: none

Added graceful failure
  ui/README.md
  ui/api_server.py
Due: none

Added job card, CreateJobModal, download console log
  ui/api_server.py
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/JobCard.tsx
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
Due: none

Fix bug where logs were being fetched for jobs that aren't running
  ui/static/app.js
Due: none

Set API_BASE_URL for next.js built-in dev server
  ui/frontend/README.md
  ui/frontend/src/lib/api.ts
  ui/web_server.py
Due: none

Simplify API server
  fastvideo/worker/multiproc_executor.py
  ui/api_server.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] added progress bar and console features
  fastvideo/registry.py
  ui/server.py
  ui/static/app.js
  ui/static/style.css
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: initial commit for job runner UI
  .python-version
  ui/README.md
  ui/__init__.py
  ui/__main__.py
  ui/server.py
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
Due: none

Added configurable api server path to web server
  ui/frontend/src/lib/api.ts
  ui/web_server.py
Due: none

Add logo, modal presentation of Create Job, and distribute CSS into modules
  ui/frontend/public/logo.svg
  ui/frontend/src/app/Layout.module.css
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/Badge.module.css
  ui/frontend/src/components/Button.module.css
  ui/frontend/src/components/Card.module.css
  ui/frontend/src/components/Console.module.css
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/Form.module.css
  ui/frontend/src/components/Header.module.css
  ui/frontend/src/components/JobCard.module.css
  ui/frontend/src/components/Modal.module.css
  ui/frontend/src/components/ProgressBar.module.css
  ui/frontend/src/components/Toast.module.css
Due: none

Clean up styles
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/styles/Badge.module.css
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Card.module.css
  ui/frontend/src/components/styles/Console.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/Header.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/components/styles/ProgressBar.module.css
  ui/frontend/src/components/styles/Toast.module.css
  ui/frontend/tsconfig.json
Due: none

Added more logging to worker processes during MultiProcess execution
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
