Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix]: fix docs link and test placement for CI (#1568)
  examples/inference/ltx2_3/README.md
  fastvideo/tests/stages/test_ltx2_refine_upsampler_resolve.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Gate full-suite trigger on pre-commit and docs build
  .github/scripts/gate_full_suite.sh
  .github/scripts/test_gate_full_suite.sh
  .github/workflows/ci-trigger-full-suite.yml
Due: none

[docs] Add LTX-2.3 distilled inference run configs (t2v/i2v × 5+2/8+3 × resolutions) (#1568)
  examples/inference/ltx2_3/README.md
  examples/inference/ltx2_3/i2v_5s2_1024x1536.yaml
  examples/inference/ltx2_3/i2v_5s2_1280x832.yaml
  examples/inference/ltx2_3/i2v_5s2_512x768.yaml
  examples/inference/ltx2_3/i2v_5s2_768x1280.yaml
  examples/inference/ltx2_3/i2v_8s3_1024x1536.yaml
  examples/inference/ltx2_3/i2v_8s3_1280x832.yaml
  examples/inference/ltx2_3/i2v_8s3_512x768.yaml
  examples/inference/ltx2_3/i2v_8s3_768x1280.yaml
  examples/inference/ltx2_3/t2v_5s2_1024x1536.yaml
  examples/inference/ltx2_3/t2v_5s2_1280x832.yaml
  examples/inference/ltx2_3/t2v_5s2_512x768.yaml
  examples/inference/ltx2_3/t2v_5s2_768x1280.yaml
  examples/inference/ltx2_3/t2v_8s3_1024x1536.yaml
  examples/inference/ltx2_3/t2v_8s3_1280x832.yaml
  examples/inference/ltx2_3/t2v_8s3_512x768.yaml
  examples/inference/ltx2_3/t2v_8s3_768x1280.yaml
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/tests/stages/test_ltx2_refine_upsampler_resolve.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: FlashInfer SageAttention3 backend + attention shape logging
  docs/inference/optimizations.md
  fastvideo/attention/backends/flashinfer_sageattn3.py
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/attention/shape_logger.py
  fastvideo/configs/models/dits/base.py
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/tests/attention/test_attn_shape_logger.py
  fastvideo/tests/attention/test_flashinfer_sageattn3.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: gemini review fixes — jq []? guard, mktemp in self-test
  .github/scripts/gate_full_suite.sh
  .github/scripts/test_gate_full_suite.sh
Due: none

[feat]: NVFP4/FP8 attention benchmark (accuracy, TFLOPS, latency)
  docs/inference/optimizations.md
  fastvideo-kernel/benchmarks/bench_nvfp4_fp8_attention.py
  fastvideo/tests/attention/test_nvfp4_fp8_attention_bench.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: FastWan-QAD weights moved to transformer/ on HF — try both paths
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
Due: none

[agents] Add issue 1558 investigation handoff
  .agents/handoffs/issue-1558-handoff.md
Due: none

[ci] Stop forcing FA4 in model-load lanes
  .agents/handoffs/issue-1558-handoff.md
  fastvideo/tests/contract/test_modal_fa4_policy.py
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Use UTF-8 reads in FA4 policy test
  fastvideo/tests/contract/test_modal_fa4_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[agents] Record issue 1558 review handoff
  .agents/handoffs/issue-1558-handoff.md
Due: none

[agents] Retire issue 1558 handoff
  .agents/handoffs/issue-1558-handoff.md
Due: none

[ci]: document SSIM bootstrap conditions
  docs/contributing/testing.md
Due: none

[bugfix]: SM121 fixes from the Spark run
  fastvideo-kernel/benchmarks/bench_nvfp4_fp8_attention.py
  fastvideo/attention/backends/flashinfer_sageattn3.py
  fastvideo/attention/shape_logger.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci]: move SSIM bootstrap docs
  docs/contributing/testing.md
Due: none

[ci]: add SSIM reference bootstrap flow (#1522) (#1547)
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  .github/workflows/ci-trigger-full-suite.yml
  docs/contributing/testing.md
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/modal/test_ssim_test.py
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/bootstrap_references.py
  fastvideo/tests/ssim/conftest.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/latent_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_reference_videos_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] World model training using third person games (#1443)
  assets/eval/worldmodel_synthetic_flow_calibration.json
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
  examples/train/scenario/worldmodel/README.md
  examples/train/scenario/worldmodel/solaris/dfsft_causal_i2v.yaml
  examples/train/scenario/worldmodel/solaris/finetune_i2v.yaml
  examples/train/scenario/worldmodel/solaris/self_forcing_causal_i2v.yaml
  examples/train/scenario/worldmodel/zelda/dfsft_causal_i2v.yaml
  examples/train/scenario/worldmodel/zelda/finetune_i2v.yaml
  examples/train/scenario/worldmodel/zelda/self_forcing_causal_i2v.yaml
  examples/train/scenario/worldmodel/zelda/streaming_long_tuning_causal_i2v.yaml
  fastvideo/dataset/parquet_dataset_map_style.py
  fastvideo/eval/README.md
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/_thirdperson.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame2/action_module.py
  fastvideo/models/dits/matrixgame2/causal_model.py
  fastvideo/models/dits/matrixgame2/model.py
  fastvideo/models/dits/matrixgame2/utils.py
  fastvideo/registry.py
  fastvideo/tests/dataset/test_parquet_dataset_map_style.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/tests/train/fixtures/wan_causal_t2v_streaming_long_min.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/test_streaming_long_tuning.py
  fastvideo/tests/train/trainer/__init__.py
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/distribution_matching/__init__.py
  fastvideo/train/methods/distribution_matching/streaming_long_tuning.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/tracking.py
  fastvideo/train/utils/training_config.py
  fastvideo/training/trackers.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix tracking
  data_pipeline/extract_tracks.py
  data_pipeline/run_extract_tracks.sh
  data_pipeline/run_segment_tracks.sh
  data_pipeline/segment_tracks.py
  data_pipeline/segment_viz.py
Due: none

[bugfix] nvfp4: cast fp32 inputs to bf16 instead of asserting (#1488)
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add Hugging Face kernel hub packaging
  .github/workflows/publish-fastvideo-kernel-hub.yml
  fastvideo-kernel/CARD.md
  fastvideo-kernel/README.md
  fastvideo-kernel/build.toml
  fastvideo-kernel/csrc/turbodiffusion/gemm/gemm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.cu
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.cu
  fastvideo-kernel/example.py
  fastvideo-kernel/flake.nix
  fastvideo-kernel/torch-ext/fastvideo_kernel/__init__.py
  fastvideo-kernel/torch-ext/torch_binding.cpp
  fastvideo-kernel/torch-ext/torch_binding.h
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci]: version-gate the HF Kernel Hub publish like the PyPI flow
  .github/workflows/publish-fastvideo-kernel-hub.yml
Due: none

[ci]: SHA-pin kernel-builder-job and serialize Hub publishes
  .github/workflows/publish-fastvideo-kernel-hub.yml
Due: none

[kernel]: declare mutation + return aliases in Hub torch-op schemas
  fastvideo-kernel/torch-ext/torch_binding.cpp
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[docs]: note the Hub build's Hopper-only arch subset is deliberate
  fastvideo-kernel/build.toml
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci]: harden full-suite gate — cancelled/absent-run semantics, label re-check
  .github/scripts/gate_full_suite.sh
  .github/scripts/test_gate_full_suite.sh
  .github/workflows/ci-trigger-full-suite.yml
Due: none

[ci]: run the full-suite gate self-test in pre-commit CI
  .github/workflows/ci-precommit.yml
Due: none

[docs]: describe the full-suite cheap-check gate in ci_architecture.md
  docs/contributing/ci_architecture.md
Due: none

[ci]: gate the full-suite trigger on pre-commit and docs build (#1572)
  .github/scripts/gate_full_suite.sh
  .github/scripts/test_gate_full_suite.sh
  .github/workflows/ci-precommit.yml
  .github/workflows/ci-trigger-full-suite.yml
  docs/contributing/ci_architecture.md
Due: none

[ci]: trigger performance benchmarks for performance code changes
  .buildkite/pipeline.yml
Due: none

[ci] Trigger performance benchmarks for performance code changes (#1583)
  .buildkite/pipeline.yml
Due: none

[bugfix]: accept ATTN_QAT_INFER in denoising-stage backend probes
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add rotary Caching
  fastvideo/layers/rotary_embedding.py
  fastvideo/tests/ops/test_rotary_pos_embed_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add LRU Cache and Eviction Test
  fastvideo/layers/rotary_embedding.py
  fastvideo/tests/ops/test_rotary_pos_embed_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: harden the rotary cache hit path
  fastvideo/layers/rotary_embedding.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: register a real backward for the FA2 default custom op
  fastvideo/attention/backends/flash_attn.py
  fastvideo/tests/attention/test_flash_attn_default_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: extend FA2 register_autograd parity to the masked/varlen paths
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_flash_attn_no_pad_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: address #1388 bot review — mark lse non-diff + reuse indices in backward
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_no_pad.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] FA2 review: fix varlen-qk fake head_dim, gate FA2-only tests, type _repad
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_flash_attn_no_pad_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: move FA default custom-op registration to attention/utils/
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_default.py
  fastvideo/tests/attention/test_flash_attn_default_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: clean up pre-commit failures after rebase onto main
  fastvideo/attention/utils/flash_attn_no_pad.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
