Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[docs]: record final batching validation result
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[feat]: add OpenAI video batching scheduler
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record SSIM validation follow-up
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix]: reserve batch output paths so duplicate prompts do not collide (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: drain queued jobs greedily when batching delay is 0 (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fail fast when submitting to a stopped batch scheduler (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep completed results when a prompt-file batch group fails (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: collect fastvideo/tests/batching in the Modal unit-test lane (#1453)
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: drop .agents/exploration journals added by #1453
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
  .agents/exploration/pr-1453-gemini-review-handoff.md
Due: none

[ci] Normalize performance stage component metrics (#1475) (#1550)
  docs/contributing/performance_benchmarks.md
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/performance/test_inference_performance_component_times.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: guard against test directories no CI lane collects (#1552)
  fastvideo/tests/contract/test_ci_test_collection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: reformat fastvideo/performance to the repo yapf config
  fastvideo/performance/hf_store.py
  fastvideo/performance/metric_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: run pre-commit on fork PRs without manual approval
  .github/workflows/ci-precommit.yml
Due: none

[misc]: reformat fastvideo/performance to the repo yapf config (#1554)
  fastvideo/performance/hf_store.py
  fastvideo/performance/metric_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: update reseed-performance-baseline skill for the hf_store move (#1545 follow-up) (#1553)
  .agents/skills/reseed-performance-baseline/SKILL.md
Due: none

[ci]: run pre-commit on fork PRs without manual approval (#1555)
  .github/workflows/ci-precommit.yml
Due: none

[feat]: B200 SSIM full-quality support and resource-aware local runner
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/run_parallel.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_matrixgame3_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix latent handoff and FastWan-QAD example path
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  fastvideo/tests/platforms/test_cuda_attention_backend.py
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: remove dead and duplicate tests (-489 lines)
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/transformers/test_hunyuanvideo.py
  fastvideo/tests/transformers/test_matrixgame2.py
  fastvideo/tests/vaes/test_hunyuan_vae.py
  fastvideo/tests/vaes/test_official_wan_vae.py
  tests/local_tests/test_nvfp4_fa4.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: avoid retrying Gemini config setup
  fastvideo/workflow/interleave_thinker/generator.py
  tests/local_tests/test_interleave_workflow_backend.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add InterleaveThinker run and evaluation helpers
  fastvideo/workflow/interleave_thinker/__init__.py
  fastvideo/workflow/interleave_thinker/config.py
  fastvideo/workflow/interleave_thinker/evaluation.py
  fastvideo/workflow/interleave_thinker/runner.py
  fastvideo/workflow/interleave_thinker/trace_eval.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add InterleaveThinker workflow core
  fastvideo/workflow/interleave_thinker/generator.py
  fastvideo/workflow/interleave_thinker/orchestrator.py
  fastvideo/workflow/interleave_thinker/schema.py
  fastvideo/workflow/interleave_thinker/trace.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add InterleaveThinker inference workflow tests
  tests/local_tests/test_interleave_trace_eval.py
  tests/local_tests/test_interleave_workflow_backend.py
  tests/local_tests/test_interleave_workflow_runner.py
Due: none

[docs]: document InterleaveThinker inference workflow
  docs/design/interleave_thinker.md
  examples/interleave/README.md
  examples/interleave/interleave_single_prompt.py
  mkdocs.yml
Due: none

[refactor]: move interleave_thinker under fastvideo.workflows (was wheel-leaking top-level apps)
  apps/__init__.py
  examples/interleave/README.md
  examples/interleave/interleave_single_prompt.py
  fastvideo/workflows/__init__.py
  fastvideo/workflows/interleave_thinker/__init__.py
  fastvideo/workflows/interleave_thinker/config.py
  fastvideo/workflows/interleave_thinker/evaluation.py
  fastvideo/workflows/interleave_thinker/generator.py
  fastvideo/workflows/interleave_thinker/orchestrator.py
  fastvideo/workflows/interleave_thinker/runner.py
  fastvideo/workflows/interleave_thinker/schema.py
  fastvideo/workflows/interleave_thinker/trace.py
  fastvideo/workflows/interleave_thinker/trace_eval.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: relocate interleave tests into the collected workflow lane
  fastvideo/tests/workflow/test_interleave_trace_eval.py
  fastvideo/tests/workflow/test_interleave_workflow_backend.py
  fastvideo/tests/workflow/test_interleave_workflow_runner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: move InterleaveThinker into apps
  apps/__init__.py
  apps/interleave_thinker/__init__.py
  apps/interleave_thinker/config.py
  apps/interleave_thinker/evaluation.py
  apps/interleave_thinker/generator.py
  apps/interleave_thinker/orchestrator.py
  apps/interleave_thinker/runner.py
  apps/interleave_thinker/schema.py
  apps/interleave_thinker/trace.py
  apps/interleave_thinker/trace_eval.py
  docs/design/interleave_thinker.md
  examples/interleave/README.md
  examples/interleave/interleave_single_prompt.py
  mkdocs.yml
  pyproject.toml
  tests/local_tests/test_interleave_trace_eval.py
  tests/local_tests/test_interleave_workflow_backend.py
  tests/local_tests/test_interleave_workflow_runner.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs]: add fastvideo/workflows to the package map
  fastvideo/AGENTS.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add DreamX World 5B Cam pipeline
  .gitignore
  examples/inference/basic/basic_dreamx_world.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/dreamx_world.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/dreamx_world.py
  fastvideo/models/dits/dreamx_world.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/dreamx_world/__init__.py
  fastvideo/pipelines/basic/dreamx_world/camera_conditioning.py
  fastvideo/pipelines/basic/dreamx_world/config.py
  fastvideo/pipelines/basic/dreamx_world/dreamx_world_pipeline.py
  fastvideo/pipelines/basic/dreamx_world/presets.py
  fastvideo/pipelines/basic/dreamx_world/stages.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_dreamx_world_similarity.py
  scripts/checkpoint_conversion/dreamx_world_to_diffusers.py
  tests/local_tests/dreamx_world/PORT_STATUS.md
  tests/local_tests/dreamx_world/README.md
  tests/local_tests/dreamx_world/__init__.py
  tests/local_tests/dreamx_world/test_dreamx_world_camera_conditioning_parity.py
  tests/local_tests/dreamx_world/test_dreamx_world_conversion.py
  tests/local_tests/dreamx_world/test_dreamx_world_pipeline_config.py
  tests/local_tests/dreamx_world/test_dreamx_world_scheduler_parity.py
  tests/local_tests/dreamx_world/test_dreamx_world_text_encoder_parity.py
  tests/local_tests/dreamx_world/test_dreamx_world_transformer_parity.py
  tests/local_tests/dreamx_world/test_dreamx_world_vae_parity.py
  tests/local_tests/pipelines/test_dreamx_world_pipeline_parity.py
  tests/local_tests/pipelines/test_dreamx_world_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: DreamX review wave 1 — detector exclusivity, converter self-heal, SP hard-fail guard
  fastvideo/models/dits/dreamx_world.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/dreamx_world_ar_to_diffusers.py
  scripts/checkpoint_conversion/dreamx_world_to_diffusers.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: DreamX review wave 3 — AR DiT onto FastVideo layer primitives + real param_names_mapping
  fastvideo/configs/models/dits/dreamx_world.py
  fastvideo/models/dits/dreamx_world_ar.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: DreamX review wave 2 — AR pipeline actually encodes its conditioning image
  fastvideo/pipelines/basic/dreamx_world/dreamx_world_ar_pipeline.py
  fastvideo/pipelines/basic/dreamx_world/stages.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add DreamX World 5B AR pipeline
  .gitignore
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/dreamx_world.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/dreamx_world.py
  fastvideo/models/dits/dreamx_world_ar.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/dreamx_world/__init__.py
  fastvideo/pipelines/basic/dreamx_world/ar_denoising.py
  fastvideo/pipelines/basic/dreamx_world/camera_conditioning.py
  fastvideo/pipelines/basic/dreamx_world/config.py
  fastvideo/pipelines/basic/dreamx_world/dreamx_world_ar_pipeline.py
  fastvideo/pipelines/basic/dreamx_world/presets.py
  fastvideo/pipelines/basic/dreamx_world/stages.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/test_dreamx_world_similarity.py
  scripts/checkpoint_conversion/dreamx_world_ar_to_diffusers.py
  scripts/checkpoint_conversion/dreamx_world_to_diffusers.py
  tests/local_tests/dreamx_world/PORT_STATUS.md
  tests/local_tests/dreamx_world/README.md
  tests/local_tests/dreamx_world/test_dreamx_world_ar_conversion.py
  tests/local_tests/dreamx_world/test_dreamx_world_ar_transformer_parity.py
  tests/local_tests/dreamx_world/test_dreamx_world_conversion.py
  tests/local_tests/dreamx_world/test_dreamx_world_pipeline_config.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: randomize the zero-init head so DreamX AR tiny parity is not vacuous
  tests/local_tests/dreamx_world/test_dreamx_world_ar_transformer_parity.py
Due: none

[ci]: adopt per-parallelism-config baseline cohorts for wan-t2v (author decision)
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  docs/contributing/performance_benchmarks.md
Due: none

[ci]: align remaining performance cohort consumers
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/dashboard.py
  fastvideo/tests/performance/identity.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_dashboard_plotly.py
  fastvideo/tests/performance/test_identity.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: pin recipe_fingerprint to declared inputs and make cohort initialization loud
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/identity.py
  fastvideo/tests/performance/test_identity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: tighten performance cohort identity
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/identity.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_identity.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: complete performance cohort identity
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  apps/performance_dashboard/frontend/src/App.tsx
  apps/performance_dashboard/frontend/src/api.ts
  apps/performance_dashboard/frontend/src/styles.css
  docs/contributing/performance_benchmarks.md
  fastvideo/performance/hf_store.py
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/identity.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_dashboard_api.py
  fastvideo/tests/performance/test_dashboard_service.py
  fastvideo/tests/performance/test_identity.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: add performance fingerprint cohorts
  docs/contributing/performance_benchmarks.md
  fastvideo/performance/hf_store.py
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/identity.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_dashboard_service.py
  fastvideo/tests/performance/test_identity.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
