Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Improve EMA handling in distillation pipeline
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore canonical RMSNorm weight order (#1349)
  fastvideo/layers/layernorm.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: declare Flux2 denoising precision via config, drop _is_flux precision gates (#1349)
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[skill] add-model: fold in Cosmos3 omni-port lessons
  .agents/skills/add-model/SKILL.md
  .agents/skills/add-model/shared/common_rules.md
Due: none

[feat] add MatrixGame2 validation action overlay
  fastvideo/models/dits/matrixgame2/utils.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: simplify cosmos3 port (reuse embed, dedup prompt, hoist)
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record T2I verification + resolution-based flow_shift
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: resolution-based flow_shift + T2I check & example
  examples/inference/basic/basic_cosmos3_t2i_new_api.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_flow_shift_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record I2V real-weights verification (feat/cosmos3-i2v)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: I2V image conditioning (static-repeat) + parity + example
  examples/inference/basic/basic_cosmos3_i2v_new_api.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_i2v_conditioning_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR2: DiT sound pathway + sound packing (bit-exact parity)
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
  tests/local_tests/cosmos3/test_cosmos3_sound_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3 PR2: AVAE sound decoder done; remaining audio components
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[docs] cosmos3 PR2: audio port plan (AVAE + DiT sound pathway + t2vs)
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
Due: none

[feat] cosmos3 PR2: native AVAE sound decoder + bit-exact parity
  fastvideo/models/audio/cosmos3_avae.py
  fastvideo/models/vaes/oobleck.py
  tests/local_tests/cosmos3/test_cosmos3_avae_parity.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR2: t2vs pipeline (joint denoise + AVAE decode + AV mux)
  examples/inference/basic/basic_cosmos3_t2vs_new_api.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_sound_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3 PR2 (audio/t2vs) complete; bit-exact across components
  tests/local_tests/cosmos3/AUDIO_PORT_PLAN.md
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[misc]: simplify cosmos3 audio (fold sound split into _split_flat_latent)
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3 PR3: action (domain-aware) DiT pathway + packing + CFG glue
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_action_parity.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: simplify cosmos3 action (fold action split into _split_flat_latent)
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: port_feedback.md (pitfalls/lessons) + native-reuse audit
  tests/local_tests/cosmos3/port_feedback.md
Due: none

[feat] cosmos3 PR4: text reasoning (und pathway + lm_head), bit-exact
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  tests/local_tests/cosmos3/test_cosmos3_reasoning_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: full-omni parity summary (all components bit-exact)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3 PR4: vision_encoder parity (transformers Qwen3-VL == framework)
  tests/local_tests/cosmos3/test_cosmos3_vision_encoder_parity.py
Due: none

[feat] cosmos3 PR4: deepstack reasoner forward (image-conditioned reasoning)
  fastvideo/models/dits/cosmos3.py
  tests/local_tests/cosmos3/test_cosmos3_reasoning_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add compress&topk test case
  CLAUDE.md
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/fused_compress_topk.py
  fastvideo-kernel/tests/test_fused_compress_topk.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

restore CLAUDE file
  CLAUDE.md
Due: none

[misc]: document and scope-harden _is_flux denoising gates (#1349)
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: port flux2 examples to new typed-config API (#1349)
  examples/inference/basic/basic_flux2.py
  examples/inference/basic/basic_flux2_klein.py
Due: none

[refactor]: linear/mlp FP4 path additions for Wan-2.1 (Attn-QAT 6/12)
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: add CPU test for ReplicatedLinear shape tracking + MLP quant gating
  fastvideo/tests/layers/test_linear_mlp_quant_gating.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: fix pre-commit (mypy type + ruff/yapf) for flux2 port (#1349)
  fastvideo/configs/models/encoders/qwen3.py
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: drop inert process_weights_after_loading + tighten shape-tracking (#1390)
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/tests/layers/test_linear_mlp_quant_gating.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add rotary Caching
  fastvideo/layers/rotary_embedding.py
  fastvideo/tests/ops/test_rotary_pos_embed_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add LRU Cache and Eviction Test
  fastvideo/layers/rotary_embedding.py
  fastvideo/tests/ops/test_rotary_pos_embed_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add backward test case & improve the code comment and log
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/fused_compress_topk.py
  fastvideo-kernel/tests/test_fused_compress_topk.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: gate Flux2 shared-path changes to preserve existing-model behavior (#1349)
  fastvideo/configs/models/encoders/base.py
  fastvideo/configs/models/encoders/mistral3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/text_encoding.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
