Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] Integrate native Studio media cards and review screenshots
  apps/fastvideo_studio/UI_PREVIEW.md
  apps/fastvideo_studio/e2e/gallery.spec.ts
  apps/fastvideo_studio/src/app/gallery/page.test.tsx
  apps/fastvideo_studio/src/app/gallery/page.tsx
  apps/fastvideo_studio/src/components/jobs/JobCard.test.tsx
  apps/fastvideo_studio/src/components/jobs/JobCard.tsx
  apps/fastvideo_studio/src/components/jobs/JobQueue.test.tsx
  docs/assets/studio-ui/api-example.png
  docs/assets/studio-ui/configuration.png
  docs/assets/studio-ui/job-review.png
  docs/assets/studio-ui/native-gallery.png
Due: none

[docs] Use supplied screenshots for Studio feature discussion
  docs/assets/studio-ui/api-example.png
  docs/assets/studio-ui/configuration.png
Due: none

[docs] Add supplied job and gallery screenshots
  docs/assets/studio-ui/gallery-result-settings.png
  docs/assets/studio-ui/job-results-preview.png
Due: none

[docs] Replace job filtering and card screenshot
  docs/assets/studio-ui/job-review.png
Due: none

[bugfix]: require transformers 5.15 for the H3 vision interpolation oracle
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_vision.py
  pyproject.toml
  tests/local_tests/glm_image/README.md
  tests/local_tests/minimax_h3/README.md
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: Restore exact Qwen3-VL vision interpolation (#1737)
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_vision.py
  pyproject.toml
  tests/local_tests/encoders/benchmark_minimax_h3_qwen3_vl_interpolation_memory.py
  tests/local_tests/glm_image/README.md
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf] FP8: fuse the dynamic activation quantization into Triton kernels
  fastvideo/layers/quantization/fp8_config.py
  fastvideo/layers/quantization/fp8_quant_kernels.py
  fastvideo/tests/ops/quantization/test_fp8_quant_kernels.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] fastvideo-kernel: install the Python + Triton package when the HIP toolchain cannot be configured
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix] fastvideo-kernel: validate the extension mode and resolve --python-only against CMAKE_ARGS
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] Vectorize VSA256 training forward masks
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
  fastvideo-kernel/tests/test_vsa256_backward.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] Vectorize VSA128 training forward masks
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
  fastvideo-kernel/tests/test_vsa128_backward.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] Classify VSA256 backward metadata at physical KV tile size
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] Add opt-in device-planned VSA256 backward tail packing
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
  fastvideo-kernel/python/fastvideo_kernel/vsa_tail_backward.py
  fastvideo-kernel/tests/test_vsa256_tail_backward.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[feat]: load packed FastH3 NVFP4 and Comfy int8 VAE on Blackwell
  examples/inference/basic/basic_fasth3_5090_nvfp4.yaml
  examples/serving/openai_fasth3_5090_nvfp4.yaml
  examples/serving/openai_fasth3_5090_nvfp4_taeh3.yaml
  examples/serving/openai_fasth3_pro6000_nvfp4.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/openai/static/playground.css
  fastvideo/entrypoints/openai/static/playground.html
  fastvideo/entrypoints/openai/static/playground.js
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/api/test_typed_quant_flow.py
  fastvideo/tests/entrypoints/test_openai_video_client.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_h3_dit_export.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
  fastvideo/tests/stages/test_minimax_h3_sequential_start.py
  fastvideo/tests/vaes/test_minimax_h3_int8_convrot.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add CompactH3 NVFP4 cookbook paths for Blackwell GPUs
  examples/inference/basic/basic_compacth3_rtx5090.yaml
  examples/inference/basic/basic_compacth3_rtx_pro6000.yaml
  examples/serving/openai_compacth3_rtx5090.yaml
  examples/serving/openai_compacth3_rtx_pro6000.yaml
  examples/serving/openai_fasth3_5090_nvfp4_taeh3.yaml
  fastvideo/entrypoints/openai/static/playground.css
  fastvideo/entrypoints/openai/static/playground.html
  fastvideo/entrypoints/openai/static/playground.js
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: document CompactH3 NVFP4 on RTX 5090 and RTX PRO 6000
  docs/assets/cookbook-recipes.json
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/index.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  examples/inference/basic/basic_compacth3_rtx5090.yaml
  examples/inference/basic/basic_compacth3_rtx_pro6000.yaml
  examples/serving/openai_compacth3_rtx5090.yaml
  examples/serving/openai_compacth3_rtx_pro6000.yaml
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/stages/test_minimax_h3_sequential_start.py
  fastvideo/tests/vaes/test_minimax_h3_int8_convrot.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: refuse FSDP NVFP4 retain and drop restating comments
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_purge.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: enable CompactH3 VAE compile on RTX PRO 6000
  docs/assets/cookbook-recipes.json
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  examples/inference/basic/basic_compacth3_rtx_pro6000.yaml
  examples/serving/openai_compacth3_rtx_pro6000.yaml
Due: none

[bugfix]: refuse zero-gate CompactH3 VSA
  docs/assets/cookbook-recipes.json
  examples/inference/basic/basic_compacth3_rtx5090.yaml
  examples/inference/basic/basic_compacth3_rtx_pro6000.yaml
  examples/serving/openai_compacth3_rtx5090.yaml
  examples/serving/openai_compacth3_rtx_pro6000.yaml
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/minimax_h3/vsa_guard.py
  fastvideo/tests/ops/quantization/test_nvfp4_h3_dit_export.py
  fastvideo/tests/stages/test_minimax_h3_vsa_guard.py
  fastvideo/tests/vaes/test_minimax_h3_int8_convrot.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Harden livestream lifecycle and clarify setup docs
  apps/infinite_livestream/README.md
  apps/infinite_livestream/infinite_livestream/main.py
  apps/infinite_livestream/infinite_livestream/sink.py
  apps/infinite_livestream/infinite_livestream/tests/conftest.py
  apps/infinite_livestream/infinite_livestream/tests/test_config.py
  apps/infinite_livestream/infinite_livestream/tests/test_prompt_flow.py
  apps/infinite_livestream/infinite_livestream/tests/test_service_lifecycle.py
  apps/infinite_livestream/infinite_livestream/tests/test_sink_shutdown.py
Due: none

[misc] fastvideo-kernel: trim the build-mode comments and skip the submodule init in python-only builds
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: requantize MXFP8 weights after LoRA unmerge
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: requantize packed weights after LoRA merge
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: MiniMax-H3 encoder split: dedicated text-encoder node group for 720p on DGX Spark
  docs/inference/deployment_spark.md
  fastvideo/distributed/parallel_state.py
  fastvideo/envs.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/minimax_h3/encoder_split.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Synchronize livestream titles with video playback
  apps/infinite_livestream/README.md
  apps/infinite_livestream/infinite_livestream/config.py
  apps/infinite_livestream/infinite_livestream/configs/infinite_livestream.yaml
  apps/infinite_livestream/infinite_livestream/engine.py
  apps/infinite_livestream/infinite_livestream/main.py
  apps/infinite_livestream/infinite_livestream/metadata.py
  apps/infinite_livestream/infinite_livestream/muxer.py
  apps/infinite_livestream/infinite_livestream/pacer.py
  apps/infinite_livestream/infinite_livestream/server_entry.py
  apps/infinite_livestream/infinite_livestream/sink.py
  apps/infinite_livestream/infinite_livestream/tests/test_frame_metadata.py
  apps/infinite_livestream/infinite_livestream/tests/test_hls_metadata.py
  apps/infinite_livestream/infinite_livestream/tests/test_metadata_player.cjs
  apps/infinite_livestream/infinite_livestream/tests/test_state_mirror.py
  apps/infinite_livestream/infinite_livestream/web/index.html
  apps/infinite_livestream/infinite_livestream/web/metadata.js
  apps/infinite_livestream/infinite_livestream/webapp.py
  apps/infinite_livestream/pyproject.toml
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] use in-process executor for num_gpus=1 (#1755)
  README.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  fastvideo/api/schema.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/api/test_validation_errors.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_matrixgame3_similarity.py
  fastvideo/tests/worker/test_uniproc_executor.py
  fastvideo/worker/__init__.py
  fastvideo/worker/executor.py
  fastvideo/worker/uniproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] frozen offload: no host copy for an already resident module
  fastvideo/models/pinned_offload.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] H3 decode: pin the frozen VAEs' host copies
  fastvideo/models/pinned_offload.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] H3 decode: offload the frozen VAEs without the device-to-host copy
  fastvideo/models/pinned_offload.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Reject mismatched model names on image generation routes
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/tests/entrypoints/test_image_model_name_validation.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] blk128 backward: every warp executes griddepcontrol.wait; trigger after the CTA's final barrier
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a_blk128.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[docs]: draft the joint H3 TDM plan
  .agents/handoffs/issue-775-handoff.md
Due: none

[doc] VSA sm_100a routing: docstrings no longer call the extension forward-only or the backward 64-token-only
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[kernel] VSA backward is_supported: refuse batch * heads > 65535 (the launch grid's y extent)
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_bwd_sm100a.py
  tests/test_block_sparse_bwd_sm100a.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test] move the sm_100a backward and dispatch tests into fastvideo-kernel/tests so the GB200 kernel lane collects them
  fastvideo-kernel/tests/test_block_sparse_bwd_sm100a.py
  fastvideo-kernel/tests/test_block_sparse_sm100a_dispatch.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[docs]: ground the joint H3 TDM plan on origin/main
  .agents/handoffs/issue-775-handoff.md
Due: none

[bugfix] fastvideo-kernel: install the Python + Triton package when the HIP toolchain cannot be configured (#1871)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix] Restore page interaction after dismissing Create Job or successfully creating a job (#1869)
  apps/fastvideo_studio/e2e/create-job-interaction.spec.ts
  apps/fastvideo_studio/e2e/create-job.spec.ts
  apps/fastvideo_studio/package-lock.json
  apps/fastvideo_studio/package.json
  apps/fastvideo_studio/src/components/jobs/CreateJobButton.test.tsx
  apps/fastvideo_studio/src/components/jobs/CreateJobButton.tsx
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  apps/fastvideo_studio/src/components/ui/accessibility.test.tsx
  apps/fastvideo_studio/src/components/ui/button.tsx
  apps/fastvideo_studio/src/components/ui/dialog.tsx
  apps/fastvideo_studio/src/components/ui/label.tsx
  apps/fastvideo_studio/src/components/ui/scroll-area.tsx
  apps/fastvideo_studio/src/components/ui/select.tsx
  apps/fastvideo_studio/src/components/ui/separator.tsx
  apps/fastvideo_studio/src/components/ui/slider.tsx
  apps/fastvideo_studio/src/components/ui/switch.tsx
  apps/fastvideo_studio/src/components/ui/tabs.tsx
Due: none

[perf] Reuse cached VAE offload for H3 conditioning
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/tests/stages/test_minimax_h3_encoding_offload.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
