Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[new-model] Add native Helios transformer
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/helios.py
  fastvideo/models/dits/helios.py
  tests/local_tests/transformers/test_helios_transformer_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Harden Helios history validation
  fastvideo/models/dits/helios.py
  tests/local_tests/transformers/test_helios_transformer_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Update Helios attention backend scope
  tests/local_tests/transformers/test_helios_transformer_parity.py
Due: none

studio: keep frontend polling noise out of the engine console
  apps/fastvideo_studio/server.py
  apps/fastvideo_studio/src/components/jobs/EngineConsole.tsx
Due: none

[refactor] H3 pipeline cleanup: reuse shared helpers, drop dead machinery, hoist loop-invariant work
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/reference.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/train/utils/moduleloader.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] H3 pipeline cleanup: shared helpers, dead machinery, loop-invariant hoists (#1698)
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/reference.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/train/utils/moduleloader.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: optional rank-reduced AdaLN (-39% params, -26 GB)
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3.py
  tools/minimax_h3/fit_adaln_basis.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] MiniMax-H3: point the examples at the rank-reduced checkpoint
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[misc] MiniMax-H3: trim the AdaLN dtype comment
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] MiniMax-H3: fail loudly when training a rank-reduced checkpoint
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: rank-reduced AdaLN pruned model option (-39% params, -23 GiB VRAM) (#1699)
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3.py
  tools/minimax_h3/fit_adaln_basis.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] VSA for MiniMax H3: packed mixed-modality sparse attention (FA4 CuTe sm10x), exempt/compete mask policies, gate-compress branch, per-request sparsity/schedule knobs, attention-mass probe
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/backends/video_sparse_attn_h3_probe.py
  fastvideo/attention/layer.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/tests/api/test_extra_overrides_routing.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] VSA-H3: /simplify pass — dedupe with the Wan VSA backend, drop dead state
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/backends/video_sparse_attn_h3_probe.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/attention/layer.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[feat] VSA for MiniMax H3: packed mixed-modality sparse attention (#1695)
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/backends/video_sparse_attn_h3_probe.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/attention/layer.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/tests/api/test_extra_overrides_routing.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[train] MiniMax H3 DMD2 distillation via packed dual-modality adapter
  examples/distill/MiniMax-H3/distill_dmd.sh
  examples/train/configs/distribution_matching/minimax_h3/dmd2_t2va.yaml
  fastvideo/tests/train/fixtures/minimax_h3_dmd2_min.yaml
  fastvideo/tests/train/methods/test_minimax_h3_dmd2.py
  fastvideo/train/models/minimax_h3/__init__.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] refresh consumer guide recipes and deployment
  .github/workflows/infra-docs.yml
  consumer-guide/README.md
  consumer-guide/app/basic_page.tsx
  consumer-guide/app/globals.css
  consumer-guide/app/layout.tsx
  consumer-guide/app/tuning/adv_page.tsx
  consumer-guide/data/quickstart.json
  consumer-guide/data/tuning.json
  consumer-guide/next.config.mjs
  consumer-guide/package.json
  consumer-guide/scripts/validate-data.mjs
  docs/README.md
  docs/assets/config-generator.js
  docs/assets/custom.css
  docs/getting_started/advanced_tuning_guide.md
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  mkdocs.yml
Due: none

[misc] enable TypeScript type-checking in config generator build
  consumer-guide/next.config.mjs
Due: none

remove useless svg
  docs/config-generator/icon.svg
  docs/config-generator/placeholder-logo.svg
  docs/config-generator/placeholder.svg
Due: none

[docs]: replace config generator with native cookbook
  .github/workflows/infra-docs.yml
  .gitignore
  consumer-guide/.gitignore
  consumer-guide/README.md
  consumer-guide/app/basic_page.tsx
  consumer-guide/app/globals.css
  consumer-guide/app/layout.tsx
  consumer-guide/app/page.tsx
  consumer-guide/app/tuning/adv_page.tsx
  consumer-guide/app/tuning/page.tsx
  consumer-guide/data/quickstart.json
  consumer-guide/data/tuning.json
  consumer-guide/next.config.mjs
  consumer-guide/package.json
  consumer-guide/pnpm-lock.yaml
  consumer-guide/postcss.config.mjs
  consumer-guide/scripts/validate-data.mjs
  consumer-guide/tsconfig.json
  docs/README.md
  docs/assets/config-generator.js
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/assets/custom.css
  docs/cookbook/index.md
  docs/generate_examples.py
  docs/getting_started/advanced_tuning_guide.md
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  mkdocs.yml
Due: none

[train] VSA-H3 DMD2 overfit: per-role backends, VSA metadata wiring, wandb guard
  examples/distill/MiniMax-H3/overfit_vsa0.sh
  examples/train/configs/distribution_matching/minimax_h3/dmd2_vsa0_overfit.yaml
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_overfit.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
  fastvideo/tests/train/methods/test_minimax_h3_dmd2.py
  fastvideo/tests/train/utils/test_tracking.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
  fastvideo/train/utils/tracking.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat: add native MMAudio components for V2A
  fastvideo/configs/models/__init__.py
  fastvideo/configs/models/audio/__init__.py
  fastvideo/configs/models/audio/bigvgan.py
  fastvideo/configs/models/audio/mmaudio_vae.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/mmaudio.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/mmaudio_clip.py
  fastvideo/configs/models/encoders/mmaudio_synchformer.py
  fastvideo/configs/pipelines/base.py
  fastvideo/models/audio/bigvgan.py
  fastvideo/models/audio/mmaudio_vae.py
  fastvideo/models/dits/mmaudio.py
  fastvideo/models/encoders/mmaudio_clip.py
  fastvideo/models/encoders/mmaudio_synchformer.py
  fastvideo/models/loader/component_loader.py
  fastvideo/third_party/eval/synchformer/ast.py
  fastvideo/third_party/eval/synchformer/motionformer.py
  fastvideo/third_party/eval/synchformer/synchformer.py
  fastvideo/third_party/eval/synchformer/utils.py
  fastvideo/third_party/eval/synchformer/video_model_builder.py
  fastvideo/third_party/eval/synchformer/vit_helper.py
  fastvideo/third_party/synchformer/LICENSE
  fastvideo/third_party/synchformer/__init__.py
  fastvideo/third_party/synchformer/divided_224_16x4.yaml
  fastvideo/third_party/synchformer/motionformer.py
  fastvideo/third_party/synchformer/utils.py
  fastvideo/third_party/synchformer/video_model_builder.py
  fastvideo/third_party/synchformer/vit_helper.py
  scripts/checkpoint_conversion/convert_mmaudio_to_diffusers.py
  tests/local_tests/mmaudio/PORT_STATUS.md
  tests/local_tests/mmaudio/README.md
  tests/local_tests/mmaudio/test_mmaudio_audio_vae_parity.py
  tests/local_tests/mmaudio/test_mmaudio_clip_parity.py
  tests/local_tests/mmaudio/test_mmaudio_component_loader.py
  tests/local_tests/mmaudio/test_mmaudio_scheduler_parity.py
  tests/local_tests/mmaudio/test_mmaudio_synchformer_parity.py
  tests/local_tests/mmaudio/test_mmaudio_transformer_parity.py
  tests/local_tests/mmaudio/test_mmaudio_vocoder_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Ground GB10 perf thresholds from 5x reproducibility run (39.3s / 8.4GB)
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b-gb10-1gpu.json
Due: none

[ci] Add DGX Spark (GB10) single-GPU perf config + gpu_types device gate
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b-gb10-1gpu.json
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Validate run_config.gpu_types at discovery (list of non-empty strings)
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Document DGX Spark (GB10) local perf benchmarking + baseline follow-up
  docs/contributing/performance_benchmarks.md
Due: none

[docs]: record MMAudio GB200 validation
  tests/local_tests/mmaudio/PORT_STATUS.md
Due: none

[fix]: handle MMAudio integer timesteps
  docs/inference/support_matrix.md
  fastvideo/models/dits/mmaudio.py
  fastvideo/tests/transformers/test_mmaudio.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: update MMAudio VAE component
  fastvideo/configs/models/dits/mmaudio.py
  fastvideo/configs/pipelines/mmaudio.py
  fastvideo/models/audio/mmaudio_vae.py
  fastvideo/pipelines/basic/mmaudio/README.md
  fastvideo/pipelines/basic/mmaudio/__init__.py
  fastvideo/pipelines/basic/mmaudio/mmaudio_pipeline.py
  fastvideo/pipelines/basic/mmaudio/presets.py
  fastvideo/pipelines/basic/mmaudio/stages.py
  tests/local_tests/mmaudio/PORT_STATUS.md
  tests/local_tests/mmaudio/test_mmaudio_audio_vae_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat: add native MMAudio V2A inference pipeline
  .gitignore
  examples/inference/basic/basic_mmaudio.py
  fastvideo/api/schema.py
  fastvideo/configs/models/encoders/mmaudio_clip.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/mmaudio.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/models/audio/bigvgan.py
  fastvideo/models/dits/mmaudio.py
  fastvideo/models/encoders/mmaudio_clip.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/mmaudio/README.md
  fastvideo/pipelines/basic/mmaudio/__init__.py
  fastvideo/pipelines/basic/mmaudio/mmaudio_pipeline.py
  fastvideo/pipelines/basic/mmaudio/presets.py
  fastvideo/pipelines/basic/mmaudio/stages.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/convert_mmaudio_to_diffusers.py
  tests/local_tests/mmaudio/PORT_STATUS.md
  tests/local_tests/mmaudio/README.md
  tests/local_tests/mmaudio/test_mmaudio_clip_parity.py
  tests/local_tests/mmaudio/test_mmaudio_pipeline_parity.py
  tests/local_tests/mmaudio/test_mmaudio_synchformer_parity.py
  tests/local_tests/mmaudio/test_mmaudio_transformer_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: preserve causal masks in FlashAttention
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/models/encoders/mmaudio_clip.py
  fastvideo/tests/attention/test_flash_attn_no_pad_custom_op.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

docs: on-tray handoff for the VSA-H3 DMD2 overfit experiment
  HANDOFF-h3-dmd2-vsa.md
Due: none

[bugfix] restrict setuptools package discovery to fastvideo/dreamverse
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

fix the profiler region system: it recorded nothing with default env
  fastvideo/envs.py
  fastvideo/profiler.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

make the region system actually usable: short names, summaries, nvtx, dead-code removal
  fastvideo/envs.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/profiler.py
  fastvideo/tests/contract/test_profiler_regions.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
