Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[docs]: record Z-Image GPU parity gate
  tests/local_tests/zimage/PORT_STATUS.md
Due: none

[bugfix]: propagate Qwen2.5-VL visual dtype (#1580)
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/tests/encoders/test_qwen2_5_vl_vision_dtype.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix reward setup
  .gitignore
  examples/train/requirements-diffusion-nft.txt
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/qwen2vl_trainer.py
  fastvideo/third_party/rl_rewards/VideoAlign/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix micro step bug
  examples/train/diffusion_nft_wan_video.md
  fastvideo/train/methods/rl/diffusion_nft.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix validation fps from 1 to 16
  examples/train/configs/rl/wan/diffusion_nft_videoalign.yaml
  fastvideo/train/methods/rl/common/validation.py
  fastvideo/train/methods/rl/diffusion_nft.py
  tests/local_tests/test_train_rl_sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix training configs
  modal_train_diffusion_nft.py
Due: none

Fix logging
  examples/train/configs/rl/wan/diffusion_nft_videoalign.yaml
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  fastvideo/train/methods/rl/common/validation.py
  fastvideo/train/methods/rl/diffusion_nft.py
  modal_train_dmdr.py
  tests/local_tests/test_diffusion_nft_method_utils.py
  tests/local_tests/test_train_rl_sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix cfg, sampling and gradien accumulation, increase train batch size
  examples/train/configs/rl/wan/diffusion_nft_videoalign.yaml
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  fastvideo/train/methods/rl/common/sampling.py
  modal_train_diffusion_nft.py
  tests/local_tests/test_train_rl_sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: clean DiffusionNFT PR scope
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  examples/train/requirements-diffusion-nft.txt
  fastvideo/third_party/rl_rewards/HPSv3/LICENSE
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/__init__.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/HPSv3_7B.yaml
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/dataset/utils.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/inference.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/reward_model.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/runtime.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/utils/parser.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/hpsv3.py
  fastvideo/train/methods/rl/rewards/ocr.py
  modal_train_diffusion_nft.py
  tests/local_tests/test_train_rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add training script for local cluster
  scripts/train/train_diffusion_nft_wan_videoalign_slurm.sh
Due: none

[misc]: keep HPSv3 reward-only option
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  examples/train/requirements-diffusion-nft.txt
  fastvideo/third_party/rl_rewards/HPSv3/LICENSE
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/__init__.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/HPSv3_7B.yaml
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/dataset/utils.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/inference.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/reward_model.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/runtime.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/utils/parser.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/hpsv3.py
  tests/local_tests/test_train_rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Cleanup
  examples/train/diffusion_nft_wan_video.md
  examples/train/requirements-diffusion-nft.txt
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/HPSv3_7B.yaml
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/ds_config/zero0.json
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/ds_config/zero2.json
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/config/ds_config/zero3.json
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/dataset/data_collator_qwen.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/dataset/pairwise_dataset.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/inference.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/differentiable_image_processor.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/qwen2vl_trainer.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/reward_model.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/test_differentiable.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/runtime.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/train.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/utils/training_utils.py
  fastvideo/third_party/rl_rewards/VideoAlign/data.py
  fastvideo/third_party/rl_rewards/VideoAlign/inference.py
  fastvideo/third_party/rl_rewards/VideoAlign/reward_model.py
  fastvideo/third_party/rl_rewards/VideoAlign/runtime.py
  fastvideo/third_party/rl_rewards/VideoAlign/train_reward.py
  fastvideo/third_party/rl_rewards/VideoAlign/trainer.py
  fastvideo/train/methods/rl/rewards/hpsv3.py
  fastvideo/train/methods/rl/rewards/videoalign.py
  modal_train_diffusion_nft.py
  modal_train_dmdr.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add train script for tailscale cluster
  scripts/train/train_diffusion_nft_wan_videoalign_slurm.sh
Due: none

Push train setup with 49 frame validation
  fastvideo/train/methods/rl/common/validation.py
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/models/base.py
  fastvideo/train/models/cosmos/cosmos.py
  fastvideo/train/models/hunyuan/hunyuan.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
  fastvideo/train/models/wan/wan.py
  modal_train_diffusion_nft.py
  tests/local_tests/test_diffusion_nft_method_utils.py
  tests/local_tests/test_train_rl_sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve FlashInfer correction under autocast
  fastvideo/attention/backends/flashinfer_sageattn3.py
  fastvideo/tests/attention/test_flashinfer_sageattn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply project formatting to DiffusionNFT PR
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/rewards/diffusion_nft.py
  fastvideo/train/methods/rl/rewards/hpsv3.py
  fastvideo/train/methods/rl/rewards/videoalign.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: cover transformers 5.x config compat for Qwen2.5-VL (#1576)
  fastvideo/tests/encoders/test_qwen2_5_vl_config_compat.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: isolate HF encoder loading contexts
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/utils.py
  tests/local_tests/zimage/test_zimage_encoder_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: correct Z-Image component parity contracts
  tests/local_tests/zimage/test_zimage_scheduler_parity.py
  tests/local_tests/zimage/test_zimage_vae_parity.py
Due: none

[bugfix]: address DiffusionNFT review failures
  examples/train/configs/rl/wan/diffusion_nft_videoalign.yaml
  examples/train/diffusion_nft_wan_video.md
  examples/train/prepare_diffusion_nft_assets.py
  fastvideo/third_party/rl_rewards/HPSv3/hpsv3/model/reward_model.py
  fastvideo/train/methods/rl/common/sampling.py
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/rewards/media.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
  pyproject.toml
  scripts/train/train_diffusion_nft_wan_videoalign_slurm.sh
  tests/local_tests/test_train_rewards.py
  tests/local_tests/test_train_rl_sampling.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: align Z-Image encoder oracle with upstream
  fastvideo/models/encoders/qwen3.py
  tests/local_tests/zimage/test_zimage_encoder_parity.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record pinned Z-Image parity evidence
  tests/local_tests/zimage/PORT_STATUS.md
  tests/local_tests/zimage/README.md
Due: none

[ci]: enable scheduled perf runs to update rolling baseline
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: satisfy Wan config post init typing
  .agents/handoffs/issue-864-handoff.md
  fastvideo/configs/pipelines/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: add issue 864 handoff
  .agents/handoffs/issue-864-handoff.md
Due: none

[bugfix]: guard FastWan FullAttn backend config
  .agents/handoffs/issue-864-handoff.md
  docs/inference/support_matrix.md
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  scripts/inference/inference_wan_VSA_DMD_5B_720P.yaml
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: update issue 864 handoff after implementation
  .agents/handoffs/issue-864-handoff.md
Due: none

[misc]: record issue 864 review pass
  .agents/handoffs/issue-864-handoff.md
  fastvideo/configs/pipelines/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: honor Wan config attention backends
  .agents/handoffs/issue-864-handoff.md
  fastvideo/models/dits/wanvideo.py
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record issue 864 adjudication
  .agents/handoffs/issue-864-handoff.md
Due: none

[bugfix]: address FastWan FullAttn review comments
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: retire issue 864 handoff
  .agents/handoffs/issue-864-handoff.md
Due: none

[misc]: finalize issue 864 handoff
  .agents/handoffs/issue-864-handoff.md
Due: none

[feat]: Cosmos3 pipeline (Cosmos3OmniDiffusersPipeline)
  fastvideo/pipelines/basic/cosmos3/__init__.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Cosmos3 DiT skeleton (Cosmos3VFMTransformer + Cosmos3LanguageModel)
  fastvideo/configs/models/dits/cosmos3.py
  fastvideo/models/dits/cosmos3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: Cosmos3 local-test parity scaffold (Tier A, 15 tests)
  tests/local_tests/cosmos3/README.md
  tests/local_tests/cosmos3/__init__.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_mrope_parity.py
  tests/local_tests/cosmos3/test_cosmos3_patchify_unpatchify_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_default_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: none

[feat]: Cosmos3Config + registry wire-up for nvidia/Cosmos3-Nano
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Cosmos3 checkpoint conversion script (cosmos3_convert.py)
  scripts/checkpoint_conversion/cosmos3_convert.py
Due: none
