Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[misc]: add CPU test for ReplicatedLinear shape tracking + MLP quant gating
  fastvideo/tests/layers/test_linear_mlp_quant_gating.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: gate to_gate_compress->to_gate_logits rename on apply_gated_attention
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/tests/api/test_ltx2_param_mapping.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: deterministic STFT / mel basis init for BWE vocoder
  fastvideo/models/audio/ltx2_audio_vae.py
  fastvideo/tests/audio/test_ltx2_bwe.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: catch whitespace-only secret values in dreamverse-modal key check
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[feat] LTX-2.3 transformer support (config-gated extension of LTX-2) (#1397)
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/configs/models/encoders/gemma.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/vaes/ltx2vae.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_ltx2_param_mapping.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] LTX-2.3 audio: BWE vocoder path (#1398)
  fastvideo/models/audio/ltx2_audio_vae.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
  fastvideo/tests/audio/test_ltx2_bwe.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: dreamverse modal bypasses ENTRYPOINT — set ffmpeg env + key check (#1413)
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[feat]: add generation batching primitives
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/batching/__init__.py
  fastvideo/batching/admission.py
  fastvideo/batching/signature.py
  fastvideo/configs/pipelines/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/batching/test_admission.py
  fastvideo/tests/batching/test_signature.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 1 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[feat]: add generator dynamic batching path
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/stages/test_input_validation_batching.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 2 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[feat]: add OpenAI video batching scheduler
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 5 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[fix]: harden dynamic generation batching
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/batching/run_dynamic_batching_parity.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record multimodal batching validation report
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[docs]: record final batching validation result
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix] matrixgame2 causal denoise: store KV-cache end indices as Python int, not GPU tensor
  fastvideo/pipelines/stages/matrixgame2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] matrixgame2 causal: cut per-forward recompute (blockmask cache, skip unused RoPE, on-device timestep)
  fastvideo/layers/visual_embedding.py
  fastvideo/models/dits/matrixgame2/action_module.py
  fastvideo/models/dits/matrixgame2/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add CFG-gating regression for PR #1372
  fastvideo/tests/inference/test_cfg_gating.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: document FASTVIDEO_CFG_GATE_STEP env var
  docs/inference/optimizations.md
  fastvideo/envs.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Add Adaptive Guidance (CFG gating) for stale-uncond reuse (#1372)
  docs/inference/optimizations.md
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/inference/test_cfg_gating.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pooled proj
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

remove padding
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

loading issues
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

wrap forward call
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

[bugfix]: port flux2 VAE components native (#1345)
  fastvideo/models/vaes/flux2_components.py
  fastvideo/models/vaes/flux2vae.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

PR final changes
  fastvideo/pipelines/basic/flux_2/presets.py
  fastvideo/registry.py
  scripts/inference/inference_flux2_klein.yaml
  tests/local_tests/flux2/README.md
  tests/local_tests/flux2/__init__.py
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add flux2 pipeline parity test scaffold (#1345)
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
Due: none

input shape change
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

weight loading
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

alignment
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

[docs]: flux2 README — document new pipeline tests + activated DiT parity (#1345)
  tests/local_tests/flux2/README.md
  tests/local_tests/flux2/test_flux2_component_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
Due: none

breakpoint
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

arg
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

Add Flux2 image generation pipeline
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen3.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/layers/layernorm.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/flux_2.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/flux2vae.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_klein_pipeline.py
  fastvideo/pipelines/basic/flux_2/flux_2_latent_preparation.py
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/basic/flux_2/flux_2_timestep_preparation.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/registry.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

readme
  fastvideo/models/dits/flux_2.py
  tests/local_tests/flux2/README.md
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add flux2 pipeline smoke test (#1345)
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/stages/image_encoding.py
  tests/local_tests/pipelines/__init__.py
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: port flux2 DiT diffusers numerical layers to FastVideo-native (#1345)
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Integrated Klein model. Passed all smoke and parity tests. Passed generation test
  .gitignore
  examples/inference/basic/basic_flux2_klein.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/vaes/flux2_components.py
  fastvideo/pipelines/basic/flux_2/flux_2_timestep_preparation.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/registry.py
  fastvideo/utils.py
  fastvideo/worker/multiproc_executor.py
  fastvideo/worker/ray_distributed_executor.py
  pyproject.toml
  tests/local_tests/README.md
  tests/local_tests/flux2/README.md
  tests/local_tests/flux2/test_flux2_component_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Reverted some added useless try-except clauses added in the previous commit
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/utils.py
  tests/local_tests/flux2/README.md
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
