Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[perf]: skip redundant FSDP accumulation sync
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/train/methods/base.py
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: keep LTX2 overfit input pipeline warm
  examples/train/configs/overfit_ltx2_t2v.yaml
  fastvideo/tests/nightly/test_e2e_ltx2_overfit_new_stack.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: defer gradient norm materialization
  fastvideo/tests/train/callbacks/test_grad_clip.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/utils/optimizer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update parity test.
  fastvideo/api/compat.py
  fastvideo/api/sampling_param.py
  fastvideo/configs/pipelines/base.py
  tests/local_tests/lingbot_video/PORT_STATUS.md
  tests/local_tests/lingbot_video/README.md
  tests/local_tests/lingbot_video/generate_ti2v_reference_baseline.py
  tests/local_tests/pipelines/test_lingbot_video_ti2v_pipeline_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: embed uniform LTX2 timestep once
  fastvideo/tests/train/models/test_load_ltx2.py
  fastvideo/train/models/ltx2/ltx2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: retain FSDP parameters across accumulation
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/train/methods/base.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: pack LTX attention projections
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/utils.py
  fastvideo/tests/api/test_ltx2_param_mapping.py
  fastvideo/tests/contract/test_ltx2_projection_packing.py
  fastvideo/tests/train/models/test_load_ltx2.py
  fastvideo/tests/training/test_training_utils.py
  fastvideo/train/entrypoint/dcp_to_diffusers.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/utils/config.py
  fastvideo/training/training_utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover packed LTX sequence parallelism
  fastvideo/tests/distributed/test_sp_ltx2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover fused parameter export
  fastvideo/tests/train/entrypoint/test_dcp_to_diffusers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: isolate LTX SP subprocess imports
  fastvideo/tests/distributed/test_sp_ltx2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: enable packed LTX projections in overfit recipe
  examples/train/configs/overfit_ltx2_t2v.yaml
Due: none

[perf]: group adjacent FSDP2 modules
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  examples/train/configs/overfit_ltx2_t2v.yaml
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_fsdp_load_grouping.py
  fastvideo/tests/train/utils/test_moduleloader_compile.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] adjust print shape
  examples/inference/eval/basic_wan_eval.py
Due: none

refactor audio eval for frechet_distance
  examples/inference/eval/basic_ltx2_audio_eval.py
Due: none

[fix]change input video shape
  fastvideo/eval/io/paths.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] delete some info print
  examples/inference/eval/basic_wan_eval.py
Due: none

[feat] first version of wan eval
  examples/inference/eval/basic_wan_eval.py
Due: none

[refactor] detect whether output video exists
  examples/inference/eval/basic_ltx2_eval.py
Due: none

detect existing video path
  examples/inference/eval/basic_ltx2_audio_eval.py
Due: none

[fix] add docstring of build_eval_kwargs
  fastvideo/eval/io/paths.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] remove wan model test script, add ref in ltx2 script
  examples/inference/eval/basic_ltx2_eval.py
  examples/inference/eval/basic_wan_eval.py
Due: none

update audio.desync required keys
  fastvideo/eval/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address review — drop false BC docstring claim, dead code; add contract test
  examples/inference/eval/basic_ltx2_audio_eval.py
  examples/inference/eval/basic_ltx2_eval.py
  fastvideo/eval/io/paths.py
  fastvideo/tests/eval/test_build_eval_kwargs.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: isolate compiled validation inference
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: make LTX video validation memory-safe
  examples/train/configs/overfit_ltx2_t2v.yaml
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/tests/stages/test_ltx2_video_only_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Make LTX-2 RMSNorm out-of-place so torch_tensorrt + Ulysses SP compiles (#1623)
  fastvideo/models/dits/ltx2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: re-gate tracker head as timing-neutral on 4x GB200
  scripts/train/ltx2_mfu/README.md
  scripts/train/ltx2_mfu/REPORT.md
Due: none

[misc]: audit and confirm the LTX2 MFU numerator; document the 2450 TFLOP/s convention
  scripts/train/ltx2_mfu/README.md
  scripts/train/ltx2_mfu/REPORT.md
  scripts/train/ltx2_mfu/probes/audit_train_flops_per_sample.py
Due: none

[feat]: fastvideo2 MVP — data cards, driven loop, enforced pipelines, wan2.1 reference oracle, tiered verifier + evidence ledger
  AGENTS.md
  README.md
  fastvideo2/__init__.py
  fastvideo2/__main__.py
  fastvideo2/card.py
  fastvideo2/cli.py
  fastvideo2/engine.py
  fastvideo2/evidence/README.md
  fastvideo2/evidence/ledger.jsonl
  fastvideo2/loading.py
  fastvideo2/loop.py
  fastvideo2/pipeline.py
  fastvideo2/registry.py
  fastvideo2/tests/__init__.py
  fastvideo2/tests/test_cards.py
  fastvideo2/tests/test_engine.py
  fastvideo2/tests/test_loop.py
  fastvideo2/tests/test_pipeline.py
  fastvideo2/verify.py
  fastvideo2/wan21/__init__.py
  fastvideo2/wan21/card.py
  fastvideo2/wan21/loop.py
  fastvideo2/wan21/pipeline.py
  fastvideo2/wan21/reference.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[fix]: force card-declared dtypes after loading (torch_dtype renamed upstream; loader default must not win)
  fastvideo2/loading.py
  fastvideo2/wan21/reference.py
Due: none

[fix]: card-declared compute dtypes — preserve loader fp32 islands, never introspect mixed-dtype modules
  fastvideo2/loading.py
  fastvideo2/wan21/loop.py
  fastvideo2/wan21/pipeline.py
  fastvideo2/wan21/reference.py
Due: none

[misc]: GB200 evidence — blessed fingerprints, T0-T3 ledger records, 50-step sample (md5-identical to reference)
  fastvideo2/evidence/README.md
  fastvideo2/evidence/ledger.jsonl
  fastvideo2/evidence/wan2.1-t2v-1.3b.fingerprints.json
Due: none

[perf]: accept inductor coordinate-descent env stack; record BF16 campaign gates
  scripts/train/ltx2_mfu/README.md
  scripts/train/ltx2_mfu/REPORT.md
  scripts/train/ltx2_mfu/harness/benchmark_fastvideo_train_blockskip.py
  scripts/train/ltx2_mfu/harness/benchmark_fastvideo_train_cudnn_attn.py
  scripts/train/ltx2_mfu/harness/profile_fastvideo_train_pack_head.py
  scripts/train/ltx2_mfu/probes/bench_ltx2_tunableop_gemm.py
  scripts/train/ltx2_mfu/probes/benchmark_ltx2_video_attention_backends.py
Due: none

[misc]: root-cause rack-057 8x MNNVL/IMEX hang; record working multi-node preamble
  scripts/train/ltx2_mfu/REPORT.md
Due: none

[misc]: record 8x env-stack gate on degraded rack-059 pair; close BF16 campaign handoff
  scripts/train/ltx2_mfu/README.md
  scripts/train/ltx2_mfu/REPORT.md
Due: none

[misc]: quantify the 50% MFU feasibility budget; reject FA4 split tuning
  scripts/train/ltx2_mfu/REPORT.md
  scripts/train/ltx2_mfu/probes/benchmark_ltx2_video_attention_backends.py
Due: none

[misc]: add prioritized BF16 kernel research plan toward 50% MFU
  scripts/train/ltx2_mfu/README.md
  scripts/train/ltx2_mfu/reports/bf16_kernel_research_plan.md
Due: none

[perf]: cuBLASLt algo sweep finds 8-9% GEMM band headroom with bit-exact parity
  scripts/train/ltx2_mfu/REPORT.md
  scripts/train/ltx2_mfu/probes/bench_ltx2_cublaslt_algo_sweep.py
  scripts/train/ltx2_mfu/reports/bf16_kernel_research_plan.md
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
