Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[feat] Improve API: streaming prompt enhancer with LLMProvider abstraction (#1258)
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/prompt/__init__.py
  fastvideo/entrypoints/streaming/prompt/enhancer.py
  fastvideo/entrypoints/streaming/prompt/providers/__init__.py
  fastvideo/entrypoints/streaming/prompt/providers/_openai_compat.py
  fastvideo/entrypoints/streaming/prompt/providers/base.py
  fastvideo/entrypoints/streaming/prompt/providers/cerebras.py
  fastvideo/entrypoints/streaming/prompt/providers/groq.py
  fastvideo/tests/entrypoints/streaming/test_prompt_enhancer.py
  fastvideo/tests/entrypoints/streaming/test_prompt_providers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Improve API: streaming auxiliaries (safety, rewrite, logger, mock) (#1284)
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/mock_server.py
  fastvideo/entrypoints/streaming/prompt/rewrite.py
  fastvideo/entrypoints/streaming/prompt/safety.py
  fastvideo/entrypoints/streaming/session_logger.py
  fastvideo/tests/entrypoints/streaming/test_auxiliaries.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[feat] Improve API: streaming server GpuPool + worker subprocess (#1257)
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/entrypoints/streaming/worker.py
  fastvideo/tests/entrypoints/streaming/test_gpu_pool.py
  fastvideo/tests/entrypoints/streaming/test_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Improve API: streaming router (multi-replica load balancer + ws proxy) (#1286)
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/router_serve.py
  fastvideo/entrypoints/streaming/router/__init__.py
  fastvideo/entrypoints/streaming/router/config.py
  fastvideo/entrypoints/streaming/router/main.py
  fastvideo/entrypoints/streaming/router/registry.py
  fastvideo/tests/entrypoints/streaming/test_router.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[cleanup] eval: drop duplicate scripts under scripts/eval/, revert _assets/ gitignore
  scripts/eval/run_vbench_e2e.py
  scripts/eval/score_folder.py
Due: none

[ci] Cherrypick perf regression skills to component time commit
  .agents/skills/reseed-performance-baseline/SKILL.md
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/compare_baseline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: per-benchmark extras + drop audio metrics from this PR
  .agents/workflows/evaluation-development.md
  .gitignore
  fastvideo/eval/README.md
  fastvideo/eval/metrics/audio/__init__.py
  fastvideo/eval/metrics/audio/audiobox_aesthetics/__init__.py
  fastvideo/eval/metrics/audio/audiobox_aesthetics/metric.py
  fastvideo/eval/metrics/audio/clap_score/__init__.py
  fastvideo/eval/metrics/audio/clap_score/metric.py
  fastvideo/eval/metrics/audio/frechet_distance/__init__.py
  fastvideo/eval/metrics/audio/frechet_distance/metric.py
  fastvideo/eval/metrics/audio/kl_divergence/__init__.py
  fastvideo/eval/metrics/audio/kl_divergence/metric.py
  fastvideo/eval/metrics/audio/wer/__init__.py
  fastvideo/eval/metrics/audio/wer/metric.py
  fastvideo/eval/registry.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[infra]: Add activation trace hooks for pipeline debugging
  docs/contributing/activation_trace.md
  fastvideo/envs.py
  fastvideo/hooks/activation_trace.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/hooks/test_activation_trace.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra]: Add activation trace hooks for pipeline debugging (#1293)
  docs/contributing/activation_trace.md
  fastvideo/envs.py
  fastvideo/hooks/activation_trace.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/hooks/test_activation_trace.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra]: New skill - decompose-pipeline-pr
  .agents/skills/decompose-pipeline-pr/SKILL.md
  .agents/skills/index.jsonl
Due: none

[docs]: Wire activation trace into mkdocs nav + add cross-links + perf/troubleshooting
  docs/contributing/activation_trace.md
  docs/contributing/profiling.md
  docs/utilities/debugging.md
  mkdocs.yml
Due: none

[infra]: Loader umbrella-repo support + optional component dirs
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: validate optional components dynamically from model_index.json
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: harden umbrella-repo path handling and unbreak LTX2 validator
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] eval physics_iq: self-contained dataset + auto-fetch from public bucket
  docs/contributing/eval-metrics.md
  examples/inference/eval/bench_physics_iq.py
  fastvideo/eval/README.md
  fastvideo/eval/datasets/physics_iq.py
  fastvideo/eval/metrics/physics_iq/_vendored/LICENSE
  fastvideo/eval/metrics/physics_iq/_vendored/descriptions.csv
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] eval: vbench group skips missing-dep metrics + correct install hint + checkpoint/transformers fixes
  fastvideo/eval/README.md
  fastvideo/eval/evaluator.py
  fastvideo/eval/metrics/vbench/human_action/metric.py
  fastvideo/eval/metrics/videoscore2/metric.py
  fastvideo/eval/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] eval: tone down doc voice, fix two stale agent-workflow paths
  .agents/workflows/evaluation-development.md
  docs/contributing/eval-metrics.md
  fastvideo/eval/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

final cleanup
  examples/distill/MatrixGame2.0/distill_dmd.sh
  examples/distill/MatrixGame2.0/distill_dmd.slurm
  examples/distill/MatrixGame2.0/validation.json
  examples/distill/MatrixGame2.0/validation_1.json
  examples/train/scenario/worldmodel/README.md
  examples/train/scenario/worldmodel/dfsft_causal_i2v.yaml
  examples/train/scenario/worldmodel/finetune_i2v.yaml
  examples/train/scenario/worldmodel/self_forcing_causal_i2v.yaml
  examples/training/finetune/MatrixGame2.0/validation.json
Due: none

[chore] eval: clear pre-commit --all-files lint backlog
  fastvideo/entrypoints/cli/eval.py
  fastvideo/eval/datasets/base.py
  fastvideo/eval/metrics/__init__.py
  fastvideo/eval/metrics/base.py
  fastvideo/eval/metrics/common/lpips/metric.py
  fastvideo/eval/metrics/optical_flow/_shared.py
  fastvideo/eval/metrics/physics_iq/utils.py
  fastvideo/eval/metrics/vbench/__init__.py
  fastvideo/eval/metrics/vbench/_grit_helper.py
  fastvideo/eval/metrics/vbench/aesthetic_quality/metric.py
  fastvideo/eval/metrics/vbench/appearance_style/metric.py
  fastvideo/eval/metrics/vbench/background_consistency/metric.py
  fastvideo/eval/metrics/vbench/color/metric.py
  fastvideo/eval/metrics/vbench/dynamic_degree/metric.py
  fastvideo/eval/metrics/vbench/imaging_quality/metric.py
  fastvideo/eval/metrics/vbench/motion_smoothness/metric.py
  fastvideo/eval/metrics/vbench/overall_consistency/metric.py
  fastvideo/eval/metrics/vbench/scene/metric.py
  fastvideo/eval/metrics/vbench/spatial_relationship/metric.py
  fastvideo/eval/metrics/vbench/subject_consistency/metric.py
  fastvideo/eval/worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

revert utils
  fastvideo/models/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add CLIP feature backfill for Wan latent caches (TECH-118)
  scripts/preprocess/backfill_clip_features.py
  scripts/preprocess/submit_clip_backfill.sbatch
  scripts/preprocess/validate_clip_features.py
Due: none

Update docker image.
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/docker/docker_entrypoint.sh
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
Due: none

[feat]: Loader umbrella-repo support + optional component dirs (#1294)
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[skills]: New skill - decompose-pipeline-pr (#1303)
  .agents/skills/decompose-pipeline-pr/SKILL.md
  .agents/skills/index.jsonl
Due: none

[ci] add GPU model loading tests for fastvideo.train models
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  docs/contributing/ci_architecture.md
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/train/fixtures/__init__.py
  fastvideo/tests/train/fixtures/hunyuan_t2v_min.yaml
  fastvideo/tests/train/fixtures/wan_causal_t2v_min.yaml
  fastvideo/tests/train/fixtures/wan_t2v_min.yaml
  fastvideo/tests/train/models/__init__.py
  fastvideo/tests/train/models/test_load_hunyuan.py
  fastvideo/tests/train/models/test_load_wan.py
  fastvideo/tests/train/models/test_load_wan_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] move VSA tile_buf from class-level to metadata (review feedback)
  fastvideo/attention/backends/video_sparse_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] attention hot-path cleanup + denoising loop hoists
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/pipelines/stages/conditioning.py
  fastvideo/pipelines/stages/denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update Dreamverse package imports and state paths
  apps/dreamverse/dreamverse/_deps.py
  apps/dreamverse/dreamverse/benchmarks/benchmark_av_streaming.py
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/gpu_pool.py
  apps/dreamverse/dreamverse/main.py
  apps/dreamverse/dreamverse/mock_server.py
  apps/dreamverse/dreamverse/prompt_enhancer.py
  apps/dreamverse/dreamverse/routes/health.py
  apps/dreamverse/dreamverse/routes/presets.py
  apps/dreamverse/dreamverse/runtime.py
  apps/dreamverse/dreamverse/server_entry.py
  apps/dreamverse/dreamverse/session/controller.py
  apps/dreamverse/dreamverse/tests/conftest.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/dreamverse/tests/test_entrypoints.py
  apps/dreamverse/dreamverse/tests/test_gpu_pool.py
  apps/dreamverse/dreamverse/tests/test_mock_server.py
  apps/dreamverse/dreamverse/tests/test_prompt_enhancer.py
  apps/dreamverse/dreamverse/tests/test_session_init_image.py
  apps/dreamverse/dreamverse/tests/test_session_logging.py
  apps/dreamverse/dreamverse/video_generation.py
Due: none

Package Dreamverse as a FastVideo extra
  apps/dreamverse/README.md
  apps/dreamverse/pyproject.toml
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Update Dreamverse Docker runtime packaging
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
Due: none

[ci] mergify: accept [skill]/[skills] and [infra] PR title tags
  .github/PULL_REQUEST_TEMPLATE.md
  .github/mergify.yml
  docs/contributing/pull_requests.md
Due: none

[misc] tighten ConditioningStage no-op comment with CFG site refs
  fastvideo/pipelines/stages/conditioning.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] mergify: accept [skill]/[skills] and [infra] PR title tags (#1309)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/mergify.yml
  docs/contributing/pull_requests.md
Due: none

Add Dreamverse accelerator deps to extra
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/pyproject.toml
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci] Capture runtime env per perf record + env-aware baseline filter
  fastvideo/tests/AGENTS.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/dashboard.py
  fastvideo/tests/performance/env_capture.py
  fastvideo/tests/performance/hf_store.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Performance benchmark workflow + env-aware comparison
  docs/contributing/ci_architecture.md
  docs/contributing/performance_benchmarks.md
  docs/contributing/testing.md
  mkdocs.yml
Due: none

[feat]: add LongCat self-forcing training scaffold
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden LongCat self-forcing training path
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
