Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Fix SVI multi-clip integration and review issues
  docs/design/inference_schema_parity_inventory.yaml
  examples/inference/basic/basic_svi_i2v.py
  fastvideo/api/sampling_param.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/wan_svi_i2v_pipeline.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/inference/lora/test_maybe_download_lora.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/pipelines/test_svi_multiclip_stitch.py
  fastvideo/utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Apply project YAPF formatting
  fastvideo/pipelines/basic/wan/wan_svi_i2v_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: include PNGs in SSIM reference tooling
  fastvideo/tests/ssim/reference_videos/default/A40_reference_videos/black-forest-labs__FLUX.1-dev/TORCH_SDPA/a photo of a cat.png
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_reference_videos_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address FastWan FullAttn review feedback
  fastvideo/attention/selector.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  scripts/inference/inference_wan_FullAttn_DMD_5B_720P.yaml
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix Waypoint schema and parity test compatibility
  docs/design/inference_schema_parity_inventory.yaml
  tests/local_tests/waypoint/test_waypoint_kv_cache_parity.py
Due: none

[bugfix]: align FastWan FullAttn review guards
  fastvideo/configs/pipelines/wan.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add native Z-Image pipeline and SSIM coverage
  examples/inference/basic/basic_zimage.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/pipelines/zimage.py
  fastvideo/pipelines/__init__.py
  fastvideo/pipelines/basic/zimage/__init__.py
  fastvideo/pipelines/basic/zimage/presets.py
  fastvideo/pipelines/basic/zimage/stages.py
  fastvideo/pipelines/basic/zimage/zimage_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/registry.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_reference_videos_cli.py
  fastvideo/tests/ssim/test_zimage_similarity.py
  fastvideo/utils.py
  tests/local_tests/pipelines/test_zimage_pipeline_parity.py
  tests/local_tests/pipelines/test_zimage_pipeline_smoke.py
  tests/local_tests/zimage/PORT_STATUS.md
  tests/local_tests/zimage/README.md
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: include attention override in selector cache
  fastvideo/attention/selector.py
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: match native Z-Image DiT execution
  fastvideo/pipelines/basic/zimage/stages.py
  tests/local_tests/pipelines/test_zimage_pipeline_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: align FastWan FullAttn training docs
  docs/distillation/dmd.md
  examples/train/configs/fine_tuning/wan/fast_ti2v_fullattn_lora.yaml
Due: none

[fix]: update Z-Image API schema inventory
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve training workload type
  fastvideo/registry.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: clarify FastWan FullAttn DMD docs
  docs/distillation/dmd.md
Due: none

[docs]: document automatic Docker image builds
  docs/contributing/ci_architecture.md
Due: none

[ci]: enable scheduled perf runs to update rolling baseline (#1599)
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add root conftest.py so scoped pytest invocations can find fastvideo
  conftest.py
Due: none

Use os.path.abspath for robustness per review feedback
  conftest.py
Due: none

[model]: align Waypoint with upstream inference
  docs/design/inference_schema_parity_inventory.yaml
  examples/inference/basic/basic_waypoint.py
  fastvideo/api/compat.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/api/waypoint.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/waypoint_stages.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/multiproc_executor.py
  fastvideo/worker/ray_distributed_executor.py
  scripts/checkpoint_conversion/waypoint_to_diffusers.py
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
  tests/local_tests/waypoint/test_waypoint_kv_cache_parity.py
  tests/local_tests/waypoint/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Align SVI inference with official recipes
  docs/design/inference_schema_parity_inventory.yaml
  examples/inference/basic/basic_svi_i2v.py
  fastvideo/api/sampling_param.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/wan_svi_i2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/tests/pipelines/test_svi_multiclip_stitch.py
  fastvideo/tests/stages/test_svi_image_vae_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Apply YAPF formatting to SVI stage
  fastvideo/pipelines/stages/image_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: validate Waypoint long trajectories
  fastvideo/pipelines/basic/waypoint/README.md
  fastvideo/utils.py
  scripts/checkpoint_conversion/waypoint_to_diffusers.py
  tests/local_tests/waypoint/test_waypoint_kv_cache_parity.py
  tests/local_tests/waypoint/test_waypoint_transformer.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add scripts
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  examples/inference/optimizations/fp4_qad_wan2_1_1_3b.py
  examples/inference/optimizations/fp4_sa2_wan2_1_1_3b.py
Due: none

Update
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  examples/inference/optimizations/fp4_sa2_wan2_1_1_3b.py
  examples/inference/optimizations/fp8_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_qat_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_sa2_wan2_1_1_3b.py
Due: none

[feat]: standalone QAD 5090 benchmark harness (multi-run stats)
  examples/inference/optimizations/benchmark_qad_wan2_1_1_3b.py
Due: none

[bugfix]: correct hardware claims and arch handling in QAD 5090 example scripts
  examples/inference/optimizations/_qad_common.py
  examples/inference/optimizations/fp8_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_qat_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_sa2_wan2_1_1_3b.py
Due: none

[bugfix]: don't hard-fail explicit backend pins on layers that never supported the backend
  fastvideo/attention/selector.py
  fastvideo/tests/attention/test_selector_capability_validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add capability self-description API to AttentionBackend (#1489)
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/tests/attention/test_backend_capabilities.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[feat]: validate resolved attention backend against declared capabilities (#1499)
  fastvideo/attention/selector.py
  fastvideo/tests/attention/test_attention_backend_selector_cache.py
  fastvideo/tests/attention/test_selector_capability_validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: hard-fail on missing attention backends + force VSA for FastWan
  fastvideo/attention/selector.py
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply pre-commit formatting
  fastvideo/platforms/cuda.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: simplify attention-backend selection + fail loudly on unknown FASTVIDEO_ATTENTION_BACKEND
  fastvideo/envs.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_attention_backend_env_validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve attention backend config JSON roundtrip
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/pipelines/base.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: fail loudly on FastWan VSA requirement instead of auto-forcing
  fastvideo/attention/selector.py
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/registry.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix attention backend routing and coverage (#1494)
  docs/inference/support_matrix.md
  examples/inference/gradio/serving/ray_serve_backend.py
  examples/train/configs/fine_tuning/wan/fast_ti2v_fullattn_lora.yaml
  fastvideo/attention/selector.py
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/registry.py
  fastvideo/tests/attention/test_attention_backend_selector_cache.py
  fastvideo/tests/attention/test_cuda_backend_missing.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
  fastvideo/tests/modal/pr_test.py
  scripts/inference/inference_wan_FullAttn_DMD_5B_720P.yaml
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: detect FullAttn snapshot paths
  fastvideo/registry.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: align SDPA capability test with unrestricted heads
  fastvideo/tests/attention/test_backend_capabilities.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden FastWan attention routing
  fastvideo/attention/selector.py
  fastvideo/registry.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
  fastvideo/tests/attention/test_selector_capability_validation.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: include FA4 in perf identity
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_inference_performance_identity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: add exact identity comparator statuses
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
