Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[kernel] sm_100a backward: order gate back to nb >= ORDER_MIN_KV_BLOCKS; shorter comments
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_sm100a.cu
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[perf] skip identity modulation in Wan's post-self-attn residual norm
  fastvideo/layers/layernorm.py
  fastvideo/models/wan/transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Triton-fused residual+LayerNorm+modulate inference path for Wan
  fastvideo/envs.py
  fastvideo/layers/layernorm.py
  fastvideo/layers/triton_fused_norm.py
  fastvideo/models/wan/transformer.py
  fastvideo/tests/layers/test_triton_fused_norm.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: sm_100a backward at the smallest legal shape, num_blocks = 2
  tests/test_block_sparse_bwd_sm100a.py
Due: none

[refactor]: consolidate Wan model definitions
  .pre-commit-config.yaml
  docs/contributing/coding_agents.md
  docs/contributing/testing.md
  docs/design/overview.md
  docs/inference/architecture.md
  fastvideo/AGENTS.md
  fastvideo/configs/AGENTS.md
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/dreamx_world.py
  fastvideo/configs/pipelines/lingbotworld.py
  fastvideo/configs/pipelines/lingbotworld2.py
  fastvideo/configs/pipelines/matrixgame2.py
  fastvideo/configs/pipelines/matrixgame3.py
  fastvideo/configs/pipelines/turbodiffusion.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/AGENTS.md
  fastvideo/models/wan/AGENTS.md
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/pipelines/basic/wan/AGENTS.md
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/registry.py
  fastvideo/tests/api/test_lucy_edit.py
  fastvideo/tests/api/test_wan_definitions.py
  fastvideo/tests/golden_gate/test_wan_denoising.py
  scripts/validate_wan.sh
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add modular training performance metrics
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_performance.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/performance.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] sm_100a CUDA backward for VSA block-sparse attention (blk64) (#1819)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_sm100a.cu
  fastvideo-kernel/csrc/attention/primitives.cuh
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_bwd_sm100a.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  tests/test_block_sparse_bwd_sm100a.py
  tests/test_block_sparse_sm100a_dispatch.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

delete some files which were not used
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] implement ring-atten func in fastvideo
  fastvideo/attention/layer.py
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/worker/gpu_worker.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add test for usp
  fastvideo/tests/attention/test_ring_attention_config.py
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]adjust layer for usp
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]update docstr in multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test scripts
  fastvideo/tests/attention/test_ring_attention_config.py
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]adjust import package
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[log] add logs for ring-atten
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update test script
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete test script
  run_ring_2gpu.sh
Due: none

[feat]add ring-atten from yunchang long context
  fastvideo/attention/ring/__init__.py
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]refactor attention kernel
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]add args for usp
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test scripts
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test for single gpu
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] usp distributed implementation
  fastvideo/distributed/__init__.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update test script for ring atten config
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix sp size auto test logic
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] fix multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]fix ring-atten-bugs
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add distributed test for usp
  fastvideo/tests/distributed/test_usp_group_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add temp test script
  run_ring_2gpu.sh
Due: none

update docstr
  fastvideo/attention/ring/__init__.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]parse flash_attn version instead of lexicographic string compare
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]restore hsdp_replicate_dim/hsdp_shard_dim validation
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
