Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[docs]: Phase 4 design for H3 joint video+audio in the modular TDM stack
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: H3 joint video+audio TDM model hooks and LoRA support
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/test_tdm_h3_joint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record Phase 4 4A completion and the parked 4B method WIP
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: make TDMMethod modality-general for joint H3 video+audio
  fastvideo/train/methods/distribution_matching/tdm.py
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/k8s/run_wan_tdm_parity4b.sh
  tests/local_tests/tdm/test_tdm_method_unit.py
  tests/local_tests/tdm/test_tdm_upstream_parity.py
  tests/local_tests/tdm/test_tdm_warmup_and_ladder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record 4B completion, the parity lesson, and the confirmation run
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: H3 joint video+audio TDM config, validation set, and smoke test
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
  examples/train/configs/distribution_matching/tdm_h3_overfit_validation.json
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/test_tdm_h3_config_smoke.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record 4C completion and the H3 asset findings
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: point the H3 TDM gate at the 4-row replica and record the smoke
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[feat]: H3 TDM gate runner and the launched run record
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/k8s/run_h3_tdm_gate.sh
Due: none

[fix]: point the H3 TDM config at the complete model overlay and record the validation blocker
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[docs]: record the drifting-workstream H3 model-view findings
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the in-process H3 validation blocker for 4D
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
  tests/local_tests/tdm/k8s/run_h3_tdm_gate.sh
Due: none

[fix]: validate once at the final H3 gate step to avoid the stream-state crash
  .agents/handoffs/tdm-port-handoff.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
Due: none

[docs]: record the H3 joint TDM gate pass
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: wire H3 video-sparse attention into the TDM training path
  .agents/handoffs/tdm-port-handoff.md
  fastvideo/train/models/minimax_h3/minimax_h3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record the GPU-allocation blocker for the 4E VSA smoke
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the capacity sweep results for the 4E smoke
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: note that the image pull completed and the pod is now capacity-bound
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: record the end of the pod monitoring window
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: cast Q/K/V to bf16 at the VSA-H3 tile-64 Triton kernel boundary
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record the 4E dtype fix and the VSA memory wall
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: Slurm runner for the H3 TDM VSA job and the workflow handoff
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/slurm/h3_tdm_vsa.sbatch
Due: none

[feat]: working Slurm launch path and the VSA smoke result
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/slurm/h3_tdm_vsa.sbatch
  tests/local_tests/tdm/slurm/h3_tdm_vsa_run.sh
  tests/local_tests/tdm/slurm/launch_h3_tdm_vsa.sh
Due: none

[feat]: H3 VSA gate and the same-geometry dense control (4E complete)
  .agents/handoffs/tdm-port-handoff.md
  tests/local_tests/tdm/slurm/h3_tdm_vsa_run.sh
  tests/local_tests/tdm/slurm/launch_h3_tdm_vsa.sh
Due: none

[docs]: document H3 joint video+audio TDM, VSA, and the Slurm validation path
  docs/training/train_infra.md
  tests/local_tests/tdm/README.md
Due: none

[docs]: add the TDM warmup and step-ladder parameters to the method table
  docs/training/train_infra.md
Due: none

[docs]: record the Phase 5 docs work and the pre-commit limitation
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: method.tdm_vsa_apply_to so sparse attention can cover critic and teacher
  .agents/handoffs/tdm-port-handoff.md
  docs/training/train_infra.md
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: invoke the Slurm payload via bash so re-staged trees need no exec bit
  tests/local_tests/tdm/slurm/launch_h3_tdm_vsa.sh
Due: none

[docs]: complete the H3 VSA quality matrix at 480x832
  .agents/handoffs/tdm-port-handoff.md
  docs/training/train_infra.md
Due: none

[fix]: decode H3 validation media on every data-parallel rank
  .agents/handoffs/tdm-port-handoff.md
  docs/training/train_infra.md
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: consolidate the TDM + H3 port summary for the first PR
  .agents/handoffs/tdm-port-handoff.md
Due: none

[misc]: record TDM port PR-preparation resume
  .agents/handoffs/tdm-port-handoff.md
Due: none

[misc]: record pre-commit environment blocker
  .agents/handoffs/tdm-port-handoff.md
Due: none

[misc]: record pre-commit gate results
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: address TDM review findings
  fastvideo/tests/ssim/test_wan_i2v_similarity.py
  fastvideo/tests/ssim/test_wan_t2v_similarity.py
  fastvideo/train/methods/distribution_matching/tdm.py
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 1 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: harden TDM Wan validation-shift guard
  fastvideo/tests/ssim/test_wan_i2v_similarity.py
  fastvideo/tests/ssim/test_wan_t2v_similarity.py
  fastvideo/tests/train/methods/test_tdm_config_path.py
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 2 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: preserve legacy DMD scheduler-space default for non-TDM validation
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_fixed_recipe.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_overfit.yaml
  fastvideo/configs/pipelines/base.py
  fastvideo/tests/stages/_denoising_fixtures.py
  fastvideo/tests/stages/test_wan_dmd_denoising.py
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
