Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

handle yapf and ruff issues
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/data_collator_qwen.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/pairwise_dataset.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/utils.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/inference.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/differentiable_image_processor.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/qwen2vl_trainer.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/train.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/parser.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/training_utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/data.py
  fastvideo/train/methods/rl/reward/VideoAlign/inference.py
  fastvideo/train/methods/rl/reward/VideoAlign/train_reward.py
  fastvideo/train/methods/rl/reward/VideoAlign/trainer.py
  fastvideo/train/methods/rl/reward/VideoAlign/utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/vision_process.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix mypy issues in RL integration files
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/utils/data.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix mypy issues for vendored reward runtimes
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

document vendored reward runtimes in agent memory
  .agents/memory/codebase-map/README.md
Due: none

[refactor]: linear/mlp FP4 path additions for Wan-2.1 (Attn-QAT 6/12) (#1390)
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/tests/layers/test_linear_mlp_quant_gating.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: prune MatrixGame2 registry extras
  examples/train/configs/distribution_matching/wan/streaming_long_tuning_causal_t2v.yaml
  examples/train/validation_files/validation_8_t2v.json
  fastvideo/registry.py
  fastvideo/tests/api/test_matrixgame2_registry.py
  fastvideo/tests/eval/test_optical_flow_calibration.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] EMA shadow on resume and EMA under MoE path (#1441)
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/self_forcing_distillation_pipeline.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] add NVIDIA DGX Spark (GB10) install guide
  README.md
  docs/getting_started/installation.md
  docs/getting_started/installation/spark.md
Due: none

[fix] address bot review on #1426
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/modal/_cachedit_ab_inner.py
  fastvideo/tests/modal/cachedit_ab.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] optional cache-dit step caching for the Wan DiT
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/denoising.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test] Modal A/B harness for cache-dit step caching
  fastvideo/tests/modal/_cachedit_ab_inner.py
  fastvideo/tests/modal/cachedit_ab.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] classify new cachedit_* args in schema-parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[bugfix]: drop redundant latents kwarg colliding with SamplingParam.latents (#1349)
  fastvideo/train/callbacks/validation.py
  fastvideo/training/matrixgame2_ar_diffusion_pipeline.py
  fastvideo/training/matrixgame2_ode_causal_pipeline.py
  fastvideo/training/matrixgame2_self_forcing_distillation_pipeline.py
  fastvideo/training/matrixgame2_training_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
  fastvideo/training/wan_i2v_training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

long tuning for mg2
  examples/train/scenario/worldmodel/README.md
  examples/train/scenario/worldmodel/self_forcing_causal_i2v_zelda.yaml
  examples/train/scenario/worldmodel/streaming_long_tuning_causal_i2v.yaml
  fastvideo/configs/pipelines/matrixgame2.py
  fastvideo/models/dits/matrixgame2/action_module.py
  fastvideo/models/dits/matrixgame2/causal_model.py
  fastvideo/models/dits/matrixgame2/utils.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/distribution_matching/streaming_long_tuning.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: rename worldmodel flow calibration
  assets/eval/worldmodel_synthetic_flow_calibration.json
  examples/train/scenario/worldmodel/self_forcing_causal_i2v.yaml
  examples/train/scenario/worldmodel/self_forcing_causal_i2v_zelda.yaml
  examples/train/scenario/worldmodel/streaming_long_tuning_causal_i2v.yaml
  fastvideo/eval/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

registry
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: release VSA tile cache during training (#1434)
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/train/models/wan/wan.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply Lucy Edit pre-commit formatting
  fastvideo/configs/pipelines/wan.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add Lucy Edit inference scaffold (#1363)
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  examples/inference/basic/basic_lucy_edit.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/pipelines/basic/wan/lucy_edit_pipeline.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/registry.py
  fastvideo/tests/api/test_lucy_edit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

long tuning
  docs/training/train_infra.md
  examples/train/scenario/worldmodel/README.md
  examples/train/scenario/worldmodel/self_forcing_causal_i2v_zelda.yaml
  examples/train/scenario/worldmodel/streaming_long_tuning_causal_i2v.yaml
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/tests/train/methods/test_streaming_long_tuning.py
  fastvideo/train/methods/distribution_matching/streaming_long_tuning.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: make VSA tile cache configurable for training
  examples/train/configs/example.yaml
  fastvideo/fastvideo_args.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix fir transformer 5.10.2
  fastvideo/pipelines/basic/glm_image/stages/before_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] LTX-2.3 distilled i2v: drop max-autotune from compile kwargs
  examples/inference/basic/basic_ltx2_3_distilled_i2v.py
Due: none

[bugfix]: classify new Flux2/sampling fields in schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

add test for validation during train
  fastvideo/tests/train/test_trainer_validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

revert MG self forcing orig
  examples/train/scenario/worldmodel/self_forcing_causal_i2v.yaml
Due: none

cleanup
  examples/inference/basic/basic_ovis_image.py
  fastvideo/configs/models/dits/ovisimage.py
  fastvideo/configs/pipelines/ovis_image.py
  fastvideo/models/dits/ovisimage.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/pipelines/stages/timestep_preparation.py
  fastvideo/tests/ssim/test_ovis_image_similarity.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/pipelines/basic/ovis_image/ovis_image_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/stages/waypoint_stages.py
  fastvideo/tests/ssim/test_waypoint_similarity.py
  tests/local_tests/waypoint/test_waypoint_kv_cache_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] LTX-2.3 distilled i2v: typed-API example (from_config + generate)
  examples/inference/basic/basic_ltx2_3_distilled_i2v_typed.py
Due: none

cleanup
  examples/inference/basic/basic_waypoint.py
  fastvideo/api/waypoint.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/tests/ssim/test_waypoint_similarity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] LTX-2.3 distilled i2v: drop max-autotune from compile kwargs (#1445)
  examples/inference/basic/basic_ltx2_3_distilled_i2v.py
Due: none

[docs] LTX-2.3 distilled i2v: typed-API example (from_config + generate) (#1448)
  examples/inference/basic/basic_ltx2_3_distilled_i2v_typed.py
Due: none

update keyward scale
  examples/train/scenario/worldmodel/self_forcing_causal_i2v_zelda.yaml
  examples/train/scenario/worldmodel/streaming_long_tuning_causal_i2v.yaml
  fastvideo/configs/pipelines/matrixgame2.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/models/matrixgame2/matrixgame2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Classify new config/sampling fields in schema parity inventory (#1446)
  docs/design/inference_schema_parity_inventory.yaml
Due: none

add data mix logic
  docs/training/train_infra.md
  examples/train/scenario/worldmodel/README.md
  fastvideo/dataset/parquet_dataset_map_style.py
  fastvideo/tests/dataset/test_parquet_dataset_map_style.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add Hugging Face kernel hub packaging
  .github/workflows/publish-fastvideo-kernel-hub.yml
  fastvideo-kernel/CARD.md
  fastvideo-kernel/README.md
  fastvideo-kernel/build.toml
  fastvideo-kernel/csrc/turbodiffusion/gemm/gemm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/layernorm.cu
  fastvideo-kernel/csrc/turbodiffusion/norm/rmsnorm.cu
  fastvideo-kernel/csrc/turbodiffusion/quant/quant.cu
  fastvideo-kernel/example.py
  fastvideo-kernel/flake.nix
  fastvideo-kernel/torch-ext/fastvideo_kernel/__init__.py
  fastvideo-kernel/torch-ext/torch_binding.cpp
  fastvideo-kernel/torch-ext/torch_binding.h
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
