Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[test] [7.7/n] Improve API: prompt enhancer + provider coverage
  fastvideo/tests/entrypoints/streaming/test_prompt_enhancer.py
  fastvideo/tests/entrypoints/streaming/test_prompt_providers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.7/n] Improve API: prompt enhancer with LLMProvider abstraction
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/prompt/__init__.py
  fastvideo/entrypoints/streaming/prompt/enhancer.py
  fastvideo/entrypoints/streaming/prompt/providers/__init__.py
  fastvideo/entrypoints/streaming/prompt/providers/base.py
  fastvideo/entrypoints/streaming/prompt/providers/cerebras.py
  fastvideo/entrypoints/streaming/prompt/providers/groq.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: extract encode_negative_prompt helper
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/negative_prompt.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(streaming): prompt enhancer + provider review follow-ups
  fastvideo/entrypoints/streaming/prompt/enhancer.py
  fastvideo/entrypoints/streaming/prompt/providers/_openai_compat.py
  fastvideo/entrypoints/streaming/prompt/providers/base.py
  fastvideo/entrypoints/streaming/prompt/providers/cerebras.py
  fastvideo/entrypoints/streaming/prompt/providers/groq.py
  fastvideo/tests/entrypoints/streaming/test_prompt_enhancer.py
  fastvideo/tests/entrypoints/streaming/test_prompt_providers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Stable Audio Tier-1 features: A2A, RePaint inpainting, small variant
  .agents/skills/add-model/REVIEW.md
  examples/inference/basic/basic_stable_audio.py
  examples/inference/basic/basic_stable_audio_a2a.py
  examples/inference/basic/basic_stable_audio_inpaint.py
  examples/inference/basic/basic_stable_audio_small.py
  fastvideo/api/sampling_param.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/registry.py
  tests/local_tests/pipelines/test_stable_audio_a2a_parity.py
  tests/local_tests/pipelines/test_stable_audio_inpaint_parity.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: clarify real_score_guidance_scale CFG parameterization (#1256)
  docs/distillation/dmd.md
  fastvideo/fastvideo_args.py
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.8/n] Improve API: streaming auxiliaries (safety, rewrite, logger, mock)
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/mock_server.py
  fastvideo/entrypoints/streaming/prompt/rewrite.py
  fastvideo/entrypoints/streaming/prompt/safety.py
  fastvideo/entrypoints/streaming/session_logger.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test] [7.8/n] Improve API: streaming auxiliaries coverage
  fastvideo/tests/entrypoints/streaming/test_auxiliaries.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] [7.9/n] Improve API: router registry + health loop + WS rejection coverage
  fastvideo/tests/entrypoints/streaming/test_router.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.9/n] Improve API: streaming router (multi-replica load balancer)
  fastvideo/entrypoints/streaming/router/__init__.py
  fastvideo/entrypoints/streaming/router/config.py
  fastvideo/entrypoints/streaming/router/main.py
  fastvideo/entrypoints/streaming/router/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.9/n] Improve API: fastvideo router-serve CLI
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/router_serve.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.10/n] Improve API: VideoEvent hierarchy + VideoResult alias
  fastvideo/api/__init__.py
  fastvideo/api/results.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [7.10/n] Improve API: VideoGenerator.generate_async + health helper
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] [7.10/n] Improve API: generate_async coverage + refreshed streaming test
  fastvideo/tests/contract/test_generate_async.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: guard Cosmos 2.5 ensure_negative_conditioning against training_cfg_rate>0
  fastvideo/train/models/cosmos/cosmos.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] StableAudioPipeline: surface T2A/A2A/inpaint modes + loud-fail validation
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] [8/n] Improve API: OpenAI HTTP contract reference
  docs/design/server_contracts/index.md
  docs/design/server_contracts/openai.md
Due: none

[docs] [8/n] Improve API: Dynamo native-backend integration reference
  docs/design/server_contracts/dynamo.md
  mkdocs.yml
Due: none

[test] [8/n] Improve API: contract tests for Dreamverse + Dynamo shapes
  fastvideo/tests/contract/__init__.py
  fastvideo/tests/contract/test_dreamverse_shape.py
  fastvideo/tests/contract/test_dynamo_shape.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Apply /simplify findings to Stable Audio pipeline
  fastvideo/models/vaes/sa_audio.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
  tests/local_tests/pipelines/test_stable_audio_a2a_parity.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(quantization): upstream LTX-2 FP4Config with lazy flashinfer
  fastvideo/layers/quantization/fp4_config.py
  fastvideo/tests/ops/quantization/test_fp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Fix buildkite agent annotate and upload
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/performance/dashboard.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bug] Fix modal remote functions crash container on sys.exit(0) during PR tests
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore] Revert .gitignore — local stable-audio-tools clone shouldn't leak
  .gitignore
Due: none

[chore] Drop unused stable_audio_upstream stub helper
  tests/local_tests/helpers/__init__.py
  tests/local_tests/helpers/stable_audio_upstream.py
  tests/local_tests/vaes/test_oobleck_vae_official_parity.py
Due: none

[chore] Trim narrative comments throughout Stable Audio code
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/models/vaes/oobleck.py
  fastvideo/models/vaes/sa_audio.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Add tests/local_tests/stable-audio.md repro instructions
  tests/local_tests/stable-audio.md
Due: none

[feat] SA pipeline accepts file paths for init/inpaint audio + REVIEW items
  .agents/skills/add-model/REVIEW.md
  examples/inference/basic/basic_stable_audio_a2a.py
  examples/inference/basic/basic_stable_audio_inpaint.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Refactor pr_test.sh post run hooks
  .buildkite/scripts/pr_test.sh
Due: none

feat(ltx2): port LTX-2 SR runtime — upsampler, refine stages, refine args
  fastvideo/fastvideo_args.py
  fastvideo/models/upsamplers/__init__.py
  fastvideo/models/upsamplers/ltx2_upsampler.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_image_conditioning.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_refine.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Expand basic_stable_audio_a2a.py with init_noise_level guide
  examples/inference/basic/basic_stable_audio_a2a.py
Due: none

[docs] Recalibrate init_noise_level guide for SA Open 1.0 cross-instrument swap
  examples/inference/basic/basic_stable_audio_a2a.py
Due: none

[bugfix]: harden LongCat self-forcing training path
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] SA A2A: add `init_audio_strength` (community 0..1 convention)
  examples/inference/basic/basic_stable_audio_a2a.py
  fastvideo/api/sampling_param.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/pipeline_batch_info.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(ltx2): wire SR pipeline graph + port denoising/latent-prep stages
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/stages/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test(ltx2-sr): add numerical alignment harness — public vs internal
  scripts/ltx2_sr_alignment.py
Due: none

fix(ltx2-sr): close port gaps surfaced by alignment harness retries
  fastvideo/configs/models/vaes/base.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  scripts/ltx2_sr_alignment.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
