Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc]: record Stage 3 round 3 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: expose dmd scheduler-space flag on the pipeline CLI
  fastvideo/configs/pipelines/base.py
  fastvideo/tests/stages/test_wan_dmd_denoising.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 4 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: guard VSA-H3 compile log and document Wan TDM shift opt-out
  docs/training/train_infra.md
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 5 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[docs]: clarify TDM Huber labels and drop redundant Wan DMD override
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_fixed_recipe.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_overfit.yaml
  fastvideo/models/wan/pipeline_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 6 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[fix]: sample H3 TDM validation on the trained ladder
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/overfit_minimax_h3_t2va_tdm.yaml
  fastvideo/tests/train/methods/test_tdm_h3_config_path.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record Stage 3 round 7 adjudication
  .agents/handoffs/tdm-port-handoff.md
Due: none

[misc]: record Stage 3 round 8 review closure
  .agents/handoffs/tdm-port-handoff.md
Due: none

[style]: apply yapf formatting to TDM shift guard
  fastvideo/train/methods/distribution_matching/tdm.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record final pre-PR gate pass and draft PR preparation
  .agents/handoffs/tdm-port-handoff.md
Due: none

[misc]: retire TDM port handoff before PR
  .agents/handoffs/tdm-port-handoff.md
Due: none

[bugfix]: resolve warped TDM context labels on the scheduler grid
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: save the final training step after validation
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: separate the TDM baseline config from the validated recipe
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
Due: none

[docs]: clarify that an empty tracker list auto-selects W&B
  docs/training/train_infra.md
Due: none

[bugfix]: persist the terminal checkpoint when final validation aborts
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: give the Wan fixed-recipe run a distinct tracker name
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_fixed_recipe.yaml
Due: none

[docs] Add OpenAI serving recipes for Wan cookbook pages
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
  fastvideo/entrypoints/openai/static/playground.html
  fastvideo/entrypoints/openai/static/playground.js
  tests/local_tests/test_cookbook_serving.py
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] State that the Wan TI2V server walkthrough is text-only
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  tests/local_tests/test_cookbook_serving.py
Due: none

[feat]: add PDD fused-head primitives and widened MiniMax-H3 output heads
  .buildkite/scripts/unit_test.sh
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/layers/pdd.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/tests/layers/test_pdd_linear.py
  fastvideo/tests/loader/test_minimax_h3_pdd_loading.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: sample FastH3 Ref2VA PDD exports with reference-video VSA regions
  .buildkite/scripts/unit_test.sh
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: add a FastH3 OmniRef PDD Ref2VA example and inference guide
  docs/inference/fasth3-distilled.md
  docs/inference/support_matrix.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3_omniref_pdd.py
Due: none

[docs] Avoid claiming every cookbook server keeps the model loaded
  docs/assets/cookbook.js
Due: none

[misc]: log the Ref2VA VSA region layout and add a GPU tile-128 oracle test
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: note measured GB200 time and memory for FastH3 Ref2VA PDD students
  docs/inference/fasth3-distilled.md
Due: none

[bugfix]: fail early when a FastH3 PDD export runs without VIDEO_SPARSE_ATTN_H3
  docs/inference/fasth3-distilled.md
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: keep the Ref2VA reference keep rate in (0, 1) and use the P2 policy constant
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: check VSA-H3 single-region geometry against the pre-refactor implementation
  .buildkite/scripts/unit_test.sh
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: check the GPU up front and shard the DiT across GPUs in the FastH3 OmniRef PDD example
  .buildkite/scripts/unit_test.sh
  docs/inference/fasth3-distilled.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] sm_100a CLC scheduler: sync the warp before the elected lane releases the response slot
  fastvideo-kernel/csrc/attention/primitives.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] sm_100a CLC scheduler: drop the proxy fence before the response load
  fastvideo-kernel/csrc/attention/primitives.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[misc]: report generation time and peak GPU memory in the FastH3 OmniRef PDD example
  examples/inference/basic/basic_fasth3_omniref_pdd.py
Due: none

[docs]: update the GB200 numbers for FastH3 Ref2VA PDD students with a sharded DiT
  docs/inference/fasth3-distilled.md
Due: none

[test] sm_100a VSA forward: CLC scheduler under slot reuse, plus source guards for the CLC fence and the PV descriptor
  fastvideo-kernel/tests/test_block_sparse_sm100a_clc.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test] sm_100a VSA CLC test: drop the source guards, keep the GPU test
  fastvideo-kernel/tests/test_block_sparse_sm100a_clc.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[doc] sm_100a VSA sources: drop the "generated, do not edit by hand" banner lines
  fastvideo-kernel/csrc/attention/block_sparse_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/primitives.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: restore the NVFP4 module after test_nvfp4_config re-imports it
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fixed the MiniMax-H3 pin-fallback decode test setup
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
