Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc] cleanup: grad-norm asserts, dead offload file, callback names
  fastvideo/models/layerwise_offload.py
  fastvideo/train/callbacks/callback.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] apply yapf formatting
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Stable Audio: defer small variant + decouple audio from return_frames + validate duration
  examples/inference/basic/basic_stable_audio_small.py
  fastvideo/api/results.py
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/registry.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Stable Audio: address PR review nits
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/models/vaes/oobleck.py
  fastvideo/models/vaes/sa_audio.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
Due: Encoder Tests, VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Apply /simplify findings to SA review fixes
  fastvideo/models/vaes/oobleck.py
  fastvideo/models/vaes/sa_audio.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/utils.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Stable Audio: 8-divisible preset placeholders + require inpaint reference
  examples/inference/basic/basic_stable_audio_inpaint.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Stable Audio: emit standalone .wav for audio-only workloads
  examples/inference/basic/basic_stable_audio.py
  examples/inference/basic/basic_stable_audio_a2a.py
  examples/inference/basic/basic_stable_audio_inpaint.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Apply /simplify findings to audio-only WAV path
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Cosmos 2.5 training support in fastvideo.train (#1224)
  examples/train/configs/fine_tuning/cosmos/t2v.yaml
  examples/train/configs/overfit_cosmos25_t2w.yaml
  fastvideo/configs/models/base.py
  fastvideo/configs/models/dits/cosmos.py
  fastvideo/models/dits/cosmos.py
  fastvideo/pipelines/basic/cosmos/cosmos_pipeline.py
  fastvideo/pipelines/preprocess/preprocess_cosmos25_overfit.py
  fastvideo/pipelines/preprocess/preprocess_cosmos_overfit.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/models/cosmos/__init__.py
  fastvideo/train/models/cosmos/cosmos.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Stable Audio: match official's fp16 dtype + enable FlashAttention
  fastvideo/configs/models/vaes/oobleck.py
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
Due: Encoder Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Stable Audio DiT: track config in fastvideo/configs/models/dits
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/stable_audio.py
  fastvideo/models/dits/stable_audio.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Stable Audio conditioner: track config in fastvideo/configs/models/encoders
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/stable_audio_conditioner.py
  fastvideo/models/encoders/stable_audio_conditioner.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Apply /simplify findings to SA config refactors
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Stable Audio: monolithic → Diffusers-format conversion script
  scripts/checkpoint_conversion/stable_audio_to_diffusers.py
Due: none

[refactor] Stable Audio: load from converted Diffusers-format repo
  examples/inference/basic/basic_stable_audio.py
  examples/inference/basic/basic_stable_audio_a2a.py
  examples/inference/basic/basic_stable_audio_inpaint.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/stable_audio_to_diffusers.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Stable Audio: drop custom load_modules, use standard component loader
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/oobleck.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
  scripts/checkpoint_conversion/stable_audio_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Stable Audio: register and load `stable-audio-open-small`
  examples/inference/basic/basic_stable_audio_small.py
  fastvideo/configs/models/dits/stable_audio.py
  fastvideo/configs/models/encoders/stable_audio_conditioner.py
  fastvideo/configs/pipelines/stable_audio.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/stable_audio/presets.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/stable_audio_to_diffusers.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_smoke.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Stable Audio parity tests: load FastVideo from converted Diffusers repo
  tests/local_tests/pipelines/test_stable_audio_a2a_parity.py
  tests/local_tests/pipelines/test_stable_audio_inpaint_parity.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_parity.py
Due: none

[refactor] Apply /simplify findings to SA config refactors
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/encoders/stable_audio_conditioner.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
  fastvideo/registry.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Stable Audio registry: drop unloadable upstream HF path
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Stable Audio: address PR review fixes
  examples/inference/basic/basic_stable_audio_inpaint.py
  fastvideo/models/dits/stable_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/vaes/oobleck.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  scripts/checkpoint_conversion/stable_audio_to_diffusers.py
  tests/local_tests/_stable_audio_helpers.py
  tests/local_tests/pipelines/test_stable_audio_a2a_parity.py
  tests/local_tests/pipelines/test_stable_audio_inpaint_parity.py
  tests/local_tests/pipelines/test_stable_audio_pipeline_parity.py
  tests/local_tests/vaes/test_oobleck_vae_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] add CPU unit tests for train callback system in fastvideo.train (#1267)
  fastvideo/tests/train/callbacks/__init__.py
  fastvideo/tests/train/callbacks/test_callback.py
  fastvideo/tests/train/callbacks/test_ema.py
  fastvideo/tests/train/callbacks/test_grad_clip.py
  fastvideo/tests/train/callbacks/test_validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cleanup: grad-norm asserts, dead offload file, callback names (#1268)
  fastvideo/models/layerwise_offload.py
  fastvideo/train/callbacks/callback.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] tests/local_tests: drop PORT_STATUS.md for finished families
  tests/README.md
  tests/local_tests/README.md
  tests/local_tests/gamecraft/PORT_STATUS.md
  tests/local_tests/gamecraft/README.md
  tests/local_tests/gen3c/PORT_STATUS.md
  tests/local_tests/gen3c/README.md
  tests/local_tests/kandinsky5/PORT_STATUS.md
  tests/local_tests/kandinsky5/README.md
  tests/local_tests/ltx2/PORT_STATUS.md
  tests/local_tests/ltx2/README.md
  tests/local_tests/sd35/PORT_STATUS.md
  tests/local_tests/sd35/README.md
  tests/local_tests/stable_audio/PORT_STATUS.md
  tests/local_tests/wan22/PORT_STATUS.md
  tests/local_tests/wan22/README.md
Due: none

LTX_2 Works
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/latent_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update regression gatekeep to 5%
  fastvideo/tests/performance/compare_baseline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: add stable_audio latent regression test
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/tests/ssim/test_stable_audio_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address PR #1253 review (latent regression infra)
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/ssim/latent_similarity_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: install stable_audio inference deps in Modal SSIM workspace
  .agents/skills/seed-ssim-references/SKILL.md
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

skill draft
  .agents/skills/index.jsonl
Due: none

[feat] Port daVinci-MagiHuman base model with AV output
  .gitignore
  examples/inference/basic/basic_magi_human.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/magi_human.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/sa_audio.py
  fastvideo/configs/models/encoders/t5gemma.py
  fastvideo/models/dits/magi_human.py
  fastvideo/models/encoders/sa_audio.py
  fastvideo/models/encoders/t5gemma.py
  fastvideo/pipelines/basic/magi_human/__init__.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/__init__.py
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_magi_human_similarity.py
  pyproject.toml
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  scripts/checkpoint_conversion/push_magi_human_to_hf.py
  tests/local_tests/helpers/magi_human_upstream.py
  tests/local_tests/magi_human/__init__.py
  tests/local_tests/magi_human/test_magi_human_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_sa_audio_parity.py
  tests/local_tests/magi_human/test_magi_human_t5gemma_parity.py
  tests/local_tests/magi_human/test_magi_human_vae_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[refactor] magi: T2V→base rename + faithful parity tests
  examples/inference/basic/basic_magi_human.py
  fastvideo/configs/models/dits/magi_human.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_magi_human_similarity.py
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_vae_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: drop double-shift in MagiHuman scheduler init
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: principled bf16+CFG bounds for MagiHuman pipeline parity
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: none

[misc]: name upstream constants in MagiHuman audio decoding
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: cache RoPE+masks+kv_repeat in MagiHuman DiT forward
  fastvideo/models/dits/magi_human.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human: defer audio VAE to main's stable-audio infra
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/sa_audio.py
  fastvideo/models/encoders/sa_audio.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  tests/local_tests/magi_human/test_magi_human_sa_audio_parity.py
Due: Encoder Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
