Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc]: empty __init__.py files with no logic (#1346)
  fastvideo/entrypoints/openai/__init__.py
  fastvideo/pipelines/basic/__init__.py
  fastvideo/pipelines/basic/gamecraft/__init__.py
  fastvideo/pipelines/basic/hyworld/__init__.py
  fastvideo/pipelines/basic/lingbotworld/__init__.py
  fastvideo/pipelines/basic/stable_audio/__init__.py
  fastvideo/pipelines/training/__init__.py
  fastvideo/tests/api/__init__.py
  fastvideo/tests/entrypoints/streaming/__init__.py
  fastvideo/tests/ssim/__init__.py
  fastvideo/tests/train/callbacks/__init__.py
  fastvideo/third_party/longcat_video/block_sparse_attention/__init__.py
  fastvideo/train/entrypoint/__init__.py
  fastvideo/train/models/__init__.py
  fastvideo/train/utils/__init__.py
  tests/local_tests/gamecraft/__init__.py
  tests/local_tests/gen3c/__init__.py
  tests/local_tests/kandinsky5/__init__.py
  tests/local_tests/ltx2/__init__.py
  tests/local_tests/sd35/__init__.py
  tests/local_tests/stable_audio/__init__.py
  tests/local_tests/wan22/__init__.py
  ui/__init__.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: port flux2 VAE components native (#1345)
  fastvideo/models/vaes/flux2_components.py
  fastvideo/models/vaes/flux2vae.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: port flux2 DiT diffusers numerical layers to FastVideo-native (#1345)
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add flux2 pipeline smoke test (#1345)
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/stages/image_encoding.py
  tests/local_tests/pipelines/__init__.py
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Add LTX2 fields to ForwardBatch
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/api/test_extra_overrides_routing.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Preserve legacy generate_video kwargs
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add flux2 pipeline parity test scaffold (#1345)
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
Due: none

[docs]: flux2 README — document new pipeline tests + activated DiT parity (#1345)
  tests/local_tests/flux2/README.md
  tests/local_tests/flux2/test_flux2_component_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
Due: none

[misc]: PR-1225 sync — housekeeping (docs, lint, example tweaks)
  .codex
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/overview.md
  docs/inference/inference_quick_start.md
  docs/utilities/debugging.md
  examples/distill/SFWan2.2-A14B/distill_dmd.sh
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/README.md
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/download_dataset.sh
  mkdocs.yml
Due: none

[misc]: drop .codex marker from housekeeping slice (1/12)
  .codex
Due: none

[misc]: PR-1225 sync — housekeeping (1/12) (#1347)
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/overview.md
  docs/inference/inference_quick_start.md
  docs/utilities/debugging.md
  examples/distill/SFWan2.2-A14B/distill_dmd.sh
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/README.md
  examples/distill/Wan2.1-T2V/Wan-Syn-Data-480P/download_dataset.sh
  mkdocs.yml
Due: none

[feat] eval: async VideoPool + metric streamlines (#1320)
  examples/inference/eval/eval_ltx2_vbench.py
  fastvideo/entrypoints/cli/eval.py
  fastvideo/eval/__init__.py
  fastvideo/eval/evaluator.py
  fastvideo/eval/io/paths.py
  fastvideo/eval/metrics/base.py
  fastvideo/eval/metrics/common/lpips/metric.py
  fastvideo/eval/metrics/common/psnr/metric.py
  fastvideo/eval/metrics/common/ssim/metric.py
  fastvideo/eval/metrics/optical_flow/_shared.py
  fastvideo/eval/metrics/optical_flow/gt_optical_flow/metric.py
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/metric.py
  fastvideo/eval/metrics/physics_iq/metric.py
  fastvideo/eval/metrics/physics_iq/mse/metric.py
  fastvideo/eval/metrics/physics_iq/spatial_iou/metric.py
  fastvideo/eval/metrics/physics_iq/spatiotemporal_iou/metric.py
  fastvideo/eval/metrics/physics_iq/utils.py
  fastvideo/eval/metrics/physics_iq/weighted_spatial_iou/metric.py
  fastvideo/eval/metrics/vbench/appearance_style/metric.py
  fastvideo/eval/metrics/vbench/color/metric.py
  fastvideo/eval/metrics/vbench/human_action/metric.py
  fastvideo/eval/metrics/vbench/multiple_objects/metric.py
  fastvideo/eval/metrics/vbench/object_class/metric.py
  fastvideo/eval/metrics/vbench/overall_consistency/metric.py
  fastvideo/eval/metrics/vbench/scene/metric.py
  fastvideo/eval/metrics/vbench/spatial_relationship/metric.py
  fastvideo/eval/pool.py
  fastvideo/eval/types.py
  fastvideo/eval/worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

wrap forward call
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

readme
  fastvideo/models/dits/flux_2.py
  tests/local_tests/flux2/README.md
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

alignment
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

PR final changes
  fastvideo/pipelines/basic/flux_2/presets.py
  fastvideo/registry.py
  scripts/inference/inference_flux2_klein.yaml
  tests/local_tests/flux2/README.md
  tests/local_tests/flux2/__init__.py
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

loading issues
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

breakpoint
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

remove padding
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

Add Flux2 image generation pipeline
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen3.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/layers/layernorm.py
  fastvideo/layers/rotary_embedding.py
  fastvideo/models/dits/flux_2.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/flux2vae.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_klein_pipeline.py
  fastvideo/pipelines/basic/flux_2/flux_2_latent_preparation.py
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/basic/flux_2/flux_2_timestep_preparation.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/registry.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

weight loading
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

input shape change
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

pooled proj
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

arg
  tests/local_tests/flux2/test_flux2_component_parity.py
Due: none

[test] Align SD35 SSIM negative prompt
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Pin LTX2 SSIM guidance defaults
  .agents/memory/dreamverse-integration/open-threads.md
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

small fix
  fastvideo/pipelines/basic/wan/wan_svi_i2v_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

align scheduler
  fastvideo/pipelines/basic/wan/wan_svi_i2v_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Dreamverse 10/14: Add serving API contracts (#1333)
  .agents/memory/dreamverse-integration/open-threads.md
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/server_contracts/dynamo.md
  docs/design/server_contracts/index.md
  docs/design/server_contracts/openai.md
  fastvideo/api/__init__.py
  fastvideo/api/compat.py
  fastvideo/api/results.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/health.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/api/test_extra_overrides_routing.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/contract/__init__.py
  fastvideo/tests/contract/test_dreamverse_shape.py
  fastvideo/tests/contract/test_dynamo_shape.py
  fastvideo/tests/contract/test_generate_async.py
  fastvideo/tests/entrypoints/streaming/test_health_routes.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra] Add NVFP4 quantization support
  fastvideo/configs/models/vaes/base.py
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/tests/api/test_typed_quant_flow.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_ltx2_wiring.py
  pyproject.toml
  uv.lock
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[infra] Remove stale uv lockfile
  uv.lock
Due: none

[feat]: add Flash Attention 4 (vsapad) submodule for CuTe BSA
  .gitmodules
Due: none

[feat]: CuTe-DSL block-sparse attention forward wrapper
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[feat]: VSA-256 fastpath with backend auto-dispatch by block_elements
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_256.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA
