Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix]: Reject empty image parameters
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/tests/entrypoints/test_image_response_format_validation.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: register FastH3 single-GPU switches in fastvideo.envs
  docs/contributing/env_vars.md
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/envs.py
  fastvideo/hooks/layerwise_offload.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_vsa_fp4.py
  fastvideo/models/encoders/minimax_h3_checkpoint_nvfp4.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/vaes/minimax_h3_int8_convrot.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/encoders/test_minimax_h3_encoder_layerwise.py
  fastvideo/tests/hooks/test_pinned_memory.py
  fastvideo/tests/ssim/.reference_videos_download.lock
  fastvideo/tests/stages/test_minimax_h3_sequential_start.py
  fastvideo/tests/transformers/test_minimax_h3_tile_first.py
  fastvideo/tests/vaes/test_minimax_h3_int8_shared.py
  fastvideo/worker/gpu_worker.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: NVFP4 H3 encoder tests follow the pre-Blackwell de-quantized fallback
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_checkpoint_nvfp4.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: drop the os imports layerwise offload no longer uses
  fastvideo/hooks/layerwise_offload.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Prevent ParquetDatasetWriter from overwriting shards across flushes
  fastvideo/dataset/dataloader/parquet_io.py
  fastvideo/tests/dataset/test_parquet_io.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: FP4 VSA path stays compatible with fastvideo-kernel releases that predate validate=
  fastvideo/models/dits/minimax_h3_vsa_fp4.py
  scripts/benchmarks/minimax_h3_pro6000/app.py
  scripts/benchmarks/minimax_h3_pro6000/bench_headline.py
  scripts/benchmarks/minimax_h3_pro6000/showcase_prompts.json
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: explain calibrated and reproducible Spark NVFP4 inference
  docs/getting_started/installation/spark_performance.md
Due: none

[feat]: support scaled native H3 floating quantization
  fastvideo/mlx_runtime/fastwan.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/tests/test_minimax_h3_fp8_checkpoint.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: trim MLX H3 conditioner to required layers
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: update MLX fast-spatial stubs for model_root and decode tile arguments
  fastvideo/tests/mlx/test_mlx_minimax_h3_fast_spatial.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: verify rank-16 H3 modulation and cache reload
  fastvideo/mlx_runtime/tests/test_minimax_h3_rank16_adaln.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: parallelize H3 SIMD softmax across four lanes
  fastvideo/mlx_runtime/minimax_h3_vsa_simd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: support pruned FastH3 AdaLN in MLX
  fastvideo/mlx_runtime/minimax_h3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: benchmark resident FastH3 Spark recipe
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/benchmark_fasth3_spark_nvfp4.py
Due: none

[bugfix]: preserve H3 release helpers after main integration
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: bound MLX H3 sparse attention gather memory
  fastvideo/mlx_runtime/minimax_h3_vsa.py
  fastvideo/mlx_runtime/tests/test_minimax_h3_vsa_gather_budget.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep Spark NVFP4 fence opaque to Dynamo
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: explain H3 Metal wired-memory limits
  docs/getting_started/installation/mlx.md
Due: none

[bugfix]: retain per-stage CUDA peaks in Spark benchmarks
  examples/inference/basic/benchmark_fasth3_spark_nvfp4.py
  fastvideo/pipelines/stages/base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: one registry entry per FastH3 switch after stacking on the RTX env migration
  docs/contributing/env_vars.md
  fastvideo/envs.py
  fastvideo/tests/transformers/test_minimax_h3_tile_first.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fence NVFP4 activation quantization on DGX Spark
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add resident NVFP4 conditioning for MLX H3
  docs/getting_started/installation/mlx.md
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/mlx_runtime/tests/test_minimax_h3_resident_nvfp4.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: pin Spark benchmark environment
  docs/getting_started/installation/spark_performance.md
Due: none

[test]: update MLX H3 regression stubs for model_root and NVFP4 conditioner args
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa_regressions.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: order fresh NVFP4 global scales on DGX Spark
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: check MXFP8 H3 checkpoint round trip
  fastvideo/mlx_runtime/tests/test_minimax_h3_fp8_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add resident pruned and paired Spark recipes
  examples/inference/basic/basic_fasth3_spark_pair_pruned_nvfp4.yaml
  examples/inference/basic/basic_fasth3_spark_pair_v2_nvfp4.yaml
  examples/inference/basic/basic_fasth3_spark_pruned_nvfp4.yaml
Due: none

[docs]: add pruned FastH3 MLX conversion recipe
  docs/cookbook/minimax-h3.md
  docs/getting_started/installation/mlx.md
Due: none

[bugfix]: carry H3 performance switches to Ray workers
  docs/contributing/env_vars.md
  fastvideo/envs.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/worker/test_ray_distributed_executor.py
Due: VAE Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: enable experimental MXFP8 H3 conversion
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: none

[bugfix]: omit unused layers from single-shard MLX encoder
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
  fastvideo/mlx_runtime/tests/test_minimax_h3_resident_nvfp4.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add resident FastH3 V2 Spark recipe
  docs/getting_started/installation/spark.md
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/basic_fasth3_spark_v2_nvfp4.yaml
Due: none

[bugfix]: MLX H3 resident preload skips dropped AdaLN weights; restore the wired limit on close
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: batch 32 keys in opt-in MLX H3 sparse attention
  fastvideo/mlx_runtime/minimax_h3_vsa_simd.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa_regressions.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: cache packed H3 encoder in MLX layout
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
  fastvideo/mlx_runtime/tests/test_minimax_h3_resident_nvfp4.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: apply H3 wired residency through the MLX wired API
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_fast_mode.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: allow FP8 source for MLX H3 conversion
  fastvideo/mlx_runtime/minimax_h3.py
  scripts/checkpoint_conversion/convert_minimax_h3_mlx.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record verified Track C Spark release timings
  docs/getting_started/installation/spark_performance.md
Due: none

[bugfix]: publish the packed MLX encoder cache with one rename
  fastvideo/mlx_runtime/minimax_h3_conditioner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: Align Spark recipes with released FastH3 stacks
  docs/getting_started/installation/spark_pair.md
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/basic_fasth3_spark_pair_pruned_nvfp4.yaml
  examples/inference/basic/basic_fasth3_spark_pair_v2_nvfp4.yaml
  examples/inference/basic/basic_fasth3_spark_pruned_nvfp4.yaml
  examples/inference/basic/basic_fasth3_spark_v2_nvfp4.yaml
  examples/inference/basic/benchmark_fasth3_spark_nvfp4.py
Due: none
