Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc]: drop layernorm.py DTensor unwrap from this PR
  fastvideo/layers/layernorm.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Performance benchmark workflow
  docs/contributing/ci_architecture.md
  docs/contributing/performance_benchmarks.md
  docs/contributing/testing.md
  mkdocs.yml
Due: none

[ci] Update performance_benchmarks.md file with the latest behaviour
  docs/contributing/performance_benchmarks.md
  docs/contributing/testing.md
Due: none

[ci] Resolve env variable staleness issues.
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/dashboard.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix GenRL submodules, launch command, and PPO bookkeeping
  .gitmodules
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
  examples/train/run.sh
  examples/train/run_slurm.sh
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/sampling.py
  fastvideo/train/methods/rl/utils/sde.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: enable distributed broadcast weight loading by default
  fastvideo/models/loader/weight_utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Optimize distributed weight loading in multi-node training (#572)
  fastvideo/distributed/parallel_state.py
  fastvideo/models/loader/benchmarks/README.md
  fastvideo/models/loader/benchmarks/__init__.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading_comparison.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/weight_utils.py
  fastvideo/pipelines/training/__init__.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: use f.keys() in benchmark_weight_loading_comparison.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading_comparison.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] address #1366 review — fix invalid CLI snippet + narrow SSIM claim
  docs/inference/optimizations.md
Due: none

[perf]: address #1375 review — glob region selection + denoise span
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/profiler.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] enable TypeScript type-checking in config generator build
  consumer-guide/next.config.mjs
Due: none

feat(eval): register common.fvd — Fréchet Video Distance (I3D)
  fastvideo/eval/README.md
  fastvideo/eval/metrics/common/fvd/__init__.py
  fastvideo/eval/metrics/common/fvd/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(eval): common.fvd supports CLIP and VideoMAE extractors
  fastvideo/eval/metrics/common/fvd/extractors.py
  fastvideo/eval/metrics/common/fvd/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(examples): add eval_fvd.py — folder-level FVD via the eval API
  examples/inference/eval/eval_fvd.py
Due: none

chore: remove benchmarks/fvd — superseded by common.fvd eval metric
  benchmarks/fvd/README.md
  benchmarks/fvd/__init__.py
  benchmarks/fvd/cli.py
  benchmarks/fvd/feature_extractors.py
  benchmarks/fvd/fvd.py
  benchmarks/fvd/i3d_model.py
  benchmarks/fvd/run_fvd.py
  benchmarks/fvd/validate_fvd.py
  benchmarks/fvd/video_utils.py
  benchmarks/scripts/run.sh
  benchmarks/scripts/setup_fvd.sh
Due: none

docs: retarget FVD references to common.fvd
  .agents/memory/evaluation-registry/README.md
  .agents/onboarding/worldmodel-training/README.md
  examples/inference/eval/eval_fvd.py
  fastvideo/eval/metrics/common/fvd/extractors.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test(eval): add 16 CPU-only cases for common.fvd
  fastvideo/tests/eval/test_fvd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(eval): bit-parity with benchmarks/fvd for I3D extractor
  fastvideo/eval/metrics/common/fvd/extractors.py
  fastvideo/tests/eval/test_fvd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

docs: drop stale FVD-out-of-scope notes after consolidation
  .agents/workflows/evaluation-development.md
  docs/contributing/eval-metrics.md
Due: none

test(eval): drop test_fvd.py
  fastvideo/tests/eval/test_fvd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Document performance benchmark workflow (#1376)
  docs/contributing/ci_architecture.md
  docs/contributing/performance_benchmarks.md
  docs/contributing/testing.md
  fastvideo/tests/performance/dashboard.py
  mkdocs.yml
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra] Add Dreamverse Modal deployment wrapper
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[docs] Add Dreamverse Modal UI handoff
  apps/dreamverse/scripts/modal/HANDOFF.md
Due: none

[docs] Document enable_torch_compile (+ A/B example) (#1366)
  docs/inference/optimizations.md
  examples/inference/optimizations/torch_compile_example.py
Due: none

[infra] Add optional Dreamverse UI Docker build
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/web/next.config.ts
Due: none

[ci] Build Dreamverse backend and UI images
  .github/workflows/_template-build-image.yml
  .github/workflows/infra-build-image.yml
Due: none

[docs] Document Dreamverse UI image option
  apps/dreamverse/docker/README.md
  apps/dreamverse/scripts/modal/README.md
Due: none

[feat]: Cosmos3 DiT skeleton (Cosmos3VFMTransformer + Cosmos3LanguageModel)
  fastvideo/configs/models/dits/cosmos3.py
  fastvideo/models/dits/cosmos3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: Cosmos3 local-test parity scaffold (Tier A, 15 tests)
  tests/local_tests/cosmos3/README.md
  tests/local_tests/cosmos3/__init__.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_mrope_parity.py
  tests/local_tests/cosmos3/test_cosmos3_patchify_unpatchify_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_default_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: none

[feat]: Cosmos3Config + registry wire-up for nvidia/Cosmos3-Nano
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Cosmos3 pipeline (Cosmos3OmniDiffusersPipeline)
  fastvideo/pipelines/basic/cosmos3/__init__.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Cosmos3 checkpoint conversion script (cosmos3_convert.py)
  scripts/checkpoint_conversion/cosmos3_convert.py
Due: none

Add modal training configs
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
  fastvideo/train/methods/rl/reward/videoalign.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix modal env setup
  modal_train_genrl.py
Due: none

[feat]: Attn-QAT inference + training backends (deadcode) (Attn-QAT 4/12) (#1358)
  fastvideo/attention/backends/attn_qat_infer.py
  fastvideo/attention/backends/attn_qat_train.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix modal setup
  fastvideo/train/methods/rl/reward/hpsv3.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Drive AnyFlow helper script paths from env vars + ruff SIM108
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
  scripts/demo_anyflow_14b.py
  scripts/verify_anyflow_fastvideo_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix HPSv3 checkpoint-model mismatch and add pre-flights
  fastvideo/train/methods/rl/reward/hpsv3.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix 5d video error
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
