Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

clean
  logs/wan_t2v_14B_finetune_sage3_1940.err
  logs/wan_t2v_14B_finetune_sage3_1941.err
  logs/wan_t2v_14B_finetune_sage3_2074.err
Due: none

clean
  .gitignore
Due: none

clean
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/MANIFEST.in
  fastvideo-kernel/README.md
  fastvideo-kernel/pyproject.toml
  fastvideo/attention/backends/modified_sage_attn3.py
  fastvideo/attention/backends/modified_sageattn_3_setup.py
  fastvideo/platforms/cuda.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

clean
  .gitignore
  uv.lock
Due: none

fix
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

fix precommit
  .pre-commit-config.yaml
  fastvideo-kernel/CMakeLists.txt
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/modified_sage_attn3.py
  fastvideo/attention/backends/modified_sageattn_3_setup.py
  fastvideo/attention/backends/qat_attn.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/configs/models/dits/base.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/fp4linear.py
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/fp4_config.py
  fastvideo/pipelines/basic/turbodiffusion/turbodiffusion_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/platforms/cuda.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Apply suggestion from @gemini-code-assist[bot]
  fastvideo/layers/fp4linear.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/attention/layer.py
  fastvideo/layers/fp4linear.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  .agents/exploration/mypy-type-cleanup.md
  .github/workflows/fastvideo-kernel-publish.yml
Due: none

fix
  .gitignore
Due: none

fix
  .gitignore
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/layers/mlp.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  .pre-commit-config.yaml
Due: none

fix
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_qat_attn.sh
  examples/training/finetune/wan_t2v_14B/finetune_t2v_qat_attn.sh
  fastvideo/attention/selector.py
  fastvideo/tests/attention/test_selector.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  docs/attention/attn_qat/index.md
  docs/attention/index.md
  fastvideo-kernel/README.md
  fastvideo-kernel/benchmarks/_bootstrap.py
  fastvideo-kernel/benchmarks/benchmark_blockscaled_fp4_attn.py
  fastvideo-kernel/benchmarks/benchmark_combined.py
  fastvideo-kernel/benchmarks/benchmark_flashattn2.py
  fastvideo-kernel/benchmarks/benchmark_sageattn3.py
  mkdocs.yml
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

fix
  fastvideo/tests/nightly/test_fp4_linear.py
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-I2V/FLASH_ATTN/A woman sits at a wooden table by the window in a cozy café. She reaches out with her right hand, pi.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-I2V/TORCH_SDPA/A woman sits at a wooden table by the window in a cozy café. She reaches out with her right hand, pi.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-T2V/FLASH_ATTN/In a realistic photography style, a white boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-T2V/TORCH_SDPA/In a realistic photography style, a white boy around seven or eight years old sits on a park bench,.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-VC/FLASH_ATTN/A person rides a motorcycle along a long, straight road that stretches between a body of water and a.mp4
  fastvideo/tests/ssim/L40S_reference_videos/LongCat-Video-VC/TORCH_SDPA/A person rides a motorcycle along a long, straight road that stretches between a body of water and a.mp4
  fastvideo/tests/ssim/L40S_reference_videos/Matrix-Game-2.0-Diffusers-Base/FLASH_ATTN/video.mp4
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.1-T2V-1.3B-Diffusers/SLA_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of_1.mp4
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali.mp4
  fastvideo/tests/ssim/L40S_reference_videos/TurboWan2.2-I2V-A14B-Diffusers/SLA_ATTN/steps4_An astronaut hatching from an egg, on the surface of the moon, the darkness and depth of space reali_ssim.json
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/FLASH_ATTN/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/tests/ssim/L40S_reference_videos/ltx2_diffusers/TORCH_SDPA/Will Smith casually eats noodles, his relaxed demeanor contrasting with the energetic background of.mp4
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  examples/dataset/vidprom/download_dataset.sh
  examples/dataset/vidprom/download_dataset_ode_init.sh
Due: none

fix
  examples/dataset/vidprom/download_dataset.sh
Due: none

fix
  fastvideo/models/dits/matrix_game/__init__.py
  fastvideo/models/dits/matrix_game/action_module.py
  fastvideo/models/dits/matrix_game/causal_model.py
  fastvideo/models/dits/matrix_game/model.py
  fastvideo/models/dits/matrix_game/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  .codex
Due: none

fix
  fastvideo/attention/backends/sage_attn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  .codex
  docs/attention/attn_qat/index.md
  docs/inference/optimizations.md
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_qat_attn.sh
  examples/training/finetune/wan_t2v_14B/finetune_t2v_qat_attn.sh
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo/attention/backends/attn_qat_infer_setup.py
  fastvideo/layers/fp4linear.py
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/fp4_config.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/ops/test_linear.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

fix
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/attention/test_selector.py
  fastvideo/tests/nightly/i2v-wandb-summary.json
  fastvideo/tests/nightly/i2v_validation_videos_40_steps_900_581ff5eae2909d3a7b36.mp4
  fastvideo/tests/nightly/reference_video_1_sample_v0.mp4
  fastvideo/tests/nightly/test_e2e_dmd_t2v_crush_smol.py
  fastvideo/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/tests/nightly/test_fp4_linear.py
  fastvideo/tests/nightly/test_sage3_with_16bit_bwd.py
  fastvideo/tests/nightly/test_torch_fp4_qk.py
  fastvideo/tests/ops/quantization/test_absmax_fp8.py
  fastvideo/tests/ops/test_linear.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/nightly/i2v-wandb-summary.json
  fastvideo/tests/nightly/test_e2e_dmd_t2v_crush_smol.py
  fastvideo/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/tests/nightly/test_e2e_overfit_single_sample.py
  fastvideo/tests/ops/quantization/test_absmax_fp8.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/nightly/test_e2e_dmd_t2v_crush_smol.py
  fastvideo/tests/nightly/test_e2e_i2v_overfit_single_sample.py
  fastvideo/tests/nightly/test_e2e_overfit_single_sample.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/nightly/reference_video_1_sample_v0.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/nightly/i2v_validation_videos_40_steps_900_581ff5eae2909d3a7b36.mp4
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  examples/inference/optimizations/download_14B_qat.sh
  examples/inference/optimizations/sageattn_inference_example_custom_weights_5090_16.py
Due: none

fix
  examples/inference/optimizations/attn_qat_inference_example.py
  examples/inference/sageattn_inference_example.py
  examples/inference/sageattn_inference_example_custom_weights.py
Due: none

fix
  examples/inference/optimizations/README.md
Due: none

fix
  docs/attention/attn_qat/index.md
  docs/attention/index.md
  docs/inference/optimizations.md
  mkdocs.yml
Due: none

all tests passing
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/registry.py
  tests/local_tests/transformers/test_gamecraft_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  .buildkite/scripts/pr_test.sh
Due: none

cleanup
  fastvideo/api/request_metadata.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
