Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

add MiniMax H3
  docs/design/minimax_h3_porting_pitfalls.md
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/minimax_h3_audio.py
  fastvideo/configs/models/vaes/minimax_h3_video.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/schedulers/scheduling_minimax_h3.py
  fastvideo/models/vaes/minimax_h3_audio.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/__init__.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/types.py
  fastvideo/pipelines/pipeline_batch_info.py
  scripts/checkpoint_conversion/convert_minimax_h3_to_diffusers.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/__init__.py
  tests/local_tests/minimax_h3/_reference.py
  tests/local_tests/minimax_h3/test_minimax_h3_api_contract.py
  tests/local_tests/minimax_h3/test_minimax_h3_conversion.py
  tests/local_tests/minimax_h3/test_minimax_h3_loader_contracts.py
  tests/local_tests/minimax_h3/test_minimax_h3_packing.py
  tests/local_tests/minimax_h3/test_minimax_h3_scheduler_parity.py
  tests/local_tests/transformers/test_minimax_h3_transformer_parity.py
  tests/local_tests/vaes/test_minimax_h3_audio_vae_parity.py
  tests/local_tests/vaes/test_minimax_h3_video_vae_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/configs/models/vaes/minimax_h3_audio.py
  fastvideo/configs/models/vaes/minimax_h3_video.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/schedulers/scheduling_minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/utils.py
  fastvideo/tests/stages/test_utils.py
  fastvideo/utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
Due: none

some fix
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/tests/ssim/test_minimax_h3_similarity.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  docs/inference/support_matrix.md
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/utils.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/pipelines/test_minimax_h3_pipeline_smoke.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean local test
  fastvideo/tests/contract/test_model_manifest_resolution.py
  tests/local_tests/encoders/test_minimax_h3_qwen3_vl_parity.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/__init__.py
  tests/local_tests/minimax_h3/_reference.py
  tests/local_tests/minimax_h3/run_stage4_conditioned.py
  tests/local_tests/minimax_h3/run_stage4_t2va.py
  tests/local_tests/minimax_h3/test_minimax_h3_api_contract.py
  tests/local_tests/minimax_h3/test_minimax_h3_conditioner.py
  tests/local_tests/minimax_h3/test_minimax_h3_loader_contracts.py
  tests/local_tests/minimax_h3/test_minimax_h3_packing.py
  tests/local_tests/minimax_h3/test_minimax_h3_pipeline.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_media.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_packing.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_pipeline.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref_loader.py
  tests/local_tests/minimax_h3/test_minimax_h3_scheduler_parity.py
  tests/local_tests/pipelines/test_minimax_h3_pipeline_smoke.py
  tests/local_tests/transformers/test_minimax_h3_released_transformer_parity.py
  tests/local_tests/transformers/test_minimax_h3_transformer_parity.py
  tests/local_tests/vaes/test_minimax_h3_audio_vae_parity.py
  tests/local_tests/vaes/test_minimax_h3_released_audio_vae_parity.py
  tests/local_tests/vaes/test_minimax_h3_released_video_vae_parity.py
  tests/local_tests/vaes/test_minimax_h3_video_vae_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pin step to 50
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/pipelines/basic/minimax_h3/presets.py
  fastvideo/tests/ssim/test_minimax_h3_similarity.py
  tests/local_tests/pipelines/test_minimax_h3_pipeline_smoke.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] correct the rolling-window formula; require contiguous [B,H,L,D]
  fastvideo-kernel/csrc/attention/block_causal_sink_sm100a.cu
  fastvideo/attention/kernels/block_causal_sink_cuda.py
  tests/test_block_causal_sink_sm100a.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

fix ssim
  fastvideo/tests/ssim/test_minimax_h3_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: add env var to control process-aware logging
  fastvideo/envs.py
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: document FASTVIDEO_LOG_ALL_PROCESSES
  docs/utilities/debugging.md
Due: none

[test] add parquet round-trip coverage for dual text embeddings
  fastvideo/dataset/utils.py
  fastvideo/tests/dataset/test_hunyuan15_dual_text_collator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]adjust import sequence
  fastvideo/tests/dataset/test_hunyuan15_dual_text_collator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] cover the RoPE sink-rotation path; import the ops module directly
  fastvideo/attention/kernels/block_causal_sink_cuda.py
  tests/test_block_causal_sink_sm100a.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Wan I2V: CLIP image conditioning silently dropped when passed as a tensor during training (#1673)
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/dreamx_world.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: add GB200 to the inline SSIM device tables #1676 missed
  fastvideo/tests/ssim/test_flux_t2i_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_matrixgame3_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: add golden-gate lane — single-layer bitwise DiT fingerprints
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  fastvideo/tests/golden_gate/test_minimax_h3_t2v.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: add GB200 to the inline SSIM device tables #1676 missed (#1681)
  fastvideo/tests/ssim/test_flux_t2i_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_matrixgame3_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: extend golden-gate to all 16 SSIM-covered DiT families (17 gates)
  fastvideo/tests/golden_gate/_harness.py
  fastvideo/tests/golden_gate/test_dreamx.py
  fastvideo/tests/golden_gate/test_flux.py
  fastvideo/tests/golden_gate/test_flux2_klein.py
  fastvideo/tests/golden_gate/test_gamecraft.py
  fastvideo/tests/golden_gate/test_gen3c.py
  fastvideo/tests/golden_gate/test_glm_image.py
  fastvideo/tests/golden_gate/test_kandinsky5.py
  fastvideo/tests/golden_gate/test_lingbot.py
  fastvideo/tests/golden_gate/test_longcat.py
  fastvideo/tests/golden_gate/test_ltx2.py
  fastvideo/tests/golden_gate/test_matrixgame.py
  fastvideo/tests/golden_gate/test_sd35.py
  fastvideo/tests/golden_gate/test_stable_audio.py
  fastvideo/tests/golden_gate/test_wan_t2v.py
  fastvideo/tests/golden_gate/test_zimage.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Add Wan2.2-S2V-14B speech-to-video (model port + checkpoint converter)
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  examples/inference/basic/basic_wan_s2v.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/wan_s2v.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wan_s2v.py
  fastvideo/models/dits/wan_s2v_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/s2v_stages.py
  fastvideo/pipelines/basic/wan/wan_s2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/audio_encoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/transformers/test_wan_s2v.py
  pyproject.toml
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci]: add golden-gate lane — single-layer bitwise DiT fingerprints for all SSIM-covered families (#1682)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  fastvideo/tests/golden_gate/_harness.py
  fastvideo/tests/golden_gate/test_dreamx.py
  fastvideo/tests/golden_gate/test_flux.py
  fastvideo/tests/golden_gate/test_flux2_klein.py
  fastvideo/tests/golden_gate/test_gamecraft.py
  fastvideo/tests/golden_gate/test_gen3c.py
  fastvideo/tests/golden_gate/test_glm_image.py
  fastvideo/tests/golden_gate/test_kandinsky5.py
  fastvideo/tests/golden_gate/test_lingbot.py
  fastvideo/tests/golden_gate/test_longcat.py
  fastvideo/tests/golden_gate/test_ltx2.py
  fastvideo/tests/golden_gate/test_matrixgame.py
  fastvideo/tests/golden_gate/test_minimax_h3_t2v.py
  fastvideo/tests/golden_gate/test_sd35.py
  fastvideo/tests/golden_gate/test_stable_audio.py
  fastvideo/tests/golden_gate/test_wan_t2v.py
  fastvideo/tests/golden_gate/test_zimage.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: hard-fail when ATTN_QAT_INFER is selected but the kernel is unusable
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_attn_qat_infer_arch_gate.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

support partial HF download
  fastvideo/pipelines/__init__.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/registry.py
  fastvideo/tests/test_partial_hf_download.py
  fastvideo/utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/pipelines/__init__.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/test_partial_hf_download.py
  fastvideo/utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: S2V converter fetches only the files it uses
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: none

[docs] Document DGX Spark (GB10) local perf benchmarking + baseline follow-up
  docs/contributing/performance_benchmarks.md
Due: none

[perf]: remove per-step host syncs and repeated work from causal inference
  fastvideo/entrypoints/video_generator.py
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/utils.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/tests/ops/test_flow_schedule_cache.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: optional rank-reduced AdaLN (-39% params, -26 GB)
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3.py
  tools/minimax_h3/fit_adaln_basis.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: H3 compile+cudagraphs support, step marking, and measurement hooks
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add H3 SFT pipeline.
  examples/train/configs/overfit_minimax_h3_t2va.yaml
  examples/train/launch_minimax_h3_t2va_crush_smol_validation.sh
  examples/train/run_slurm.sh
  examples/train/setup_minimax_h3_t2va_crush_smol_single_sample.sh
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_overfit.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/tests/train/fixtures/minimax_h3_t2va_min.yaml
  fastvideo/tests/train/methods/test_minimax_h3_finetune.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/tests/train/utils/test_validation_media.py
  fastvideo/tests/workflow/test_minimax_h3_overfit_preprocess.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/fine_tuning/finetune.py
  fastvideo/train/models/base.py
  fastvideo/train/models/minimax_h3/__init__.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/utils/activation_checkpoint.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/validation_media.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] MiniMax-H3: point the examples at the rank-reduced checkpoint
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[misc] MiniMax-H3: trim the AdaLN dtype comment
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: hard-fail when ATTN_QAT_INFER is selected but the kernel is unusable (#1690)
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_attn_qat_infer_arch_gate.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Spark guide: add memory section, gotchas, and peak-memory to the benchmark
  docs/getting_started/installation/spark_performance.md
  examples/inference/optimizations/spark_benchmark.py
Due: none

[docs] DGX Spark (GB10) performance & tuning guide + reproduction examples
  docs/getting_started/installation.md
  docs/getting_started/installation/spark.md
  docs/getting_started/installation/spark_performance.md
  docs/inference/optimizations.md
  examples/inference/optimizations/qad_fp4_ab.py
  examples/inference/optimizations/spark_benchmark.py
Due: none

[docs] Spark guide: lock numbers to GB10-measured values
  docs/getting_started/installation/spark_performance.md
  examples/inference/optimizations/spark_benchmark.py
Due: none

[docs] Spark guide: satisfy PyMarkdown (reflow list line, blank lines around code blocks)
  docs/getting_started/installation/spark_performance.md
Due: none
