Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix] Cosmos training plugin: fix latent shape convention
  fastvideo/train/models/cosmos/cosmos.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos overfit preprocessing script
  fastvideo/pipelines/preprocess/preprocess_cosmos_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos overfit training config
  examples/train/configs/overfit_cosmos_t2v.yaml
Due: none

[bugfix] Cosmos training: match inference preconditioning convention
  fastvideo/train/models/cosmos/cosmos.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Cosmos preprocess: extract conditioning frame for V2W validation
  fastvideo/pipelines/preprocess/preprocess_cosmos_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Cosmos preprocess: use relative image_path for ValidationDataset
  fastvideo/pipelines/preprocess/preprocess_cosmos_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/api/request_metadata.py
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/cli/inference_config.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Validation callback: disable dit_cpu_offload to use loaded transformer
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Cosmos transformer: return tuple when return_dict=False
  fastvideo/models/dits/cosmos.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Cosmos transformer: fix patch_embed input channels
  fastvideo/configs/models/dits/cosmos.py
  fastvideo/models/dits/cosmos.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Validation callback: disable dit_cpu_offload and dit_layerwise_offload
  fastvideo/configs/models/base.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Alignment code
  fastvideo/tests/transformers/test_wanvideo.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix training batch generation & update README.md
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/training/rl/README.md
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

change validation resolution
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/pipelines/basic/wan/wan_pipeline.py
  fastvideo/training/rl/rl_pipeline.py
  fastvideo/training/wan_rl_training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add aligning code
  examples/training/rl/finetune_t2v_grpo.sh
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/dataset/rl_prompt_dataset.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/training/rl/README.md
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

enable num_batches_per_step=2
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/training/rl/README.md
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

comment out debugging codes
  align_logs/fv_logs/debug_metrics.txt
  align_logs/fv_logs/prompts.txt
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/dataset/rl_prompt_dataset.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/training/rl/rewards/ocr.py
  fastvideo/training/rl/rl_pipeline.py
  flow_grpo/flow_grpo/ocr.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

align rewards with same video inputs
  align_logs/flow_logs/debug_metrics.txt
  align_logs/fv_logs/debug_metrics.txt
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/training/rl/rewards/ocr.py
  fastvideo/training/rl/rl_pipeline.py
  flow_grpo/flow_grpo/ocr.py
  flow_grpo/scripts/train_wan2_1.py
  flow_grpo/train_wan.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

logs metrics of all batches in a step
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/dataset/rl_prompt_dataset.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/training/rl/rewards/ocr.py
  flow_grpo/flow_grpo/diffusers_patch/wan_pipeline_with_logprob.py
  flow_grpo/train_wan.sh
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add sample masking and shuffling
  examples/training/rl/finetune_t2v_grpo_4gpu.sh
  fastvideo/dataset/rl_prompt_dataset.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/training/rl/rl_pipeline.py
  flow_grpo/scripts/train_wan2_1.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

minor fix to computing reward & log prob
  fastvideo/training/rl/rewards/ocr.py
  fastvideo/training/rl/rl_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add FP4 custom op wrapper for torch.compile compat
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_cute.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Cosmos: EDM preconditioning for training and inference
  fastvideo/pipelines/basic/cosmos/cosmos_pipeline.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/train/models/cosmos/cosmos.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Cosmos 2.5: training plugin, preprocessing, and overfit config
  examples/train/configs/overfit_cosmos25_t2w.yaml
  fastvideo/pipelines/preprocess/preprocess_cosmos25_overfit.py
  fastvideo/train/models/cosmos/cosmos.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Cosmos 2.5 training: use flow-matching noise schedule
  examples/train/configs/overfit_cosmos25_t2w.yaml
  fastvideo/pipelines/stages/denoising.py
  fastvideo/train/models/cosmos/cosmos.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  test_qat_attn.py
  vsa_with_qat.py
Due: none

fix
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  fastvideo/attention/backends/sage_attn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  examples/inference/sageattn+fp4linear.py
Due: none

clean
  examples/inference/batch_generate.py
  examples/inference/sageattn_inference_example_hy15.py
Due: none

clean
  examples/inference/optimizations/quantization_example.py
  examples/inference/optimizations/sageattn_inference_example_custom_weights_5090_32.py
  examples/inference/sageattn+fp4linear.py
  fastvideo/attention/backends/modified_sage_attn3.py
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/configs/models/dits/base.py
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  docs/design/overview.md
  docs/inference/optimizations.md
  docs/utilities/debugging.md
  fastvideo-kernel/modified_sageattn/api.py
  fastvideo-kernel/modified_sageattn/blackwell/api.cu
  fastvideo-kernel/modified_sageattn/blackwell/kernel_ws.h
  fastvideo-kernel/modified_sageattn/blackwell/params.h
  fastvideo-kernel/modified_sageattn/blackwell/softmax_fused.h
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

clean
  docs/design/overview.md
  docs/inference/optimizations.md
  docs/utilities/debugging.md
  examples/inference/sageattn+fp4linear.py
  fastvideo/attention/backends/qat_attn.py
  fastvideo/configs/models/dits/base.py
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  fastvideo/attention/backends/qat_attn.py
  fastvideo/attention/backends/sage_attn3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

clean
  examples/inference/sageattn_inference_example_custom_weights_5090.py
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v.sh
  examples/training/finetune/wan_t2v_1.3B/crush_smol/finetune_t2v_qat_attn.sh
  examples/training/finetune/wan_t2v_14B/finetune_t2v_qat_attn.sh
Due: none

clean
  examples/distill/SFWan2.2-A14B/distill_dmd.sh
Due: none
