Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[test]add test for usp
  fastvideo/tests/attention/test_ring_attention_config.py
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete some files which were not used
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update test script for ring atten config
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test for usp
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix sp size auto test logic
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]add args for usp
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]update docstr in multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] fix multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add get ring group func
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] implement ring-atten func in fastvideo
  fastvideo/attention/layer.py
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/worker/gpu_worker.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]adjust layer for usp
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

refactor with main
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add temp test script
  run_ring_2gpu.sh
Due: none

update test script
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test scripts
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test for single gpu
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]add ring-atten from yunchang long context
  fastvideo/attention/ring/__init__.py
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add distributed test for usp
  fastvideo/tests/distributed/test_usp_group_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] usp distributed implementation
  fastvideo/distributed/__init__.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]preserve q/k/v dtype in ring attention backward
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]throw error when not dispatch ring-atten in subclass overrides and skip all-to-all when ulysses_size == 1
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]refactor attention kernel
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete test script
  run_ring_2gpu.sh
Due: none

[refactor]adjust import package
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]fix ring-atten-bugs
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]fix distributed ring attention bug
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[log] add logs for ring-atten
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update usp calling function
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update ring-atten test
  fastvideo/tests/distributed/test_usp_group_layout.py
  fastvideo/tests/distributed/test_usp_topology.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: trim narrative and stale comments in Ring Attention
  fastvideo/attention/AGENTS.md
  fastvideo/attention/layer.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring_attention.py
  fastvideo/distributed/parallel_state.py
  fastvideo/distributed/usp_topology.py
  fastvideo/fastvideo_args.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

split ring-atten from distributed atten
  fastvideo/attention/ring_attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

call ring-atten using new funcs
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

split usp from distributed-atten
  fastvideo/distributed/usp_topology.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update ring-atten test
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
