Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

fix train / val step mismatch
  examples/train/configs/self_forcing_wangame.yaml
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update df scheduler
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_diffusion_forcing.py
  fastvideo/train/methods/fine_tuning/dfsft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add logger
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/train/methods/distribution_matching/self_forcing.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[CI] add contributor interaction automation (#1170)
  .buildkite/pipeline.yml
  .github/mergify.yml
  .github/workflows/fastvideo-kernel-publish.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/matchers/ruff.json
  .github/workflows/pr-test.yml
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
  .github/workflows/trigger-full-suite.yml
  .github/workflows/welcome.yml
Due: none

Update README.md
  README.md
Due: none

fix tf scheduler
  fastvideo/train/methods/fine_tuning/tfsft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test diagnal distillation
  examples/distill/MatrixGame2.0/distill_dmd.slurm
  fastvideo/configs/pipelines/base.py
  fastvideo/fastvideo_args.py
  fastvideo/models/schedulers/denoising_schedule.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/training/matrixgame_self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

move arg
  fastvideo/fastvideo_args.py
  fastvideo/training/matrixgame_self_forcing_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix postprocess in distillation val
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/matrixgame_self_forcing_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add chunkwise timestep
  fastvideo/fastvideo_args.py
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add HunyuanVideo model plugin for fastvideo/train framework
  examples/train/configs/finetune_hunyuan_t2v.yaml
  fastvideo/train/models/hunyuan/__init__.py
  fastvideo/train/models/hunyuan/hunyuan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: use FSDP sharding for HunyuanVideo configs + add smoke test
  examples/train/configs/finetune_hunyuan_t2v_smoke.yaml
Due: none

[feat]: add HunyuanVideo overfitting test config and preprocessing script
  examples/train/configs/finetune_hunyuan_t2v_overfit.yaml
  scripts/preprocess_hunyuan_overfit.py
Due: none

[bugfix] self-forcing train/validation step mismatch (#1173)
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: remove HunyuanVideo overfit config and custom preprocessing script
  examples/train/configs/finetune_hunyuan_t2v_overfit.yaml
  scripts/preprocess_hunyuan_overfit.py
Due: none

fix sp
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precision
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

minor
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix hunyuan negative prompting
  fastvideo/train/models/hunyuan/hunyuan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Apply suggestions from code review
  fastvideo/train/models/hunyuan/hunyuan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] update action loading in validation and preprocess (#1143)
  fastvideo/dataset/validation_dataset.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
  fastvideo/pipelines/stages/input_validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  examples/training/finetune/MatrixGame2.0/actions/00_w_only.npy
  examples/training/finetune/MatrixGame2.0/actions/01_s_only.npy
  examples/training/finetune/MatrixGame2.0/actions/02_a_only.npy
  examples/training/finetune/MatrixGame2.0/actions/03_d_only.npy
  examples/training/finetune/MatrixGame2.0/actions/04_mouse_left_only.npy
  examples/training/finetune/MatrixGame2.0/actions/05_mouse_right_only.npy
  examples/training/finetune/MatrixGame2.0/actions/06_mouse_up_only.npy
  examples/training/finetune/MatrixGame2.0/actions/07_mouse_down_only.npy
  examples/training/finetune/MatrixGame2.0/actions/08_w_then_s.npy
  examples/training/finetune/MatrixGame2.0/actions/09_s_then_w.npy
  examples/training/finetune/MatrixGame2.0/actions/10_a_then_d.npy
  examples/training/finetune/MatrixGame2.0/actions/11_d_then_a.npy
  examples/training/finetune/MatrixGame2.0/actions/12_mouse_left_then_right.npy
  examples/training/finetune/MatrixGame2.0/actions/13_mouse_right_then_left.npy
  examples/training/finetune/MatrixGame2.0/actions/14_mouse_up_then_down.npy
  examples/training/finetune/MatrixGame2.0/actions/15_mouse_down_then_up.npy
  examples/training/finetune/MatrixGame2.0/generate_validation_actions.py
  examples/training/finetune/MatrixGame2.0/validation_mc.json
  examples/training/finetune/MatrixGame2.0/validation_solaris.json
  examples/training/finetune/MatrixGame2.0/validation_test.json
  examples/training/finetune/MatrixGame2.0/validation_wasd_mouse.json
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/kv_cache.py
  fastvideo/models/dits/matrixgame/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove sf for now
  examples/distill/MatrixGame2.0/distill_dmd.slurm
  examples/distill/MatrixGame2.0/validation.json
  fastvideo/training/matrixgame_self_forcing_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  .gitignore
  examples/train/configs/dfsft_matrixgame2.0_i2v_1.3B.yaml
  examples/train/configs/finetune_matrixgame2.0_i2v_1.3B.yaml
  examples/train/configs/kd_wan2.1_causal_t2v_1.3B.yaml
  examples/train/configs/kd_wan2.1_t2v_1.3B.yaml
  examples/train/configs/kdtest/decode_kd_cache.py
  examples/train/configs/kdtest/kd_causal.yaml
  examples/train/configs/kdtest/self_forcing_causal.yaml
  examples/train/configs/kdtest/usage.md
  examples/train/configs/kdtest/validation.json
  examples/train/configs/self_forcing_matrixgame2.0_i2v_1.3B.yaml
Due: none

cleanup
  fastvideo/models/schedulers/denoising_schedule.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup reinit action
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  fastvideo/configs/pipelines/base.py
  fastvideo/fastvideo_args.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/models/matrixgame/__init__.py
  fastvideo/train/models/matrixgame/matrixgame.py
  fastvideo/train/models/matrixgame/matrixgame_causal.py
  fastvideo/train/utils/dataloader.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  examples/training/finetune/MatrixGame2.0/finetune_i2v.slurm
  examples/training/finetune/MatrixGame2.0/launch_preprocess_slurm.sh
  examples/training/finetune/MatrixGame2.0/preprocess_worker.slurm
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
  fastvideo/training/matrixgame_ode_causal_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup validation
  examples/training/finetune/MatrixGame2.0/finetune_i2v.sh
  examples/training/finetune/MatrixGame2.0/validation_df.json
  fastvideo/training/matrixgame_training_pipeline.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add HunyuanVideo model plugin for fastvideo/train framework (#1175)
  examples/train/configs/finetune_hunyuan_t2v.yaml
  fastvideo/train/models/hunyuan/__init__.py
  fastvideo/train/models/hunyuan/hunyuan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
  fastvideo/training/matrixgame_ode_causal_pipeline.py
  fastvideo/training/trackers.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update scripts
  examples/training/finetune/MatrixGame2.0/finetune_df.sh
  examples/training/finetune/MatrixGame2.0/validation.json
Due: none

update
  examples/training/finetune/MatrixGame2.0/finetune_df.slurm
Due: none

[misc]: remove redundant .style.yapf and add training framework README
  fastvideo/train/.style.yapf
  fastvideo/train/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
