Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix] FA3 custom_op: fall back to raw FA3 when inputs require grad
  fastvideo/attention/utils/flash_attn_3_compile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: build fastvideo-kernel on GPU-less Docker runners
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  fastvideo-kernel/build.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

added init ltx2 fp8
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/ltx2_fp8_config.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] add .agents/reviewers scaffold (scoped PR-review agents)
  .agents/reviewers/README.md
  .agents/reviewers/ROUTING.md
  .agents/reviewers/dispatcher/DISPATCHER.md
  .agents/reviewers/general/REVIEWER.md
  .agents/reviewers/general/checklist.md
  .agents/reviewers/general/references.md
  .agents/reviewers/index.jsonl
  .agents/reviewers/kernel/REVIEWER.md
  .agents/reviewers/kernel/checklist.md
  .agents/reviewers/kernel/references.md
  .agents/reviewers/model/REVIEWER.md
  .agents/reviewers/model/checklist.md
  .agents/reviewers/model/references.md
  .agents/reviewers/shared/pr-context.md
  .agents/reviewers/shared/repo-conventions.md
  .agents/reviewers/shared/review-output.md
  .agents/reviewers/training/REVIEWER.md
  .agents/reviewers/training/checklist.md
  .agents/reviewers/training/references.md
Due: none

[test]: add flux2 SSIM tests (#1349)
  fastvideo/tests/ssim/test_flux2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: set flux2 SSIM override_pipeline_cls_name (#1349)
  fastvideo/tests/ssim/test_flux2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix spelling and markdown pre-commit issues
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/differentiable_image_processor.py
  fastvideo/train/methods/rl/reward/VideoAlign/checkpoints/README.md
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

apply yapf formatting to reward runtimes
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/data_collator_qwen.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/pairwise_dataset.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/utils.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/inference.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/differentiable_image_processor.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/qwen2vl_trainer.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/train.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/parser.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/training_utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/data.py
  fastvideo/train/methods/rl/reward/VideoAlign/inference.py
  fastvideo/train/methods/rl/reward/VideoAlign/prompt_template.py
  fastvideo/train/methods/rl/reward/VideoAlign/train_reward.py
  fastvideo/train/methods/rl/reward/VideoAlign/trainer.py
  fastvideo/train/methods/rl/reward/VideoAlign/utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/vision_process.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: use literal model_id keys in flux2 SSIM test for Modal discovery (#1349)
  fastvideo/tests/ssim/test_flux2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: disable FLUX.2-dev SSIM test (L40S OOM; #1349)
  fastvideo/tests/ssim/test_flux2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: text_encoding chat-template double-nest for Hunyuan15 (#1349)
  fastvideo/pipelines/stages/text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] EMA in distillation pipeline (#1440)
  fastvideo/training/distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: build fastvideo-kernel on GPU-less Docker runners (#1437)
  docker/Dockerfile.python3.10
  docker/Dockerfile.python3.11
  docker/Dockerfile.python3.12
  docker/Dockerfile.python3.12.cuda12.9.1
  fastvideo-kernel/build.sh
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[feat]: Cosmos3 pipeline (Cosmos3OmniDiffusersPipeline)
  fastvideo/pipelines/basic/cosmos3/__init__.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: Cosmos3 local-test parity scaffold (Tier A, 15 tests)
  tests/local_tests/cosmos3/README.md
  tests/local_tests/cosmos3/__init__.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_mrope_parity.py
  tests/local_tests/cosmos3/test_cosmos3_patchify_unpatchify_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_default_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: none

[feat]: Cosmos3 DiT skeleton (Cosmos3VFMTransformer + Cosmos3LanguageModel)
  fastvideo/configs/models/dits/cosmos3.py
  fastvideo/models/dits/cosmos3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: cosmos3 resume: PORT_STATUS + README for official diffusers ref
  .gitignore
  tests/local_tests/cosmos3/PORT_STATUS.md
  tests/local_tests/cosmos3/README.md
Due: none

[feat]: Cosmos3 checkpoint conversion script (cosmos3_convert.py)
  scripts/checkpoint_conversion/cosmos3_convert.py
Due: none

[feat]: Cosmos3Config + registry wire-up for nvidia/Cosmos3-Nano
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: cosmos3 PORT_STATUS: post-rebase state + fv-cosmos3 env
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: arch config 1:1 with Cosmos3-Nano checkpoint
  fastvideo/configs/models/dits/cosmos3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: framework-reference pivot + Phase 1 findings
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[test] cosmos3: official framework DiT parity reference (CPU/SDPA)
  tests/local_tests/cosmos3/test_cosmos3_reference_forward.py
Due: none

[misc] cosmos3 PORT_STATUS: PR1 progress (arch config, framework parity ref)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: native DiT + framework parity (Cosmos3VFMTransformer)
  fastvideo/models/dits/cosmos3.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] cosmos3: DiT unified_3d_mrope framework parity (real checkpoint)
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
Due: none

[misc] cosmos3 PORT_STATUS: DiT framework parity verified (both rope modes)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: VAE config (Wan2.2 reuse) + framework parity test
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/cosmos3vae.py
  tests/local_tests/cosmos3/test_cosmos3_vae_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: VAE component framework parity verified
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: strict-load verified (identity; needs_conversion=no)
  scripts/checkpoint_conversion/cosmos3_convert.py
  tests/local_tests/cosmos3/test_cosmos3_strict_load.py
Due: none

[misc] cosmos3 PORT_STATUS: strict-load done; only pipeline remains
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: native MoT sequence-packing (video) + framework parity
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_packing_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: native video pipeline + framework denoise parity
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  fastvideo/registry.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_denoise_cfg_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_smoke.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: PR1 video core complete (framework parity)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[bugfix] cosmos3: fix black-video UniPC config; wire E2E inference
  examples/inference/basic/basic_cosmos3_new_api.py
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/models/dits/cosmos3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_denoise_cfg_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_smoke.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record real-weights E2E acceptance + scheduler fix (I003)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

fix
  fastvideo/models/dits/glm_image.py
  tests/local_tests/glm_image/README.md
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
