Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[infra] Dreamverse 11/14: Add NVFP4 quantization support (#1334)
  fastvideo/configs/models/vaes/base.py
  fastvideo/layers/linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/tests/api/test_typed_quant_flow.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_ltx2_wiring.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs] Track LTX2 debug env follow-up
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

[docs] Track Gemma device placement follow-up
  .agents/memory/dreamverse-integration/open-threads.md
Due: none

[feat] Add LTX2 refine and upsampler support
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/upsamplers/__init__.py
  fastvideo/models/upsamplers/ltx2_upsampler.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_image_conditioning.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_refine.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  scripts/ltx2_sr_alignment.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Add NVFP4QAT quantization config (Attn-QAT 2/12)
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/base_config.py
  fastvideo/layers/quantization/nvfp4_qat_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Add NVFP4QAT quantization config (Attn-QAT 2/12) (#1348)
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/base_config.py
  fastvideo/layers/quantization/nvfp4_qat_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Remove duplicate LTX2 ForwardBatch fields
  fastvideo/pipelines/pipeline_batch_info.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

sf match wan 2.1 official
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
  examples/train/scenario/worldmodel/README.md
Due: none

[docs] Add copy page action
  docs/assets/copy-page.js
  docs/assets/custom.css
  mkdocs.yml
Due: none

inference script
  ONBOARDING.md
  examples/inference/basic/basic_matrixgame3.py
  fastvideo/models/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete mg3
  fastvideo/api/matrixgame3.py
  fastvideo/configs/models/dits/matrixgame3.py
  fastvideo/configs/pipelines/matrixgame3.py
  fastvideo/models/dits/matrixgame3/__init__.py
  fastvideo/models/dits/matrixgame3/action_module.py
  fastvideo/models/dits/matrixgame3/model.py
  fastvideo/models/dits/matrixgame3/utils.py
  fastvideo/pipelines/basic/matrixgame3/__init__.py
  fastvideo/pipelines/basic/matrixgame3/matrixgame3_i2v_pipeline.py
  fastvideo/pipelines/basic/matrixgame3/presets.py
  fastvideo/pipelines/stages/matrixgame3_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  fastvideo/configs/pipelines/__init__.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/wanvae.py
  fastvideo/models/vision_utils.py
  fastvideo/pipelines/basic/matrixgame2/matrixgame2_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/matrixgame2/matrixgame2_i2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/registry.py
  fastvideo/tests/api/test_presets.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Use legacy LTX2 behavior for SSIM compatibility
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix stale matrixgame refs in scripts/docs/yamls
  .agents/memory/codebase-map/README.md
  .agents/onboarding/worldmodel-training/README.md
  .agents/skills/launch-experiment/SKILL.md
  docs/inference/architecture.md
  examples/distill/MatrixGame2.0/distill_dmd.sh
  examples/distill/MatrixGame2.0/distill_dmd.slurm
  examples/inference/gradio/local/gradio_local_demo_matrixgame2.py
  examples/train/scenario/worldmodel/README.md
  examples/train/scenario/worldmodel/dfsft_causal_i2v.yaml
  examples/train/scenario/worldmodel/finetune_i2v.yaml
  examples/train/scenario/worldmodel/self_forcing_causal_i2v.yaml
  examples/training/finetune/MatrixGame2.0/finetune_df.sh
  examples/training/finetune/MatrixGame2.0/finetune_i2v.sh
  examples/training/finetune/MatrixGame2.0/preprocess_matrixgame_data_i2v.sh
  fastvideo/models/AGENTS.md
  fastvideo/models/dits/matrixgame2/model.py
  fastvideo/models/dits/matrixgame2/utils.py
  fastvideo/pipelines/AGENTS.md
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/matrixgame2_denoising.py
  fastvideo/training/AGENTS.md
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix more stale MatrixGame refs in .agents/ docs
  .agents/memory/codebase-map/README.md
  .agents/onboarding/worldmodel-training/README.md
Due: none

[docs] Classify LTX2 compatibility args
  docs/design/inference_schema_parity_inventory.yaml
Due: none

fix frame_seqlen bug
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/utils/config.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

config change for train yaml inputs
  fastvideo/configs/models/base.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: Add Dreamverse deploy skill frontmatter
  .agents/skills/dreamverse-deploy/SKILL.md
Due: none

[feat]: auto-route VSA backend to CuTe BSHD fastpath at tile volume 256
  fastvideo/attention/backends/video_sparse_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: VSA-256 forward / cross-backend / vbs / triton parity tests
  fastvideo-kernel/tests/test_vsa256_forward.py
  fastvideo-kernel/tests/test_vsa256_forward_cross.py
  fastvideo-kernel/tests/test_vsa256_forward_vbs.py
  fastvideo-kernel/tests/test_vsa256_triton.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

default setting of sf
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
Due: none

[feat] Dreamverse 12/14: Add LTX2 refine and upsampler support (#1335)
  .agents/memory/dreamverse-integration/open-threads.md
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/upsamplers/__init__.py
  fastvideo/models/upsamplers/ltx2_upsampler.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_image_conditioning.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_refine.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/ssim/test_ltx2_similarity.py
  scripts/ltx2_sr_alignment.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

match self forcing official lr and ema.
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
Due: none

format
  fastvideo/train/models/wan/wan_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

un-add the longlive part
  examples/train/scenario/worldmodel/README.md
Due: none

use vae temporal compression ratio
  fastvideo/train/models/wan/wan_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add back the max attn size hardcode
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove frame_seqlen fallback
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Activate Dreamverse LTX2 integration
  docs/contributing/dreamverse-development.md
  fastvideo/models/registry.py
  fastvideo/registry.py
  mkdocs.yml
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: fix copy page serializer review comments
  docs/assets/copy-page.js
Due: none

[feat] Add minimal LoRA finetuning support to the YAML training stack
  examples/train/configs/fine_tuning/hunyuan/t2v_lora.yaml
  examples/train/configs/fine_tuning/wan/fast_t2v_lora_vsa.yaml
  examples/train/configs/fine_tuning/wan/fast_ti2v_fullattn_lora_vsa.yaml
  examples/train/configs/fine_tuning/wan/t2v_lora.yaml
  examples/train/configs/fine_tuning/wan/turbo_t2v_lora_sla.yaml
  examples/train/run.sh
  fastvideo/train/entrypoint/train.py
  fastvideo/train/models/base.py
  fastvideo/train/models/hunyuan/hunyuan.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/utils/lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] reuse FSDP mesh for LoRA DTensor wrap (review feedback)
  fastvideo/train/utils/lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Add NVFP4QAT linear layer (Attn-QAT 3/12)
  fastvideo/layers/fp4linear.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: Attn-QAT inference + training backends (deadcode) (Attn-QAT 4/12)
  fastvideo/attention/backends/attn_qat_infer.py
  fastvideo/attention/backends/attn_qat_train.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Add copy page action (#1351)
  docs/assets/copy-page.js
  docs/assets/custom.css
  mkdocs.yml
Due: none

guard causal wan global kv window
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] eval: add audio metric suite
  examples/inference/eval/basic_ltx2_audio_eval.py
  fastvideo/eval/README.md
  fastvideo/eval/metrics/audio/__init__.py
  fastvideo/eval/metrics/audio/_synchformer/LICENSE
  fastvideo/eval/metrics/audio/_synchformer/__init__.py
  fastvideo/eval/metrics/audio/_synchformer/ast.py
  fastvideo/eval/metrics/audio/_synchformer/divided_224_16x4.yaml
  fastvideo/eval/metrics/audio/_synchformer/hf_src/modeling_ast.py
  fastvideo/eval/metrics/audio/_synchformer/motionformer.py
  fastvideo/eval/metrics/audio/_synchformer/resnet.py
  fastvideo/eval/metrics/audio/_synchformer/synchformer.py
  fastvideo/eval/metrics/audio/_synchformer/transformer.py
  fastvideo/eval/metrics/audio/_synchformer/utils.py
  fastvideo/eval/metrics/audio/_synchformer/video_model_builder.py
  fastvideo/eval/metrics/audio/_synchformer/vit_helper.py
  fastvideo/eval/metrics/audio/audiobox_aesthetics/__init__.py
  fastvideo/eval/metrics/audio/audiobox_aesthetics/metric.py
  fastvideo/eval/metrics/audio/clap_score/__init__.py
  fastvideo/eval/metrics/audio/clap_score/metric.py
  fastvideo/eval/metrics/audio/desync/__init__.py
  fastvideo/eval/metrics/audio/desync/metric.py
  fastvideo/eval/metrics/audio/frechet_distance/__init__.py
  fastvideo/eval/metrics/audio/frechet_distance/metric.py
  fastvideo/eval/metrics/audio/imagebind_score/__init__.py
  fastvideo/eval/metrics/audio/imagebind_score/metric.py
  fastvideo/eval/metrics/audio/kl_divergence/__init__.py
  fastvideo/eval/metrics/audio/kl_divergence/metric.py
  fastvideo/eval/metrics/audio/wer/__init__.py
  fastvideo/eval/metrics/audio/wer/_glmasr/LICENSE
  fastvideo/eval/metrics/audio/wer/_glmasr/__init__.py
  fastvideo/eval/metrics/audio/wer/_glmasr/_compat.py
  fastvideo/eval/metrics/audio/wer/_glmasr/configuration_glmasr.py
  fastvideo/eval/metrics/audio/wer/_glmasr/modeling_glmasr.py
  fastvideo/eval/metrics/audio/wer/_glmasr/processing_glmasr.py
  fastvideo/eval/metrics/audio/wer/metric.py
  fastvideo/eval/registry.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[infra] pre-commit: exclude audio vendored trees
  .pre-commit-config.yaml
Due: none

[docs] eval: drop the comments we added to pyproject
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
