Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix] mixkit preprocess: use dash CLI flags + batch-size 1
  examples/training/finetune/wan_t2v_1.3B/mixkit/preprocess_mixkit_data.sh
Due: none

[bugfix] Scope Wan bf16 VAE to decode-only (fix I2V/causal SSIM)
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/wan_1.3B_t2v_pipeline.json
  fastvideo/configs/wan_14B_i2v_480p_pipeline.json
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Classify vae_decode_precision in schema-parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[ci] train-framework model coverage: Cosmos/MatrixGame2 finetune grad-norm + Cosmos/LongCat/MatrixGame2 loading smokes
  fastvideo/tests/train/fixtures/cosmos_t2w_finetune_min.yaml
  fastvideo/tests/train/fixtures/cosmos_t2w_min.yaml
  fastvideo/tests/train/fixtures/longcat_t2v_min.yaml
  fastvideo/tests/train/fixtures/matrixgame2_finetune_min.yaml
  fastvideo/tests/train/fixtures/matrixgame2_min.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/grad_norm_regression.py
  fastvideo/tests/train/methods/test_cosmos_finetune.py
  fastvideo/tests/train/methods/test_matrixgame2_finetune.py
  fastvideo/tests/train/models/test_load_cosmos.py
  fastvideo/tests/train/models/test_load_longcat.py
  fastvideo/tests/train/models/test_load_matrixgame2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Make enable_torch_compile_vae actually compile the Wan VAE
  fastvideo/models/vaes/wanvae.py
  fastvideo/tests/vaes/test_wan_vae_compile.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add comment
  fastvideo/configs/models/dits/wanvideo.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] fix yapf drift in selector.py from main merge
  fastvideo/attention/selector.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix
  fastvideo-kernel/attn_qat_infer/blackwell/mainloop_tma_ws.h
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[feat] address review: validate needs_varlen in validate_compatibility (#1254)
  fastvideo/attention/backends/abstract.py
  fastvideo/tests/attention/test_backend_capabilities.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] selector: warn when resolved backend is capability-incompatible (#1254)
  fastvideo/attention/selector.py
  fastvideo/tests/attention/test_selector_capability_warning.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] address review: guard selector compatibility check (#1254)
  fastvideo/attention/selector.py
  fastvideo/tests/attention/test_selector_capability_warning.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update README.md
  README.md
Due: none

fix precommit
  fastvideo/attention/selector.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] fix pre-commit (#1500)
  fastvideo/attention/selector.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Default Wan VAE decode to bf16 (lossless, faster) (#1472)
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/configs/wan_1.3B_t2v_pipeline.json
  fastvideo/configs/wan_14B_i2v_480p_pipeline.json
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] seed L40S grad-norm ref for test_cosmos_finetune
  fastvideo/tests/train/methods/grad_norm_refs.json
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] nvfp4: cast fp32 inputs to bf16 instead of asserting
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] nvfp4: reject non-float inputs, extract dtype coercion + test
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Restructure contributing CI/CD and testing docs
  docs/contributing/ci_architecture.md
  docs/contributing/performance_benchmarks.md
  docs/contributing/pull_requests.md
  docs/contributing/testing.md
  mkdocs.yml
Due: none

[refactor]: add non-diffusion role model base
  .agents/exploration/interleavethinker-fastvideo-integration.md
  docs/design/interleave_thinker.md
  docs/design/training_architecture.md
  fastvideo/train/AGENTS.md
  fastvideo/train/methods/base.py
  fastvideo/train/methods/fine_tuning/interleave_thinker_sft.py
  fastvideo/train/methods/rl/interleave_thinker.py
  fastvideo/train/models/base.py
  fastvideo/train/models/interleave_thinker/critic.py
  fastvideo/train/models/interleave_thinker/qwen_actor.py
  fastvideo/train/utils/builder.py
  tests/local_tests/test_interleave_thinker_method.py
  tests/local_tests/test_interleave_thinker_planner_model.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record role model abstraction cleanup
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

add cf
  IMPLEMENTATION_NOTES_causal_forcing.md
  examples/train/configs/consistency_model/wan/causal_cd_t2v.yaml
  examples/train/configs/fine_tuning/wan/tfsft_causal_t2v.yaml
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/tests/train/fixtures/wan_causal_t2v_causal_cd_min.yaml
  fastvideo/tests/train/fixtures/wan_causal_t2v_tfsft_min.yaml
  fastvideo/tests/train/methods/test_wan_causal_cd.py
  fastvideo/tests/train/methods/test_wan_causal_tfsft.py
  fastvideo/train/methods/__init__.py
  fastvideo/train/methods/consistency_model/__init__.py
  fastvideo/train/methods/consistency_model/causal_cd.py
  fastvideo/train/methods/fine_tuning/__init__.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/tfsft.py
  fastvideo/train/models/wan/wan.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  IMPLEMENTATION_NOTES_causal_forcing.md
  examples/train/configs/consistency_model/wan/causal_cd_t2v.yaml
  examples/train/configs/fine_tuning/wan/dfsft_causal_t2v_framewise.yaml
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/tests/train/fixtures/wan_causal_t2v_causal_cd_min.yaml
  fastvideo/tests/train/fixtures/wan_causal_t2v_dfsft_framewise_min.yaml
  fastvideo/tests/train/methods/test_wan_causal_cd.py
  fastvideo/tests/train/methods/test_wan_causal_dfsft_framewise.py
  fastvideo/train/methods/consistency_model/causal_cd.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/tfsft.py
  fastvideo/train/models/wan/wan_causal.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  IMPLEMENTATION_NOTES_causal_forcing.md
Due: none

[docs]: record InterleaveThinker training dry-runs
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[docs]: update InterleaveThinker branch name
  .agents/exploration/interleavethinker-fastvideo-integration.md
Due: none

[docs] Restructure contributing CI/CD and testing docs (#1501)
  docs/contributing/ci_architecture.md
  docs/contributing/performance_benchmarks.md
  docs/contributing/pull_requests.md
  docs/contributing/testing.md
  mkdocs.yml
Due: none

[bugfix]: rebase links in generated example docs
  docs/generate_examples.py
Due: none

[bugfix]: handle generated doc link edge cases
  .agents/exploration/docs-example-link-rebasing.md
  docs/generate_examples.py
  scripts/check_docs_links.py
  tests/test_generate_examples.py
Due: none

[bugfix] Make enable_torch_compile_vae actually compile the Wan VAE (#1498)
  fastvideo/models/vaes/wanvae.py
  fastvideo/tests/vaes/test_wan_vae_compile.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  .agents/exploration/docs-example-link-rebasing.md
  docs/examples/examples_index.md
  docs/generate_examples.py
  examples/training/finetune/wan_t2v_1.3B/mixkit/README.md
  scripts/check_docs_links.py
  tests/test_generate_examples.py
Due: none

[bugfix]: fix docs build (#1502)
  docs/examples/examples_index.md
  examples/training/finetune/wan_t2v_1.3B/mixkit/README.md
Due: none

[docs]: modernize documentation build
  .github/workflows/infra-docs.yml
  .gitignore
  docs/README.md
  docs/api/fastvideo.md
  docs/api/summary.md
  docs/contributing/ci_architecture.md
  docs/contributing/dreamverse-development.md
  docs/contributing/eval-metrics.md
  docs/design/server_contracts/index.md
  docs/design/server_contracts/openai.md
  docs/examples/examples_index.md
  docs/generate_examples.py
  docs/training/train_infra.md
  mkdocs.yml
  requirements-mkdocs.in
  requirements-mkdocs.txt
Due: none

update scheduler and ema
  examples/train/configs/consistency_model/wan/causal_cd_t2v.yaml
  fastvideo/train/methods/consistency_model/causal_cd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] train-framework model coverage: Cosmos/MatrixGame2 finetune grad-norm + Cosmos/LongCat/MatrixGame2 loading smokes (#1497)
  fastvideo/tests/train/fixtures/cosmos_t2w_finetune_min.yaml
  fastvideo/tests/train/fixtures/cosmos_t2w_min.yaml
  fastvideo/tests/train/fixtures/longcat_t2v_min.yaml
  fastvideo/tests/train/fixtures/matrixgame2_finetune_min.yaml
  fastvideo/tests/train/fixtures/matrixgame2_min.yaml
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/grad_norm_regression.py
  fastvideo/tests/train/methods/test_cosmos_finetune.py
  fastvideo/tests/train/methods/test_matrixgame2_finetune.py
  fastvideo/tests/train/models/test_load_cosmos.py
  fastvideo/tests/train/models/test_load_longcat.py
  fastvideo/tests/train/models/test_load_matrixgame2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: keep Dreamverse behavior out of agent cleanup
  .agents/lessons/2026-05-22_dreamverse-ci-streaming-imports-need-gpu.md
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  apps/dreamverse/AGENTS.md
  apps/dreamverse/scripts/install_native_ffmpeg.sh
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/launch/launch_demo.sh
  apps/dreamverse/scripts/launch/launch_frontend.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  docs/contributing/dreamverse-development.md
Due: none

[bugfix]: resolve documentation build review findings
  .agents/exploration/docs-build-review-fixes.md
  .github/workflows/infra-docs.yml
  docs/README.md
  docs/api/index.md
  docs/contributing/ci_architecture.md
  docs/generate_examples.py
  mkdocs.yml
Due: none

[bugfix]: preserve attention backend config JSON roundtrip
  fastvideo/configs/models/dits/base.py
  fastvideo/configs/pipelines/base.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
