Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

Added OpenAI-compatible API server and benchmark script
  fastvideo/entrypoints/cli/bench.py
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/__init__.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/stores.py
  fastvideo/entrypoints/openai/utils.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Replace blocking I/O with async equivalents in API server and benchmark
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/utils.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Fix memory leak in batch video generation
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

changing config.md
  dev/config.md
  dev/phases/phase_3.md
  dev/refactor.md
  examples/distillation/phase2/distill_wan2.1_t2v_1.3B_dmd2_8steps.yaml
  fastvideo/distillation/builder.py
  fastvideo/distillation/families/wan.py
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase2.9.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase3.1.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase3.2.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/finetune_wan2.1_t2v_1.3B_phase3.3.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/finetune_wan2.1_t2v_1.3B_vsa_phase3.3.yaml
  fastvideo/distillation/registry.py
  fastvideo/distillation/specs.py
  fastvideo/distillation/utils/__init__.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/yaml_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

better config
  dev/config.md
  dev/design.md
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/methods/fine_tuning/__init__.md
  fastvideo/distillation/doc/methods/fine_tuning/finetune.md
  fastvideo/distillation/doc/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps.md
  fastvideo/distillation/doc/outside/fastvideo/configs/distillation/finetune_wan2.1_t2v_1.3B_phase3.3.md
  fastvideo/distillation/doc/runtime.md
  fastvideo/distillation/doc/specs.md
  fastvideo/distillation/doc/utils/__init__.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/doc/yaml_config.md
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase2.9.yaml
  fastvideo/distillation/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase3.1.yaml
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

merge yaml_config.py into utils/config.py
  dev/config.md
  dev/phases/phase_2.md
  dev/phases/phase_3.md
  fastvideo/distillation/builder.py
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/utils/__init__.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/doc/yaml_config.md
  fastvideo/distillation/families/wan.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/registry.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/yaml_config.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

designing phase 3.4
  dev/phases/phase_2.md
  dev/phases/phase_3.md
  fastvideo/distillation/builder.py
  fastvideo/distillation/doc/builder.md
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

phase 3.4
  dev/config.md
  dev/design.md
  dev/phases/phase_0.md
  dev/phases/phase_2.md
  dev/phases/phase_2_9.md
  dev/phases/phase_3.md
  examples/distillation/phase3_3/temp.sh
  fastvideo/distillation/__init__.py
  fastvideo/distillation/adapters/wan.py
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/models/__init__.md
  fastvideo/distillation/doc/models/wan.md
  fastvideo/distillation/doc/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps.md
  fastvideo/distillation/doc/registry.md
  fastvideo/distillation/doc/roles.md
  fastvideo/distillation/doc/utils/__init__.md
  fastvideo/distillation/doc/utils/checkpoint.md
  fastvideo/distillation/doc/utils/data.md
  fastvideo/distillation/doc/utils/tracking.md
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/__init__.py
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/registry.py
  fastvideo/distillation/roles.py
  fastvideo/distillation/utils/checkpoint.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/utils/data.py
  fastvideo/distillation/utils/tracking.py
  fastvideo/distillation/validators/base.py
  fastvideo/tests/distillation/test_optimizer_scheduler_alignment.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

family->model
  fastvideo/distillation/builder.py
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/builder.md
  fastvideo/distillation/doc/models/wan.md
  fastvideo/distillation/doc/outside/fastvideo/configs/distillation/distill_wan2.1_t2v_1.3B_dmd2_8steps.md
  fastvideo/distillation/doc/registry.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/models/__init__.py
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/registry.py
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux_2
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/models/dits/flux_2.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/flux2vae.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

param fix
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

more fixes
  fastvideo/configs/models/base.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux2-klien
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/flux_2.py
  fastvideo/configs/sample/registry.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_klein_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

family->model
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/builder.md
  fastvideo/distillation/doc/models/wan.md
  fastvideo/distillation/doc/registry.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/registry.py
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

qwen3
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen3.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/models/registry.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

verify
  fastvideo/pipelines/stages/image_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

imageen
  fastvideo/pipelines/stages/image_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

atten
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cuda change
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

isntance
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

mu
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/basic/flux_2/flux_2_timestep_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

reshape
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux2
  run_flux2_official.py
Due: none

nan fix
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

NaN checks
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/utils.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

decode
  fastvideo/pipelines/basic/flux_2/flux_2_latent_preparation.py
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

reshape
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

base
  run_flux2_official.py
Due: none

NaN
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test
  run_flux2_official.py
Due: none

dit blocks
  compare_flux2_dit_blocks.py
Due: none

training
  compare_flux2_dit.py
Due: none

almost there
  dump_flux2_step0.py
Due: none

core init
  compare_flux2_dit.py
Due: none

block fix
  compare_flux2_dit_blocks.py
Due: none

eee
  compare_flux2_dit.py
Due: none

dtype
  compare_flux2_dit.py
Due: none

image fix
  run_flux2_official.py
Due: none

port
  compare_flux2_dit.py
Due: none
