Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

add README for weight loading benchmarks
  fastvideo/models/loader/benchmarks/README.md
Due: Encoder Tests, VAE Tests, Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix distributed weight loading bugs and add loading benchmark
  fastvideo/distributed/parallel_state.py
  fastvideo/models/loader/benchmarks/__init__.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading_comparison.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/weight_utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix ruff SIM108 lint: use ternary for DTensor weight check
  fastvideo/layers/layernorm.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  fastvideo/distributed/parallel_state.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading.py
  fastvideo/models/loader/benchmarks/benchmark_weight_loading_comparison.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/loader/weight_utils.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [4/n] Add profile registry, Wan migration, and pipeline profiles
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/__init__.py
  fastvideo/api/profiles.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/lingbotworld.py
  fastvideo/configs/sample/wan.py
  fastvideo/pipelines/basic/cosmos/profiles.py
  fastvideo/pipelines/basic/gamecraft/profiles.py
  fastvideo/pipelines/basic/gen3c/profiles.py
  fastvideo/pipelines/basic/hunyuan/profiles.py
  fastvideo/pipelines/basic/hunyuan15/profiles.py
  fastvideo/pipelines/basic/hyworld/profiles.py
  fastvideo/pipelines/basic/lingbotworld/profiles.py
  fastvideo/pipelines/basic/longcat/profiles.py
  fastvideo/pipelines/basic/ltx2/profiles.py
  fastvideo/pipelines/basic/matrixgame/profiles.py
  fastvideo/pipelines/basic/sd35/profiles.py
  fastvideo/pipelines/basic/turbodiffusion/profiles.py
  fastvideo/pipelines/basic/wan/profiles.py
  fastvideo/registry.py
  fastvideo/tests/api/test_profiles.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_wan_i2v_similarity.py
  fastvideo/tests/ssim/test_wan_t2v_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Migrate Hunyuan SamplingParam subclasses to profile-based defaults
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan.py
  fastvideo/pipelines/basic/hunyuan/profiles.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Migrate SD35 SamplingParam subclass to profile-based defaults
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/profiles.py
  fastvideo/configs/sample/sd35.py
  fastvideo/pipelines/basic/sd35/profiles.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_sd35_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [4/n] Improve API: migrate GEN3C, Cosmos, and Cosmos25 to profile-based defaults
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/cosmos.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/gen3c.py
  fastvideo/configs/sample/profiles.py
  fastvideo/pipelines/basic/cosmos/profiles.py
  fastvideo/pipelines/basic/gen3c/profiles.py
  fastvideo/registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [4/n] Migrate all model families to profile-based SamplingParam defaults
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/configs/sample/__init__.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/cosmos.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/gen3c.py
  fastvideo/configs/sample/hunyuan.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/hunyuangamecraft.py
  fastvideo/configs/sample/hyworld.py
  fastvideo/configs/sample/lingbotworld.py
  fastvideo/configs/sample/ltx2.py
  fastvideo/configs/sample/sd35.py
  fastvideo/configs/sample/turbodiffusion.py
  fastvideo/configs/sample/wan.py
  fastvideo/pipelines/basic/cosmos/profiles.py
  fastvideo/pipelines/basic/gamecraft/profiles.py
  fastvideo/pipelines/basic/gen3c/profiles.py
  fastvideo/pipelines/basic/hunyuan15/profiles.py
  fastvideo/pipelines/basic/hyworld/profiles.py
  fastvideo/pipelines/basic/lingbotworld/profiles.py
  fastvideo/pipelines/basic/ltx2/profiles.py
  fastvideo/pipelines/basic/matrixgame/profiles.py
  fastvideo/pipelines/basic/sd35/profiles.py
  fastvideo/pipelines/basic/turbodiffusion/profiles.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove empty files
  fastvideo/configs/sample/cosmos.py
  fastvideo/configs/sample/cosmos2_5.py
  fastvideo/configs/sample/gen3c.py
  fastvideo/configs/sample/hunyuan.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/configs/sample/hunyuangamecraft.py
  fastvideo/configs/sample/hyworld.py
  fastvideo/configs/sample/lingbotworld.py
  fastvideo/configs/sample/ltx2.py
  fastvideo/configs/sample/sd35.py
  fastvideo/configs/sample/turbodiffusion.py
  fastvideo/configs/sample/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] [4/n] Fix profile loading bugs: shared mutable state, error swallowing, version sort
  fastvideo/api/profiles.py
  fastvideo/api/sampling_param.py
  tests/local_tests/test_ltx2_registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] [4/n] Remove configs/sample/ entirely and update all references
  .github/mergify.yml
  docs/api/fastvideo.md
  docs/contributing/ci_architecture.md
  docs/contributing/coding_agents.md
  docs/design/overview.md
  docs/getting_started/v1_api.md
  docs/inference/architecture.md
  docs/inference/gen3c.md
  fastvideo/configs/sample/__init__.py
  fastvideo/configs/sample/base.py
  fastvideo/tests/api/test_schema_parity_inventory.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] [4/n] Rename profile → preset; version str→int; stages → stage_schemas (#1234)
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/__init__.py
  fastvideo/api/compat.py
  fastvideo/api/presets.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/pipelines/basic/cosmos/presets.py
  fastvideo/pipelines/basic/gamecraft/presets.py
  fastvideo/pipelines/basic/gen3c/presets.py
  fastvideo/pipelines/basic/hunyuan/presets.py
  fastvideo/pipelines/basic/hunyuan15/presets.py
  fastvideo/pipelines/basic/hyworld/presets.py
  fastvideo/pipelines/basic/lingbotworld/presets.py
  fastvideo/pipelines/basic/longcat/presets.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/matrixgame/presets.py
  fastvideo/pipelines/basic/sd35/presets.py
  fastvideo/pipelines/basic/turbodiffusion/presets.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/registry.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_presets.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] [4/n] Validate SamplingParam.update keys against dataclass fields (#1234)
  fastvideo/api/sampling_param.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor][api]: simplify request tracking to explicit-paths set
  fastvideo/api/compat.py
  fastvideo/api/request_metadata.py
  fastvideo/entrypoints/cli/serve.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor][api]: dedup override normalization helper
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] small cleanup for API handling (#1235)
  fastvideo/api/compat.py
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
  fastvideo/api/request_metadata.py
  fastvideo/entrypoints/cli/serve.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add Z-Image scheduler parity and reference timestep option
  fastvideo/models/schedulers/scheduling_flow_match_euler_discrete.py
  tests/local_tests/zimage/test_zimage_scheduler_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add Z-Image VAE decode parity test
  tests/local_tests/zimage/test_zimage_vae_parity.py
Due: none

[feat]: Add Z-Image Qwen3 Encoder and parity test
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/qwen3.py
  fastvideo/models/encoders/qwen3.py
  fastvideo/models/registry.py
  tests/local_tests/zimage/test_zimage_encoder_parity.py
  tests/local_tests/zimage/test_zimage_tokenizer_parity.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [5/n] Improve API: wire ServeConfig.default_request into OpenAI server
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [5/n] Improve API: wire ServeConfig.default_request into OpenAI serving (#1237)
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [5.5/n] Improve API: streaming server config surface + serve dispatch
  fastvideo/api/__init__.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_parser.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [5.5/n] Address review: enabled flag on PromptEnhancerConfig, default_factory for sub-configs, drop cerebras_ifm
  fastvideo/api/schema.py
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [5.5/n] Improve API: streaming server config surface + serve dispatch (#1238)
  fastvideo/api/__init__.py
  fastvideo/api/schema.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/streaming/__init__.py
  fastvideo/entrypoints/streaming/server.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_parser.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] add LTX-2 distilled T2V SSIM regression test
  fastvideo/tests/ssim/test_ltx2_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] add seed-ssim-references agent skill
  .agents/skills/index.jsonl
  .agents/skills/seed-ssim-references/SKILL.md
  .agents/skills/seed-ssim-references/scripts/seed_ssim.sh
Due: none

[misc] add .agents/scripts/sync-skills.sh
  .agents/scripts/sync-skills.sh
Due: none

Made minimal change for Lora Training on 4090
  examples/train/configs/fine_tuning/hunyuan/t2v_lora.yaml
  examples/train/configs/fine_tuning/matrixgame/i2v_lora.yaml
  examples/train/configs/fine_tuning/wan/fast_t2v_lora_vsa.yaml
  examples/train/configs/fine_tuning/wan/fast_ti2v_fullattn_lora_vsa.yaml
  examples/train/configs/fine_tuning/wan/t2v_lora.yaml
  examples/train/configs/fine_tuning/wan/turbo_t2v_lora_sla.yaml
  examples/train/run.sh
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/entrypoint/train.py
  fastvideo/train/models/hunyuan/hunyuan.py
  fastvideo/train/models/matrixgame/__init__.py
  fastvideo/train/models/matrixgame/matrixgame.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/dataloader.py
  fastvideo/train/utils/lora.py
  scripts/training/append_run_log.py
  scripts/training/build_run_record.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Feat: Fuse_map_to_index_kernel
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/index.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

Minor: Change after saw gemini's suggestion
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/index.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[feat] [6/n] Improve API: typed LTX2 refine stage overrides
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stage_overrides.py
  fastvideo/tests/api/test_ltx2_stage_overrides.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] [6/n] Improve API: gpu_pool-style LTX-2 kwarg round-trip
  fastvideo/api/compat.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [6/n] Improve API: add ltx2_two_stage preset
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] [6/n] Improve API: colocate LTX-2 pipeline config and stages
  fastvideo/configs/pipelines/__init__.py
  fastvideo/pipelines/basic/ltx2/pipeline_configs.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_text_encoding.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/registry.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  tests/local_tests/test_ltx2_registry.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [6/n] Improve API: typed torch.compile kwargs + pipeline.vae_tiling
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] [6/n] Simplify LTX-2 preset scaffolding
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/configs/pipelines/__init__.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stage_overrides.py
  fastvideo/pipelines/basic/ltx2/stages/__init__.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/api/test_ltx2_stage_overrides.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] [6/n] Improve API: tidy LTX-2 refine override helpers
  fastvideo/api/compat.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/pipelines/basic/ltx2/stage_overrides.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/api/test_ltx2_stage_overrides.py
  fastvideo/tests/api/test_schema_parity_inventory.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
