Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix]: drain queued jobs greedily when batching delay is 0 (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add OpenAI video batching scheduler
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: log when the batch compatibility probe fails instead of silently disabling batching (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: never merge requests carrying pre-set latents or unrecognized objects (#1453)
  fastvideo/batching/signature.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 1 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[misc]: collect fastvideo/tests/batching in the Modal unit-test lane (#1453)
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record checklist closure (#1453)
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[refactor]: dedup single/batch generation paths (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add generator dynamic batching path
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/stages/test_input_validation_batching.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record multimodal batching validation report
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix]: reserve batch output paths so duplicate prompts do not collide (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fail fast when submitting to a stopped batch scheduler (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add generation batching primitives
  .agents/exploration/multimodal-gen-batching-port.md
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/batching/__init__.py
  fastvideo/batching/admission.py
  fastvideo/batching/signature.py
  fastvideo/configs/pipelines/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/batching/test_admission.py
  fastvideo/tests/batching/test_signature.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: route dynamic batching through the typed API (#1453)
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: classify supports_dynamic_batching in schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[misc]: drop .agents/exploration journals added by #1453
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
  .agents/exploration/pr-1453-gemini-review-handoff.md
Due: none

[docs]: record SSIM validation follow-up
  .agents/exploration/multimodal-gen-batching-final-report.md
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[bugfix]: coalesce in-flight arrivals when the batching deadline has expired (#1453)
  fastvideo/entrypoints/openai/batching.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: CPU regression tests for dynamic batching scheduler and signature fixes (#1453)
  fastvideo/tests/batching/test_scheduler.py
  fastvideo/tests/batching/test_signature.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: update batching schema test fixtures (#1453)
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/tests/api/test_parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: gate dynamic request batching behind a pipeline capability flag (#1453)
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record batching stage 2 state
  .agents/exploration/multimodal-gen-batching-port.md
Due: none

[feat] Extend WanTimeTextImageEmbedding with optional r_timestep
  fastvideo/models/dits/wanvideo.py
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] AnyFlowMethod (on-policy DMD2 with multi-step Euler-flow rollout)
  fastvideo/tests/training/distill/test_anyflow_onpolicy.py
  fastvideo/train/methods/distribution_matching/__init__.py
  fastvideo/train/methods/distribution_matching/anyflow.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add r_embedder config flags to Wan (defaults preserve bit-identity)
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] AnyFlow pretrain: cover (t, r) sampling distribution + validation
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add FlowMapEulerDiscreteScheduler
  fastvideo/models/schedulers/scheduling_flow_map_euler_discrete.py
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[verify] AnyFlow↔FastVideo numerical parity script
  scripts/verify_anyflow_fastvideo_parity.py
Due: none

[misc] Drive AnyFlow helper script paths from env vars + ruff SIM108
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
  scripts/demo_anyflow_14b.py
  scripts/verify_anyflow_fastvideo_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[demo] AnyFlow 14B T2V inference demo (NFE=4 + NFE=50)
  scripts/demo_anyflow_14b.py
Due: none

[feat] AnyFlowPretrainMethod skeleton + (t, r) per-batch sampling
  fastvideo/train/methods/distribution_matching/__init__.py
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] AnyFlow YAML configs (pretrain + on-policy) for Wan 2.1 T2V 1.3B
  examples/train/configs/distribution_matching/wan/anyflow_onpolicy_t2v.yaml
  examples/train/configs/distribution_matching/wan/anyflow_pretrain_t2v.yaml
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] AnyFlow embedder tests: initialize ReplicatedLinear weights for CPU runs
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] AnyFlow algorithm + usage guide
  docs/distillation/anyflow.md
  mkdocs.yml
Due: none

[feat] AnyFlow pretrain: central-difference target + full single_train_step
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Thread optional r_timestep through WanTransformer3DModel.forward
  fastvideo/models/dits/wanvideo.py
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] AnyFlow GPU smoke (pretrain + on-policy, 2 iters each)
  fastvideo/tests/training/distill/test_anyflow_smoke.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Apply yapf/ruff pre-commit autofixes after rebase (main moved to line-length 120)
  fastvideo/train/methods/distribution_matching/anyflow.py
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add AnyFlow any-step video distillation (pretrain + on-policy) (#1371)
  docs/distillation/anyflow.md
  examples/train/configs/distribution_matching/wan/anyflow_onpolicy_t2v.yaml
  examples/train/configs/distribution_matching/wan/anyflow_pretrain_t2v.yaml
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/models/schedulers/scheduling_flow_map_euler_discrete.py
  fastvideo/tests/training/distill/test_anyflow_onpolicy.py
  fastvideo/tests/training/distill/test_anyflow_pretrain.py
  fastvideo/tests/training/distill/test_anyflow_smoke.py
  fastvideo/train/methods/distribution_matching/__init__.py
  fastvideo/train/methods/distribution_matching/anyflow.py
  fastvideo/train/methods/distribution_matching/anyflow_pretrain.py
  fastvideo/train/models/wan/wan.py
  mkdocs.yml
  scripts/demo_anyflow_14b.py
  scripts/verify_anyflow_fastvideo_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: investigate LoRA training timeout (#1585)
  .agents/handoffs/issue-1585-handoff.md
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
