Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix] tests: follow shared-lane-script indirection in the FA4 policy pin
  fastvideo/tests/contract/test_modal_fa4_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] H3 VAE: clone the reduce-overhead stitched canvas at the tile-driver returns (#1734 review F1)
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/vaes/test_minimax_h3_vae_compile.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] H3 VAE: gate the reduce-overhead tile compiles behind enable_torch_compile_vae
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/vaes/test_minimax_h3_vae_compile.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] H3 conditioner: no_grad instead of inference_mode - FSDP2-sharded encode crashed (#1732 default-path gap)
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] H3 VAE attention: opt out of the FASTVIDEO_NVFP4_FA4 env opt-in
  fastvideo/attention/backends/flash_attn.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/attention/test_flash_attn_nvfp4_opt_out.py
  fastvideo/tests/vaes/test_minimax_h3_vae_compile.py
Due: VAE Tests, Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] logger: info_once crashed on the patched process-aware info (duplicate stacklevel)
  fastvideo/logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3 VAE: SP-rank-parallel chunk decode + reference-clip encode (opt-in)
  fastvideo/envs.py
  fastvideo/fastvideo_args.py
  fastvideo/models/vaes/minimax_h3_parallel.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  fastvideo/tests/vaes/test_minimax_h3_parallel_vae.py
  fastvideo/tests/vaes/test_minimax_h3_parallel_vae_gpu.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Add opt-in MiniMax-H3 Sol-Engine fusions (#1735)
  fastvideo/envs.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/__init__.py
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_routing.py
  fastvideo/tests/transformers/test_minimax_h3_modulation_fusion.py
  fastvideo/tests/transformers/test_minimax_h3_qknorm_rope_fusion.py
  fastvideo/tests/transformers/test_minimax_h3_swiglu_fusion.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] FastVideo-Minimax-FastH3-Preview few-step example + 64-token-tile VSA-H3 inference path (#1731)
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/backends/video_sparse_attn_h3_probe.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] H3 serialized FP8: pad m to a multiple of 4 on the FlashInfer CUTLASS route
  fastvideo/models/encoders/minimax_h3_checkpoint_fp8.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_checkpoint_fp8.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] inference: regional fullgraph torch.compile of the DiT blocks (port of #1718 to the inference path)
  examples/inference/basic/basic_fasth3.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/attention/layer.py
  fastvideo/envs.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] schema parity inventory: classify vae_parallel_* (+ the stack's unclassified VSA_tile_size)
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[docs] inference optimizations: document the regional fullgraph compile knob
  docs/inference/optimizations.md
Due: none

[perf] H3 parallel VAE: overlap first decodes with the meta rendezvous; assembly on a side stream
  fastvideo/models/vaes/minimax_h3_parallel.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] H3 parallel VAE: document the compiled-decoder cross-process determinism caveat
  fastvideo/models/vaes/minimax_h3_parallel.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Optimize MiniMax-H3 text encoder memory (#1732)
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/encoders/base.py
  fastvideo/models/encoders/minimax_h3_checkpoint_fp8.py
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/text_encoder_quantization.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_checkpoint_fp8.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_truncation.py
  tests/local_tests/encoders/test_minimax_h3_qwen3_vl_parity.py
  tests/local_tests/minimax_h3/README.md
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Optimize MiniMax H3 VAE decoding (#1734)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/envs.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/vaes/minimax_h3_audio.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/profiler.py
  fastvideo/tests/attention/test_flash_attn_nvfp4_opt_out.py
  fastvideo/tests/contract/test_profiler_regions.py
  fastvideo/tests/vaes/test_minimax_h3_vae_compile.py
  fastvideo/tests/worker/test_gpu_worker.py
  fastvideo/worker/gpu_worker.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] validation: inherit the trained denoising ladder
  fastvideo/tests/train/callbacks/test_validation_denoising_ladder.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: keep Triton fusions active under regional compile
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_compile.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] gate compiled H3 fusion dispatcher contracts
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_compile.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] MiniMax-H3: describe compiled fusion boundaries accurately
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] clarify compiled H3 VAE parity envelope
  fastvideo/models/vaes/minimax_h3_parallel.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: scope regional attention compile opt-in
  docs/inference/optimizations.md
  fastvideo/attention/layer.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: use packed-varlen FA4 for MiniMax H3
  fastvideo/attention/backends/flash_attn.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/tests/attention/test_flash_attn_h3_packed_varlen.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_routing.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: add generic runner script for legacy training pipelines
  fastvideo/training/runner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: update train scripts to use generic runner script
  scripts/distill/v1_distill_dmd_wan.sh
  scripts/distill/v1_distill_dmd_wan_VSA.sh
  scripts/finetune/finetune_v1.sh
Due: none

[test]: add basic unit test for the generic pipeline runner
  fastvideo/tests/training/test_runner.py
  fastvideo/training/runner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

perf(minimax-h3): align Sol Engine inference optimizations
  fastvideo/attention/layer.py
  fastvideo/attention/minimax_h3_relayout.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/parallel_state.py
  fastvideo/envs.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/transformers/test_minimax_h3_sol_optimizations.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: Refactor tests to remove unused pipeline main imports and use runner
  fastvideo/tests/training/VSA/test_training_loss_VSA.py
  fastvideo/tests/training/Vanilla/mfu_calculation.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/tests/training/distill/test_distill_dmd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: Add deprecation warnings to monolithic training pipelines
  fastvideo/training/cosmos2_5_training_pipeline.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/matrixgame2_ar_diffusion_pipeline.py
  fastvideo/training/matrixgame2_ode_causal_pipeline.py
  fastvideo/training/matrixgame2_self_forcing_distillation_pipeline.py
  fastvideo/training/matrixgame2_training_pipeline.py
  fastvideo/training/ode_causal_pipeline.py
  fastvideo/training/wan_distillation_pipeline.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
  fastvideo/training/wan_i2v_training_pipeline.py
  fastvideo/training/wan_self_forcing_distillation_pipeline.py
  fastvideo/training/wan_training_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: Use runner module in all tests and add unit test for runner dynamic instantiation
  fastvideo/tests/training/Vanilla/mfu_calculation.py
  fastvideo/tests/training/Vanilla/test_training_loss.py
  fastvideo/tests/training/distill/test_distill_dmd.py
  fastvideo/tests/training/self-forcing/test_self_forcing.py
  fastvideo/tests/training/test_runner.py
Due: SSIM Tests, Training Tests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] kernel: make sm100a sparse inference compile-safe
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  tests/test_block_sparse_sm100a.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
