Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

Add BSA attention backend
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add Flash Attn API support to BSA for faster inference
  fastvideo/attention/backends/bsa_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add end to end bsa inference test
  fastvideo/tests/inference/bsa/test_bsa_inference.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

initial schema
  .github/workflows/ci-inference-api-schema.yml
  fastvideo/api/__init__.py
  fastvideo/api/documents.py
  fastvideo/api/errors.py
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
  fastvideo/tests/api/test_documents.py
  fastvideo/tests/api/test_overrides.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/api/test_validation_errors.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Feature] Add BSA (Bidirectional Sparse Attention) inference backend (#1174)
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/platforms/cuda.py
  fastvideo/platforms/interface.py
  fastvideo/tests/inference/bsa/test_bsa_inference.py
  tests/test_bsa.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: Reduce CPU-GPU synchronization in training loop and enable async tensor transfers
  fastvideo/train/trainer.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  fastvideo/train/trainer.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: Remove unused force_cpu parameter per review feedback
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update and improve
  fastvideo/train/trainer.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add unitest for checkpoint resume
  fastvideo/tests/training/checkpoint/test_checkpointing_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bug fix] simplify filter function
  fastvideo/training/checkpointing_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bug fix] lora distributed checkpointing resume
  fastvideo/training/checkpointing_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

run pre commit
  fastvideo/training/checkpointing_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

improve naming
  fastvideo/api/__init__.py
  fastvideo/api/errors.py
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
  fastvideo/api/schema.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/api/test_validation_errors.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

lint
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix test
  .github/workflows/ci-inference-api-schema.yml
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [1/n] API improvements: add intial files for new fastvideo public API (#1218)
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/__init__.py
  fastvideo/api/errors.py
  fastvideo/api/overrides.py
  fastvideo/api/parser.py
  fastvideo/api/schema.py
  fastvideo/tests/api/__init__.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/api/test_overrides.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/api/test_validation_errors.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add to interface
  examples/inference/basic/README.md
  examples/inference/basic/basic_dmd_new_api.py
  fastvideo/api/__init__.py
  fastvideo/api/compat.py
  fastvideo/api/results.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: Eliminate CPU-GPU synchronization bottlenecks in training pipeline (#1217)
  fastvideo/train/trainer.py
  fastvideo/training/training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]Fixing Lora distillation training distributed checkpointing bug (#1192)
  fastvideo/tests/training/checkpoint/test_checkpointing_utils.py
  fastvideo/training/checkpointing_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  fastvideo/api/compat.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/api/compat.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix: disable dit_layerwise_offload in FP4 inference example
  examples/inference/optimizations/fp4_attn_wan2_1_1_3b.py
Due: none

docs: add FP4 vs BF16 video comparison screenshot
  docs/assets/fp4_quant_qk_vs_bf16.png
Due: none

Apply suggestions from code review
  fastvideo/attention/backends/flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove image from repo — will be in PR body only
  docs/assets/fp4_quant_qk_vs_bf16.png
Due: none

fix: add type annotations to FP4 functions for mypy
  fastvideo/attention/backends/flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix test
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add --compile flag to FP4 inference example
  examples/inference/optimizations/fp4_attn_wan2_1_1_3b.py
Due: none

doc string
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] [2/n] Improve API: add initial support in video_generator (#1220)
  examples/inference/basic/README.md
  examples/inference/basic/basic_dmd_new_api.py
  fastvideo/api/__init__.py
  fastvideo/api/compat.py
  fastvideo/api/results.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cli
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/cli/inference_config.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  docs/design/inference_schema_parity_inventory.yaml
  docs/distillation/dmd.md
  docs/inference/cli.md
  docs/inference/configuration.md
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/cli/inference_config.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/utils.py
  scripts/inference/README.md
  scripts/inference/inference_fasthunyuan.yaml
  scripts/inference/inference_hunyuan.yaml
  scripts/inference/inference_longcat.yaml
  scripts/inference/inference_longcat_distill.yaml
  scripts/inference/inference_longcat_i2v.yaml
  scripts/inference/inference_longcat_refine_fromvideo.yaml
  scripts/inference/inference_longcat_vc.yaml
  scripts/inference/inference_wan.yaml
  scripts/inference/inference_wan_1.3B_VMoba.yaml
  scripts/inference/inference_wan_VSA.yaml
  scripts/inference/inference_wan_VSA_DMD_14B_480P.yaml
  scripts/inference/inference_wan_VSA_DMD_14B_720P.yaml
  scripts/inference/inference_wan_VSA_DMD_1_3B.yaml
  scripts/inference/inference_wan_VSA_DMD_5B_720P.yaml
  scripts/inference/inference_wan_i2v.yaml
  scripts/inference/run.sh
  scripts/inference/v1_inference_fasthunyuan.sh
  scripts/inference/v1_inference_hunyuan.sh
  scripts/inference/v1_inference_longcat.sh
  scripts/inference/v1_inference_longcat_distill.sh
  scripts/inference/v1_inference_longcat_i2v.sh
  scripts/inference/v1_inference_longcat_refine_fromvideo.sh
  scripts/inference/v1_inference_longcat_vc.sh
  scripts/inference/v1_inference_wan.sh
  scripts/inference/v1_inference_wan_1.3B_VMoba.sh
  scripts/inference/v1_inference_wan_VSA.sh
  scripts/inference/v1_inference_wan_VSA_DMD.sh
  scripts/inference/v1_inference_wan_i2v.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/api/compat.py
  fastvideo/api/parser.py
  fastvideo/api/request_metadata.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/api/compat.py
  fastvideo/api/overrides.py
  fastvideo/api/request_metadata.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_overrides.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Cosmos transformer: fix dtype mismatch under FSDP validation
  fastvideo/models/dits/cosmos.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
