Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix] v2: SF-Wan cross-chunk KV cache — condition each chunk on prior clean chunks
  v2/platform/backends/torch_backend.py
  v2/recipes/wan_causal/loop.py
Due: none

[fix] v2: name LTX-2 cards by architecture (2-stage vs single-stage) + Wan2.1 is T2V-only
  v2/examples.py
  v2/models/ltx2/card.py
  v2/models/wan21/card.py
  v2/tests/test_inference.py
  v2/tests/test_ltx2_av.py
  v2/tests/test_serving.py
  v2/tests/test_workflow_shapes.py
Due: none

[feat] v2: Wan2.2-I2V-A14B (MoE i2v) — combine boundary-routed experts + i2v conditioning
  examples/inference/basic/V2_PORTING_STATUS.md
  v2/recipes/wan21/i2v.py
  v2/registry.py
Due: none

[feat] v2 LTX-2 adapters: A/V foundation (joint DiT forward + dual text connector + audio decode)
  v2/platform/backends/torch_ltx2.py
Due: none

[refactor] v2: drop unwired ConditioningInjector policy
  v2/core/loop/contracts.py
  v2/core/loop/policies/__init__.py
  v2/core/loop/policies/base.py
Due: none

[refactor] v2: remove unused DataRef provenance spec
  v2/core/card/__init__.py
  v2/core/card/specs.py
Due: none

[ci]: handle empty HF draft repos
  fastvideo/tests/ssim/reference_videos_cli.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: remove v2 training package
  v2/tests/test_flywheel.py
  v2/tests/test_training.py
  v2/tests/test_weight_sync_live.py
  v2/training/__init__.py
  v2/training/behavior.py
  v2/training/flywheel.py
  v2/training/methods/__init__.py
  v2/training/methods/base.py
  v2/training/methods/diffusion_nft.py
  v2/training/methods/dmd2.py
  v2/training/methods/finetune.py
  v2/training/methods/joint_multi_rl.py
  v2/training/methods/self_forcing.py
  v2/training/methods/unified_rl.py
  v2/training/methods/workflow_rl.py
  v2/training/rewards.py
  v2/training/rollout.py
  v2/training/weight_sync.py
  v2_examples/training/01_finetune.py
  v2_examples/training/02_distillation_dmd2.py
  v2_examples/training/03_rl_diffusion_nft.py
  v2_examples/training/04_self_forcing.py
  v2_examples/training/05_joint_lm_generator_rl.py
  v2_examples/training/06_nway_joint_rl.py
  v2_examples/training/07_end_to_end_workflow_rl.py
  v2_examples/training/README.md
Due: none

[refactor]: remove training semantics from v2 inference contracts
  v2/__init__.py
  v2/core/card/specs.py
  v2/core/enums.py
  v2/core/loop/sampler.py
  v2/core/parity/ladder.py
  v2/core/program/workflow.py
  v2/core/request/params.py
  v2/core/types.py
  v2/examples.py
  v2/platform/__init__.py
  v2/platform/backends/accel.py
  v2/platform/backends/toy.py
  v2/platform/registry.py
  v2/recipes/bagel/card.py
  v2/recipes/common.py
  v2/recipes/cosmos3/card.py
  v2/recipes/flux2/card.py
  v2/recipes/ltx2/card.py
  v2/recipes/matrixgame2/card.py
  v2/recipes/qwen_omni/card.py
  v2/recipes/wan21/i2v.py
  v2/recipes/wan21/program.py
  v2/recipes/wan_causal/card.py
  v2/recipes/wan_causal/loop.py
  v2/runtime/cache/classes.py
  v2/runtime/cache/keys.py
  v2/runtime/cache/manager.py
  v2/runtime/cudagraph.py
  v2/runtime/memory/allocator.py
  v2/tests/test_cache.py
  v2/tests/test_cudagraph.py
  v2/tests/test_review_fixes.py
  v2/tests/test_thinker_talker.py
Due: none

[feat]: wire v2 VideoGenerator to real torch backend
  v2/_vendor/api/__init__.py
  v2/core/card/instance.py
  v2/platform/backends/torch_backend.py
  v2/tests/test_platform.py
  v2/tests/test_torch_backend.py
  v2/video_generator.py
  v2_examples/inference/06_real_wan21_diffusers.py
Due: none

[feat]: add FP8 vendor support for Wan weights
  v2/_vendor/configs/pipeline_registry.py
  v2/_vendor/layers/quantization/__init__.py
  v2/_vendor/layers/quantization/fp8_config.py
  v2/_vendor/models/dits/wanvideo.py
  v2/_vendor/models/loader/fsdp_load.py
Due: none

[feat]: add FastWan QAD FP8 card
  v2/recipes/wan21/__init__.py
  v2/recipes/wan21/card.py
  v2/recipes/wan21/loop.py
  v2/registry.py
  v2/tests/test_inference.py
  v2/tests/test_sampling_defaults.py
Due: none

[misc]: simplify v2 program execution model
  v2/core/program/__init__.py
  v2/core/program/specs.py
  v2/runtime/disaggregated.py
  v2/runtime/engine.py
Due: none

[fix]: route v2 serving tasks by capabilities
  v2/serving/protocol.py
  v2/serving/server.py
  v2/tests/test_serving.py
Due: none

[docs]: scope v2 docs to inference runtime
  v2/HANDOFF.md
  v2/README.md
  v2/platform/backends/GPU_BRINGUP.md
  v2_examples/omni/README.md
Due: none

[fix]: keep v2 examples runnable
  v2/core/parity/__init__.py
  v2/core/parity/interleave.py
  v2/recipes/__init__.py
  v2/tests/test_parity.py
  v2/tests/test_workflows.py
  v2_examples/inference/01_basic_t2v.py
  v2_examples/inference/02_params_and_reproducibility.py
  v2_examples/inference/03_streaming.py
  v2_examples/inference/04_concurrent_interleaved.py
  v2_examples/inference/05_async_serving.py
  v2_examples/inference/README.md
  v2_examples/omni/01_cosmos3.py
  v2_examples/omni/02_bagel.py
  v2_examples/omni/03_qwen_omni.py
  v2_examples/omni/04_interleave_across_loop_types.py
  v2_examples/workflows/01_t2i_then_i2v.py
  v2_examples/workflows/02_register_as_servable.py
Due: none

[attn] Make FA4 explicit opt-in via FASTVIDEO_FA4 and delete the runtime fallback machinery (#1540)
  apps/dreamverse/docker/Dockerfile
  docker/Dockerfile
  docs/inference/optimizations.md
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/envs.py
  fastvideo/tests/attention/test_flash_attn_no_pad_resolver.py
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/train/methods/test_wan_causal_dfsft.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra] serialize image builds with a static concurrency group
  .github/workflows/infra-build-image.yml
Due: none

[infra] guard push-triggered rebuilds to the upstream repo
  .github/workflows/infra-build-image.yml
Due: none

[infra] derive publish gate from build job result
  .github/workflows/infra-build-image.yml
Due: none

[infra] Auto-rebuild CUDA images when docker/Dockerfile changes on main (#1526)
  .github/workflows/infra-build-image.yml
Due: none

[bugfix]: bound RMSNorm FSDP test torchrun timeout
  fastvideo/tests/layers/test_rmsnorm_forward_dispatch.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve FSDP hooks for RMSNorm qk norms (#1379)
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame2/causal_model.py
  fastvideo/tests/layers/test_rmsnorm_forward_dispatch.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: tighten RMSNorm FSDP dispatch test per review
  fastvideo/tests/layers/test_rmsnorm_forward_dispatch.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve FSDP hooks for RMSNorm qk norms (#1513)
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame2/causal_model.py
  fastvideo/tests/layers/test_rmsnorm_forward_dispatch.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: skip ThunderKittens kernels on aarch64 and document the kernel build matrix
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[docs]: qualify local build.sh TK cell with non-aarch64 host (review finding)
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci] Normalize perf stage component metrics
  docs/contributing/performance_benchmarks.md
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/performance/test_inference_performance_component_times.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: dedup UV_TORCH_BACKEND tag-sniffing into modal_image_utils (#1447 review)
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/modal_image_utils.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fail fast when kernel submodule headers are missing (#1447 review)
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: reject non-numeric CMAKE_CUDA_ARCHITECTURES spellings clearly (#1447 review)
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: only warn when TK headers are missing (review finding: non-SM90 builds never need them)
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: skip ThunderKittens kernels on aarch64 and document the kernel build matrix (#1548)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci] Add v2 performance benchmark config identity fields (#1544)
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address the three remaining #1447 review findings (#1549)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/build.sh
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/modal_image_utils.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci]: expose LoRA extraction slash command (#1542)
  .buildkite/pipeline.yml
  .github/workflows/ci-slash-commands.yml
  docs/contributing/ci_architecture.md
Due: none

[misc]: update reseed-performance-baseline skill for the hf_store move to fastvideo/performance (#1545 follow-up)
  .agents/skills/reseed-performance-baseline/SKILL.md
Due: none

[test]: cover chat list text preprocessing
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: collect fastvideo/tests/stages in the unit-test lane (was never run by any CI job)
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Cover Cosmos perf component metrics
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/performance/test_inference_performance_component_times.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
