Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[misc] drop FlashAttn _mask_cache scaffolding + document VSA tile_buf contract
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/video_sparse_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update Dreamverse Docker runtime packaging
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
Due: none

Remove Dreamverse launch wrappers
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/smoke_local.sh
  docs/contributing/dreamverse-development.md
Due: none

Add Dreamverse accelerator deps to extra
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/pyproject.toml
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Update Dreamverse package imports and state paths
  apps/dreamverse/dreamverse/_deps.py
  apps/dreamverse/dreamverse/benchmarks/benchmark_av_streaming.py
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/gpu_pool.py
  apps/dreamverse/dreamverse/main.py
  apps/dreamverse/dreamverse/mock_server.py
  apps/dreamverse/dreamverse/prompt_enhancer.py
  apps/dreamverse/dreamverse/routes/health.py
  apps/dreamverse/dreamverse/routes/presets.py
  apps/dreamverse/dreamverse/runtime.py
  apps/dreamverse/dreamverse/server_entry.py
  apps/dreamverse/dreamverse/session/controller.py
  apps/dreamverse/dreamverse/tests/conftest.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/dreamverse/tests/test_entrypoints.py
  apps/dreamverse/dreamverse/tests/test_gpu_pool.py
  apps/dreamverse/dreamverse/tests/test_mock_server.py
  apps/dreamverse/dreamverse/tests/test_prompt_enhancer.py
  apps/dreamverse/dreamverse/tests/test_session_init_image.py
  apps/dreamverse/dreamverse/tests/test_session_logging.py
  apps/dreamverse/dreamverse/video_generation.py
Due: none

Package Dreamverse as a FastVideo extra
  apps/dreamverse/README.md
  apps/dreamverse/pyproject.toml
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Update docker image.
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/docker/docker_entrypoint.sh
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
Due: none

Expand Dreamverse setup documentation
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/serve_configs/streaming_demo.yaml
Due: none

Standardize Dreamverse backend host env
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/e2e/preset-prompt-generation.spec.ts
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/playwright.config.ts
Due: none

[Doc] Update Dreamverse install docs
  apps/dreamverse/README.md
Due: none

update readme.
  apps/dreamverse/README.md
Due: none

[misc] attention hot-path cleanup + denoising loop hoists (#1272)
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/pipelines/stages/conditioning.py
  fastvideo/pipelines/stages/denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[dreamverse]: launch backend through installed cli
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/smoke_local.sh
  docs/contributing/dreamverse-development.md
Due: none

[refactor] Dreamverse 2/5: launch backend through installed CLI (#1314)
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/smoke_local.sh
  docs/contributing/dreamverse-development.md
Due: none

[dreamverse]: standardize backend host env
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/e2e/preset-prompt-generation.spec.ts
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/playwright.config.ts
Due: none

[dreamverse]: align backend host defaults
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/playwright.config.ts
Due: none

[feat] Dreamverse 3/5: standardize backend host env (#1315)
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/e2e/preset-prompt-generation.spec.ts
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/playwright.config.ts
Due: none

[dreamverse]: add Docker runtime packaging
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/docker/docker_entrypoint.sh
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
  apps/dreamverse/pyproject.toml
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[dreamverse]: clean up Docker runtime install
  apps/dreamverse/docker/Dockerfile
Due: none

[dreamverse]: make FFmpeg compiler override explicit
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/scripts/install_native_ffmpeg.sh
Due: none

[infra] Dreamverse 4/5: add Docker runtime packaging (#1316)
  apps/dreamverse/docker/.dockerignore
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/Dockerfile.dockerignore
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/docker/docker_entrypoint.sh
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
  apps/dreamverse/pyproject.toml
  apps/dreamverse/scripts/install_native_ffmpeg.sh
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[dreamverse]: document Docker setup workflow
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/serve_configs/streaming_demo.yaml
Due: none

[dreamverse]: clarify Docker setup docs
  apps/dreamverse/README.md
Due: none

[docs] Dreamverse 5/5: document Docker setup workflow (#1317)
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/serve_configs/streaming_demo.yaml
Due: none

divdebug
  compare_flux2_dit_blocks.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos 2.5 T2W training pipeline (LoRA + full fine-tune)
  examples/training/finetune/cosmos2_5/README.md
  examples/training/finetune/cosmos2_5/finetune_t2w.sh
  examples/training/finetune/cosmos2_5/finetune_t2w_lora.sh
  examples/training/finetune/cosmos2_5/preprocess_cosmos2_5_t2w.sh
  examples/training/finetune/cosmos2_5/validation.json
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/dataset/utils.py
  fastvideo/models/dits/cosmos2_5.py
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/training/cosmos2_5_training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Cosmos 2.5 DiT config, pipeline config, and registry entry
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/configs/pipelines/cosmos2_5.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add missing workload_types to Cosmos25 14B registration
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Remove stray daVinci imports from registry breaking CI
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix undefined Cosmos25SamplingParamBase in registry
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix latent AttributeError in chat-model text encoding branch
  fastvideo/configs/models/dits/cosmos2_5.py
  fastvideo/configs/pipelines/cosmos2_5.py
  fastvideo/pipelines/stages/text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update .agents
  .agents/STATUS.md
  .agents/skills/index.jsonl
  .agents/workflows/sync-dashboard.md
Due: none

text only
  examples/train/configs/example.yaml
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
  scripts/preprocess/preprocess_train_text_only_dmd.sh
  scripts/train/train_dmd2_t2v_text_only.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

mat fixes
  compare_flux2_dit_blocks.py
Due: none

e
  compare_flux2_dit_blocks.py
Due: none

save
  examples/train/configs/distribution_matching/wan/dmd2_text_only_validation.json
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/training/training_utils.py
  scripts/train/train_dmd2_t2v_text_only.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

decode fixes
  fastvideo/pipelines/stages/decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
