Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[docs] add NVIDIA DGX Spark (GB10) install guide
  README.md
  docs/getting_started/installation.md
  docs/getting_started/installation/spark.md
Due: none

[build] Point FA4 cute at upstream Dao-AILab (cutlass-4.5-safe), off the stale fork
  apps/dreamverse/pyproject.toml
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] Warn when FA4 degrades due to a cutlass API skew (vs not installed)
  fastvideo/attention/utils/flash_attn_cute.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[example] Use 81 frames in the basic DMD inference example
  examples/inference/basic/basic_dmd.py
Due: none

[infra]: publish ARM64 CUDA images
  .github/workflows/_template-build-image.yml
  .github/workflows/infra-build-image.yml
  README.md
  docker/Dockerfile
  docs/contributing/ci_architecture.md
  docs/contributing/developer_env/docker.md
  docs/getting_started/installation/spark.md
Due: none

[bugfix]: align CUDA support across builds and docs
  .buildkite/pipeline.yml
  README.md
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
  docker/Dockerfile
  docs/attention/index.md
  docs/contributing/developer_env/runpod.md
  docs/getting_started/installation/gpu.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo/eval/README.md
  fastvideo/tests/modal/launch_l40s_job.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: pin torch and CUDA backends
  AGENTS.md
  README.md
  apps/dreamverse/README.md
  comfyui/README.md
  docs/contributing/dreamverse-development.md
  docs/contributing/overview.md
  docs/getting_started/installation.md
  docs/getting_started/installation/gpu.md
  docs/getting_started/installation/mps.md
  docs/getting_started/installation/spark.md
  docs/getting_started/quick_start.md
  docs/inference/optimizations.md
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[infra]: default Docker images to CUDA 12.6
  .agents/skills/seed-ssim-references/SKILL.md
  .github/workflows/infra-build-image.yml
  docs/contributing/ci_architecture.md
  docs/contributing/developer_env/docker.md
  docs/contributing/developer_env/runpod.md
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: build Docker kernel after dependencies
  .github/workflows/_template-build-image.yml
  docker/Dockerfile
  docker/uv-excludes
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci] build + publish aarch64 (Grace Hopper) kernel wheels alongside x86_64
  .github/workflows/publish-kernel.yml
Due: none

[bugfix] nvfp4: reject non-float inputs, extract dtype coercion + test
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] nvfp4: cast fp32 inputs to bf16 instead of asserting
  fastvideo/layers/quantization/nvfp4_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] build + publish aarch64 (Grace Hopper) kernel wheels alongside x86_64 (#1514)
  .github/workflows/publish-kernel.yml
Due: none

[bugfix]: backport ThunderKittens ARM char fix
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix] -fsigned-char so ThunderKittens compiles on aarch64 (Grace Hopper)
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix] -fsigned-char so ThunderKittens compiles on aarch64 (Grace Hopper) (#1515)
  fastvideo-kernel/CMakeLists.txt
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: cap Docker kernel build parallelism
  .github/workflows/infra-build-image.yml
  docker/Dockerfile
Due: none

[ci] aarch64 kernel wheel: build for Blackwell (sm_100a/sm_120a), not Hopper
  .github/workflows/publish-kernel.yml
Due: none

[bugfix] FA2 review: fix varlen-qk fake head_dim, gate FA2-only tests, type _repad
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_flash_attn_no_pad_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] aarch64 kernel wheel: build for Blackwell (sm_100a/sm_120a), not Hopper (#1516)
  .github/workflows/publish-kernel.yml
Due: none

[bugfix]: compute VSA topk from padded blocks
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] longcat causal: route DFSFT/finetune training forward through the block-causal mask
  fastvideo/train/models/longcat/longcat_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover chat list text preprocessing
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] train: add Muon optimizer (FSDP2/DTensor-aware) alongside AdamW
  fastvideo/tests/train/utils/test_muon.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/finetune.py
  fastvideo/train/methods/knowledge_distillation/kd.py
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/muon.py
  fastvideo/train/utils/optimizer.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] Extract VSA utility functions into fastvideo_kernel
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/vsa_utils.py
  fastvideo-kernel/tests/test_vsa_utils.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
