Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc]: add training README with launcher and W&B usage guide
  examples/train/README.md
Due: none

[misc]: add README for configs/ and scenario/ directories
  examples/train/configs/README.md
  examples/train/scenario/README.md
Due: none

remove redundant examples.txt
  examples/train/examples.txt
Due: none

[misc]: add step2_export.sh wrapper for ODE-init scenario
  examples/train/scenario/ode_init_self_forcing_wan_causal/step2_export.sh
  examples/train/scenario/ode_init_self_forcing_wan_causal/usage.md
Due: none

[misc]: reorganize training configs into hierarchical structure
  examples/train/configs/distribution_matching/wan/dmd2_t2v.yaml
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v.yaml
  examples/train/configs/distribution_matching/wan/self_forcing_causal_t2v_vsa.yaml
  examples/train/configs/fine_tuning/hunyuan/t2v.yaml
  examples/train/configs/fine_tuning/wan/dfsft_causal_t2v.yaml
  examples/train/configs/fine_tuning/wan/t2v.yaml
  examples/train/configs/fine_tuning/wan/t2v_vsa.yaml
  examples/train/configs/kdtest/usage.md
  examples/train/configs/knowledge_distillation/wan/causal_t2v.yaml
  examples/train/configs/knowledge_distillation/wan/t2v.yaml
  examples/train/examples.txt
  examples/train/run.sh
  examples/train/run_slurm.sh
  examples/train/scenario/ode_init_self_forcing_wan_causal/decode_kd_cache.py
  examples/train/scenario/ode_init_self_forcing_wan_causal/step1_kd.yaml
  examples/train/scenario/ode_init_self_forcing_wan_causal/step3_self_forcing.yaml
  examples/train/scenario/ode_init_self_forcing_wan_causal/usage.md
  examples/train/scenario/ode_init_self_forcing_wan_causal/validation.json
Due: none

[misc]: remove HunyuanVideo overfit config and custom preprocessing script
  examples/train/configs/finetune_hunyuan_t2v_overfit.yaml
  scripts/preprocess_hunyuan_overfit.py
Due: none

minor
  fastvideo/train/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: fix stale path references after config reorganization
  examples/train/scenario/ode_init_self_forcing_wan_causal/decode_kd_cache.py
  examples/train/scenario/ode_init_self_forcing_wan_causal/step1_kd.yaml
  examples/train/scenario/ode_init_self_forcing_wan_causal/step3_self_forcing.yaml
Due: none

[fix]: use FSDP sharding for HunyuanVideo configs + add smoke test
  examples/train/configs/finetune_hunyuan_t2v_smoke.yaml
Due: none

vae fix and hunyuan overfit
  examples/train/configs/overfit_hunyuan_t2v.yaml
  fastvideo/models/vaes/common.py
  scripts/preprocess_hunyuan_overfit.py
  scripts/test_vae_roundtrip.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add HunyuanVideo overfitting test config and preprocessing script
  examples/train/configs/finetune_hunyuan_t2v_overfit.yaml
  scripts/preprocess_hunyuan_overfit.py
Due: none

[misc]: move preprocess script and remove roundtrip test
  fastvideo/pipelines/preprocess/preprocess_hunyuan_overfit.py
  scripts/test_vae_roundtrip.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove commented out code
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline_ode_trajectory.py
  fastvideo/training/matrixgame_ode_causal_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix pre-commit errors
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

change comment
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline_ode_trajectory.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Kandinsky5 lite dit clean (#1088)
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/kandinsky5.py
  fastvideo/models/dits/kandinsky5.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/registry.py
  fastvideo/registry.py
  tests/local_tests/transformers/test_kandinsky5_lite_transformer_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix: add gate_compress parameter to all attention backends (#817)
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sage_attn.py
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

fix: add None checks for attn_metadata in sla.py and vmoba.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/vmoba.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

fix: move gate_compress after attn_metadata in all backend forward signatures
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/backends/sage_attn.py
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/attention/backends/sdpa.py
  fastvideo/attention/backends/sla.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[bugfix]: fix SDPAImpl.forward() argument mismatch in VSA fallback (#817)
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Set API_BASE_URL for next.js built-in dev server
  ui/frontend/README.md
  ui/frontend/src/lib/api.ts
  ui/web_server.py
Due: none

Added job card, CreateJobModal, download console log
  ui/api_server.py
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/JobCard.tsx
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
Due: none

Added graceful failure
  ui/README.md
  ui/api_server.py
Due: none

Added configurable api server path to web server
  ui/frontend/src/lib/api.ts
  ui/web_server.py
Due: none

Refactor frontend to next.js
  ui/frontend/.gitignore
  ui/frontend/README.md
  ui/frontend/eslint.config.mjs
  ui/frontend/next.config.ts
  ui/frontend/package-lock.json
  ui/frontend/package.json
  ui/frontend/postcss.config.mjs
  ui/frontend/src/app/favicon.ico
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
  ui/frontend/tsconfig.json
  ui/server.py
Due: none

Move API_BASE_URL to environment file
  ui/README.md
  ui/frontend/README.md
  ui/frontend/next.config.ts
  ui/frontend/src/lib/api.ts
Due: none

[feat] added progress bar and console features
  fastvideo/registry.py
  ui/server.py
  ui/static/app.js
  ui/static/style.css
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

separate web and api servers
  ui/README.md
  ui/api_server.py
  ui/static/app.js
  ui/web_server.py
Due: none

Add logo, modal presentation of Create Job, and distribute CSS into modules
  ui/frontend/public/logo.svg
  ui/frontend/src/app/Layout.module.css
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/Badge.module.css
  ui/frontend/src/components/Button.module.css
  ui/frontend/src/components/Card.module.css
  ui/frontend/src/components/Console.module.css
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/Form.module.css
  ui/frontend/src/components/Header.module.css
  ui/frontend/src/components/JobCard.module.css
  ui/frontend/src/components/Modal.module.css
  ui/frontend/src/components/ProgressBar.module.css
  ui/frontend/src/components/Toast.module.css
Due: none

[feat]: initial commit for job runner UI
  .python-version
  ui/README.md
  ui/__init__.py
  ui/__main__.py
  ui/server.py
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
Due: none

Clean up styles
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/styles/Badge.module.css
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Card.module.css
  ui/frontend/src/components/styles/Console.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/Header.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/components/styles/ProgressBar.module.css
  ui/frontend/src/components/styles/Toast.module.css
  ui/frontend/tsconfig.json
Due: none

Fix bug where logs were being fetched for jobs that aren't running
  ui/static/app.js
Due: none

Added more logging to worker processes during MultiProcess execution
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Simplify API server
  fastvideo/worker/multiproc_executor.py
  ui/api_server.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Increase poll frequency to 2s from 0.5s
  ui/frontend/src/components/JobCard.tsx
Due: none

Added verbose mode
  ui/api_server.py
Due: none

Extend logging for job runner, move node code into the same directory as API server
  .gitignore
  pyproject.toml
  ui/.gitignore
  ui/eslint.config.mjs
  ui/next.config.ts
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.mjs
  ui/public/logo.svg
  ui/server.py
  ui/src/app/Layout.module.css
  ui/src/app/favicon.ico
  ui/src/app/globals.css
  ui/src/app/jobs/[id]/page.tsx
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/CreateJobButton.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/JobCard.tsx
  ui/src/components/styles/Badge.module.css
  ui/src/components/styles/Button.module.css
  ui/src/components/styles/Card.module.css
  ui/src/components/styles/Console.module.css
  ui/src/components/styles/Form.module.css
  ui/src/components/styles/Header.module.css
  ui/src/components/styles/JobCard.module.css
  ui/src/components/styles/Modal.module.css
  ui/src/components/styles/ProgressBar.module.css
  ui/src/components/styles/Toast.module.css
  ui/src/lib/api.ts
  ui/src/lib/types.ts
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
  ui/tsconfig.json
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

extend log buffer to use the logger
  ui/server.py
Due: none

Fix logger
  ui/job_runner.py
Due: none
