Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[feat] vendor the Ulysses all-to-all kernel into fastvideo-kernel
  .pre-commit-config.yaml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/comm/ulysses_all_to_all.cu
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo-kernel/include/comm/vllm_custom_all_reduce.cuh
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo/distributed/device_communicators/cuda_ipc.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/distributed/device_communicators/ulysses_comm.py
  fastvideo/distributed/device_communicators/ulysses_topology.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] Harden fused Ulysses all-to-all
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/csrc/comm/ulysses_all_to_all.cu
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo-kernel/python/fastvideo_kernel/version.py
  fastvideo/distributed/device_communicators/cuda_communicator.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/envs.py
  fastvideo/tests/distributed/test_ulysses_a2a_parity.py
  fastvideo/tests/distributed/test_ulysses_fault_injection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc] trim the Ulysses all-to-all wiring
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/device_communicators/cuda_communicator.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/distributed/parallel_state.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc] trim comments to house style, drop the ulysses a2a tests
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/comm/ulysses_all_to_all.cu
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo/distributed/device_communicators/cuda_communicator.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/distributed/parallel_state.py
  fastvideo/envs.py
  fastvideo/tests/distributed/test_ulysses_a2a_parity.py
  fastvideo/tests/distributed/test_ulysses_fault_injection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf] Add fused NVLink all-to-all for Ulysses (#1740)
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/csrc/comm/ulysses_all_to_all.cu
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo-kernel/python/fastvideo_kernel/version.py
  fastvideo/distributed/device_communicators/cuda_communicator.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/distributed/parallel_state.py
  fastvideo/envs.py
  fastvideo/tests/distributed/test_ulysses_a2a_parity.py
  fastvideo/tests/distributed/test_ulysses_fault_injection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] validation: inherit the trained denoising ladder (#1738)
  fastvideo/tests/train/callbacks/test_validation_denoising_ladder.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: keep Triton fusions active under regional compile
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_compile.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] gate compiled H3 fusion dispatcher contracts
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_compile.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] MiniMax-H3: describe compiled fusion boundaries accurately
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] kernel: make sm100a sparse inference compile-safe
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  tests/test_block_sparse_sm100a.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[perf] MiniMax-H3: compile VSA attention regions
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: share compiled VSA graph across layers
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] MiniMax-H3: prepare compile after FP8 conversion
  fastvideo/models/dits/minimax_h3.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] MiniMax-H3: use supported graph-reuse geometry
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Align FastH3 optimized inference profile
  docs/inference/optimizations.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/version.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc] Report FastH3 denoising latency
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Satisfy sparse routing type checks
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Keep sparse route logging outside fullgraph capture
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[build] Make the FastH3 profile installable
  .github/workflows/publish-kernel.yml
  docs/inference/optimizations.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo-kernel/README.md
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  pyproject.toml
  tests/test_fasth3_packaging.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[build] Resolve the FastH3 kernel from its checkout
  pyproject.toml
  tests/test_fasth3_packaging.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] Bind the kernel source to the FastH3 extra
  pyproject.toml
  tests/test_fasth3_packaging.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf] Enable regional compile in FastH3 default
  docs/inference/optimizations.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Clarify FastH3 compile profile
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Rename FastH3 profile help text
  examples/inference/basic/basic_fasth3.py
Due: none

[perf] Align FastH3 optimized inference profile (#1748)
  .github/workflows/publish-kernel.yml
  docs/inference/optimizations.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  fastvideo-kernel/README.md
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  fastvideo-kernel/python/fastvideo_kernel/version.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/fastvideo_args.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/modulation.py
  fastvideo/models/dits/minimax_h3_fusions/qknorm_rope.py
  fastvideo/models/dits/minimax_h3_fusions/swiglu.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  fastvideo/tests/inference/test_inference_regional_compile.py
  fastvideo/tests/transformers/test_minimax_h3_fusion_compile.py
  pyproject.toml
  tests/test_block_sparse_sm100a.py
  tests/test_fasth3_packaging.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs]: announce FastH3 Preview v0.1
  README.md
  examples/inference/basic/README.md
Due: none

[docs]: update FastH3 README for Preview v0.2
  README.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
Due: none

[docs] Update FastH3 README (#1749)
  README.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
Due: none

[fix] address bot review on #1426
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/modal/_cachedit_ab_inner.py
  fastvideo/tests/modal/cachedit_ab.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] classify new cachedit_* args in schema-parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[feat] optional cache-dit step caching for the Wan DiT
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/denoising.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test] Modal A/B harness for cache-dit step caching
  fastvideo/tests/modal/_cachedit_ab_inner.py
  fastvideo/tests/modal/cachedit_ab.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] extend cachedit compile guard to inference_torch_compile
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] Build + allow attn_qat_infer FP4 attention on sm_121a (DGX Spark)
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/stages/denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[kernel] Address review: guard sm_121a on CUDA>=13, downgrade main arch, wheel+README
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test]: drop redundant attn_qat_infer capability test (superseded by #1647)
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden SM121 Attn-QAT support
  .github/workflows/publish-kernel.yml
  docs/getting_started/installation/spark.md
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/tests/test_attn_qat_infer.py
  fastvideo-kernel/tests/test_build_arch.py
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Support FSDP in Studio
  apps/fastvideo_studio/job_runner.py
  apps/fastvideo_studio/models/create_job_request.py
  apps/fastvideo_studio/server.py
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  apps/fastvideo_studio/src/lib/defaultOptions.ts
Due: none

[feat]: add devcontainer setup
  .devcontainer/devcontainer.json
Due: none

[kernel] wire the sm_100a block-sparse forward into block_sparse_attn_from_indices (opt-in)
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  tests/test_block_sparse_sm100a_dispatch.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA
