Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[ci] Apply required formatting after Wan-VACE rebase
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/envs.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/utils/dataloader.py
  fastvideo/training/cosmos2_5_training_pipeline.py
  fastvideo/training/ltx2_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: exempt self-resolving MMAudio recipes from the pipeline-config check
  fastvideo/tests/train/utils/test_finetune_config_construction.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: QAT/QAD add safe regional compile for modular training (#1718)
  .buildkite/scripts/unit_test.sh
  docs/design/inference_schema_parity_inventory.yaml
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/dmd2_t2v_fa3.yaml
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/wan/transformer.py
  fastvideo/tests/attention/test_compile_policy.py
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/inference/test_inference_regional_compile.py
  fastvideo/tests/train/models/test_wan_compile_setup.py
  fastvideo/tests/train/models/test_wan_fsdp_checkpoint_smoke.py
  fastvideo/tests/train/utils/test_activation_checkpoint_ops_retains_attention.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_finetune_config_construction.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/tests/train/utils/test_torch_compile.py
  fastvideo/tests/transformers/test_wan_modulation_custom_op.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: re-run pre-commit after the 2026-10-07 merges
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/mock_server.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/utils/dataloader.py
  fastvideo/train/utils/performance.py
  fastvideo/training/cosmos2_5_training_pipeline.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_utils.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: re-run pre-commit after the 2026-10-07 merges (#1929)
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/mock_server.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/envs.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/utils/dataloader.py
  fastvideo/train/utils/performance.py
  fastvideo/training/cosmos2_5_training_pipeline.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_utils.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: Skip streaming IPC queues for standard VideoGenerator
  .agents/lessons/2026-09-29_streaming-ipc-semaphore-enoent.md
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/worker/spawn_ipc_probe.py
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Record confirmed Slurm epilog root cause for semaphore ENOENT
  .agents/lessons/2026-09-29_streaming-ipc-semaphore-enoent.md
Due: none

[misc] Gate IPC fault test on a parent-PID directory, not env vars
  fastvideo/tests/worker/spawn_ipc_probe.py
  fastvideo/tests/worker/test_multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Create streaming queues only for queue mode, on a copy of args
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/tests/worker/test_multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Classify enable_streaming_ipc_queues in schema inventory
  .agents/lessons/2026-09-29_streaming-ipc-semaphore-enoent.md
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/tests/worker/spawn_ipc_probe.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Fuse VSA64 tile layout for SM100 inference
  docs/attention/vsa/index.md
  docs/contributing/env_vars.md
  fastvideo-kernel/benchmarks/bench_vsa_tile_layout.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/vsa_tile_layout.py
  fastvideo-kernel/tests/test_vsa_tile_layout.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/envs.py
  fastvideo/tests/attention/test_vsa64_fused_layout.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf] Require the in-tree VSA64 layout kernel in parity tests
  docs/attention/vsa/index.md
  fastvideo/tests/attention/test_vsa64_fused_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Apply required lint cleanup after VSA64 rebase
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] NVFP4 fake-quant: mask padding lanes and guard zero-scale groups
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/nvfp4_utils.py
  fastvideo-kernel/tests/test_nvfp4_valid_mask.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix]: let create_app accept args without an executor backend
  fastvideo/entrypoints/openai/api_server.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] VSA-H3: scatter 64/128-token tiles straight into the heads-first layout
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/attention/backends/video_sparse_attn_h3_scatter.py
  fastvideo/envs.py
  fastvideo/tests/attention/test_vsa_h3_heads_first_tile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3 VAE: split spatial tiles across sequence-parallel ranks
  fastvideo/envs.py
  fastvideo/models/vaes/minimax_h3_parallel.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/tests/vaes/test_minimax_h3_parallel_vae.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] FastH3 OmniRef example: --lossless-accel preset and B200 benchmark
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
  scripts/benchmarks/fasth3_omniref_b200/README.md
  scripts/benchmarks/fasth3_omniref_b200/bench_lossless.py
  scripts/benchmarks/fasth3_omniref_b200/case_speaker.json
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: bit-exact Triton RoPE, AdaLN and SwiGLU kernels
  fastvideo/envs.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3_fusions/exact.py
  fastvideo/tests/transformers/test_minimax_h3_exact_kernels.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax-H3: content-keyed memo for reference encodes
  fastvideo/envs.py
  fastvideo/pipelines/basic/minimax_h3/memo.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/tests/stages/test_minimax_h3_ref2va_memo.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Keep Ray workers on their raylet's GPU list so every worker on a multi-GPU node gets a valid CUDA ordinal
  fastvideo/tests/worker/test_ray_distributed_executor.py
  fastvideo/worker/gpu_worker.py
  fastvideo/worker/ray_distributed_executor.py
  fastvideo/worker/ray_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[tests]: stop test_cpu_sdpa from pinning fastvideo.platforms.current_platform
  fastvideo/tests/platforms/test_cpu_sdpa.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Lazy-import fastvideo_kernel so FastVideo imports on CPU-only hosts
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[bugfix] Harden kernel probes and hide CUDA in import tests via envs
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/conftest.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Report broken kernels at backend selection; cache VSA kernels
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Route FastWan 5B FullAttn through dense attention
  docs/inference/support_matrix.md
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/layer.py
  fastvideo/attention/selector.py
  fastvideo/configs/models/base.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/models/wan/transformer.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  fastvideo/tests/api/test_wan_definitions.py
  mkdocs.yml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Route FullAttn-to-VSA LoRA training through sparse-capable 5B config
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Point FullAttn inference guide at the real 5B CLI config
  docs/inference/wan_fastwan_fullattn.md
Due: none

[misc] Clarify FastWan FullAttn routing and tests
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/selector.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/models/wan/transformer.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  fastvideo/train/utils/config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Correct FastWan FullAttn guide and support matrix
  docs/inference/support_matrix.md
  docs/inference/wan_fastwan_fullattn.md
Due: none

[misc] Set the attention backend through envs.override in FullAttn tests
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Reject image inputs and ti2v_task overrides for FastWan FullAttn
  fastvideo/configs/pipelines/base.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Document FullAttn manifest routing for VSA recipe checkpoints
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/AGENTS.md
Due: Transformer Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Build the validation pipeline with a substituted training config
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Preserve image output formats (#1915)
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_image_generation_route_compatibility.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix the MLX server and a GPU-only test leak after the 2026-10-07 merges (#1931)
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/tests/platforms/test_cpu_sdpa.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Read checkpoint shards on the node-group leader
  fastvideo/models/loader/benchmarks/benchmark_weight_loading_comparison.py
  fastvideo/models/loader/weight_utils.py
  fastvideo/tests/loader/test_weight_broadcast_leader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Describe the Ray device selection per platform in the worker comment
  fastvideo/worker/gpu_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
