Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

sdpa
  compare_flux2_text_encoder_sglang.py
  docs/rmsnorm_comparison.md
Due: none

3way
  compare_flux2_text_encoder_three_way.py
Due: none

registry
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

sanity chck
  debug_text_encoder_sglang.py
Due: none

test
  compare_flux2_text_encoder_three_way.py
Due: none

fixes
  debug_text_encoder_sglang.py
Due: none

cpu offlaod
  debug_text_encoder_sglang.py
Due: none

fullT
  debug_text_encoder_sglang.py
Due: none

bf16
  debug_text_encoder_sglang.py
Due: none

sdpa
  compare_flux2_e2e_ssim.py
Due: none

ssim
  compare_flux2_e2e_ssim.py
Due: none

block compare
  compare_flux2_dit_blocks.py
Due: none

allow text encode from preomcouted
  compare_flux2_e2e_ssim.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cahn ge back
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

e
  compare_flux2_e2e_ssim.py
Due: none

run sep
  compare_flux2_e2e_ssim.py
Due: none

eh
  compare_flux2_dit_blocks.py
Due: none

compare blocks
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

e
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

e
  compare_flux2_dit_blocks.py
Due: none

changes
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

e
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ff
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] [kernel] Migrate to uv (#1127)
  README.md
  docs/contributing/overview.md
  docs/getting_started/installation.md
  docs/getting_started/installation/gpu.md
  docs/getting_started/installation/mps.md
  docs/getting_started/quick_start.md
  docs/inference/inference_quick_start.md
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

add: cuda gate for fa4
  fastvideo/attention/utils/flash_attn_cute.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

adding docs and cleaning profiler code
  docs/utilities/nvtx_proflier.md
  fastvideo/profiler.py
  fastvideo/tests/training/Vanilla/mfu_calculation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

log metrics
  examples/distillation/phase3_4/distill_wan2.1_t2v_1.3B_dmd2_8steps_phase3.4.yaml
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_phase3.4.yaml
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.7sparsity.yaml
  fastvideo/distillation/doc/methods/base.md
  fastvideo/distillation/doc/trainer.md
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/trainer.py
  fastvideo/tests/distillation/test_optimizer_scheduler_alignment.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

registry changes
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux2 file change
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ok
  README.md
  docs/getting_started/quick_start.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  examples/inference/gradio/serving/ray_serve_backend.py
  fastvideo/configs/sample/base.py
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/video_generator.py
  tests/local_tests/pipelines/test_gamecraft_pipeline_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

use flowshift=3 validator
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_phase3.4.yaml
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_vsa_phase3.4.yaml
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.7sparsity.yaml
Due: none

fix
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

tracker, utils, loader
  examples/distillation/phase3_4/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/RFC-v1.md
  fastvideo/distillation/doc/dispatch.md
  fastvideo/distillation/doc/methods/base.md
  fastvideo/distillation/doc/methods/distribution_matching/dmd2.md
  fastvideo/distillation/doc/methods/fine_tuning/finetune.md
  fastvideo/distillation/doc/models/wan.md
  fastvideo/distillation/doc/trainer.md
  fastvideo/distillation/doc/utils/__init__.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/doc/utils/dataloader.md
  fastvideo/distillation/doc/utils/module_state.md
  fastvideo/distillation/doc/utils/moduleloader.md
  fastvideo/distillation/doc/utils/tracking.md
  fastvideo/distillation/doc/validators/wan.md
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/components.py
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/trainer.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/utils/dataloader.py
  fastvideo/distillation/utils/module_state.py
  fastvideo/distillation/utils/moduleloader.py
  fastvideo/distillation/validators/wan.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix: preprocessing issue
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/preprocess/wan/__init__.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

utils, config.
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/doc/dispatch.md
  fastvideo/distillation/doc/utils/__init__.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

rfc cn
  fastvideo/distillation/doc/RFC-v1.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

rfc en
  fastvideo/distillation/doc/RFC-v1-en.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] preprocessing issue (#1134)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/preprocess/wan/__init__.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

eval
  fastvideo/training/training_pipeline.py
  fastvideo/training/wangame_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
