Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] Add Waypoint-1-Small World Model transformer implementation
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/models/dits/waypoint_transformer.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add Waypoint pipeline config and sampling params
  .gitignore
  examples/inference/basic/basic_waypoint_streaming.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/waypoint.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/waypoint/README.md
  fastvideo/pipelines/basic/waypoint/__init__.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/registry.py
  scripts/convert_waypoint_stub_repo.py
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
  tests/local_tests/transformers/test_waypoint_transformer.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[waypoint] Address PR feedback: model_index.json errors, pymarkdown README
  docs/WAYPOINT_COMPARISON.md
  docs/waypoint_hf_vs_fastvideo.md
  examples/inference/basic/WAYPOINT_QUICKSTART.md
  examples/inference/basic/basic_waypoint.py
  examples/inference/basic/basic_waypoint_diffusers_baseline.py
  examples/inference/basic/basic_waypoint_local_live.py
  examples/inference/basic/basic_waypoint_streaming.py
  examples/inference/basic/run_waypoint_diffusers_baseline.sh
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/layers/lora/linear.py
  fastvideo/layers/vocab_parallel_embedding.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/README.md
  fastvideo/pipelines/basic/waypoint/__init__.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/registry.py
  fastvideo/utils.py
  fastvideo/worker/multiproc_executor.py
  run_fastvideo_single_frame.py
  test_official_model.py
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[style]: yapf reformat for CI
  .gitignore
  .pre-commit-config.yaml
  _rebase_backup/official_waypoint.py
  _rebase_backup/run_diffusers_waypoint.py
  _rebase_backup/waypoint_compare_fastvideo_vs_diffusers.py
  _rebase_backup/waypoint_official_vs_fastvideo_diff.md
  _rebase_backup/waypoint_runpod_compare.md
  docs/WAYPOINT_COMPARISON.md
  docs/waypoint_hf_vs_fastvideo.md
  examples/inference/basic/WAYPOINT_QUICKSTART.md
  examples/inference/basic/basic_waypoint.py
  examples/inference/basic/basic_waypoint_diffusers_baseline.py
  examples/inference/basic/basic_waypoint_local_live.py
  examples/inference/basic/basic_waypoint_streaming.py
  examples/inference/basic/run_waypoint_diffusers_baseline.sh
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/waypoint_transformer.py
  fastvideo/configs/pipelines/waypoint.py
  fastvideo/configs/sample/waypoint.py
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/layers/layernorm.py
  fastvideo/models/dits/waypoint_transformer.py
  fastvideo/pipelines/basic/waypoint/waypoint_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/waypoint_stages.py
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/test_waypoint_similarity.py
  run_fastvideo_single_frame.py
  scripts/huggingface/upload_waypoint_hf.py
  test_official_model.py
  tests/local_tests/pipelines/test_waypoint_pipeline_smoke.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

chore: remove _rebase_backup from repo
  _rebase_backup/official_waypoint.py
  _rebase_backup/run_diffusers_waypoint.py
  _rebase_backup/waypoint_compare_fastvideo_vs_diffusers.py
  _rebase_backup/waypoint_official_vs_fastvideo_diff.md
  _rebase_backup/waypoint_runpod_compare.md
Due: none

remove global/local end index
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/kv_cache.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove sinktoken
  fastvideo/models/dits/matrixgame/kv_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix ssim test fail after rebase
  fastvideo/tests/ssim/test_gen3c_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

kv cache dataclass
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/kv_cache.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

unified everything
  fastvideo/models/dits/matrixgame/kv_cache.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[CI] Add inference performance regression tests
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/__init__.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove temporal frame adjustment
  fastvideo/configs/models/vaes/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/ltx2_latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove unused
  fastvideo/configs/sample/base.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

chore: revert .gitignore and .pre-commit-config to main
  .gitignore
  .pre-commit-config.yaml
Due: none

read action from npy and assert action length
  fastvideo/dataset/validation_dataset.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/model.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

designing dfsft
  dev/phase_add_causal_wangame_dfsft.md
Due: none

remove hy1.5 padding
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/configs/models/encoders/t5.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/pipelines/stages/text_encoding.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validation config refine
  dev/config.md
  dev/phase_add_causal_wangame_dfsft.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

better validation config
  dev/config.md
  dev/phase_add_causal_wangame_dfsft.md
  examples/distillation/wangame/distill_wangame2.1_i2v_1.3B_dmd2_4steps_actioncfg.yaml
  examples/distillation/wangame/distill_wangame2.1_i2v_1.3B_dmd2_4steps_nocfg.yaml
  examples/distillation/wangame/finetune_wangame2.1_i2v_1.3B.yaml
  fastvideo/distillation/doc/models/wan.md
  fastvideo/distillation/doc/models/wangame.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/doc/validators/base.md
  fastvideo/distillation/doc/validators/wan.md
  fastvideo/distillation/doc/validators/wangame.md
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/models/wangame.py
  fastvideo/distillation/trainer.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/validators/base.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove mask
  examples/inference/basic/basic_wan2_2.py
  fastvideo/attention/layer.py
  fastvideo/distributed/utils.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/dits/hyworld/hyworld.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/models/dits/hunyuanvideo15.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

dfdft and causal wan init impl
  examples/distillation/wangame/dfsft_wangame2.1_i2v_1.3B_causal.yaml
  fastvideo/distillation/adapters/wangame.py
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/doc/adapters/wangame.md
  fastvideo/distillation/doc/methods/fine_tuning/__init__.md
  fastvideo/distillation/doc/methods/fine_tuning/dfsft.md
  fastvideo/distillation/doc/models/wangame.md
  fastvideo/distillation/doc/utils/config.md
  fastvideo/distillation/doc/utils/moduleloader.md
  fastvideo/distillation/methods/fine_tuning/__init__.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/models/wangame.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/utils/moduleloader.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

support other scheduler
  fastvideo/configs/pipelines/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/validators/base.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
  fastvideo/pipelines/samplers/wan.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

not strict loading
  examples/distillation/wangame/dfsft_wangame2.1_i2v_1.3B_causal.yaml
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

use CausalWanGameActionTransformer3DModel on wangame causal
  fastvideo/distillation/doc/models/wangame.md
  fastvideo/distillation/models/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove some checks
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/models/dits/matrixgame/model.py
  fastvideo/pipelines/stages/input_validation.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

agents.md
  fastvideo/tests/ssim/AGENTS.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

re-init action module
  examples/training/finetune/MatrixGame2.0/finetune_i2v.slurm
  examples/training/finetune/MatrixGame2.0/launch_preprocess_slurm.sh
  examples/training/finetune/MatrixGame2.0/preprocess_worker.slurm
  examples/training/finetune/MatrixGame2.0/validation.json
  examples/training/finetune/MatrixGame2.0/validation_mc.json
  examples/training/finetune/MatrixGame2.0/validation_test.json
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update
  docs/contributing/testing.md
  fastvideo/tests/ssim/AGENTS.md
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/conftest.py
  fastvideo/tests/ssim/reference_utils.py
  fastvideo/tests/ssim/reference_videos_cli.py
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  fastvideo/tests/ssim/update_reference_videos.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validator rollout mode
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/validators/base.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
  fastvideo/pipelines/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validator streaming causal rollout
  examples/distillation/wangame/dfsft_wangame2.1_i2v_1.3B_causal.yaml
  fastvideo/distillation/validators/wangame.py
  fastvideo/pipelines/basic/wan/wangame_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

wangame support validator num_frames
  examples/distillation/wangame/dfsft_wangame2.1_i2v_1.3B_causal.yaml
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/validators/base.py
  fastvideo/distillation/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix scheduler out of bound
  fastvideo/pipelines/stages/matrixgame_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: initial commit for job runner UI
  .python-version
  ui/README.md
  ui/__init__.py
  ui/__main__.py
  ui/server.py
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
Due: none

introduce sf
  fastvideo/dataset/dataloader/record_schema.py
  fastvideo/dataset/dataloader/schema.py
  fastvideo/pipelines/preprocess/matrixgame/matrixgame_preprocess_pipeline_ode_trajectory.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/training/matrixgame_ode_causal_pipeline.py
  fastvideo/training/matrixgame_self_forcing_distillation_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

adapter -> models. config decleartion.
  fastvideo/distillation/adapters/__init__.py
  fastvideo/distillation/adapters/base.py
  fastvideo/distillation/adapters/wan.py
  fastvideo/distillation/adapters/wangame.py
  fastvideo/distillation/doc/README.md
  fastvideo/distillation/doc/adapters/__init__.md
  fastvideo/distillation/doc/adapters/base.md
  fastvideo/distillation/doc/adapters/wan.md
  fastvideo/distillation/doc/adapters/wangame.md
  fastvideo/distillation/doc/models/adapter.md
  fastvideo/distillation/doc/models/components.md
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/adapter.py
  fastvideo/distillation/models/wan.py
  fastvideo/distillation/models/wangame.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix a bug where collect_env was not running properly because it was checking for `UV` environment variable instead of the `uv` executable
  collect_env.py
Due: none

update comment since FastVideo requires Python >= 3.10
  collect_env.py
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
