Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix]: fix LongCat training flow_shift for rerun
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
  fastvideo/training/trackers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCatCausalDMDPipeline for self-forcing inference
  fastvideo/pipelines/basic/longcat/longcat_causal_dmd_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: replace LongCat KV cache torch.cat with pre-allocated buffer
  fastvideo/train/models/longcat/longcat_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix LongCat text mask alignment
  fastvideo/models/dits/longcat.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: skip gated Cosmos transformer test in CI
  fastvideo/tests/transformers/test_cosmos.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: negate LongCatModel.predict_noise to match training-target sign
  fastvideo/train/models/longcat/longcat.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCatCausalPipeline + fix LongCatDenoisingStage dtype
  fastvideo/pipelines/basic/longcat/longcat_causal_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: reuse encode_negative_prompt helper for negative-prompt encoding
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: scope LongCat training PR to bidirectional finetuning
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  examples/train/configs/fine_tuning/longcat/t2v.yaml
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/basic/longcat/longcat_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/longcat/longcat_causal_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: fix tracker config ruff lint
  fastvideo/training/trackers.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add component-level performance timings
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/dashboard.py
  fastvideo/tests/performance/hf_store.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: enable perf stage timing in spawned workers
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/dashboard.py
  fastvideo/tests/performance/hf_store.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Upload normalized perf artifacts for rolling comparison failures
  .agents/skills/index.jsonl
  .agents/skills/reseed-performance-baseline/SKILL.md
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Cherrypick perf regression skills to component time commit
  .agents/skills/reseed-performance-baseline/SKILL.md
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/compare_baseline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Addressed review comments on the last four commits
  .agents/skills/reseed-performance-baseline/SKILL.md
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b.json
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/hf_store.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: apply LongCat yapf formatting
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCat bidirectional finetuning support (#1244)
  examples/train/configs/fine_tuning/longcat/t2v.yaml
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/tests/transformers/test_cosmos.py
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/training/trackers.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: import add-model skill stack to .agents/skills/
  .agents/skills/add-model-01-prep/SKILL.md
  .agents/skills/add-model-01-prep/scripts/clone_reference_repo.py
  .agents/skills/add-model-01-prep/scripts/download_hf_weights.py
  .agents/skills/add-model-01-prep/scripts/inspect_hf_layout.py
  .agents/skills/add-model-01-prep/templates/local_tests_readme.md
  .agents/skills/add-model-01-prep/templates/port_status.md
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/add-model-02-parity/templates/component_parity_test.py
  .agents/skills/add-model-03-port-dit/SKILL.md
  .agents/skills/add-model-04-port-vae/SKILL.md
  .agents/skills/add-model-05-port-encoder/SKILL.md
  .agents/skills/add-model-06-port-generic/SKILL.md
  .agents/skills/add-model-07-conversion/SKILL.md
  .agents/skills/add-model-07-conversion/templates/family_to_diffusers.py
  .agents/skills/add-model-08-trace/SKILL.md
  .agents/skills/add-model-08-trace/templates/block_trace_debug.py
  .agents/skills/add-model-09-pipeline/SKILL.md
  .agents/skills/add-model-09-pipeline/templates/pipeline_parity_test.py
  .agents/skills/add-model-10-pr-review/SKILL.md
  .agents/skills/add-model/REVIEW.md
  .agents/skills/add-model/SKILL.md
  .agents/skills/add-model/contracts/README.md
  .agents/skills/add-model/contracts/component_context.md
  .agents/skills/add-model/contracts/component_skill_handoff.md
  .agents/skills/add-model/contracts/conversion_handoff.md
  .agents/skills/add-model/contracts/conversion_request.md
  .agents/skills/add-model/contracts/escape_hatch.md
  .agents/skills/add-model/contracts/final_handoff.md
  .agents/skills/add-model/contracts/parity_status.md
  .agents/skills/add-model/contracts/pipeline_context.md
  .agents/skills/add-model/contracts/pipeline_handoff.md
  .agents/skills/add-model/contracts/port_state.md
  .agents/skills/add-model/contracts/prep_handoff.md
  .agents/skills/add-model/shared/common_rules.md
  .agents/skills/add-model/shared/component_skill_common.md
Due: none

[feat]: add LongCat self-forcing training scaffold
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/train/models/longcat/__init__.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix LongCat training flow_shift for rerun
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/train/models/longcat/longcat_causal.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden LongCat self-forcing training path
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: cache LongCat RoPE offset tables
  fastvideo/layers/rotary_embedding_3d.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address LongCat causal review feedback
  fastvideo/layers/rotary_embedding_3d.py
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
  fastvideo/tests/transformers/test_longcat_causal_mask.py
  fastvideo/train/methods/distribution_matching/self_forcing.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCatCausalPipeline + fix LongCatDenoisingStage dtype
  fastvideo/pipelines/basic/longcat/longcat_causal_pipeline.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add LongCat block-causal attention mask
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
  fastvideo/tests/transformers/test_longcat_causal_mask.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: tighten LongCat causal rollout guards
  examples/train/configs/distribution_matching/longcat/self_forcing_t2v.yaml
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
  fastvideo/tests/transformers/test_longcat_causal_mask.py
  fastvideo/train/methods/distribution_matching/self_forcing.py
  fastvideo/train/models/longcat/longcat.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add LongCat causal KV cache regressions
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_causal_denoising.py
  fastvideo/pipelines/stages/longcat_causal_dmd_denoising.py
  fastvideo/tests/transformers/test_longcat_causal_mask.py
  fastvideo/train/models/longcat/longcat_causal.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: address review feedback on add-model templates
  .agents/skills/add-model-01-prep/SKILL.md
  .agents/skills/add-model-01-prep/templates/local_tests_readme.md
  .agents/skills/add-model-02-parity/templates/component_parity_test.py
  .agents/skills/add-model-08-trace/templates/block_trace_debug.py
  .agents/skills/add-model/REVIEW.md
  .agents/skills/add-model/SKILL.md
  docs/contributing/activation_trace.md
  tests/local_tests/kandinsky5/README.md
  tests/local_tests/sd35/README.md
Due: none

[test]: fix LongCat causal guard test dummy
  fastvideo/tests/transformers/test_longcat_causal_mask.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: import add-model skill stack to .agents/skills/ (#1308)
  .agents/skills/add-model-01-prep/SKILL.md
  .agents/skills/add-model-01-prep/scripts/clone_reference_repo.py
  .agents/skills/add-model-01-prep/scripts/download_hf_weights.py
  .agents/skills/add-model-01-prep/scripts/inspect_hf_layout.py
  .agents/skills/add-model-01-prep/templates/local_tests_readme.md
  .agents/skills/add-model-01-prep/templates/port_status.md
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/add-model-02-parity/templates/component_parity_test.py
  .agents/skills/add-model-03-port-dit/SKILL.md
  .agents/skills/add-model-04-port-vae/SKILL.md
  .agents/skills/add-model-05-port-encoder/SKILL.md
  .agents/skills/add-model-06-port-generic/SKILL.md
  .agents/skills/add-model-07-conversion/SKILL.md
  .agents/skills/add-model-07-conversion/templates/family_to_diffusers.py
  .agents/skills/add-model-08-trace/SKILL.md
  .agents/skills/add-model-08-trace/templates/block_trace_debug.py
  .agents/skills/add-model-09-pipeline/SKILL.md
  .agents/skills/add-model-09-pipeline/templates/pipeline_parity_test.py
  .agents/skills/add-model-10-pr-review/SKILL.md
  .agents/skills/add-model/REVIEW.md
  .agents/skills/add-model/SKILL.md
  .agents/skills/add-model/contracts/README.md
  .agents/skills/add-model/contracts/component_context.md
  .agents/skills/add-model/contracts/component_skill_handoff.md
  .agents/skills/add-model/contracts/conversion_handoff.md
  .agents/skills/add-model/contracts/conversion_request.md
  .agents/skills/add-model/contracts/escape_hatch.md
  .agents/skills/add-model/contracts/final_handoff.md
  .agents/skills/add-model/contracts/parity_status.md
  .agents/skills/add-model/contracts/pipeline_context.md
  .agents/skills/add-model/contracts/pipeline_handoff.md
  .agents/skills/add-model/contracts/port_state.md
  .agents/skills/add-model/contracts/prep_handoff.md
  .agents/skills/add-model/shared/common_rules.md
  .agents/skills/add-model/shared/component_skill_common.md
  docs/contributing/activation_trace.md
  tests/local_tests/kandinsky5/README.md
  tests/local_tests/sd35/README.md
Due: none

Remove Dreamverse launch wrappers
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
  apps/dreamverse/scripts/launch/launch_backend_dreamverse.sh
  apps/dreamverse/scripts/smoke_local.sh
  docs/contributing/dreamverse-development.md
Due: none

[Doc] Update Dreamverse install docs
  apps/dreamverse/README.md
Due: none

Update examples/inference/optimizations/fp4_attn_wan2_1_1_3b.py
  examples/inference/optimizations/fp4_attn_wan2_1_1_3b.py
Due: none

Standardize Dreamverse backend host env
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_run.sh
  apps/dreamverse/docker/docker_smoke.sh
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/e2e/preset-prompt-generation.spec.ts
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/playwright.config.ts
Due: none

Expand Dreamverse setup documentation
  apps/dreamverse/README.md
  apps/dreamverse/design.md
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/serve_configs/streaming_demo.yaml
Due: none
