Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix] Fix performance component timing extraction (#1473)
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/performance/test_inference_performance_component_times.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] QAD 5090: FP8 linear layer inference (#1465)
  docs/inference/optimizations.md
  examples/inference/optimizations/fp8_wan2_1_1_3b.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/fp8_config.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] QAD 5090: env-gate attention torch.compile via FASTVIDEO_DISABLE_ATTENTION_COMPILE
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

precommit stuff
  fastvideo/layers/quantization/nvfp4_qat_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Adding TAEHV script, sage_attn3 more torch compile friendly, weight popping+torch compile+single level quant changes to nvfp4_qat_config
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/layers/quantization/nvfp4_qat_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] training: attn_only saves all functional collectives + cache op decision
  fastvideo/tests/training/checkpoint/test_activation_checkpoint_attn_only.py
  fastvideo/training/activation_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] training: unit-test attn_only selective activation checkpointing
  fastvideo/tests/training/checkpoint/test_activation_checkpoint_attn_only.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] training: add attn_only selective activation checkpointing
  fastvideo/fastvideo_args.py
  fastvideo/training/activation_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] training: attn_only covers VSA backend + fwd/bwd parity tests
  fastvideo/tests/training/checkpoint/test_activation_checkpoint_attn_only.py
  fastvideo/training/activation_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] QAD 5090: emit sm_120a in build.sh so attn_qat_infer kernels build
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[Bugfix] QAD 5090: Torch.compile and other optimizations (15/12) (#1466)
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  fastvideo-kernel/build.sh
  fastvideo/attention/backends/sage_attn3.py
  fastvideo/attention/layer.py
  fastvideo/layers/quantization/nvfp4_qat_config.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] Wire Cosmos-Predict2.5 2B to its sampling preset (#1468)
  fastvideo/registry.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] eval: add metric regression + identity-invariant ci tests (#1451)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  docs/contributing/ci_architecture.md
  examples/inference/eval/all_metrics_demo.py
  fastvideo/eval/metrics/audio/desync/metric.py
  fastvideo/eval/metrics/videoscore2/metric.py
  fastvideo/tests/eval/asset/ltx2.metadata.json
  fastvideo/tests/eval/asset/ltx2.mp4
  fastvideo/tests/eval/asset/ltx2.wav
  fastvideo/tests/eval/conftest.py
  fastvideo/tests/eval/reference_scores/audio.audiobox_aesthetics.json
  fastvideo/tests/eval/reference_scores/audio.clap_score.json
  fastvideo/tests/eval/reference_scores/audio.desync.json
  fastvideo/tests/eval/reference_scores/audio.imagebind_score.json
  fastvideo/tests/eval/reference_scores/audio.wer.json
  fastvideo/tests/eval/reference_scores/vbench.aesthetic_quality.json
  fastvideo/tests/eval/reference_scores/vbench.appearance_style.json
  fastvideo/tests/eval/reference_scores/vbench.background_consistency.json
  fastvideo/tests/eval/reference_scores/vbench.dynamic_degree.json
  fastvideo/tests/eval/reference_scores/vbench.human_action.json
  fastvideo/tests/eval/reference_scores/vbench.imaging_quality.json
  fastvideo/tests/eval/reference_scores/vbench.motion_smoothness.json
  fastvideo/tests/eval/reference_scores/vbench.overall_consistency.json
  fastvideo/tests/eval/reference_scores/vbench.subject_consistency.json
  fastvideo/tests/eval/reference_scores/vbench.temporal_flickering.json
  fastvideo/tests/eval/reference_scores/vbench.temporal_style.json
  fastvideo/tests/eval/reference_scores/videoscore2.json
  fastvideo/tests/eval/test_datasets_vbench.py
  fastvideo/tests/eval/test_evaluator_multi_gpu.py
  fastvideo/tests/eval/test_evaluator_paths.py
  fastvideo/tests/eval/test_evaluator_single.py
  fastvideo/tests/eval/test_evaluator_with_dataset.py
  fastvideo/tests/eval/test_metric_identity_invariants.py
  fastvideo/tests/eval/test_metric_score_regression.py
  fastvideo/tests/eval/test_registry.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore] release fastvideo-kernel 0.3.0
  apps/dreamverse/docker/README.md
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/version.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci] kernel publish: py3.12 + torch 2.12 (cu126/cu130), ship Blackwell FP4 on cu130
  .github/workflows/publish-kernel.yml
Due: none

[ci] mergify: stop auto-syncing ready PRs
  .github/mergify.yml
Due: none

[build] Drop the CUDA 12.8 / torch 2.11 image from the matrix
  .agents/skills/seed-ssim-references/SKILL.md
  .github/workflows/infra-build-image.yml
  docker/Dockerfile
  docs/attention/index.md
  docs/getting_started/installation/gpu.md
  fastvideo/tests/modal/launch_l40s_job.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[example] Use 81 frames in the basic DMD inference example
  examples/inference/basic/basic_dmd.py
Due: none

[ci] mergify: stop auto-syncing ready PRs (#1477)
  .github/mergify.yml
Due: none

fixing denoising time
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update FastWan_QAD_TAEHV.py
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
Due: none

benchmark script
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
Due: none

[bugfix] fixing denoising time in the fastwan script (#1480)
  examples/inference/optimizations/FastWan_QAD_TAEHV.py
  fastvideo/models/loader/fsdp_load.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[chore] release fastvideo-kernel 0.3.0 (#1478)
  .github/workflows/publish-kernel.yml
  apps/dreamverse/docker/README.md
  fastvideo-kernel/pyproject.toml
  fastvideo-kernel/python/fastvideo_kernel/version.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci] bump cuda-toolkit action to v0.2.35 to fix kernel cu130 publish
  .github/workflows/publish-kernel.yml
Due: none

Update publish-kernel.yml
  .github/workflows/publish-kernel.yml
Due: none

[ci] bump cuda-toolkit action to v0.2.35 to fix kernel cu130 publish (#1481)
  .github/workflows/publish-kernel.yml
Due: none

[feat]: hard-fail on missing attention backends + force VSA for FastWan
  fastvideo/attention/selector.py
  fastvideo/configs/models/dits/wanvideo.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_fastwan_vsa_scoping.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] optimize compress & topk kernel (#1421)
  fastvideo-kernel/benchmarks/bench_fused_compress_topk.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/fused_compress_topk.py
  fastvideo-kernel/tests/test_fused_compress_topk.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

update
  README.md
Due: none

[docs] update README (#1482)
  README.md
Due: none

[ci] cap kernel wheel build parallelism to avoid runner OOM
  .github/workflows/publish-kernel.yml
Due: none

cleaup
  .gitignore
  .nvimlog
  .python-version
Due: none

[misc] cleanup misc files (#1484)
  .gitignore
  .nvimlog
  .python-version
Due: none

[ci] cap kernel wheel build parallelism to avoid runner OOM (#1483)
  .github/workflows/publish-kernel.yml
Due: none

[feat] Add FLUX.1-dev pipeline parity test vs Diffusers FluxPipeline
  tests/local_tests/flux/PORT_STATUS.md
  tests/local_tests/flux/README.md
  tests/local_tests/pipelines/test_flux_dev_pipeline_parity.py
Due: none

[misc] Add PORT_STATUS, README, export FluxDiTConfig, fix loader test config
  fastvideo/configs/models/dits/__init__.py
  tests/local_tests/flux/PORT_STATUS.md
  tests/local_tests/flux/README.md
  tests/local_tests/flux/test_flux_dev_component_loaders.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
