Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix] fix matrix game kv indexing and CI (#1135)
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/matrixgame/action_module.py
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/pipelines/stages/causal_denoising.py
  fastvideo/pipelines/stages/matrixgame_denoising.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/training/lora/test_lora_training.py
  fastvideo/training/self_forcing_distillation_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Misc] Remove Teacache (#1121)
  comfyui/examples/FastHunyuan-diffusers.json
  comfyui/examples/Wan2.1-I2V-14B-480P-Diffusers.json
  comfyui/video_generator/inference_args.py
  comfyui/web/js/FastVideo.core.js
  docs/index.md
  docs/inference/optimizations.md
  docs/inference/support_matrix.md
  examples/inference/optimizations/README.md
  examples/inference/optimizations/teacache_example.py
  fastvideo/configs/models/base.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan.py
  fastvideo/configs/sample/hunyuangamecraft.py
  fastvideo/configs/sample/teacache.py
  fastvideo/configs/sample/wan.py
  fastvideo/models/dits/base.py
  fastvideo/models/dits/cosmos.py
  fastvideo/models/dits/hunyuangamecraft.py
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/dits/longcat.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/transformers/test_hunyuangamecraft.py
  tests/local_tests/transformers/test_gamecraft_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Feat] Added OpenAI-compatible API server and benchmark script (#1109)
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .pre-commit-config.yaml
  fastvideo/entrypoints/cli/bench.py
  fastvideo/entrypoints/cli/bench_serving.py
  fastvideo/entrypoints/cli/main.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/entrypoints/openai/__init__.py
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/common_api.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/protocol.py
  fastvideo/entrypoints/openai/stores.py
  fastvideo/entrypoints/openai/utils.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_openai_api_integration.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/worker/multiproc_executor.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[Doc] add doc for inference architecture (#1147)
  docs/inference/architecture.md
Due: none

[fix] preprocessing issue (#1134)
  examples/training/finetune/wan_t2v_1.3B/crush_smol/preprocess_wan_data_t2v_new.sh
  fastvideo/pipelines/preprocess/v1_preprocessing_new.py
  fastvideo/pipelines/preprocess/wan/__init__.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] fix hunyuan (#1125)
  fastvideo/configs/pipelines/hunyuan.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/configs/pipelines/hunyuangamecraft.py
  fastvideo/configs/pipelines/hyworld.py
  fastvideo/configs/pipelines/ltx2.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/tests/stages/test_text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

small refactor in post-processing to improve efficiency (#1123)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Misc] Fix memory leakage in VideoGenerator (#1132)
  README.md
  docs/getting_started/quick_start.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  examples/inference/gradio/serving/ray_serve_backend.py
  fastvideo/configs/sample/base.py
  fastvideo/entrypoints/cli/generate.py
  fastvideo/entrypoints/video_generator.py
  tests/local_tests/pipelines/test_gamecraft_pipeline_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Py/fix sp (#1138)
  fastvideo/distributed/communication_op.py
  fastvideo/distributed/device_communicators/base_device_communicator.py
  fastvideo/distributed/parallel_state.py
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/tests/distributed/test_hsdp_sp_mismatch_sp2_hsdp_shard4.py
  fastvideo/tests/distributed/test_hsdp_sp_mismatch_sp4_hsdp_shard2.py
  fastvideo/tests/distributed/test_sp_hunyuanvideo.py
  fastvideo/tests/distributed/test_sp_ltx2.py
  fastvideo/tests/distributed/test_sp_shard_latents_and_loss.py
  fastvideo/tests/distributed/test_sp_wan.py
  fastvideo/training/training_pipeline.py
  fastvideo/training/training_utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove temporal frame adjustment
  fastvideo/configs/models/vaes/base.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/ltx2_latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] [kernel] Migrate to uv (#1127)
  README.md
  docs/contributing/overview.md
  docs/getting_started/installation.md
  docs/getting_started/installation/gpu.md
  docs/getting_started/installation/mps.md
  docs/getting_started/quick_start.md
  docs/inference/inference_quick_start.md
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[CI][Feat] launch 2 instance to run ssim (#1137)
  .gitignore
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Refactor] SP Mask --> original seq len; HunyuanVideo 1.5 does not need mask (#1142)
  examples/inference/basic/basic_wan2_2.py
  fastvideo/attention/layer.py
  fastvideo/configs/models/encoders/qwen2_5.py
  fastvideo/configs/models/encoders/t5.py
  fastvideo/configs/sample/base.py
  fastvideo/configs/sample/hunyuan15.py
  fastvideo/distributed/utils.py
  fastvideo/models/dits/hunyuanvideo.py
  fastvideo/models/dits/hunyuanvideo15.py
  fastvideo/models/dits/hyworld/hyworld.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Added ltx2 guidance missing modulation term (#1100)
  fastvideo/configs/sample/ltx2.py
  fastvideo/models/dits/ltx2.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix a bug where collect_env was not running properly... (#1145)
  collect_env.py
Due: none

[Feat] Improved CI (#1119)
  .buildkite/scripts/pr_test.sh
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/conftest.py
  fastvideo/tests/ssim/test_causal_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_inference_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validation callback
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/finetune_wangame2.1_i2v_1.3B.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/train/callbacks/__init__.py
  fastvideo/train/callbacks/callback.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/base.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/config.py
  fastvideo/train/validators/__init__.py
  fastvideo/train/validators/base.py
  fastvideo/train/validators/wan.py
  fastvideo/train/validators/wangame.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

grad clipping callback
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/finetune_wangame2.1_i2v_1.3B.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/train/callbacks/__init__.py
  fastvideo/train/callbacks/callback.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/methods/base.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/finetune.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ema callback implementation
  fastvideo/train/callbacks/__init__.py
  fastvideo/train/callbacks/ema.py
  fastvideo/train/models/base.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/models/wangame/wangame_causal.py
  fastvideo/train/utils/checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ema and corresponding validation
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/finetune_wangame2.1_i2v_1.3B.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/train/callbacks/ema.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/base.py
  fastvideo/train/models/base.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/models/wangame/wangame_causal.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove legacy bundle design
  fastvideo/train/dispatch.py
  fastvideo/train/doc/utils/checkpoint.md
  fastvideo/train/utils/checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

better checkpointing
  fastvideo/train/methods/base.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

entry point, dcp to diffuers conversion.
  fastvideo/train/entrypoint/__init__.py
  fastvideo/train/entrypoint/dcp_to_diffusers.py
  fastvideo/train/entrypoint/train.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/train/validators/__init__.py
  fastvideo/train/validators/base.py
  fastvideo/train/validators/wan.py
  fastvideo/train/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/configs/sample/base.py
  fastvideo/models/dits/ltx2.py
  fastvideo/pipelines/stages/ltx2_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validation allow no video.
  examples/distillation/refactor/run.sh
  fastvideo/train/callbacks/callback.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix gradient ckpting and dit precision not identified problem
  .gitignore
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/moduleloader.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

minor fixing
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/train/dispatch.py
  fastvideo/train/doc/utils/checkpoint.md
  fastvideo/train/doc/utils/config.md
  fastvideo/train/entrypoint/train.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

dispatch->builder
  fastvideo/train/entrypoint/dcp_to_diffusers.py
  fastvideo/train/entrypoint/train.py
  fastvideo/train/utils/builder.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

grad norm must be set in callback system
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/finetune_wangame2.1_i2v_1.3B.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

minor
  fastvideo/train/doc/utils/checkpoint.md
  fastvideo/train/entrypoint/dcp_to_diffusers.py
  fastvideo/train/utils/checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove doc
  fastvideo/train/doc/README.md
  fastvideo/train/doc/RFC-v1-en.md
  fastvideo/train/doc/RFC-v1.md
  fastvideo/train/doc/__init__.md
  fastvideo/train/doc/dispatch.md
  fastvideo/train/doc/methods/__init__.md
  fastvideo/train/doc/methods/base.md
  fastvideo/train/doc/methods/consistency_model/__init__.md
  fastvideo/train/doc/methods/distribution_matching/__init__.md
  fastvideo/train/doc/methods/distribution_matching/dmd2.md
  fastvideo/train/doc/methods/fine_tuning/__init__.md
  fastvideo/train/doc/methods/fine_tuning/dfsft.md
  fastvideo/train/doc/methods/fine_tuning/finetune.md
  fastvideo/train/doc/methods/knowledge_distillation/__init__.md
  fastvideo/train/doc/models/__init__.md
  fastvideo/train/doc/models/base.md
  fastvideo/train/doc/models/wan.md
  fastvideo/train/doc/models/wangame.md
  fastvideo/train/doc/roles.md
  fastvideo/train/doc/trainer.md
  fastvideo/train/doc/utils/__init__.md
  fastvideo/train/doc/utils/checkpoint.md
  fastvideo/train/doc/utils/config.md
  fastvideo/train/doc/utils/dataloader.md
  fastvideo/train/doc/utils/module_state.md
  fastvideo/train/doc/utils/moduleloader.md
  fastvideo/train/doc/utils/tracking.md
  fastvideo/train/doc/validators/__init__.md
  fastvideo/train/doc/validators/base.md
  fastvideo/train/doc/validators/wan.md
  fastvideo/train/doc/validators/wangame.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

example yaml
  .gitignore
  examples/distillation/refactor/distill_wan2.1_t2v_1.3B_dmd2.yaml
  examples/distillation/refactor/example.yaml
Due: none

solver -> target. remove legact valiadition key
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/distill_wan2.1_t2v_1.3B_dmd2.yaml
  examples/distillation/refactor/example.yaml
  fastvideo/train/callbacks/validation.py
  fastvideo/train/entrypoint/dcp_to_diffusers.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

move device from build pre to init
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add MatrixGame validation overlay
  fastvideo/models/dits/matrixgame/utils.py
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
  fastvideo/training/matrixgame_training_pipeline.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add MatrixGame WASD validation actions
  examples/training/finetune/MatrixGame2.0/actions/00_w_only.npy
  examples/training/finetune/MatrixGame2.0/actions/01_s_only.npy
  examples/training/finetune/MatrixGame2.0/actions/02_a_only.npy
  examples/training/finetune/MatrixGame2.0/actions/03_d_only.npy
  examples/training/finetune/MatrixGame2.0/actions/04_mouse_left_only.npy
  examples/training/finetune/MatrixGame2.0/actions/05_mouse_right_only.npy
  examples/training/finetune/MatrixGame2.0/actions/06_mouse_up_only.npy
  examples/training/finetune/MatrixGame2.0/actions/07_mouse_down_only.npy
  examples/training/finetune/MatrixGame2.0/actions/08_w_then_s.npy
  examples/training/finetune/MatrixGame2.0/actions/09_s_then_w.npy
  examples/training/finetune/MatrixGame2.0/actions/10_a_then_d.npy
  examples/training/finetune/MatrixGame2.0/actions/11_d_then_a.npy
  examples/training/finetune/MatrixGame2.0/actions/12_mouse_left_then_right.npy
  examples/training/finetune/MatrixGame2.0/actions/13_mouse_right_then_left.npy
  examples/training/finetune/MatrixGame2.0/actions/14_mouse_up_then_down.npy
  examples/training/finetune/MatrixGame2.0/actions/15_mouse_down_then_up.npy
  examples/training/finetune/MatrixGame2.0/generate_validation_actions.py
  examples/training/finetune/MatrixGame2.0/validation_wasd_mouse.json
Due: none

remove duplicate peak_memory_mb code, record in worker extra directly
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove dashboard and results upload (moving to separate PR)
  .buildkite/performance-benchmarks/dashboard/index.html
  .buildkite/performance-benchmarks/scripts/deploy_dashboard.py
  .buildkite/performance-benchmarks/scripts/upload_results.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
