Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] dreamverse-deploy: native ffmpeg + compile-off defaults
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  .gitignore
Due: none

[feat] dreamverse-deploy: --warmup / --torch-compile CLI flags
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
Due: none

[docs] dreamverse-integration: D-20 broken-pipe root cause + 4-commit fix
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[test] dreamverse: long-running 2-segment Playwright spec for D-20 regression
  .agents/skills/dreamverse-deploy/SKILL.md
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
Due: none

[fix]: magi-human SR latent prep: invalidate stale packed layout
  fastvideo/pipelines/basic/magi_human/stages/sr_latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] dreamverse-deploy: validate conda env python instead of .venv
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
Due: none

[test]: regression guard for magi-human SR layout invalidation
  fastvideo/tests/stages/test_magi_human_sr_latent_preparation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] dreamverse: wrappers exec conda env python directly
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  apps/dreamverse/scripts/dreamverse-mock-server
  apps/dreamverse/scripts/dreamverse-server
Due: none

[refactor] eval: split Evaluator into EvalWorker + thin dispatcher
  fastvideo/eval/evaluator.py
  fastvideo/eval/memory.py
  fastvideo/eval/metrics/base.py
  fastvideo/eval/worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: dict-based PromptDataset + EvalRunner orchestrator
  fastvideo/eval/__init__.py
  fastvideo/eval/datasets/__init__.py
  fastvideo/eval/datasets/base.py
  fastvideo/eval/datasets/registry.py
  fastvideo/eval/datasets/vbench.py
  fastvideo/eval/runner.py
  fastvideo/tests/eval/__init__.py
  fastvideo/tests/eval/test_datasets_vbench.py
  scripts/eval/run_vbench_e2e.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: drop EvalRunner; flat script + helpers in eval.io
  fastvideo/eval/__init__.py
  fastvideo/eval/io/__init__.py
  fastvideo/eval/io/paths.py
  fastvideo/eval/runner.py
  scripts/eval/run_vbench_e2e.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: drop dead batch_unit and trial_forward across metrics
  fastvideo/eval/metrics/common/lpips/metric.py
  fastvideo/eval/metrics/common/ssim/metric.py
  fastvideo/eval/metrics/physics_iq/metric.py
  fastvideo/eval/metrics/vbench/aesthetic_quality/metric.py
  fastvideo/eval/metrics/vbench/appearance_style/metric.py
  fastvideo/eval/metrics/vbench/background_consistency/metric.py
  fastvideo/eval/metrics/vbench/dynamic_degree/metric.py
  fastvideo/eval/metrics/vbench/human_action/metric.py
  fastvideo/eval/metrics/vbench/imaging_quality/metric.py
  fastvideo/eval/metrics/vbench/motion_smoothness/metric.py
  fastvideo/eval/metrics/vbench/overall_consistency/metric.py
  fastvideo/eval/metrics/vbench/scene/metric.py
  fastvideo/eval/metrics/vbench/subject_consistency/metric.py
  fastvideo/eval/metrics/vbench/temporal_flickering/metric.py
  fastvideo/eval/metrics/videoscore2/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] eval/vbench: document the aux-flatten invariant per dimension
  fastvideo/eval/datasets/vbench.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] eval: add EvalResult aggregate type; ignore _assets/
  .gitignore
  fastvideo/eval/types.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] eval: per-row skip in aux-using vbench metrics
  fastvideo/eval/metrics/vbench/color/metric.py
  fastvideo/eval/metrics/vbench/multiple_objects/metric.py
  fastvideo/eval/metrics/vbench/object_class/metric.py
  fastvideo/eval/metrics/vbench/spatial_relationship/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] eval: full per-frame optical-flow metric set
  fastvideo/eval/metrics/common/optical_flow/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: drop batch_unit/trial_forward from remaining metrics
  fastvideo/eval/metrics/common/optical_flow/metric.py
  fastvideo/eval/metrics/vbench/color/metric.py
  fastvideo/eval/metrics/vbench/multiple_objects/metric.py
  fastvideo/eval/metrics/vbench/object_class/metric.py
  fastvideo/eval/metrics/vbench/spatial_relationship/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] eval: add basic_ltx2_eval.py + score_folder.py scripts
  examples/inference/eval/basic_ltx2_eval.py
  scripts/eval/score_folder.py
Due: none

[fix] eval: motion_smoothness OOM recovery + free-memory autoscale
  fastvideo/eval/metrics/vbench/motion_smoothness/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] dreamverse-deploy: scale /readyz polling budget with flags
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
Due: none

[feat] support multi-root latent datasets
  fastvideo/dataset/parquet_dataset_map_style.py
  fastvideo/fastvideo_args.py
  fastvideo/tests/dataset/test_parquet_dataset_map_style.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] cover multi-root split stability
  fastvideo/fastvideo_args.py
  fastvideo/tests/dataset/test_parquet_dataset_map_style.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] satisfy pre-commit for multi-root config
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] dreamverse: 3-pass warmup so user seg=1 doesn't re-compile stage 1
  apps/dreamverse/server/video_generation.py
Due: none

[feat] dreamverse: NVENC build support in install_native_ffmpeg.sh
  apps/dreamverse/scripts/install_native_ffmpeg.sh
Due: none

[feat] dreamverse-deploy: --nvenc/--no-nvenc CLI flag with runtime probe
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
Due: none

[test] dreamverse: AV streaming benchmark for D-21 regression guard
  apps/dreamverse/server/benchmarks/__init__.py
  apps/dreamverse/server/benchmarks/benchmark_av_streaming.py
Due: none

[docs] dreamverse-integration: D-21 chunk-stutter root cause + NVENC path
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[feat] dreamverse: per-chunk timing instrumentation in stream_fmp4
  apps/dreamverse/server/av_streaming.py
  apps/dreamverse/server/gpu_pool.py
Due: none

[test] dreamverse: pipeline benchmark via Python SDK (per-stage timings)
  apps/dreamverse/server/benchmarks/benchmark_pipeline.py
Due: none

[docs] dreamverse-integration: D-22 instrumentation closed; D-25 pipeline bench
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/open-threads.md
  .agents/memory/dreamverse-integration/state.md
Due: none

[ci] Upload raw perf results for failed performance jobs
  .agents/skills/index.jsonl
  .agents/skills/reseed-performance-baseline/SKILL.md
  .buildkite/scripts/pr_test.sh
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] eval: human_action — load kinetics labels from upstream submodule
  fastvideo/eval/metrics/vbench/human_action/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[cleanup] eval: drop legacy EvalRunner/EvalResult/WM_EVAL_CACHE refs
  docs/contributing/eval-metrics.md
  fastvideo/eval/__init__.py
  fastvideo/eval/evaluator.py
  fastvideo/eval/models.py
  fastvideo/eval/types.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: split optical_flow into its own group with gt + synthetic sub-metrics
  fastvideo/eval/metrics/common/optical_flow/__init__.py
  fastvideo/eval/metrics/optical_flow/__init__.py
  fastvideo/eval/metrics/optical_flow/_shared.py
  fastvideo/eval/metrics/optical_flow/gt_optical_flow/__init__.py
  fastvideo/eval/metrics/optical_flow/gt_optical_flow/metric.py
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/__init__.py
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/_thirdperson.py
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/metric.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] eval: reflect new optical_flow group in README and contributor guide
  docs/contributing/eval-metrics.md
  fastvideo/eval/README.md
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: tighten compute(sample) contract to a single MetricResult
  fastvideo/eval/evaluator.py
  fastvideo/eval/metrics/audio/audiobox_aesthetics/metric.py
  fastvideo/eval/metrics/audio/clap_score/metric.py
  fastvideo/eval/metrics/audio/frechet_distance/metric.py
  fastvideo/eval/metrics/audio/kl_divergence/metric.py
  fastvideo/eval/metrics/audio/wer/metric.py
  fastvideo/eval/metrics/base.py
  fastvideo/eval/metrics/common/lpips/metric.py
  fastvideo/eval/metrics/common/psnr/metric.py
  fastvideo/eval/metrics/common/ssim/metric.py
  fastvideo/eval/metrics/optical_flow/gt_optical_flow/metric.py
  fastvideo/eval/metrics/optical_flow/synthetic_optical_flow/metric.py
  fastvideo/eval/metrics/physics_iq/metric.py
  fastvideo/eval/metrics/physics_iq/mse/metric.py
  fastvideo/eval/metrics/physics_iq/spatial_iou/metric.py
  fastvideo/eval/metrics/physics_iq/spatiotemporal_iou/metric.py
  fastvideo/eval/metrics/physics_iq/weighted_spatial_iou/metric.py
  fastvideo/eval/metrics/vbench/aesthetic_quality/metric.py
  fastvideo/eval/metrics/vbench/appearance_style/metric.py
  fastvideo/eval/metrics/vbench/background_consistency/metric.py
  fastvideo/eval/metrics/vbench/color/metric.py
  fastvideo/eval/metrics/vbench/dynamic_degree/metric.py
  fastvideo/eval/metrics/vbench/human_action/metric.py
  fastvideo/eval/metrics/vbench/imaging_quality/metric.py
  fastvideo/eval/metrics/vbench/motion_smoothness/metric.py
  fastvideo/eval/metrics/vbench/multiple_objects/metric.py
  fastvideo/eval/metrics/vbench/object_class/metric.py
  fastvideo/eval/metrics/vbench/overall_consistency/metric.py
  fastvideo/eval/metrics/vbench/scene/metric.py
  fastvideo/eval/metrics/vbench/spatial_relationship/metric.py
  fastvideo/eval/metrics/vbench/subject_consistency/metric.py
  fastvideo/eval/metrics/vbench/temporal_flickering/metric.py
  fastvideo/eval/metrics/videoscore2/metric.py
  fastvideo/eval/worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[cleanup] eval: drop class re-exports from sub-metric __init__.py files
  fastvideo/eval/metrics/audio/clap_score/__init__.py
  fastvideo/eval/metrics/vbench/aesthetic_quality/__init__.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: move physics_iq dataset traversal under eval/datasets
  fastvideo/eval/README.md
  fastvideo/eval/datasets/physics_iq.py
  fastvideo/eval/metrics/physics_iq/__init__.py
  fastvideo/eval/metrics/physics_iq/metric.py
  fastvideo/eval/metrics/physics_iq/models.py
  fastvideo/eval/metrics/physics_iq/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
