Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

designing refactor 5
  dev/phase_refactor.md
Due: none

deisgning refactor 6
  dev/phase_refactor.md
Due: none

refactor 7
  dev/phase_refactor.md
Due: none

refactor 8
  dev/phase_refactor.md
Due: none

refactor init impl
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/distillation/__init__.py
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/methods/__init__.py
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/distribution_matching/self_forcing.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/base.py
  fastvideo/distillation/models/wan/__init__.py
  fastvideo/distillation/models/wan/wan.py
  fastvideo/distillation/models/wangame/__init__.py
  fastvideo/distillation/models/wangame/common.py
  fastvideo/distillation/models/wangame/wangame.py
  fastvideo/distillation/models/wangame/wangame_causal.py
  fastvideo/distillation/roles.py
  fastvideo/distillation/utils/checkpoint.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/utils/instantiate.py
  fastvideo/distillation/utils/optimizer.py
  fastvideo/distillation/validators/base.py
  fastvideo/tests/distillation/test_optimizer_scheduler_alignment.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove moe support for now
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/wan/wan.py
  fastvideo/distillation/models/wangame/wangame.py
  fastvideo/distillation/utils/checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fastgen structure
  dev/fastgen.md
  dev/fastgen_structure.md
Due: none

better yaml file structure
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/distribution_matching/self_forcing.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

method specific config move to right place
  examples/distillation/refactor/run.sh
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/distillation/methods/distribution_matching/dmd2.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

run scripts
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/run.sh
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
Due: none

120 col
  examples/distillation/refactor/run.sh
  fastvideo/distillation/.style.yapf
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/distribution_matching/self_forcing.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

bugfix
  fastvideo/distillation/methods/base.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/utils/moduleloader.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove fastvideo.training_args dependency
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/self_forcing_wangame_causal_v3.yaml
  fastvideo/distillation/dispatch.py
  fastvideo/distillation/methods/distribution_matching/dmd2.py
  fastvideo/distillation/methods/distribution_matching/self_forcing.py
  fastvideo/distillation/methods/fine_tuning/dfsft.py
  fastvideo/distillation/methods/fine_tuning/finetune.py
  fastvideo/distillation/models/base.py
  fastvideo/distillation/models/wan/wan.py
  fastvideo/distillation/models/wangame/wangame.py
  fastvideo/distillation/models/wangame/wangame_causal.py
  fastvideo/distillation/trainer.py
  fastvideo/distillation/utils/config.py
  fastvideo/distillation/utils/dataloader.py
  fastvideo/distillation/utils/distill_config.py
  fastvideo/distillation/utils/loader_args.py
  fastvideo/distillation/utils/moduleloader.py
  fastvideo/distillation/utils/optimizer.py
  fastvideo/distillation/utils/tracking.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove redundant loader_args
  fastvideo/distillation/models/wan/wan.py
  fastvideo/distillation/models/wangame/wangame.py
  fastvideo/distillation/utils/loader_args.py
  fastvideo/distillation/utils/moduleloader.py
  fastvideo/distillation/validators/wan.py
  fastvideo/distillation/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

simplify. only nested config is allowed
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add ring group helper
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add yunchang dependency for ring attention
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Add CLI args for Ring Attention
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add Ring Attention support via Yunchang
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove unecessary check
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove redudant check
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

make ring attention optional and inference only
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Pre-commit checks
  fastvideo/attention/layer.py
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

rename ring_degree to ring_size and add validation
  fastvideo/attention/layer.py
  fastvideo/fastvideo_args.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Fix Deadlock
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Clean-up
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix import location
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove Validation Breaking CI/CD
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix Ring Attention Validation
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add new arguments, mark old ones as deprecated
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update attention layer to use ring_degree instead of ring_size
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add validation logic for ring_degree * ulysses_degree == world_size
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove ring_size field
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

trainconfig should not be none during init
  fastvideo/train/dispatch.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/models/wangame/wangame_causal.py
  fastvideo/train/utils/moduleloader.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validation config will be included in traning config
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

self.student.validator is guaranteed exist
  fastvideo/train/dispatch.py
  fastvideo/train/methods/base.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/methods/distribution_matching/self_forcing.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/finetune.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

~/.claude/plans/wise-mixing-pie.md
  examples/distillation/refactor/dfsft_wangame_causal_v3.yaml
  examples/distillation/refactor/run.sh
  fastvideo/train/validators/wan.py
  fastvideo/train/validators/wangame.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
