Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

refactor: vendor yunchang ring attention, clean up previous implementation
  docs/inference/architecture.md
  fastvideo/attention/layer.py
  fastvideo/attention/yunchang/__init__.py
  fastvideo/attention/yunchang/comm/__init__.py
  fastvideo/attention/yunchang/comm/all_to_all.py
  fastvideo/attention/yunchang/comm/extract_local.py
  fastvideo/attention/yunchang/globals.py
  fastvideo/attention/yunchang/hybrid/__init__.py
  fastvideo/attention/yunchang/hybrid/async_attn_layer.py
  fastvideo/attention/yunchang/hybrid/attn_layer.py
  fastvideo/attention/yunchang/hybrid/utils.py
  fastvideo/attention/yunchang/kernels/__init__.py
  fastvideo/attention/yunchang/kernels/attention.py
  fastvideo/attention/yunchang/ring/__init__.py
  fastvideo/attention/yunchang/ring/ring_flash_attn.py
  fastvideo/attention/yunchang/ring/ring_flash_attn_varlen.py
  fastvideo/attention/yunchang/ring/ring_flashinfer_attn.py
  fastvideo/attention/yunchang/ring/ring_npu_flash_attn.py
  fastvideo/attention/yunchang/ring/ring_pytorch_attn.py
  fastvideo/attention/yunchang/ring/stripe_flash_attn.py
  fastvideo/attention/yunchang/ring/triton_utils.py
  fastvideo/attention/yunchang/ring/utils.py
  fastvideo/attention/yunchang/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/yunchang/ring/zigzag_ring_flash_attn_varlen.py
  fastvideo/attention/yunchang/ulysses/__init__.py
  fastvideo/attention/yunchang/ulysses/attn_layer.py
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

simplifying code
  fastvideo/tests/distillation/test_optimizer_scheduler_alignment.py
  fastvideo/train/methods/base.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/finetune.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wangame/wangame.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/train/utils/training_config.py
  fastvideo/train/validators/wan.py
  fastvideo/train/validators/wangame.py
  fastvideo/training/distillation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

remove getting trainable using getattr
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/train/methods/fine_tuning/dfsft.py
  fastvideo/train/methods/fine_tuning/finetune.py
  fastvideo/train/models/base.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Added sidebar, Settings Tab, Header
  ui/src/app/Layout.module.css
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/CreateJobButton.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/Header.tsx
  ui/src/components/JobQueuePage.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/components/Sidebar.tsx
  ui/src/components/styles/Card.module.css
  ui/src/components/styles/Header.module.css
  ui/src/components/styles/Sidebar.module.css
  ui/src/contexts/DefaultOptionsContext.tsx
  ui/src/contexts/JobsRefreshContext.tsx
  ui/src/lib/defaultOptions.ts
Due: none

Integrate more optimization and offload options
  ui/database.py
  ui/job_runner.py
  ui/server.py
  ui/src/components/CreateJobModal.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/lib/api.ts
  ui/src/lib/defaultOptions.ts
Due: none

Added Slider and Toggle components
  ui/src/components/CreateJobModal.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/components/Slider.tsx
  ui/src/components/Toggle.tsx
  ui/src/components/styles/Slider.module.css
  ui/src/components/styles/Toggle.module.css
Due: none

Add Active Tab Context, and default model option under settings
  ui/src/app/globals.css
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/Header.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/contexts/ActiveTabContext.tsx
  ui/src/lib/defaultOptions.ts
Due: none

Integrated additional Workload Types
  ui/database.py
  ui/job_runner.py
  ui/server.py
  ui/src/components/CreateJobButton.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/styles/Dropdown.module.css
  ui/src/components/styles/Form.module.css
  ui/src/lib/api.ts
Due: none

Make secondary sidebar resizable
  ui/src/components/SecondarySidebar.tsx
  ui/src/components/styles/SecondarySidebar.module.css
Due: none

Make sidebar collapsible
  ui/src/components/Sidebar.tsx
  ui/src/components/styles/Sidebar.module.css
Due: none

Small stylistic changes
  ui/src/components/CreateJobModal.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/components/styles/Slider.module.css
Due: none

make running badge green
  ui/src/components/styles/Badge.module.css
Due: none

Added header actions to tab context
  ui/src/components/Header.tsx
  ui/src/components/JobQueuePage.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/components/styles/Header.module.css
  ui/src/contexts/ActiveTabContext.tsx
Due: none

Make the positions of the sidebars and the header fixed.
  ui/src/app/globals.css
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/PrimarySidebar.tsx
  ui/src/components/SecondarySidebar.tsx
  ui/src/components/styles/Header.module.css
  ui/src/components/styles/PrimarySidebar.module.css
  ui/src/components/styles/SecondarySidebar.module.css
Due: none

Added secondary sidebar
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/JobCard.tsx
  ui/src/components/JobQueuePage.tsx
  ui/src/components/SecondarySidebar.tsx
  ui/src/components/styles/JobCard.module.css
  ui/src/components/styles/SecondarySidebar.module.css
  ui/src/contexts/ActiveJobContext.tsx
Due: none

Fix bug with persistence
  ui/database.py
Due: none

Add Auto Start Job on Create setting item
  ui/database.py
  ui/server.py
  ui/src/components/SettingsPage.tsx
  ui/src/components/styles/Form.module.css
  ui/src/lib/api.ts
  ui/src/lib/defaultOptions.ts
Due: none

Rename sidebar to primary sidebar
  ui/src/app/page.tsx
  ui/src/components/PrimarySidebar.tsx
  ui/src/components/styles/PrimarySidebar.module.css
Due: none

Fix some bugs with new workload types
  fastvideo/registry.py
  ui/database.py
  ui/server.py
  ui/src/components/CreateJobModal.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/lib/api.ts
  ui/src/lib/defaultOptions.ts
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Added database
  ui/database.py
  ui/job_runner.py
  ui/server.py
  ui/src/contexts/DefaultOptionsContext.tsx
  ui/src/lib/api.ts
Due: none

Fix job stop
  ui/job_runner.py
Due: none

Fix small bug where MultiprocExecutor was not implementing abstract methods set_log_queue and clear_log_queue
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Integrate negative prompt, FPS, and guidance rescale
  ui/database.py
  ui/job_runner.py
  ui/server.py
  ui/src/components/CreateJobModal.tsx
  ui/src/components/SettingsPage.tsx
  ui/src/lib/api.ts
  ui/src/lib/defaultOptions.ts
Due: none

Add Esc keyboard shortcut, improve layouts
  ui/src/app/Layout.module.css
  ui/src/app/page.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/styles/Modal.module.css
Due: none

Fix small bugs where logs were not being loaded initially on secondary sidebar render
  ui/job_runner.py
  ui/src/components/SecondarySidebar.tsx
Due: none

timestep fix for dfsft
  fastvideo/train/methods/fine_tuning/dfsft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

finetune vsa and wangame yaml
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/finetune_wangame2.1_i2v_1.3B.yaml
Due: none

Exclude vendored yunchang from pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix pymarkdown lint in architecture.md
  docs/inference/architecture.md
Due: none

merge main and fix yapf formatting
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

validator vsa sparsity
  examples/distillation/refactor/finetune_wan2.1_t2v_1.3B_vsa_phase3.4_0.9sparsity.yaml
  examples/distillation/refactor/run.sh
  fastvideo/train/utils/moduleloader.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Fix] hunyuan postprecessing issue (#1104)
  fastvideo/configs/pipelines/hunyuangamecraft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] fix import PreTrainedModel in stepllm.py (#1108)
  fastvideo/models/encoders/stepllm.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Misc] clean up VSA finetuning examples. (#1111)
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/I2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/README.md
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-1.3B-VSA_4_gpu_debug.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/T2V-14B-VSA.slurm
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/download_dataset.sh
  examples/training/finetune/Wan2.1-VSA/Wan-Syn-Data/validation_4.json
  fastvideo/dataset/parquet_dataset_map_style.py
  scripts/finetune/finetune_v1_VSA.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update README.md (#1110)
  README.md
Due: none

[Feat] Native dit implementation for SD3.5 (#1093)
  examples/inference/basic/basic_sd35_t2i.py
  fastvideo/configs/models/dits/sd3.py
  fastvideo/configs/pipelines/sd35.py
  fastvideo/models/dits/sd3.py
  fastvideo/pipelines/basic/sd35/sd35_pipeline.py
  fastvideo/pipelines/stages/sd35_conditioning.py
  fastvideo/pipelines/stages/timestep_preparation.py
  fastvideo/tests/ssim/test_sd35_similarity.py
  tests/local_tests/sd35/test_sd35_component_parity.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] add hy-world link to readme (#1113)
  README.md
Due: none

[bugfix] get_torch_device and other device calls were being made on non-cuda platforms (#1107)
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Upstream LTX2 Training (#1116)
  .gitignore
  examples/inference/basic/basic_ltx2.py
  examples/inference/basic/basic_ltx2_distilled.py
  examples/training/finetune/ltx2/.gitignore
  examples/training/finetune/ltx2/README.md
  examples/training/finetune/ltx2/download_dataset.sh
  examples/training/finetune/ltx2/finetune_t2v.sh
  examples/training/finetune/ltx2/finetune_t2v_lora.sh
  examples/training/finetune/ltx2/overfit/validation.frog.json
  examples/training/finetune/ltx2/overfit/validation.json
  examples/training/finetune/ltx2/preprocess_ltx2_data_t2v_new.sh
  examples/training/finetune/ltx2/validation.json
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/configs/models/encoders/gemma.py
  fastvideo/configs/models/vaes/ltx2vae.py
  fastvideo/dataset/parquet_dataset_map_style.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/preprocess/ltx2/__init__.py
  fastvideo/pipelines/preprocess/wan/__init__.py
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/ltx2_denoising.py
  fastvideo/training/activation_checkpoint.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/ltx2_training_pipeline.py
  fastvideo/training/training_pipeline.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Improve Docs (#1112)
  .github/workflows/docs.yml
  README.md
  docs/examples/examples_index.md
  docs/generate_examples.py
  docs/getting_started/installation.md
  docs/getting_started/quick_start.md
  docs/inference/add_pipeline.md
  docs/inference/cli.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/optimizations.md
  docs/inference/support_matrix.md
  docs/utilities/debugging.md
  mkdocs.yml
  scripts/check_docs_links.py
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
