Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

channels
  dump_sglang_flux2_step0.py
Due: none

e
  debug_text_encoder_sglang.py
Due: none

debug text
  debug_text_encoder_sglang.py
Due: none

comploader
  dump_sglang_flux2_step0.py
Due: none

e
  dump_sglang_flux2_step0.py
Due: none

attention vals
  debug_text_encoder_sglang.py
Due: none

fix
  docs/rmsnorm_comparison.md
  fastvideo/layers/layernorm.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

foreard
  debug_text_encoder_sglang.py
Due: none

more debug
  debug_text_encoder_sglang.py
Due: none

oproj
  debug_text_encoder_sglang.py
Due: none

sdpa
  compare_flux2_text_encoder_sglang.py
  docs/rmsnorm_comparison.md
Due: none

fix
  debug_text_encoder_sglang.py
Due: none

sanity chck
  debug_text_encoder_sglang.py
Due: none

3way
  compare_flux2_text_encoder_three_way.py
Due: none

fixes
  debug_text_encoder_sglang.py
Due: none

bf16
  debug_text_encoder_sglang.py
Due: none

cpu offlaod
  debug_text_encoder_sglang.py
Due: none

fullT
  debug_text_encoder_sglang.py
Due: none

test
  compare_flux2_text_encoder_three_way.py
Due: none

registry
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cahn ge back
  fastvideo/configs/pipelines/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

eh
  compare_flux2_dit_blocks.py
Due: none

e
  compare_flux2_e2e_ssim.py
Due: none

block compare
  compare_flux2_dit_blocks.py
Due: none

e
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ssim
  compare_flux2_e2e_ssim.py
Due: none

run sep
  compare_flux2_e2e_ssim.py
Due: none

allow text encode from preomcouted
  compare_flux2_e2e_ssim.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/stages/text_encoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

compare blocks
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

e
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

changes
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

ff
  compare_flux2_dit_blocks.py
  fastvideo/models/dits/flux_2.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

sdpa
  compare_flux2_e2e_ssim.py
Due: none

e
  compare_flux2_dit_blocks.py
Due: none

a bug of encoder_hidden_states_img
  fastvideo/training/wangame_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux_2
  fastvideo/configs/models/dits/__init__.py
  fastvideo/configs/models/dits/flux_2.py
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/flux2vae.py
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/models/dits/flux_2.py
  fastvideo/models/registry.py
  fastvideo/models/vaes/flux2vae.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_pipeline.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

flux2-klien
  fastvideo/configs/pipelines/flux_2.py
  fastvideo/configs/pipelines/registry.py
  fastvideo/configs/sample/flux_2.py
  fastvideo/configs/sample/registry.py
  fastvideo/pipelines/basic/flux_2/__init__.py
  fastvideo/pipelines/basic/flux_2/flux_2_klein_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

param fix
  fastvideo/pipelines/composed_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
