Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[fix]: close remaining dynamic batching gaps (#1453)
  docs/contributing/ci_architecture.md
  fastvideo/api/schema.py
  fastvideo/entrypoints/openai/batching.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_configs.py
  fastvideo/tests/batching/run_dynamic_batching_parity.py
  fastvideo/tests/batching/test_dynamic_batching_parity_gate.py
  fastvideo/tests/batching/test_scheduler.py
  fastvideo/tests/entrypoints/test_openai_api.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: gate batching parity per request (#1453)
  fastvideo/tests/batching/run_dynamic_batching_parity.py
  fastvideo/tests/batching/test_dynamic_batching_parity_gate.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: preserve atomic output permissions (#1453)
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: serialize atomic output umask reads (#1453)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: harden dynamic batching parity retries (#1453)
  .buildkite/pipeline.yml
  docs/contributing/ci_architecture.md
  fastvideo/tests/batching/test_dynamic_batching_ci_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: harden atomic output permissions (#1453)
  docs/inference/optimizations.md
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: bound dynamic batching parity tail (#1453)
  fastvideo/tests/batching/run_dynamic_batching_parity.py
  fastvideo/tests/batching/test_dynamic_batching_parity_gate.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: align FA4 dependency stacks
  apps/dreamverse/pyproject.toml
  docker/Dockerfile
  docs/inference/optimizations.md
  fastvideo-kernel/README.md
  fastvideo/tests/contract/test_fa4_dependency_pins.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf]: add opt-in fused AdamW training
  examples/train/configs/example.yaml
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_optimizer.py
  fastvideo/train/methods/base.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/optimizer.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: install the FA4 CUDA 13 runtime
  apps/dreamverse/docker/Dockerfile
  docker/Dockerfile
  docs/inference/optimizations.md
  fastvideo-kernel/README.md
  fastvideo/tests/contract/test_fa4_dependency_pins.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf]: make FSDP forward reshard configurable
  examples/train/configs/example.yaml
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: enable regional compile for training
  examples/train/configs/example.yaml
  fastvideo/attention/utils/flash_attn_cute.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/attention/test_flash_attn_cute_custom_op.py
  fastvideo/tests/contract/test_ltx2_compile_conditions.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader_compile.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: omit unused LTX2 audio weights in training
  fastvideo/models/dits/ltx2.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/contract/test_ltx2_video_only.py
  fastvideo/tests/train/methods/test_ltx2_finetune.py
  fastvideo/tests/train/models/test_load_ltx2.py
  fastvideo/train/models/ltx2/ltx2.py
  tests/local_tests/models/test_fsdp_load_checkpoint_filter.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: batch FSDP gradient clipping
  fastvideo/tests/training/test_training_utils.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: make FSDP reduction precision configurable
  examples/train/configs/example.yaml
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader_compile.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/training_config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Spark guide: lock numbers to GB10-measured values
  docs/getting_started/installation/spark_performance.md
  examples/inference/optimizations/spark_benchmark.py
Due: none

[docs] Spark guide: satisfy PyMarkdown (reflow list line, blank lines around code blocks)
  docs/getting_started/installation/spark_performance.md
Due: none

[misc] cosmos3 PORT_STATUS: VAE component framework parity verified
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat]: Cosmos3 pipeline (Cosmos3OmniDiffusersPipeline)
  fastvideo/pipelines/basic/cosmos3/__init__.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] cosmos3: record real-weights E2E acceptance + scheduler fix (I003)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[test] cosmos3: official framework DiT parity reference (CPU/SDPA)
  tests/local_tests/cosmos3/test_cosmos3_reference_forward.py
Due: none

[feat]: Cosmos3 checkpoint conversion script (cosmos3_convert.py)
  scripts/checkpoint_conversion/cosmos3_convert.py
Due: none

[bugfix] cosmos3: fix black-video UniPC config; wire E2E inference
  examples/inference/basic/basic_cosmos3_new_api.py
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/models/dits/cosmos3.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_denoise_cfg_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_smoke.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: strict-load verified (identity; needs_conversion=no)
  scripts/checkpoint_conversion/cosmos3_convert.py
  tests/local_tests/cosmos3/test_cosmos3_strict_load.py
Due: none

[test] cosmos3: DiT unified_3d_mrope framework parity (real checkpoint)
  tests/local_tests/cosmos3/test_cosmos3_dit_parity_mrope.py
Due: none

[feat] cosmos3: resolution-based flow_shift + T2I check & example
  examples/inference/basic/basic_cosmos3_t2i_new_api.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  tests/local_tests/cosmos3/test_cosmos3_flow_shift_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: native MoT sequence-packing (video) + framework parity
  fastvideo/pipelines/basic/cosmos3/sequence_packing.py
  tests/local_tests/cosmos3/test_cosmos3_packing_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: cosmos3 PORT_STATUS: post-rebase state + fv-cosmos3 env
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[test]: Cosmos3 local-test parity scaffold (Tier A, 15 tests)
  tests/local_tests/cosmos3/README.md
  tests/local_tests/cosmos3/__init__.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_mrope_parity.py
  tests/local_tests/cosmos3/test_cosmos3_patchify_unpatchify_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_scheduler_default_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: none

[misc] cosmos3 PORT_STATUS: DiT framework parity verified (both rope modes)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[misc] cosmos3 PORT_STATUS: PR1 video core complete (framework parity)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: arch config 1:1 with Cosmos3-Nano checkpoint
  fastvideo/configs/models/dits/cosmos3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: simplify cosmos3 port (reuse embed, dedup prompt, hoist)
  fastvideo/models/dits/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: PR1 progress (arch config, framework parity ref)
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat]: Cosmos3 DiT skeleton (Cosmos3VFMTransformer + Cosmos3LanguageModel)
  fastvideo/configs/models/dits/cosmos3.py
  fastvideo/models/dits/cosmos3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: framework-reference pivot + Phase 1 findings
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: VAE config (Wan2.2 reuse) + framework parity test
  fastvideo/configs/models/vaes/__init__.py
  fastvideo/configs/models/vaes/cosmos3vae.py
  tests/local_tests/cosmos3/test_cosmos3_vae_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] cosmos3: native video pipeline + framework denoise parity
  fastvideo/configs/pipelines/cosmos3.py
  fastvideo/pipelines/basic/cosmos3/cosmos3_pipeline.py
  fastvideo/pipelines/basic/cosmos3/presets.py
  fastvideo/pipelines/stages/cosmos3_stages.py
  fastvideo/registry.py
  tests/local_tests/cosmos3/conftest.py
  tests/local_tests/cosmos3/test_cosmos3_denoise_cfg_parity.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_call_graph.py
  tests/local_tests/cosmos3/test_cosmos3_pipeline_smoke.py
  tests/local_tests/cosmos3/test_cosmos3_tokenizer_chat_template.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] cosmos3 PORT_STATUS: strict-load done; only pipeline remains
  tests/local_tests/cosmos3/PORT_STATUS.md
Due: none

[feat] cosmos3: native DiT + framework parity (Cosmos3VFMTransformer)
  fastvideo/models/dits/cosmos3.py
  tests/local_tests/cosmos3/test_cosmos3_dit_parity.py
  tests/local_tests/cosmos3/test_cosmos3_state_dict_keys.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
