Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[misc]: surface GenerationResult.peak_memory_mb in the MiniMax H3 examples
  examples/inference/basic/basic_fasth3.py
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[misc]: document peak_memory_mb scope and guard it with a test (#1785)
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: correct transformers range in Qwen2.5-VL cache guard and strengthen its test (#1791)
  fastvideo/models/encoders/qwen2_5_vl_custom.py
  fastvideo/tests/encoders/test_qwen2_5_vl_vision_dtype.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore deterministic Cosmos2.5 conditioning encode (#1768)
  .buildkite/scripts/unit_test.sh
  fastvideo/models/vaes/cosmos25wanvae.py
  fastvideo/pipelines/basic/cosmos/presets.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: accept FastH3 sidecars without scheduler-shift fields
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/stages/test_minimax_h3_distilled_schedule.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Support the FastH3 8-Step V2 checkpoint: checkpoint-defined shifts, explicit DMD schedule, new example (#1852)
  README.md
  docs/assets/cookbook-recipes.json
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  docs/inference/fasth3-distilled.md
  examples/inference/basic/basic_fasth3_8step.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  fastvideo/tests/stages/test_minimax_h3_distilled_schedule.py
  fastvideo/tests/test_partial_hf_download.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Make Dreamverse provider race test deterministic (#1729)
  apps/dreamverse/dreamverse/tests/test_prompt_enhancer.py
Due: none

[docs] Define mode-aware H3 system prompts
  docs/contributing/dreamverse-development.md
  docs/design/dreamverse-h3-prompt-research.md
  docs/design/dreamverse-h3-system-prompt-v1.md
Due: none

[feat]: Dreamverse creation studio UI uplift (#1853)
  apps/dreamverse/web/e2e/frontend-shell.spec.ts
  apps/dreamverse/web/package-lock.json
  apps/dreamverse/web/package.json
  apps/dreamverse/web/src/app/globals.css
  apps/dreamverse/web/src/app/page.tsx
  apps/dreamverse/web/src/components/ChatBar.tsx
  apps/dreamverse/web/src/components/HeroTagline.tsx
  apps/dreamverse/web/src/components/creation/AppNavRail.tsx
  apps/dreamverse/web/src/components/creation/ConfigPill.tsx
  apps/dreamverse/web/src/components/creation/CreationComposer.tsx
  apps/dreamverse/web/src/components/creation/CreationStudio.tsx
  apps/dreamverse/web/src/components/creation/PresetQuickLaunchRail.tsx
  apps/dreamverse/web/src/components/creation/ReferenceUploadSlot.tsx
  apps/dreamverse/web/src/components/creation/SessionCreationConfigPills.tsx
  apps/dreamverse/web/src/components/ui/dropdown-menu.tsx
  apps/dreamverse/web/src/components/ui/popover.tsx
  apps/dreamverse/web/src/components/ui/slider.tsx
  apps/dreamverse/web/src/components/ui/tabs.tsx
  apps/dreamverse/web/src/lib/creationConfig.test.ts
  apps/dreamverse/web/src/lib/creationConfig.ts
  apps/dreamverse/web/src/lib/generationMode.test.ts
  apps/dreamverse/web/src/lib/generationMode.ts
Due: none

[feat]: connect Dreamverse creation settings to generation
  apps/dreamverse/arch.md
  apps/dreamverse/dreamverse/creation_capabilities.py
  apps/dreamverse/dreamverse/generation_contracts.py
  apps/dreamverse/dreamverse/generation_worker.py
  apps/dreamverse/dreamverse/gpu_pool.py
  apps/dreamverse/dreamverse/ltx2_generation.py
  apps/dreamverse/dreamverse/main.py
  apps/dreamverse/dreamverse/minimax_h3_generation.py
  apps/dreamverse/dreamverse/mock_server.py
  apps/dreamverse/dreamverse/routes/creation.py
  apps/dreamverse/dreamverse/session/controller.py
  apps/dreamverse/dreamverse/session_creation_config.py
  apps/dreamverse/dreamverse/tests/test_creation_capabilities.py
  apps/dreamverse/dreamverse/tests/test_session_creation_config.py
  apps/dreamverse/dreamverse/worker_ipc.py
  apps/dreamverse/web/e2e/frontend-shell.spec.ts
  apps/dreamverse/web/next.config.ts
  apps/dreamverse/web/src/app/page.tsx
  apps/dreamverse/web/src/components/creation/CreationComposer.tsx
  apps/dreamverse/web/src/components/creation/CreationStudio.tsx
  apps/dreamverse/web/src/lib/creationCapabilities.test.ts
  apps/dreamverse/web/src/lib/creationCapabilities.ts
  apps/dreamverse/web/src/lib/creationConfig.test.ts
  apps/dreamverse/web/src/lib/creationConfig.ts
  apps/dreamverse/web/src/lib/creationPayload.test.ts
  apps/dreamverse/web/src/lib/creationPayload.ts
  apps/dreamverse/web/src/lib/generationMode.test.ts
  apps/dreamverse/web/src/lib/generationMode.ts
Due: none

[misc]: record TDM post-d7cce989 experiments and next step
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: record 1000-step two-time-scale run launch
  .agents/handoffs/issue-775-handoff.md
Due: none

[bugfix] Preserve video frames when decoded audio is shorter
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record 1000-step two-time-scale result (diverges from teacher)
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: add TDM next-steps and current-state fields to handoff
  .agents/handoffs/issue-775-handoff.md
Due: none

[feat]: add paper pseudo-Huber surrogate for TDM generator loss
  docs/training/train_infra.md
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: record pseudo-Huber 100-step result (still diverges from teacher)
  .agents/handoffs/issue-775-handoff.md
Due: none

[bugfix]: couple TDM trajectory updates
  docs/training/train_infra.md
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] FP8: gate the ROCm _scaled_mm path on CDNA4 instead of the capability tuple
  fastvideo/layers/quantization/fp8_config.py
  fastvideo/tests/ops/quantization/test_fp8_compute_gate.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] FP8: state the ROCm requirement (CDNA4) next to the sm89 one
  docs/inference/optimizations.md
Due: none

[bugfix]: keep the VSA-H3 tile buffer out of the autograd graph
  .buildkite/scripts/unit_test.sh
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_tile_grad_safety.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] VSA block-sparse attention: add HIP autotune configs for gfx950 (MFMA 16x16, kpack, waves_per_eu)
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/block_sparse_attn_triton.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[bugfix] Enable SP for LongCat BSA refinement
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_refine_init.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: document both tile() modes and soften the scatter_into_tile_buf graph contract
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Document FASTVIDEO_H3_VAE_TILE_BATCH_ROWS
  docs/inference/optimizations.md
Due: none

[misc] H3 VAE tile batching: explicit strict= on the two zips this branch adds
  fastvideo/models/vaes/minimax_h3_video.py
Due: VAE Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore deterministic Cosmos2.5 conditioning encode (#1767)
  .buildkite/scripts/unit_test.sh
  fastvideo/models/vaes/cosmos25wanvae.py
  fastvideo/pipelines/basic/cosmos/presets.py
  fastvideo/pipelines/stages/latent_preparation.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[Feature] add Cosmos DFD DreamVerse backend
  apps/dreamverse/README.md
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/cosmos25_dfd_generation.py
  apps/dreamverse/dreamverse/generation_worker.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/dreamverse/tests/test_cosmos25_dfd_generation.py
  apps/dreamverse/dreamverse/tests/test_generation_worker.py
Due: none

[fix] extend Cosmos DreamVerse session lease
  apps/dreamverse/README.md
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/tests/test_config.py
Due: none

[misc]: persist active TDM handoff
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: record TDM norm-matched diagnostic
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: record TDM diagnostic launch
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: record TDM diagnostic retry
  .agents/handoffs/issue-775-handoff.md
Due: none

[misc]: record TDM weighting diagnostic result
  .agents/handoffs/issue-775-handoff.md
Due: none

[feat] Add bounded first-frame Studio posters
  apps/fastvideo_studio/server.py
  apps/fastvideo_studio/tests/test_thumbnails.py
  apps/fastvideo_studio/thumbnails.py
Due: none

[feat]: preview Studio job requests as copyable curl
  apps/fastvideo_studio/src/components/jobs/ApiRequestPreview.test.tsx
  apps/fastvideo_studio/src/components/jobs/ApiRequestPreview.tsx
  apps/fastvideo_studio/src/components/jobs/CreateJobApiPreview.test.tsx
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  apps/fastvideo_studio/src/lib/api.ts
  apps/fastvideo_studio/src/lib/apiRequest.test.ts
  apps/fastvideo_studio/src/lib/apiRequest.ts
Due: none

[docs] Explain Studio UI preview and custom model scope
  apps/fastvideo_studio/UI_PREVIEW.md
Due: none

[feat]: organize Studio inference controls and add precise numeric entry
  apps/fastvideo_studio/src/app/settings/page.tsx
  apps/fastvideo_studio/src/components/form-rows.test.tsx
  apps/fastvideo_studio/src/components/form-rows.tsx
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  apps/fastvideo_studio/src/components/jobs/InferenceOptions.test.tsx
  apps/fastvideo_studio/vitest.config.ts
Due: none

[fix] Keep poster requests from blocking job controls
  apps/fastvideo_studio/server.py
  apps/fastvideo_studio/tests/test_thumbnails.py
  apps/fastvideo_studio/thumbnails.py
Due: none
