Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[test]add tests for flashinfer
  fastvideo/tests/attention/test_flashinfer_backend.py
  fastvideo/tests/attention/test_selector_role_override.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete benchmark
  examples/inference/benchmark_attention_backends.py
Due: none

beanchmark for test
  examples/inference/benchmark_attention_backends.py
Due: none

Dreamverse: add FastH3 support
  apps/dreamverse/README.md
  apps/dreamverse/arch.md
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/generation_contracts.py
  apps/dreamverse/dreamverse/generation_worker.py
  apps/dreamverse/dreamverse/gpu_pool.py
  apps/dreamverse/dreamverse/minimax_h3_generation.py
  apps/dreamverse/dreamverse/session/controller.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/dreamverse/tests/test_gpu_pool.py
  apps/dreamverse/dreamverse/tests/test_minimax_h3_generation.py
  apps/dreamverse/dreamverse/video_generation.py
  fastvideo/models/loader/lora_patch.py
  fastvideo/tests/loader/test_lora_patch.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

rename LTX2 generation backend.
  apps/dreamverse/arch.md
  apps/dreamverse/dreamverse/benchmarks/benchmark_pipeline.py
  apps/dreamverse/dreamverse/generation_worker.py
  apps/dreamverse/dreamverse/ltx2_generation.py
  apps/dreamverse/dreamverse/tests/test_generation_worker.py
  apps/dreamverse/dreamverse/tests/test_import_contract.py
  apps/dreamverse/gpu-pool.drawio
  apps/dreamverse/gpu-pool.svg
Due: none

[bugfix]: stabilize H3 RVM Modal training
  examples/inference/basic/basic_minimax_h3_t2v.py
  examples/train/configs/rl/minimax_h3/rvm_h3_modal_1gpu.yaml
  examples/train/rvm_h3/03_preflight_1gpu.sh
  examples/train/rvm_h3/03_public_inference_smoke.sh
  examples/train/rvm_h3/PR3_MODAL_PROGRESS_REPORT.md
  examples/train/rvm_h3/modal_h3_rvm.py
  fastvideo/layers/lora/linear.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_text_only.py
  fastvideo/tests/train/methods/test_minimax_h3_dmd2.py
  fastvideo/tests/train/methods/test_rvm_configs.py
  fastvideo/tests/train/methods/test_rvm_utils.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/dynamic_tracking.py
  fastvideo/train/methods/rl/rewards/hpsv3.py
  fastvideo/train/methods/rl/rewards/videoalign.py
  fastvideo/train/methods/rl/rvm.py
  fastvideo/train/models/minimax_h3/minimax_h3_dmd.py
  fastvideo/train/models/minimax_h3/minimax_h3_rvm.py
  fastvideo/train/utils/moduleloader.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix some bugs
  fastvideo/attention/backends/flashinfer.py
  fastvideo/attention/selector.py
  fastvideo/models/dits/wanvideo.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_flashinfer_cuda_dispatch.py
  fastvideo/tests/attention/test_selector_role_override.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add fastvideo serve configs for Wan CUDA models
  examples/serving/openai_fastwan21_1_3b.yaml
  examples/serving/openai_wan21_i2v_14b.yaml
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
Due: none

Test commits
  docs/getting_started/installation/spark_performance.md
  docs/inference/offloading.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  fastvideo/tests/stages/test_lazy_module_load.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  tests/local_tests/vaes/benchmark_minimax_h3_video_vae_memory.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: rebuild the deferred-release schedule when a stage is added late
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: share compiled VSA graphs across H3 layers
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  fastvideo/tests/inference/test_inference_regional_compile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: load pipeline components on demand and free them after their last stage
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/offloading.md
  fastvideo/api/compat.py
  fastvideo/api/schema.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lazy_module.py
  fastvideo/pipelines/stages/base.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: test the real load and stage-construction paths
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: make deferred loading opt-in per pipeline and clean up on failure
  docs/inference/offloading.md
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/stages/base.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: expose lazy module loading in the FastH3 example
  examples/inference/basic/basic_fasth3.py
Due: none

[bugfix]: preserve compile across lazy module reloads
  docs/inference/offloading.md
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/pipelines/lazy_module.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep unused LoRA setup from loading lazy DiTs
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/stages/test_lazy_module_load.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: expose lazy module loading in the MiniMax H3 example
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[bugfix]: let lazy_module_load own H3 deferral when both mechanisms are on
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: explain H3 RVM reward trends
  examples/train/rvm_h3/PR3_MODAL_PROGRESS_REPORT.md
Due: none

[docs]: add FastH3 Preview v1 news links
  README.md
Due: none

[docs]: add FastH3 Preview v1 news links (#1804)
  README.md
Due: none

[bugfix] Write generated documentation as UTF-8 (#1797)
  docs/generate_examples.py
Due: none

[feat] Serve FastMetal (Wan2.1) 1.3B through native MLX
  examples/serving/mlx_wan21_1_3b.yaml
  fastvideo/entrypoints/openai/mlx_wan_server.py
  fastvideo/mlx_runtime/wan_pipeline.py
  fastvideo/tests/entrypoints/test_mlx_wan_server.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add FastMetal 14B and 5B MLX serving, harden test coverage
  examples/serving/mlx_wan21_14b.yaml
  examples/serving/mlx_wan22_5b.yaml
  fastvideo/entrypoints/openai/mlx_wan_server.py
  fastvideo/mlx_runtime/wan_pipeline.py
  fastvideo/tests/entrypoints/test_mlx_wan_server.py
  fastvideo/tests/mlx/test_mlx_wan_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Let the OpenAI server plug in a non-CUDA generator
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/serving_engine.py
  fastvideo/entrypoints/openai/video_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add opt-in CUDA TAEH3 preview decode for FastH3 (#1795)
  docs/design/inference_schema_parity_inventory.yaml
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/basic_fasth3.py
  fastvideo/fastvideo_args.py
  fastvideo/models/vaes/minimax_h3_taeh3.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  fastvideo/tests/stages/test_minimax_h3_sequential_start.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  fastvideo/tests/vaes/test_minimax_h3_taeh3.py
  tests/local_tests/vaes/benchmark_minimax_h3_video_vae_memory.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(rvm): match batch-global reward scaling and continuous time
  fastvideo/tests/train/methods/test_rvm_utils.py
  fastvideo/train/methods/rl/__init__.py
  fastvideo/train/methods/rl/common/rvm_utils.py
  fastvideo/train/methods/rl/rvm_faithful.py
  fastvideo/train/methods/rl/rvm_local_metrics.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(rvm): expose motion saturation diagnostics
  fastvideo/tests/train/methods/test_rvm_reward_diagnostics.py
  fastvideo/train/methods/rl/rewards/dynamic_tracking.py
  fastvideo/train/methods/rl/rewards/media.py
  fastvideo/train/methods/rl/rvm_faithful.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(rvm): wire faithful scale-up configs and gates
  examples/train/configs/rl/minimax_h3/rvm_h3_1gpu_smoke.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_8gpu_audio_anchor.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_8gpu_exact.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_8gpu_full.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_8gpu_full_anchor.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_modal_1gpu.yaml
  examples/train/configs/rl/minimax_h3/rvm_h3_modal_4gpu.yaml
  examples/train/rvm_h3/00_RVM_FIDELITY_AND_SCALEUP.md
  examples/train/rvm_h3/03_preflight_1gpu.sh
  examples/train/rvm_h3/05_run_8gpu_lr_sweep.sh
  examples/train/rvm_h3/05_run_8gpu_topology_smoke.sh
  examples/train/rvm_h3/06_run_8gpu_anchor_sweep.sh
  examples/train/rvm_h3/07_run_8gpu_full.sh
  examples/train/rvm_h3/07_run_8gpu_scaleup_pilot.sh
  examples/train/rvm_h3/common.sh
  examples/train/rvm_h3/verify_clean_source.py
  fastvideo/tests/train/methods/test_rvm_configs.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(rvm): keep Modal preflight compatible with faithful configs
  fastvideo/tests/train/methods/test_rvm_configs.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
