Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[docs] Record 14B Wan-VACE SP2 rerun after timestep fix
  docs/inference/wan_vace.md
  tests/local_tests/wan/PORT_STATUS.md
Due: none

[misc] Use envs overrides in Wan-VACE tests per env-var policy
  fastvideo/tests/api/test_wan_vace_backend.py
  fastvideo/tests/distributed/test_sp_wan_vace.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Final Wan-VACE review cleanups
  docs/inference/wan_vace.md
  fastvideo/pipelines/basic/wan/AGENTS.md
  fastvideo/pipelines/basic/wan/stages/vace_denoising.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/tests/api/test_wan_vace_backend.py
  fastvideo/tests/api/test_wan_vace_inputs.py
  tests/local_tests/pipelines/test_wan_vace_end_to_end_parity.py
  tests/local_tests/wan/PORT_STATUS.md
  tests/local_tests/wan/README.md
  tests/local_tests/wan/parity_stats.py
  tests/local_tests/wan/vace_parity_helpers.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Validate Wan-VACE patch-grid sizes and pad masks per reference
  fastvideo/pipelines/basic/wan/stages/vace_conditioning.py
  fastvideo/pipelines/basic/wan/stages/vace_input.py
  fastvideo/tests/api/test_wan_vace_definitions.py
  fastvideo/tests/api/test_wan_vace_inputs.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Default SM100 long-sequence Attn-QAT tiling
  docs/training/attn_qat.md
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/attn_qat_train.py
  fastvideo-kernel/tests/test_attn_qat_sm100_long_sequence.py
  fastvideo-kernel/tests/test_attn_qat_train_routing.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[perf] Cover wide backward in Attn-QAT comparison modes
  docs/training/attn_qat.md
  fastvideo-kernel/tests/test_attn_qat_sm100_long_sequence.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[perf] Fuse VSA64 tile layout for SM100 inference
  .buildkite/scripts/unit_test.sh
  docs/attention/vsa/index.md
  docs/contributing/env_vars.md
  fastvideo-kernel/benchmarks/bench_vsa_tile_layout.py
  fastvideo-kernel/python/fastvideo_kernel/triton_kernels/vsa_tile_layout.py
  fastvideo-kernel/tests/test_vsa_tile_layout.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/envs.py
  fastvideo/tests/attention/test_vsa64_fused_layout.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf] Require the in-tree VSA64 layout kernel in parity tests
  docs/attention/vsa/index.md
  fastvideo/tests/attention/test_vsa64_fused_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Lazy-import fastvideo_kernel so FastVideo imports on CPU-only hosts
  .buildkite/scripts/unit_test.sh
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[bugfix] Report broken kernels at backend selection; cache VSA kernels
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/platforms/cuda.py
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Harden kernel probes and hide CUDA in import tests via envs
  fastvideo/tests/attention/test_kernel_optional_import.py
  fastvideo/tests/conftest.py
  fastvideo/tests/entrypoints/test_cpu_import.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Route FastWan 5B FullAttn through dense attention
  docs/inference/support_matrix.md
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/layer.py
  fastvideo/attention/selector.py
  fastvideo/configs/models/base.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/models/wan/transformer.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  fastvideo/tests/api/test_wan_definitions.py
  mkdocs.yml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Route FullAttn-to-VSA LoRA training through sparse-capable 5B config
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Point FullAttn inference guide at the real 5B CLI config
  docs/inference/wan_fastwan_fullattn.md
Due: none

[misc] Clarify FastWan FullAttn routing and tests
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/selector.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/models/wan/transformer.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/registry.py
  fastvideo/tests/api/test_fastwan_fullattn.py
  fastvideo/train/utils/config.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Correct FastWan FullAttn guide and support matrix
  docs/inference/support_matrix.md
  docs/inference/wan_fastwan_fullattn.md
Due: none

[bugfix] Reject image inputs and ti2v_task overrides for FastWan FullAttn
  fastvideo/configs/pipelines/base.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Build the validation pipeline with a substituted training config
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] Document FullAttn manifest routing for VSA recipe checkpoints
  docs/inference/wan_fastwan_fullattn.md
  fastvideo/attention/AGENTS.md
Due: Transformer Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Set the attention backend through envs.override in FullAttn tests
  fastvideo/tests/api/test_fastwan_fullattn.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: keep the H3 playground and audio messaging, scope Wan serving docs to what Wan servers support
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/assets/custom.css
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  docs/generate_examples.py
  examples/serving/openai_wan22_ti2v_5b.yaml
  fastvideo/entrypoints/openai/static/playground.html
  fastvideo/entrypoints/openai/static/playground.js
  tests/local_tests/test_cookbook_serving.py
Due: Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: build OpenAI requests as nested typed requests
  fastvideo/api/compat.py
  fastvideo/entrypoints/openai/request_adapter.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: remove the flat-flag entry point of the OpenAI API server
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/entrypoints/openai/state.py
  fastvideo/tests/entrypoints/test_openai_api_integration.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: build OpenAI image requests as typed requests
  fastvideo/api/schema.py
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/tests/api/test_schema_parity_inventory.py
  fastvideo/tests/entrypoints/test_image_generation_route_compatibility.py
  fastvideo/tests/entrypoints/test_image_model_name_validation.py
  fastvideo/tests/entrypoints/test_image_response_format_validation.py
  fastvideo/tests/entrypoints/test_openai_api.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: move tests and scripts to generate(request) and from_config
  .agents/skills/add-model-09-pipeline/templates/pipeline_parity_test.py
  fastvideo/tests/inference/lora/test_lora_inference_similarity.py
  fastvideo/tests/nightly/test_e2e_kandinsky5_dmd_t2v_overfit.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/latent_similarity_utils.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_gen3c_similarity.py
  fastvideo/tests/ssim/test_lingbot_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_matrixgame3_similarity.py
  scripts/lora_extraction/lora_inference_comparison.py
  tests/local_tests/flux2/generate_flux2_full_image_compare.py
  tests/local_tests/gamecraft/test_gamecraft_pipeline_parity.py
  tests/local_tests/gen3c/test_gen3c_pipeline_smoke.py
  tests/local_tests/glm_image/test_edit_pipeline_parity.py
  tests/local_tests/glm_image/test_pipeline_parity.py
  tests/local_tests/ltx2/test_ltx2_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/pipelines/test_dreamx_world_pipeline_parity.py
  tests/local_tests/pipelines/test_dreamx_world_pipeline_smoke.py
  tests/local_tests/pipelines/test_flux2_pipeline_parity.py
  tests/local_tests/pipelines/test_flux2_pipeline_smoke.py
  tests/local_tests/pipelines/test_lingbot_video_moe_pipeline_smoke.py
  tests/local_tests/pipelines/test_lingbot_video_pipeline_parity.py
  tests/local_tests/pipelines/test_lingbot_video_pipeline_smoke.py
  tests/local_tests/pipelines/test_lingbot_video_refiner_pipeline_smoke.py
  tests/local_tests/pipelines/test_lingbotworld2_causal_fast_pipeline_smoke.py
  tests/local_tests/pipelines/test_zimage_pipeline_parity.py
  tests/local_tests/pipelines/test_zimage_pipeline_smoke.py
  tests/local_tests/stable_audio/test_stable_audio_a2a_parity.py
  tests/local_tests/stable_audio/test_stable_audio_inpaint_parity.py
  tests/local_tests/stable_audio/test_stable_audio_pipeline_parity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: move apps and docs to generate(request) and from_config
  README.md
  apps/dreamverse/dreamverse/benchmarks/benchmark_pipeline.py
  apps/dreamverse/dreamverse/ltx2_generation.py
  apps/fastvideo_studio/job_runner.py
  comfyui/video_generator/video_generator.py
  docs/contributing/coding_agents.md
  docs/design/overview.md
  docs/inference/architecture.md
  docs/inference/configuration.md
  docs/inference/inference_quick_start.md
  docs/inference/offloading.md
  docs/inference/optimizations.md
Due: none

[refactor]: remove VideoGenerator.generate_video
  apps/dreamverse/arch.md
  apps/dreamverse/gpu-pool.drawio
  apps/dreamverse/gpu-pool.svg
  apps/dreamverse/web/e2e/preset-prompt-generation.spec.ts
  docs/contributing/performance_benchmarks.md
  examples/inference/optimizations/qad_fp4_ab.py
  examples/inference/optimizations/torch_compile_example.py
  fastvideo/api/compat.py
  fastvideo/api/sampling_param.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/eval/datasets/base.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/tests/api/test_extra_overrides_routing.py
  fastvideo/tests/contract/test_dreamverse_shape.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/worker/executor.py
  fastvideo/worker/multiproc_executor.py
  scripts/checkpoint_conversion/longcat_to_fastvideo.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: accept only the convenience keywords in from_pretrained
  docs/inference/configuration.md
  fastvideo/api/compat.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/api/config_snapshot.py
  fastvideo/tests/api/config_snapshot_goldens/config/attention_precision_and_flow_shift.json
  fastvideo/tests/api/config_snapshot_goldens/config/boundary_ratio.json
  fastvideo/tests/api/config_snapshot_goldens/config/keys_without_typed_fields.json
  fastvideo/tests/api/config_snapshot_goldens/config/ltx2_refine_lora_disabled.json
  fastvideo/tests/api/config_snapshot_goldens/config/ltx2_refine_lora_path.json
  fastvideo/tests/api/config_snapshot_goldens/config/ltx2_vae_tile_sizes.json
  fastvideo/tests/api/config_snapshot_goldens/config/pipeline_config_json_path.json
  fastvideo/tests/api/config_snapshot_goldens/config/vae_tiling_typed.json
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/api/test_ltx2_gpu_pool_translation.py
  fastvideo/tests/contract/test_dreamverse_shape.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: add the shared runtime helpers for reader migration
  fastvideo/api/inference_resolution.py
  fastvideo/api/resolution.py
  fastvideo/pipelines/component_state.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: read typed config paths in the model-specific stages
  fastvideo/pipelines/stages/flux_stages.py
  fastvideo/pipelines/stages/gamecraft_denoising.py
  fastvideo/pipelines/stages/gamecraft_image_encoding.py
  fastvideo/pipelines/stages/gen3c_stages.py
  fastvideo/pipelines/stages/hyworld_denoising.py
  fastvideo/pipelines/stages/kandinsky5.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_latent_preparation.py
  fastvideo/pipelines/stages/longcat_image_vae_encoding.py
  fastvideo/pipelines/stages/longcat_kv_cache_init.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/pipelines/stages/longcat_refine_timestep.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/longcat_video_vae_encoding.py
  fastvideo/pipelines/stages/matrixgame2_denoising.py
  fastvideo/pipelines/stages/matrixgame3_denoising.py
  fastvideo/pipelines/stages/sd35_conditioning.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: read typed config paths in the LTX-2, MiniMax-H3, Wan, MMAudio, MagiHuman, and Stable Audio pipelines
  fastvideo/api/schema.py
  fastvideo/pipelines/basic/ltx2/ltx2_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_latent_preparation.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_refine.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_text_encoding.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/stages/audio_decoding.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/pipelines/basic/magi_human/stages/reference_image.py
  fastvideo/pipelines/basic/magi_human/stages/sr_denoising.py
  fastvideo/pipelines/basic/magi_human/stages/sr_latent_preparation.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_latent_preparation.py
  fastvideo/pipelines/basic/mmaudio/mmaudio_pipeline.py
  fastvideo/pipelines/basic/mmaudio/stages.py
  fastvideo/pipelines/basic/stable_audio/stable_audio_pipeline.py
  fastvideo/pipelines/basic/stable_audio/stages/conditioning.py
  fastvideo/pipelines/basic/stable_audio/stages/decoding.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/basic/stable_audio/stages/latent_preparation.py
  fastvideo/pipelines/basic/wan/lucy_edit_pipeline.py
  fastvideo/pipelines/basic/wan/stages/causal_denoising.py
  fastvideo/pipelines/basic/wan/stages/conditioning.py
  fastvideo/pipelines/basic/wan/stages/dmd.py
  fastvideo/pipelines/basic/wan/wan_causal_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_causal_pipeline.py
  fastvideo/pipelines/basic/wan/wan_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_dmd_pipeline.py
  fastvideo/pipelines/basic/wan/wan_i2v_pipeline.py
  fastvideo/pipelines/basic/wan/wan_pipeline.py
  fastvideo/pipelines/basic/wan/wan_v2v_pipeline.py
  fastvideo/tests/pipelines/test_ltx2_refine_checkpoint_defaults.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: read typed config paths in the shared stages
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/base.py
  fastvideo/pipelines/stages/conditioning.py
  fastvideo/pipelines/stages/decoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/encoding.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/pipelines/stages/input_validation.py
  fastvideo/pipelines/stages/latent_preparation.py
  fastvideo/pipelines/stages/sr_denoising.py
  fastvideo/pipelines/stages/text_encoding.py
  fastvideo/pipelines/stages/timestep_preparation.py
  fastvideo/tests/stages/_denoising_fixtures.py
  fastvideo/tests/stages/_resolved_config.py
  fastvideo/tests/stages/test_cfg_gating.py
  fastvideo/tests/stages/test_kandinsky5_dmd_stage_backend_engages.py
  fastvideo/tests/stages/test_kandinsky5_target_dtype.py
  fastvideo/tests/stages/test_lazy_module_load.py
  fastvideo/tests/stages/test_minimax_h3_distilled_schedule.py
  fastvideo/tests/stages/test_minimax_h3_encoding_offload.py
  fastvideo/tests/stages/test_minimax_h3_sequential_start.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  fastvideo/tests/stages/test_text_encoding.py
  fastvideo/tests/stages/test_wan_causal_denoising.py
  fastvideo/tests/stages/test_wan_denoising.py
  fastvideo/tests/stages/test_wan_dmd_denoising.py
  fastvideo/tests/stages/test_wan_pipeline_wiring.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: build resolved configs in the modular trainer
  apps/fastvideo_studio/src/components/jobs/CreateJobModal.tsx
  examples/train/configs/distribution_matching/kandinsky5/distill_dmd_qat.sh
  examples/train/configs/distribution_matching/kandinsky5/dmd2_t2v_480p_qat.yaml
  examples/train/configs/fine_tuning/kandinsky5/README.md
  examples/train/configs/overfit_minimax_h3_t2va.yaml
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/tests/train/methods/test_minimax_h3_finetune.py
  fastvideo/tests/train/utils/test_moduleloader_attention_backend.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/models/kandinsky5/kandinsky5.py
  fastvideo/train/utils/builder.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/train/utils/moduleloader.py
  fastvideo/train/utils/negative_prompt.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: decide the v1 preprocessing VAE precision during resolution
  fastvideo/api/resolution.py
  fastvideo/api/training_schema.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
  fastvideo/tests/workflow/test_v1_preprocess_config.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
