Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

fix(eval): address #1380 review (cache filename, registry, deps, warn)
  fastvideo/eval/README.md
  fastvideo/eval/metrics/common/fvd/metric.py
  fastvideo/tests/eval/test_registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

text only
  examples/train/configs/example.yaml
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
  scripts/preprocess/preprocess_train_text_only_dmd.sh
  scripts/train/train_dmd2_t2v_text_only.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

save
  examples/train/configs/distribution_matching/wan/dmd2_text_only_validation.json
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
  fastvideo/train/methods/distribution_matching/dmd2.py
  fastvideo/training/training_utils.py
  scripts/train/train_dmd2_t2v_text_only.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

+ diffusion nft
  .agents/skills/add-reward-model/SKILL.md
  .agents/skills/add-rl-method/SKILL.md
  .agents/skills/index.jsonl
  .agents/skills/rlhf-training-abstractions/SKILL.md
  examples/train/configs/rl/wan/diffusion_nft_pick_clip.yaml
  fastvideo/train/methods/base.py
  fastvideo/train/methods/rl/__init__.py
  fastvideo/train/methods/rl/common/__init__.py
  fastvideo/train/methods/rl/common/prompt_sampling.py
  fastvideo/train/methods/rl/common/sampling.py
  fastvideo/train/methods/rl/common/validation.py
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/rewards/__init__.py
  fastvideo/train/methods/rl/rewards/frame_rewards.py
  fastvideo/train/methods/rl/rewards/media.py
  fastvideo/train/models/base.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/trainer.py
  fastvideo/training/trackers.py
  scripts/train/train_diffusion_nft_wan_pick_clip.sh
  tests/local_tests/test_diffusion_nft_method_utils.py
  tests/local_tests/test_train_rewards.py
  tests/local_tests/test_train_rl_sampling.py
  tests/local_tests/test_trainer_managed_optimization.py
  tests/local_tests/test_wan_training_dtype.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: linear/mlp FP4 path additions for Wan-2.1 (Attn-QAT 6/12)
  fastvideo/layers/linear.py
  fastvideo/layers/mlp.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: stabilize GenRL reward and PPO training
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
  examples/train/run.sh
  examples/train/run_slurm.sh
  fastvideo/layers/lora/linear.py
  fastvideo/train/callbacks/ema.py
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/utils.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/utils/data.py
  fastvideo/train/methods/rl/utils/evaluation.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/rewards.py
  fastvideo/train/methods/rl/utils/sampling.py
  fastvideo/train/methods/rl/utils/sde.py
  fastvideo/train/models/wan/wan_genrl.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: route SP all-to-all NCCL on a dedicated comm stream
  fastvideo/distributed/device_communicators/base_device_communicator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Init diffusion nft setup
  examples/train/configs/diffusion_nft_wan2.1_t2i_text_only.yaml
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/objectives/__init__.py
  fastvideo/train/methods/rl/objectives/diffusion_nft.py
  fastvideo/train/methods/rl/reward/__init__.py
  fastvideo/train/methods/rl/reward/diffusion_nft.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/training_config.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix text-only prompt padding
  fastvideo/pipelines/preprocess/preprocess_pipeline_text.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add dnft for video generation with num_frames=1 option
  examples/train/configs/diffusion_nft_wan2.1_t2v_text_only.yaml
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/reward/diffusion_nft.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update training configurations
  examples/train/configs/diffusion_nft_wan2.1_t2i_text_only.yaml
  examples/train/configs/diffusion_nft_wan2.1_t2v_text_only.yaml
  fastvideo/train/methods/rl/diffusion_nft.py
  fastvideo/train/methods/rl/reward/diffusion_nft.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix text preprocessing
  fastvideo/dataset/dataloader/parquet_io.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Use 1 gpu preprocessing
  modal_train_diffusion_nft.py
Due: none

Fix fsdp mismatch
  examples/train/configs/diffusion_nft_wan2.1_t2i_text_only.yaml
  examples/train/configs/diffusion_nft_wan2.1_t2v_text_only.yaml
  modal_train_diffusion_nft.py
Due: none

Fix mismatch configs
  examples/train/configs/diffusion_nft_wan2.1_t2i_text_only.yaml
  examples/train/configs/diffusion_nft_wan2.1_t2v_text_only.yaml
  fastvideo/train/methods/rl/diffusion_nft.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Setup qualitative result logging to wandb
  examples/train/configs/diffusion_nft_wan2.1_t2i_text_only.yaml
  examples/train/configs/diffusion_nft_wan2.1_t2v_text_only.yaml
  fastvideo/train/methods/rl/diffusion_nft.py
  modal_train_diffusion_nft.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] eval: consolidate FVD into common.fvd, remove benchmarks/fvd (#1380)
  .agents/memory/evaluation-registry/README.md
  .agents/onboarding/worldmodel-training/README.md
  .agents/workflows/evaluation-development.md
  benchmarks/fvd/README.md
  benchmarks/fvd/__init__.py
  benchmarks/fvd/cli.py
  benchmarks/fvd/feature_extractors.py
  benchmarks/fvd/fvd.py
  benchmarks/fvd/i3d_model.py
  benchmarks/fvd/run_fvd.py
  benchmarks/fvd/validate_fvd.py
  benchmarks/fvd/video_utils.py
  benchmarks/scripts/run.sh
  benchmarks/scripts/setup_fvd.sh
  docs/contributing/eval-metrics.md
  examples/inference/eval/eval_fvd.py
  fastvideo/eval/README.md
  fastvideo/eval/metrics/common/fvd/__init__.py
  fastvideo/eval/metrics/common/fvd/extractors.py
  fastvideo/eval/metrics/common/fvd/metric.py
  fastvideo/tests/eval/test_registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat(eval): input ergonomics + Evaluator features + bug fixes
  examples/inference/eval/eval_fvd.py
  fastvideo/eval/README.md
  fastvideo/eval/__init__.py
  fastvideo/eval/evaluator.py
  fastvideo/eval/io/__init__.py
  fastvideo/eval/io/audio.py
  fastvideo/eval/io/inputs.py
  fastvideo/eval/io/video.py
  fastvideo/eval/metrics/audio/clap_score/metric.py
  fastvideo/eval/metrics/audio/desync/metric.py
  fastvideo/eval/metrics/audio/imagebind_score/metric.py
  fastvideo/eval/metrics/audio/kl_divergence/metric.py
  fastvideo/eval/metrics/common/fvd/metric.py
  fastvideo/eval/pool.py
  fastvideo/eval/worker.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci]: stub parquet dataloader in per-method smoke tests
  fastvideo/tests/train/methods/test_wan_causal_dfsft.py
  fastvideo/tests/train/methods/test_wan_finetune.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: document FA4 CuTe optional dep via Dao-AILab upstream pin
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci] add per-method single-step training tests for fastvideo.train (#1343)
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/train/fixtures/wan_causal_t2v_dfsft_min.yaml
  fastvideo/tests/train/fixtures/wan_t2v_finetune_min.yaml
  fastvideo/tests/train/methods/__init__.py
  fastvideo/tests/train/methods/test_wan_causal_dfsft.py
  fastvideo/tests/train/methods/test_wan_finetune.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

driver
  apps/dreamverse/dreamverse/av_streaming.py
  apps/dreamverse/run.bat
  apps/dreamverse/web/src/app/page.integration.test.tsx
  apps/dreamverse/web/src/app/page.tsx
  apps/dreamverse/web/src/components/ChatBar.tsx
  pyproject.toml
  setup.bat
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

ser
  apps/dreamverse/dreamverse/gpu_pool.py
Due: none

[ci]: layer-0 grad-norm regression for per-method train tests (5a-ii)
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/train/methods/grad_norm_refs.json
  fastvideo/tests/train/methods/grad_norm_regression.py
  fastvideo/tests/train/methods/test_wan_causal_dfsft.py
  fastvideo/tests/train/methods/test_wan_finetune.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Speed up Dreamverse Modal compile warmup
  apps/dreamverse/dreamverse/video_generation.py
  apps/dreamverse/scripts/modal/modal_app.py
  fastvideo/models/encoders/gemma.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Make Dreamverse Modal max-autotune opt-in
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/video_generation.py
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[feat] VSA-256 fastpath on Blackwell via FA4 CuTe block-sparse attention (#1354)
  fastvideo-kernel/README.md
  fastvideo-kernel/python/fastvideo_kernel/__init__.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_256.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_cute_fwd.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/tests/test_vsa256_forward.py
  fastvideo-kernel/tests/test_vsa256_forward_cross.py
  fastvideo-kernel/tests/test_vsa256_forward_vbs.py
  fastvideo-kernel/tests/test_vsa256_triton.py
  fastvideo/attention/backends/video_sparse_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs]: Wire activation trace into mkdocs nav + perf/troubleshooting (#1304)
  docs/contributing/activation_trace.md
  docs/contributing/profiling.md
  docs/utilities/debugging.md
  mkdocs.yml
Due: none

[feat] LTX-2.3 audio: add BWE vocoder path
  fastvideo/models/audio/ltx2_audio_vae.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_audio_decoding.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] LTX-2.3 transformer support (config-gated)
  fastvideo/configs/models/dits/ltx2.py
  fastvideo/configs/models/encoders/gemma.py
  fastvideo/models/dits/ltx2.py
  fastvideo/models/encoders/gemma.py
  fastvideo/pipelines/basic/ltx2/presets.py
  fastvideo/registry.py
Due: Encoder Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] eval: narrow worker skip_missing_deps catch
  fastvideo/eval/worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: surface activation-trace utility in add-model skills
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/add-model-03-port-dit/SKILL.md
  .agents/skills/add-model-08-trace/SKILL.md
  .agents/skills/add-model-09-pipeline/SKILL.md
  .agents/skills/add-model/SKILL.md
Due: none

[docs]: surface activation-trace utility in add-model skills (#1399)
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/add-model-03-port-dit/SKILL.md
  .agents/skills/add-model-08-trace/SKILL.md
  .agents/skills/add-model-09-pipeline/SKILL.md
  .agents/skills/add-model/SKILL.md
Due: none

[feat] eval: input ergonomics + Evaluator features + bug fixes (#1392)
  examples/inference/eval/eval_fvd.py
  fastvideo/eval/README.md
  fastvideo/eval/__init__.py
  fastvideo/eval/evaluator.py
  fastvideo/eval/io/__init__.py
  fastvideo/eval/io/audio.py
  fastvideo/eval/io/inputs.py
  fastvideo/eval/io/video.py
  fastvideo/eval/metrics/audio/clap_score/metric.py
  fastvideo/eval/metrics/audio/desync/metric.py
  fastvideo/eval/metrics/audio/imagebind_score/metric.py
  fastvideo/eval/metrics/audio/kl_divergence/metric.py
  fastvideo/eval/metrics/common/fvd/metric.py
  fastvideo/eval/pool.py
  fastvideo/eval/worker.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix] Keep Dreamverse Modal container warm
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[skills]: address Gemini + Copilot review on PR #1338
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/seed-ssim-references/SKILL.md
Due: none

[skills] Add FLUX-port learnings to add-model + seed-ssim skills
  .agents/skills/add-model-02-parity/SKILL.md
  .agents/skills/add-model-09-pipeline/SKILL.md
  .agents/skills/seed-ssim-references/SKILL.md
Due: none

[bugfix] Enable Dreamverse Modal max-autotune by default
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[feat]: thread sigma into LTX-2.3 cross-attention AdaLN for E2E t2v
  fastvideo/models/dits/ltx2.py
  fastvideo/models/vaes/ltx2vae.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix Dreamverse Modal compile warmup latency (#1394)
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/video_generation.py
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
  fastvideo/models/encoders/gemma.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
