Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[bugfix]: keep the full audio track when saving through the ffmpeg pipe
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add selectable Modal and GB200 Kubernetes GPU CI
  .buildkite/scripts/lanes/performance.sh
  .github/workflows/ci-aggregate-status.yml
  .github/workflows/ci-gpu-backend-status.yml
  docs/contributing/ci_architecture.md
  docs/contributing/gpu_ci_backends.md
  fastvideo/tests/contract/test_gpu_ci_admission.py
  fastvideo/tests/contract/test_gpu_ci_backends.py
  fastvideo/tests/contract/test_gpu_ci_dispatcher.py
  fastvideo/tests/contract/test_gpu_ci_pipeline.py
  fastvideo/tests/contract/test_gpu_ci_policy.py
  scripts/gpu_ci/__init__.py
  scripts/gpu_ci/__main__.py
  scripts/gpu_ci/admission.py
  scripts/gpu_ci/backends.py
  scripts/gpu_ci/config.example.json
  scripts/gpu_ci/dispatcher.py
  scripts/gpu_ci/entrypoint.py
  scripts/gpu_ci/pipeline.py
  scripts/gpu_ci/policy.py
  scripts/gpu_ci/run
  scripts/gpu_ci/upload
  scripts/gpu_ci/worker.sh
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: validate MiniMax-H3 pdd_steps with the shared PDD rule
  fastvideo/configs/models/dits/minimax_h3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: keep the Ref2VA policy out of the VSA-H3 backend
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: resolve the VSA-H3 tile-128 kernel route once per device
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: describe the VSA-H3 and PDD code as it is
  docs/inference/fasth3-distilled.md
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: reject a non-VSA backend for any gated MiniMax-H3 checkpoint
  docs/inference/fasth3-distilled.md
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: require a FastH3 base_model_revision of hf://<repo id>@<revision>
  docs/inference/fasth3-distilled.md
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/pipelines/basic/minimax_h3/__init__.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: take the composed manifest from a snapshot that declares every component
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: log the PDD contract's values apart from the run's attention settings
  docs/inference/fasth3-distilled.md
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: resolve FastH3 PDD checkpoint settings once, from fastvideo_inference.json (#1907)
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/fasth3-distilled.md
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/api/compat.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/configs/pipelines/base.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/entrypoints/openai/request_adapter.py
  fastvideo/entrypoints/openai/video_api.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/fastvideo_args.py
  fastvideo/layers/pdd.py
  fastvideo/pipelines/basic/minimax_h3/__init__.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/api/test_cli_translation.py
  fastvideo/tests/api/test_compat_translation.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
  fastvideo/tests/layers/test_pdd_linear.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
  fastvideo/tests/test_partial_hf_download.py
  fastvideo/utils.py
  tests/local_tests/lingbotworld2/test_lingbotworld2_causal_fast_preflight.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add serving recipe metadata and cookbook prototype
  .gitignore
  docs/assets/cookbook-serving.js
  docs/assets/images/cookbook-serving-example.png
  docs/cookbook/serving-example.md
  docs/cookbook/serving/defaults.yaml
  docs/cookbook/serving/hardware.yaml
  docs/cookbook/serving/models/fasth3-v2.yaml
  docs/cookbook/serving/models/wan21-i2v.yaml
  docs/cookbook/serving/models/zimage-turbo.yaml
  docs/cookbook_serving.py
  docs/inference/cli.md
  fastvideo/entrypoints/cli/inference_config.py
  fastvideo/entrypoints/cli/serve.py
  fastvideo/tests/api/test_cli_translation.py
  mkdocs.yml
  requirements-mkdocs.in
  requirements-mkdocs.txt
  tests/local_tests/test_cookbook_serving_example.mjs
  tests/local_tests/test_cookbook_serving_example.py
  tests/local_tests/test_cookbook_serving_roundtrip.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] Focus cookbook controls on deployment settings
  docs/assets/cookbook-serving.js
  docs/assets/images/cookbook-serving-example.jpg
  docs/assets/images/cookbook-serving-example.png
  docs/cookbook/serving-example.md
  docs/cookbook/serving/defaults.yaml
  docs/cookbook/serving/models/fasth3-v2.yaml
  docs/cookbook/serving/models/wan21-i2v.yaml
  docs/cookbook/serving/models/zimage-turbo.yaml
  docs/cookbook_serving.py
  tests/local_tests/test_cookbook_serving_example.mjs
  tests/local_tests/test_cookbook_serving_example.py
  tests/local_tests/test_cookbook_serving_roundtrip.py
Due: none

[misc]: replace development-history wording in VSA-H3 and FastH3 PDD comments (#1907)
  docs/inference/fasth3-distilled.md
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: name FastH3 PDD tests test_<function>_<scenario> (#1907)
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
  fastvideo/tests/layers/test_pdd_linear.py
  fastvideo/tests/loader/test_minimax_h3_pdd_loading.py
  fastvideo/tests/stages/test_minimax_h3_pdd_contract.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: build VSA-H3 metadata through one packed-segment path; drop the example's duplicate hardware check (#1907)
  docs/inference/fasth3-distilled.md
  examples/inference/basic/basic_fasth3_omniref_pdd.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/attention/test_vsa_h3_backward.py
  fastvideo/tests/attention/test_vsa_h3_metadata.py
  fastvideo/tests/attention/test_vsa_h3_ref2va_regions.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  fastvideo/tests/attention/test_vsa_h3_tile_grad_safety.py
  fastvideo/tests/inference/test_basic_fasth3_omniref_pdd.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_vsa.py
  fastvideo/tests/stages/test_minimax_h3_pdd_denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore NVFP4 parent package binding after import tests
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore the NVFP4 module after test_nvfp4_config re-imports it (#1908)
  fastvideo/tests/ops/quantization/test_nvfp4_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fixed the MiniMax-H3 pin-fallback decode test setup (#1909)
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep the full audio track when saving through the ffmpeg pipe (#1910)
  fastvideo/entrypoints/video_generator.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete test script
  run_ring_2gpu.sh
Due: none

[test]add distributed test for usp
  fastvideo/tests/distributed/test_usp_group_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]adjust layer for usp
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add temp test script
  run_ring_2gpu.sh
Due: none

pre-commit
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]adjust import package
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[log] add logs for ring-atten
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] fix multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test scripts
  fastvideo/tests/attention/test_ring_attention_config.py
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update test script
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]refactor attention kernel
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix sp size auto test logic
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update test script for ring atten config
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test scripts
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]add ring-atten from yunchang long context
  fastvideo/attention/ring/__init__.py
  fastvideo/attention/ring/_fa_kernels.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] implement ring-atten func in fastvideo
  fastvideo/attention/layer.py
  fastvideo/distributed/__init__.py
  fastvideo/distributed/parallel_state.py
  fastvideo/fastvideo_args.py
  fastvideo/pipelines/composed_pipeline_base.py
  fastvideo/worker/gpu_worker.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
