Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

robust way to handle block mask
  fastvideo/models/dits/matrixgame/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat: launch 2 instance to run ssim
  .gitignore
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

feat: do not display install warnings when no error happened
  fastvideo/tests/modal/ssim_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

test
  examples/training/finetune/MatrixGame2.0/finetune_df.slurm
  fastvideo/models/registry.py
  fastvideo/models/schedulers/scheduling_diffusion_forcing.py
  fastvideo/models/utils.py
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

doc: inference arch
  docs/inference/architecture.md
Due: none

[CI][Feat] launch 2 instance to run ssim (#1137)
  .gitignore
  fastvideo/tests/modal/ssim_test.py
  fastvideo/tests/ssim/test_matrixgame_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

df test
  examples/training/finetune/MatrixGame2.0/finetune_df.slurm
  examples/training/finetune/MatrixGame2.0/validation_df.json
  fastvideo/models/dits/matrixgame/causal_model.py
  fastvideo/training/matrixgame_ar_diffusion_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] added progress bar and console features
  fastvideo/registry.py
  ui/server.py
  ui/static/app.js
  ui/static/style.css
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: initial commit for job runner UI
  .python-version
  ui/README.md
  ui/__init__.py
  ui/__main__.py
  ui/server.py
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
Due: none

Increase poll frequency to 2s from 0.5s
  ui/frontend/src/components/JobCard.tsx
Due: none

Added job card, CreateJobModal, download console log
  ui/api_server.py
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/JobCard.tsx
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
Due: none

Fix bug where logs were being fetched for jobs that aren't running
  ui/static/app.js
Due: none

Fix logger
  ui/job_runner.py
Due: none

Set API_BASE_URL for next.js built-in dev server
  ui/frontend/README.md
  ui/frontend/src/lib/api.ts
  ui/web_server.py
Due: none

Added support for log queues
  fastvideo/entrypoints/video_generator.py
  fastvideo/worker/executor.py
  fastvideo/worker/multiproc_executor.py
  ui/job_runner.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add download video button, remove per-job page view
  ui/src/app/jobs/[id]/page.tsx
  ui/src/components/JobCard.tsx
  ui/src/lib/api.ts
Due: none

Add logo, modal presentation of Create Job, and distribute CSS into modules
  ui/frontend/public/logo.svg
  ui/frontend/src/app/Layout.module.css
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/Badge.module.css
  ui/frontend/src/components/Button.module.css
  ui/frontend/src/components/Card.module.css
  ui/frontend/src/components/Console.module.css
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/Form.module.css
  ui/frontend/src/components/Header.module.css
  ui/frontend/src/components/JobCard.module.css
  ui/frontend/src/components/Modal.module.css
  ui/frontend/src/components/ProgressBar.module.css
  ui/frontend/src/components/Toast.module.css
Due: none

Clean up styles
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/components/CreateJobButton.tsx
  ui/frontend/src/components/CreateJobModal.tsx
  ui/frontend/src/components/styles/Badge.module.css
  ui/frontend/src/components/styles/Button.module.css
  ui/frontend/src/components/styles/Card.module.css
  ui/frontend/src/components/styles/Console.module.css
  ui/frontend/src/components/styles/Form.module.css
  ui/frontend/src/components/styles/Header.module.css
  ui/frontend/src/components/styles/JobCard.module.css
  ui/frontend/src/components/styles/Modal.module.css
  ui/frontend/src/components/styles/ProgressBar.module.css
  ui/frontend/src/components/styles/Toast.module.css
  ui/frontend/tsconfig.json
Due: none

Added more logging to worker processes during MultiProcess execution
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Move API_BASE_URL to environment file
  ui/README.md
  ui/frontend/README.md
  ui/frontend/next.config.ts
  ui/frontend/src/lib/api.ts
Due: none

Concurrently run web server and API server for faster startup speeds
  ui/package-lock.json
  ui/package.json
Due: none

Fix bug where log queue was being created with a different context than that of the worker process
  ui/job_runner.py
Due: none

Simplify API server
  fastvideo/worker/multiproc_executor.py
  ui/api_server.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

extend log buffer to use the logger
  ui/server.py
Due: none

Separated job runner from API server
  ui/job_runner.py
  ui/server.py
Due: none

Fix bug where Queue objects should only be shared between processes through inheritance
  ui/job_runner.py
Due: none

Added graceful failure
  ui/README.md
  ui/api_server.py
Due: none

separate web and api servers
  ui/README.md
  ui/api_server.py
  ui/static/app.js
  ui/web_server.py
Due: none

Added one shot command for launching both servers
  ui/package.json
  ui/server.py
Due: none

Update readme, package name, and small bug in server.py where SIGTERM was being registered under a condition instead of SIGQUIT
  ui/README.md
  ui/package.json
  ui/server.py
  ui/src/components/JobCard.tsx
Due: none

Resolved bug where frontend was not building due to an environment variable not being available at build time
  ui/src/lib/api.ts
Due: none

Refactor frontend to next.js
  ui/frontend/.gitignore
  ui/frontend/README.md
  ui/frontend/eslint.config.mjs
  ui/frontend/next.config.ts
  ui/frontend/package-lock.json
  ui/frontend/package.json
  ui/frontend/postcss.config.mjs
  ui/frontend/src/app/favicon.ico
  ui/frontend/src/app/globals.css
  ui/frontend/src/app/jobs/[id]/page.tsx
  ui/frontend/src/app/jobs/create/page.tsx
  ui/frontend/src/app/layout.tsx
  ui/frontend/src/app/page.tsx
  ui/frontend/src/lib/api.ts
  ui/frontend/src/lib/types.ts
  ui/frontend/tsconfig.json
  ui/server.py
Due: none

Extend logging for job runner, move node code into the same directory as API server
  .gitignore
  pyproject.toml
  ui/.gitignore
  ui/eslint.config.mjs
  ui/next.config.ts
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.mjs
  ui/public/logo.svg
  ui/server.py
  ui/src/app/Layout.module.css
  ui/src/app/favicon.ico
  ui/src/app/globals.css
  ui/src/app/jobs/[id]/page.tsx
  ui/src/app/layout.tsx
  ui/src/app/page.tsx
  ui/src/components/CreateJobButton.tsx
  ui/src/components/CreateJobModal.tsx
  ui/src/components/JobCard.tsx
  ui/src/components/styles/Badge.module.css
  ui/src/components/styles/Button.module.css
  ui/src/components/styles/Card.module.css
  ui/src/components/styles/Console.module.css
  ui/src/components/styles/Form.module.css
  ui/src/components/styles/Header.module.css
  ui/src/components/styles/JobCard.module.css
  ui/src/components/styles/Modal.module.css
  ui/src/components/styles/ProgressBar.module.css
  ui/src/components/styles/Toast.module.css
  ui/src/lib/api.ts
  ui/src/lib/types.ts
  ui/static/app.js
  ui/static/index.html
  ui/static/style.css
  ui/tsconfig.json
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Fix bug where job list was not being fetched all the time
  ui/src/app/page.tsx
Due: none

Added job timer
  ui/src/components/JobCard.tsx
  ui/src/components/styles/JobCard.module.css
Due: none

Fixed race condition where web server could start before the API server
  ui/next.config.ts
  ui/package.json
Due: none

Make show logs button an arrow
  ui/src/components/JobCard.tsx
  ui/src/components/styles/JobCard.module.css
Due: none
