Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[chore]: release v0.2.0 (#1432)
  fastvideo/version.py
  pyproject.toml
  pyproject_other.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs]: add release skill for future version bumps
  .agents/skills/index.jsonl
  .agents/skills/release/SKILL.md
Due: none

[fix] Restore GenRL reward and eval wiring
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/evaluation.py
  fastvideo/train/methods/rl/utils/rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] GenRL: fix PPO loop cadence and diagnostics (#1403)
  fastvideo/train/methods/rl/genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix] Address GenRL LoRA review issues
  fastvideo/layers/lora/linear.py
  fastvideo/train/models/wan/wan_genrl.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] GenRL: add Wan LoRA adapter support (#1404)
  fastvideo/layers/lora/linear.py
  fastvideo/train/models/wan/wan_genrl.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[genrl]: add explicit HPSv3 VideoAlign recipes
  examples/train/configs/genrl_wan2.1_t2v_1.3B_hpsv3_videoalign.yaml
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
Due: none

[example] enable VAE compile for full speedup on LTX-2.3 distilled i2v
  examples/inference/basic/basic_ltx2_3_distilled_i2v.py
Due: none

first edit
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/methods/__init__.py
  fastvideo/train/methods/rl/__init__.py
  fastvideo/train/methods/rl/advantages.py
  fastvideo/train/methods/rl/data.py
  fastvideo/train/methods/rl/diffusion.py
  fastvideo/train/methods/rl/ema.py
  fastvideo/train/methods/rl/embeddings.py
  fastvideo/train/methods/rl/evaluation.py
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/pipeline.py
  fastvideo/train/methods/rl/reward/__init__.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/ocr.py
  fastvideo/train/methods/rl/reward/utils.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/rewards.py
  fastvideo/train/methods/rl/sampling.py
  fastvideo/train/methods/rl/sde.py
  fastvideo/train/methods/rl/stat_tracking.py
  fastvideo/train/models/wan/__init__.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

improve ema
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/methods/rl/ema.py
  fastvideo/train/methods/rl/evaluation.py
  fastvideo/train/methods/rl/genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

gen RL runing
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
  fastvideo/train/methods/rl/data.py
  fastvideo/train/methods/rl/pipeline.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

mv to utils
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/__init__.py
  fastvideo/train/methods/rl/utils/advantages.py
  fastvideo/train/methods/rl/utils/data.py
  fastvideo/train/methods/rl/utils/diffusion.py
  fastvideo/train/methods/rl/utils/embeddings.py
  fastvideo/train/methods/rl/utils/evaluation.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/rewards.py
  fastvideo/train/methods/rl/utils/sampling.py
  fastvideo/train/methods/rl/utils/sde.py
  fastvideo/train/methods/rl/utils/stat_tracking.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

sampled video looks correct
  fastvideo/train/methods/rl/embeddings.py
  fastvideo/train/models/wan/wan_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

time profiling and log sampled videos
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/callbacks/__init__.py
  fastvideo/train/callbacks/callback.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/callbacks/log_rl_samples.py
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/pipeline.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/rewards.py
  fastvideo/train/methods/rl/sampling.py
  fastvideo/train/models/wan/wan_genrl.py
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] GenRL: stabilize reward model compatibility (#1400)
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/utils.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/utils/rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] GenRL: add explicit HPSv3 VideoAlign recipes (#1405)
  examples/train/configs/genrl_wan2.1_t2v_1.3B_hpsv3_videoalign.yaml
  examples/train/configs/genrl_wan2.1_t2v_1.3B_ocr.yaml
Due: none

[feat] GenRL: keep repeated prompt samples on one rank (#1401)
  fastvideo/train/methods/rl/utils/data.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] GenRL: add runtime and memory stability helpers (#1402)
  examples/train/run_slurm.sh
  fastvideo/train/callbacks/ema.py
  fastvideo/train/methods/rl/utils/evaluation.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/sampling.py
  fastvideo/train/methods/rl/utils/sde.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] LTX-2.3 distilled i2v example with compile + timing breakdown (#1430)
  examples/inference/basic/basic_ltx2_3_distilled_i2v.py
Due: none

apply pre-commit formatting
  fastvideo/layers/lora/linear.py
  fastvideo/train/callbacks/log_rl_samples.py
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/__init__.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/ocr.py
  fastvideo/train/methods/rl/reward/utils.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/utils/advantages.py
  fastvideo/train/methods/rl/utils/data.py
  fastvideo/train/methods/rl/utils/diffusion.py
  fastvideo/train/methods/rl/utils/embeddings.py
  fastvideo/train/methods/rl/utils/evaluation.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/rewards.py
  fastvideo/train/methods/rl/utils/sampling.py
  fastvideo/train/methods/rl/utils/sde.py
  fastvideo/train/methods/rl/utils/stat_tracking.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_genrl.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

patch formatting based on ruff hints
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/methods/rl/utils/rewards.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: release VSA tile cache during training
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/tests/attention/test_video_sparse_attention_metadata.py
  fastvideo/train/models/wan/wan.py
  fastvideo/training/training_pipeline.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] VLM as judge for WM (#1429)
  examples/inference/eval/eval_third_person_separation.py
  fastvideo/eval/README.md
  fastvideo/eval/metrics/judge/__init__.py
  fastvideo/eval/metrics/judge/third_person_separation/__init__.py
  fastvideo/eval/metrics/judge/third_person_separation/metric.py
  fastvideo/eval/registry.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

WIP: vendor HPSv3 and VideoAlign reward runtimes
  fastvideo/train/methods/rl/reward/HPSv3/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/config/HPSv3_7B.yaml
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/data_collator_qwen.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/pairwise_dataset.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/dataset/utils.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/inference.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/differentiable_image_processor.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/model/qwen2vl_trainer.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/train.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/__init__.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/parser.py
  fastvideo/train/methods/rl/reward/HPSv3/hpsv3/utils/training_utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/__init__.py
  fastvideo/train/methods/rl/reward/VideoAlign/checkpoints/README.md
  fastvideo/train/methods/rl/reward/VideoAlign/data.py
  fastvideo/train/methods/rl/reward/VideoAlign/inference.py
  fastvideo/train/methods/rl/reward/VideoAlign/prompt_template.py
  fastvideo/train/methods/rl/reward/VideoAlign/train_reward.py
  fastvideo/train/methods/rl/reward/VideoAlign/trainer.py
  fastvideo/train/methods/rl/reward/VideoAlign/utils.py
  fastvideo/train/methods/rl/reward/VideoAlign/vision_process.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

patch: resolve VideoAlign checkpoint and FA2 fallback
  fastvideo/train/methods/rl/reward/videoalign.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] FA3 custom_op + remove DistributedAttention compile disable (-9.3% e2e on H100 sp=1)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/layer.py
  fastvideo/attention/utils/flash_attn_3_compile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Modal: enable Flash Attention 3 on H100 perf tests with build cache
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] training: add attn_only selective activation checkpointing
  fastvideo/fastvideo_args.py
  fastvideo/training/activation_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] training: attn_only saves all functional collectives + cache op decision
  fastvideo/tests/training/checkpoint/test_activation_checkpoint_attn_only.py
  fastvideo/training/activation_checkpoint.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] training: unit-test attn_only selective activation checkpointing
  fastvideo/tests/training/checkpoint/test_activation_checkpoint_attn_only.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] matrixgame2 causal denoise: store KV-cache end indices as Python int, not GPU tensor
  fastvideo/pipelines/stages/matrixgame2_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] matrixgame2 causal: cut per-forward recompute (blockmask cache, skip unused RoPE, on-device timestep)
  fastvideo/layers/visual_embedding.py
  fastvideo/models/dits/matrixgame2/action_module.py
  fastvideo/models/dits/matrixgame2/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] matrixgame2 causal: build block-mask cache with effective block size
  fastvideo/models/dits/matrixgame2/causal_model.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: unblock PyPI publish (flash-attn-cute direct dep)
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: unblock PyPI publish (flash-attn-cute direct dep) (#1436)
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[ci] FA3 cache: key on torch+CUDA+python ABI, and cache flash_attn_config
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
