Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

Fix qwen2-vl layout mismatch
  fastvideo/train/methods/rl/reward/hpsv3.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix hpsv3 wrapper integration
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix connection reset error
  modal_train_genrl.py
Due: none

Fix flash attention
  fastvideo/train/methods/rl/reward/videoalign.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix video align checkpoint layout mismatch
  fastvideo/train/methods/rl/reward/videoalign.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Prevent errors
  .agents/lessons/2026-05-22_genrl-reward-stack-compatibility.md
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/hpsv3.py
  fastvideo/train/methods/rl/reward/videoalign.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix torchvision videoalign error
  .agents/lessons/2026-05-22_genrl-reward-stack-compatibility.md
  fastvideo/train/methods/rl/reward/videoalign.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Auto fix with codex
  AGENTS.md
  scripts/codex_modal_autofix.sh
Due: none

[infra] Require Dreamverse Modal image tag
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
Due: none

[perf] FA3 custom_op + remove DistributedAttention compile disable (-9.3% e2e on H100 sp=1)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/attention/layer.py
  fastvideo/attention/utils/flash_attn_3_compile.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

chore: pin dreamverse npm deps to address Dependabot alerts (#1359)
  apps/dreamverse/web/package-lock.json
  apps/dreamverse/web/package.json
  apps/dreamverse/web/pnpm-lock.yaml
  ui/package-lock.json
  ui/package.json
Due: none

[docs] Remove stale Dreamverse Modal handoff
  apps/dreamverse/scripts/modal/HANDOFF.md
Due: none

[infra] Add Dreamverse Modal UI image build (#1381)
  .github/workflows/_template-build-image.yml
  .github/workflows/infra-build-image.yml
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/README.md
  apps/dreamverse/docker/docker_build.sh
  apps/dreamverse/dreamverse/config.py
  apps/dreamverse/dreamverse/tests/test_config.py
  apps/dreamverse/scripts/modal/README.md
  apps/dreamverse/scripts/modal/modal_app.py
  apps/dreamverse/web/next.config.ts
Due: none

[infra] Use npm for Dreamverse web builds
  apps/dreamverse/README.md
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/docker/docker_smoke.sh
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/scripts/launch/launch_frontend.sh
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/package.json
  apps/dreamverse/web/playwright.config.ts
  apps/dreamverse/web/pnpm-lock.yaml
  docs/contributing/dreamverse-development.md
Due: none

[bugfix]: route grad-enabled FA2/FA3 default attn off the custom op (#1373)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/tests/attention/test_flash_attn_default_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add DreamVerse Buildkite app tests
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  apps/dreamverse/dreamverse/mock_server.py
  apps/dreamverse/dreamverse/tests/test_session_logging.py
  apps/dreamverse/web/e2e/backend-health.spec.ts
  apps/dreamverse/web/e2e/mock-backed-generation.spec.ts
  apps/dreamverse/web/playwright.config.ts
  docs/contributing/ci_architecture.md
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Fix DreamVerse app install in CI
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix autofix codex api
  scripts/codex_modal_autofix.sh
Due: none

Drop cached reward inferenceers to save memory
  .agents/lessons/2026-05-22_genrl-reward-stack-compatibility.md
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/rewards.py
  modal_train_genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fixx autofix codex tail to 1000
  scripts/codex_modal_autofix.sh
Due: none

[infra] Update Dreamverse npm migration docs
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/integration-plan.md
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  apps/dreamverse/docker/docker_smoke.sh
Due: none

[ci] Run DreamVerse app tests with GPU
  .agents/lessons/2026-05-22_dreamverse-ci-streaming-imports-need-gpu.md
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Use 5.5 high by default for autofix codex
  scripts/codex_modal_autofix.sh
Due: none

[ci] Remove duplicate DreamVerse app install
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add logs to gitignore
  .gitignore
Due: none

Fix interruption by user exit
  scripts/codex_modal_autofix.sh
Due: none

Fix optimizer timestep and use full fine-tuning by default with lora option
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/layers/lora/linear.py
  fastvideo/train/callbacks/ema.py
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/pipeline.py
  fastvideo/train/models/wan/wan_genrl.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix full fine-tuning instability; lower lr, mitigate longcat reweighting
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/methods/rl/genrl.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[infra] Use npm for Dreamverse web builds (#1385)
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/integration-plan.md
  .agents/skills/dreamverse-deploy/SKILL.md
  .agents/skills/dreamverse-deploy/scripts/dreamverse-deploy.sh
  apps/dreamverse/README.md
  apps/dreamverse/docker/Dockerfile
  apps/dreamverse/scripts/launch/README.md
  apps/dreamverse/scripts/launch/launch_frontend.sh
  apps/dreamverse/scripts/smoke_local.sh
  apps/dreamverse/web/e2e/long-running-segments.spec.ts
  apps/dreamverse/web/package.json
  apps/dreamverse/web/playwright.config.ts
  apps/dreamverse/web/pnpm-lock.yaml
  docs/contributing/dreamverse-development.md
Due: none

Let dynamic runnmae for wandb; prevent modal output overwrite with same run name
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  modal_train_genrl.py
Due: none

Fix per rank prompt allocatino to be from the same group
  examples/train/configs/genrl_wan2.1_t2v_1.3B_longcat.yaml
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/utils/data.py
  fastvideo/train/methods/rl/utils/evaluation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Fix reward scoring to be memory sfae
  fastvideo/train/methods/rl/genrl.py
  fastvideo/train/methods/rl/reward/videoalign.py
  fastvideo/train/methods/rl/utils/sampling.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add Node to DreamVerse app test image
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: yapf reformat for pre-commit
  fastvideo/attention/backends/flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf]: register FA2/FA3 default flash_attn_func as a torch.library custom op (#1373)
  fastvideo/attention/backends/flash_attn.py
  fastvideo/tests/attention/test_flash_attn_default_custom_op.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Modal: enable Flash Attention 3 on H100 perf tests with build cache
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add DreamVerse app CI tests (#1386)
  .agents/lessons/2026-05-22_dreamverse-ci-streaming-imports-need-gpu.md
  .buildkite/pipeline.yml
  .buildkite/scripts/pr_test.sh
  .github/workflows/ci-slash-commands.yml
  apps/dreamverse/dreamverse/mock_server.py
  apps/dreamverse/dreamverse/tests/test_session_logging.py
  apps/dreamverse/web/e2e/backend-health.spec.ts
  apps/dreamverse/web/e2e/mock-backed-generation.spec.ts
  apps/dreamverse/web/playwright.config.ts
  docs/contributing/ci_architecture.md
  docs/contributing/testing.md
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: shared attention infra additions for QAT-compat (Attn-QAT 5/12)
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/attention/layer.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_attention_metadata_base.py
  fastvideo/tests/attention/test_flash_attn_no_pad_resolver.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

[fix]: drop unused attention_mask kwarg from DistributedAttention_VSA
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]: shared attention infra additions for QAT-compat (Attn-QAT 5/12) (#1383)
  fastvideo/attention/backends/abstract.py
  fastvideo/attention/backends/bsa_attn.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/vmoba.py
  fastvideo/attention/utils/flash_attn_no_pad.py
  fastvideo/tests/attention/test_attention_metadata_base.py
  fastvideo/tests/attention/test_flash_attn_no_pad_resolver.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
