Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[ci] Fix perf worker-log artifact relay and raw threshold gating
  .buildkite/scripts/lanes/performance.sh
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[review] hunyuan15 i2v: share the i2v config, fp16 SigLIP, i2v SSIM test
  .github/scripts/plan_merge_ci.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/tests/contract/test_merge_ci_plan.py
  fastvideo/tests/ssim/test_hunyuan15_i2v_similarity.py
  fastvideo/tests/stages/test_hy15_image_encoding_stage.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(s2v): classify clip_frames, trim latent decode, broadcast batch-1 conditioning, batch audio features
  docs/design/inference_schema_parity_inventory.yaml
  fastvideo/api/sampling_param.py
  fastvideo/models/dits/wan_s2v.py
  fastvideo/models/dits/wan_s2v_audio.py
  fastvideo/pipelines/basic/wan/s2v_stages.py
  fastvideo/pipelines/basic/wan/wan_s2v_pipeline.py
  fastvideo/pipelines/stages/audio_encoding.py
  fastvideo/tests/transformers/test_wan_s2v.py
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Harden GB10 gpu_types gate: threshold cross-check, gate ordering, docs
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] make LoRA gradient sync rank-unconditional and reduce clip norm across the mesh
  fastvideo/tests/train/utils/test_lora.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/utils/lora.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: make the HY1.5 ByT5 stream reachable and fix AnyFlow/TFSFT plumbing
  docs/training/hunyuan15_overfit.md
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/utils.py
  fastvideo/tests/dataset/test_hunyuan15_dual_text_schema.py
  fastvideo/tests/train/models/test_hunyuan15_smoke.py
  fastvideo/tests/train/models/test_wan_override_contract.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
  fastvideo/train/models/wan/wan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: route Wan-S2V test env access through fastvideo.envs
  docs/contributing/env_vars.md
  fastvideo/envs.py
  fastvideo/tests/transformers/test_wan_s2v.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: set CI-only perf variables in tests through envs.override_external
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_inference_performance_result_schema.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(h3): align encoder-split validation with placement, TP and FSDP groups
  docs/inference/deployment_spark.md
  fastvideo/fastvideo_args.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/basic/minimax_h3/encoder_split.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/worker/ray_distributed_executor.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: make FASTVIDEO_LOG_ALL_PROCESSES lazy and stacklevel-safe, add logger tests
  fastvideo/envs.py
  fastvideo/logger.py
  fastvideo/tests/test_logger.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address Helios PR review findings
  fastvideo/api/sampling_param.py
  fastvideo/configs/models/dits/helios.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/models/schedulers/scheduling_helios_dmd.py
  fastvideo/pipelines/basic/helios/stages.py
  fastvideo/tests/loader/test_fsdp_load_releases_checkpoint.py
  tests/local_tests/helios/README.md
  tests/local_tests/pipelines/test_helios_pipeline_math.py
  tests/local_tests/schedulers/test_helios_dmd_scheduler_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

fix(lingbotworld_fast): wire SDPA test into CI, honor SSIM bootstrap, tidy backend/comment/docs
  docs/inference/support_matrix.md
  fastvideo/configs/models/dits/lingbotworld_fast.py
  fastvideo/models/dits/lingbotworld2/causal_fast.py
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/ssim/test_lingbot_fast_similarity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix review findings on the hunyuan15 dual text embedding path
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/utils.py
  fastvideo/pipelines/preprocess/preprocess_hunyuan15_overfit.py
  fastvideo/tests/dataset/test_hunyuan15_dual_text_collator.py
  fastvideo/tests/dataset/test_hunyuan15_parquet_schema.py
  fastvideo/tests/dataset/test_preprocess_hunyuan15.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: disable FA4 in the unit lane and tighten its attention-dir test
  fastvideo/tests/modal/pr_test.py
  fastvideo/tests/modal/test_pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fp8 PV mode: reachable first-forward log, shared knob resolution, CI coverage
  docs/inference/optimizations.md
  fastvideo/attention/backends/attn_qat_infer.py
  fastvideo/attention/backends/flash_attn.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/attention/test_attn_qat_infer_arch_gate.py
  fastvideo/tests/modal/pr_test.py
  tests/local_tests/test_nvfp4_fa4.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: registry specificity scores query coverage (LCS) + CI-collected LTX-2/Hunyuan15 registry tests
  fastvideo/registry.py
  fastvideo/tests/api/test_presets.py
  tests/local_tests/ltx2/test_ltx2_registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: address PR #1648 review findings
  fastvideo/configs/models/audio/mmaudio_vae.py
  fastvideo/configs/pipelines/mmaudio.py
  fastvideo/eval/README.md
  fastvideo/pipelines/basic/mmaudio/__init__.py
  fastvideo/pipelines/basic/mmaudio/mmaudio_pipeline.py
  fastvideo/pipelines/pipeline_registry.py
  fastvideo/tests/eval/test_inputs.py
  fastvideo/tests/train/callbacks/test_mmaudio_validation.py
  fastvideo/train/callbacks/mmaudio_validation.py
  fastvideo/workflow/preprocess/preprocess_workflow.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: drop duplicated external-launcher guards; reject Ray per-call RPC timeouts (#1746)
  fastvideo/entrypoints/openai/api_server.py
  fastvideo/tests/worker/external_launcher_lifecycle_smoke.py
  fastvideo/worker/external_launcher_executor.py
  fastvideo/worker/ray_distributed_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: refresh the schedule memo on in-place writes; pin causal KV cache int offsets
  fastvideo/models/utils.py
  fastvideo/tests/ops/test_flow_schedule_cache.py
  fastvideo/tests/stages/test_causal_kv_cache_offsets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1662
  fastvideo/dataset/utils.py
  fastvideo/tests/dataset/test_hunyuan15_dual_text_schema.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1666
  fastvideo/tests/train/callbacks/test_grad_clip.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1786
  fastvideo/tests/worker/test_multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1727
  fastvideo/eval/README.md
  fastvideo/eval/metrics/vqeval/metric.py
  fastvideo/tests/eval/test_vqeval_adapter.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: apply maintainer review fixes for #1813
  fastvideo-kernel/tests/test_vsa_combine.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/tests/attention/test_vsa_h3_backward.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: apply maintainer review fixes for #1862
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/tests/distributed/test_sp_longcat_layout.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1876
  fastvideo/layers/mxfp8linear.py
  fastvideo/tests/ops/quantization/test_mxfp8.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: keep WAN_S2V_MODEL_PATH as a deprecated alias
  docs/contributing/env_vars.md
  fastvideo/envs.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: scope in-process cancellation to a generation; honor it in every denoise loop
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/dreamx_world/ar_denoising.py
  fastvideo/pipelines/basic/glm_image/stages/denoising.py
  fastvideo/pipelines/basic/lingbot_video/stages.py
  fastvideo/pipelines/basic/lingbotworld2/causal_fast_pipeline.py
  fastvideo/pipelines/basic/ltx2/stages/ltx2_denoising.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/sr_denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/pipelines/basic/mmaudio/stages.py
  fastvideo/pipelines/basic/stable_audio/stages/denoising.py
  fastvideo/pipelines/basic/wan/stages/causal_denoising.py
  fastvideo/pipelines/basic/zimage/stages.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/pipelines/stages/flux_stages.py
  fastvideo/pipelines/stages/hyworld_denoising.py
  fastvideo/pipelines/stages/kandinsky6_sr.py
  fastvideo/pipelines/stages/longcat_denoising.py
  fastvideo/pipelines/stages/longcat_i2v_denoising.py
  fastvideo/pipelines/stages/longcat_vc_denoising.py
  fastvideo/pipelines/stages/matrixgame2_denoising.py
  fastvideo/pipelines/stages/matrixgame3_denoising.py
  fastvideo/pipelines/stages/sd35_conditioning.py
  fastvideo/tests/worker/test_uniproc_executor.py
  fastvideo/worker/uniproc_executor.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] registry: register magi_human presets (#1751)
  fastvideo/registry.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: make merge-gate startup reliable (#1762)
  .github/workflows/ci-slash-commands.yml
  .github/workflows/ci-trigger-full-suite.yml
  docs/contributing/ci_architecture.md
  docs/contributing/pull_requests.md
  fastvideo/tests/contract/test_ci_test_collection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: surface GenerationResult.peak_memory_mb in the MiniMax H3 examples (#1785)
  docs/getting_started/installation/spark_performance.md
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  examples/inference/basic/basic_minimax_h3_t2v.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add phase-aware modular training performance metrics (#1826)
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  fastvideo/tests/train/trainer/test_performance_wiring.py
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_performance.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/performance.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add DGX Spark (GB10) single-GPU perf config + gpu_types gating (#1679)
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b-gb10-1gpu.json
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: set the HunyuanVideo 1.5 test rendezvous through envs.setdefault_external
  fastvideo/tests/train/methods/test_hunyuan15_finetune.py
  fastvideo/tests/train/models/test_load_hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[new-model] Add Wan2.2-S2V-14B speech-to-video (model port + checkpoint converter) (#1683)
  docs/contributing/env_vars.md
  docs/design/inference_schema_parity_inventory.yaml
  docs/inference/support_matrix.md
  examples/inference/basic/basic_wan_s2v.py
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/wan_s2v.py
  fastvideo/configs/pipelines/wan.py
  fastvideo/envs.py
  fastvideo/models/dits/wan_s2v.py
  fastvideo/models/dits/wan_s2v_audio.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/registry.py
  fastvideo/models/wan/definition.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/pipelines/basic/wan/presets.py
  fastvideo/pipelines/basic/wan/s2v_stages.py
  fastvideo/pipelines/basic/wan/stages/s2v_denoising.py
  fastvideo/pipelines/basic/wan/wan_s2v_pipeline.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/pipelines/stages/__init__.py
  fastvideo/pipelines/stages/audio_encoding.py
  fastvideo/pipelines/stages/denoising.py
  fastvideo/tests/api/test_parser.py
  fastvideo/tests/api/test_wan_definitions.py
  fastvideo/tests/transformers/test_wan_s2v.py
  pyproject.toml
  scripts/checkpoint_conversion/wan_s2v_to_diffusers.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: condition HunyuanVideo 1.5 i2v on the reference image (#1693)
  .github/scripts/plan_merge_ci.py
  fastvideo/configs/pipelines/hunyuan15.py
  fastvideo/pipelines/basic/hunyuan15/hunyuan15_i2v_pipeline.py
  fastvideo/pipelines/stages/image_encoding.py
  fastvideo/tests/contract/test_merge_ci_plan.py
  fastvideo/tests/ssim/test_hunyuan15_i2v_similarity.py
  fastvideo/tests/stages/test_hy15_image_encoding_stage.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: requantize MXFP8 weights after LoRA unmerge (#1876)
  fastvideo/layers/mxfp8linear.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_mxfp8.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Enable SP for LongCat BSA refinement (#1862)
  fastvideo/models/dits/longcat.py
  fastvideo/pipelines/stages/longcat_refine_init.py
  fastvideo/tests/distributed/test_sp_longcat_layout.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
