Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Encoder Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: Encoder Tests
  env:
  - TEST_TYPE=encoder
  agents:
    queue: default

VAE Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: VAE Tests
  env:
  - TEST_TYPE=vae
  agents:
    queue: default

Transformer Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Transformer Tests
  env:
  - TEST_TYPE=transformer
  agents:
    queue: default

SSIM Tests:
  command: timeout 90m .buildkite/scripts/pr_test.sh
  label: SSIM Tests
  env:
  - TEST_TYPE=ssim
  agents:
    queue: default

LoRA Inference Tests:
  command: timeout 20m .buildkite/scripts/pr_test.sh
  label: LoRA Inference Tests
  env:
  - TEST_TYPE=inference_lora
  agents:
    queue: default

Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests
  env:
  - TEST_TYPE=training
  agents:
    queue: default

Distillation DMDTests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Distillation DMDTests
  env:
  - TEST_TYPE=distillation_dmd
  agents:
    queue: default

Self-Forcing Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Self-Forcing Tests
  env:
  - TEST_TYPE=self_forcing
  agents:
    queue: default

LoRA Training Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: LoRA Training Tests
  env:
  - TEST_TYPE=training_lora
  agents:
    queue: default

Training Tests VSA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Training Tests VSA
  env:
  - TEST_TYPE=training_vsa
  agents:
    queue: default

Kernel Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Kernel Tests
  env:
  - TEST_TYPE=kernel_tests

Inference Tests VMoBA:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Inference Tests VMoBA
  env:
  - TEST_TYPE=inference_vmoba
  agents:
    queue: default

Unit Tests:
  command: timeout 15m .buildkite/scripts/pr_test.sh
  label: Unit Tests
  env:
  - TEST_TYPE=unit_test
  agents:
    queue: default

[feat] Add VQeval long-video quality metric (#1727)
  .gitmodules
  fastvideo/eval/README.md
  fastvideo/eval/metrics/vqeval/__init__.py
  fastvideo/eval/metrics/vqeval/metric.py
  fastvideo/eval/registry.py
  fastvideo/tests/eval/test_vqeval_adapter.py
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: apply maintainer review fixes for #1861
  fastvideo/layers/quantization/fp8_quant_kernels.py
  fastvideo/tests/ops/quantization/test_fp8_quant_kernels.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1757
  examples/training/finetune/minimax-h3/synthetic/README.md
  fastvideo/tests/train/utils/test_lora_fsdp.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1627
  fastvideo/models/dits/causal_wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1613
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/performance/dashboard.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1598
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/tests/test_build_arch.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[misc]: apply maintainer review fixes for #1496
  examples/inference/optimizations/_qad_common.py
  examples/inference/optimizations/benchmark_qad_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_qat_wan2_1_1_3b.py
  examples/inference/optimizations/nvfp4_sa2_wan2_1_1_3b.py
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/build.sh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[misc]: apply maintainer review fixes for #1865
  fastvideo/tests/encoders/test_minimax_h3_comfy_nvfp4_awq_converter.py
  scripts/checkpoint_conversion/convert_minimax_h3_comfy_nvfp4_awq.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1772
  fastvideo/tests/ssim/test_wan_ti2v_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1752
  docs/training/train_infra.md
  fastvideo/tests/train/fixtures/ltx2_3_t2v_finetune_min.yaml
  fastvideo/tests/train/fixtures/ltx2_t2v_finetune_min.yaml
  fastvideo/tests/train/models/test_ltx2_cfg_dropout.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/dataloader.py
  fastvideo/training/ltx2_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1705
  apps/dreamverse/dreamverse/benchmarks/benchmark_pipeline.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_purge.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: synchronize post-FSDP LoRA replicas (#1666)
  fastvideo/tests/train/callbacks/test_grad_clip.py
  fastvideo/tests/train/utils/test_lora.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/utils/lora.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Shut down Inductor workers gracefully (#1786)
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] avoid full-sequence materialization in VSA coarse/sparse combine (#1813)
  fastvideo-kernel/benchmarks/bench_vsa_combine.py
  fastvideo-kernel/python/fastvideo_kernel/ops.py
  fastvideo-kernel/tests/test_vsa_combine.py
  fastvideo/attention/backends/video_sparse_attn.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_backward.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[misc]: apply maintainer review fixes for #1620
  fastvideo/tests/modal/test_pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1615
  fastvideo/tests/contract/test_ci_aggregate_status.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: apply maintainer review fixes for #1851
  fastvideo/tests/platforms/test_rocm_vsa_backend_routing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Surface worker process logs on perf hard regressions (#1701)
  .buildkite/scripts/lanes/performance.sh
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/performance/test_inference_performance_result_schema.py
  fastvideo/tests/performance/test_worker_log_capture.py
  fastvideo/tests/performance/worker_log_capture.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add HunyuanVideo 1.5 T2V training support (#1662)
  docs/training/hunyuan15_overfit.md
  examples/train/configs/fine_tuning/hunyuan15/t2v.yaml
  examples/train/configs/overfit_hunyuan15_t2v.yaml
  fastvideo/dataset/dataloader/schema.py
  fastvideo/dataset/utils.py
  fastvideo/tests/dataset/test_hunyuan15_dual_text_schema.py
  fastvideo/tests/train/fixtures/hunyuan15_t2v_finetune_min.yaml
  fastvideo/tests/train/fixtures/hunyuan15_t2v_min.yaml
  fastvideo/tests/train/methods/grad_norm_regression.py
  fastvideo/tests/train/methods/test_hunyuan15_finetune.py
  fastvideo/tests/train/models/test_hunyuan15_smoke.py
  fastvideo/tests/train/models/test_load_hunyuan15.py
  fastvideo/tests/train/models/test_wan_override_contract.py
  fastvideo/train/models/hunyuan15/__init__.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
  fastvideo/train/models/wan/wan.py
  fastvideo/training/training_utils.py
  mkdocs.yml
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] ROCm: detect the platform from a HIP torch build when amdsmi is unavailable (#1849)
  fastvideo/platforms/__init__.py
  fastvideo/tests/platforms/test_rocm_detection_without_amdsmi.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: classify ltx2_use_ancestral_sampler in schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[bugfix]: classify MiniMax-H3 encoder-split args in schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

[misc]: expect the Wan TI2V SSIM test in the Wan relocation plan
  fastvideo/tests/contract/test_merge_ci_plan.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] MiniMax H3: block-FP8 text encoder on Hopper, its converter, and a 4xH100 FastH3 profile (#1829)
  examples/inference/basic/README.md
  examples/inference/basic/basic_fasth3.py
  examples/inference/basic/basic_fasth3_h100.yaml
  fastvideo/models/encoders/minimax_h3_checkpoint_fp8.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_checkpoint_fp8.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
  scripts/checkpoint_conversion/AGENTS.md
  scripts/checkpoint_conversion/quantize_minimax_h3_text_encoder_fp8.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] ROCm: route the video sparse attention backends to their Triton kernels (#1851)
  fastvideo/platforms/rocm.py
  fastvideo/tests/platforms/test_rocm_vsa_backend_routing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci]: prevent direct tests from minting suite gates (#1615)
  .github/workflows/ci-aggregate-status.yml
  docs/contributing/ci_architecture.md
  docs/contributing/pull_requests.md
  fastvideo/tests/contract/test_ci_aggregate_status.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: skip the FLASH_ATTN fp8 PV tests without a flash-attention package
  fastvideo/tests/attention/test_attn_qat_infer_arch_gate.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Clarify dashboard cohort grouping for legacy v1 records (#1613)
  apps/performance_dashboard/README.md
  apps/performance_dashboard/frontend/src/App.tsx
  apps/performance_dashboard/frontend/src/api.ts
  apps/performance_dashboard/frontend/src/styles.css
  docs/contributing/performance_benchmarks.md
  fastvideo/performance_dashboard/service.py
  fastvideo/tests/performance/dashboard.py
  fastvideo/tests/performance/test_dashboard_api.py
  fastvideo/tests/performance/test_dashboard_plotly.py
  fastvideo/tests/performance/test_dashboard_service.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: set the test's MASTER_ADDR/PORT defaults through the env registry
  fastvideo/tests/train/models/test_ltx2_cfg_dropout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: port the SP-group decode skip test to main's MiniMax H3 stage API
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep detector first-match precedence; use specificity only for the warning
  fastvideo/registry.py
  fastvideo/tests/api/test_presets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: stop #1746's tests from leaking the platform and the GPU pin
  fastvideo/tests/entrypoints/streaming/test_worker.py
  fastvideo/tests/worker/test_gpu_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Support training_cfg_rate > 0 for LTX-2 (#1752)
  docs/training/train_infra.md
  fastvideo/tests/train/fixtures/ltx2_3_t2v_finetune_min.yaml
  fastvideo/tests/train/fixtures/ltx2_t2v_finetune_min.yaml
  fastvideo/tests/train/models/test_ltx2_cfg_dropout.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/utils/dataloader.py
  fastvideo/training/ltx2_training_pipeline.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: restore RANK and WORLD_SIZE after the gpu_worker offload-policy test
  fastvideo/tests/worker/test_gpu_worker.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: stand in for an older kernel wheel in the Ulysses H3 policy test
  fastvideo/tests/distributed/test_ulysses_h3_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix modular ops activation checkpoint recomputation (#1716)
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  fastvideo/tests/train/utils/test_activation_checkpoint_ops_retains_attention.py
  fastvideo/train/models/kandinsky5/kandinsky5.py
  fastvideo/train/models/ltx2/ltx2.py
  fastvideo/train/models/minimax_h3/minimax_h3.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/utils/activation_checkpoint.py
  fastvideo/training/activation_checkpoint.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Add Wan2.2-TI2V-5B SSIM regression test (#1772)
  .github/scripts/plan_merge_ci.py
  fastvideo/tests/contract/test_merge_ci_plan.py
  fastvideo/tests/ssim/README.md
  fastvideo/tests/ssim/test_wan_ti2v_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: classify regional_compile in the schema parity inventory
  docs/design/inference_schema_parity_inventory.yaml
Due: none

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
