Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[perf] streamline Wan I2V DMD conditioning construction
  fastvideo/tests/training/distill/test_wan_i2v_distillation.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: fix Wan I2V DMD conditioning under sequence parallelism (#1844)
  fastvideo/tests/training/distill/test_wan_i2v_distillation.py
  fastvideo/training/wan_i2v_distillation_pipeline.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: refresh AGENTS.md maps and add Wan SP/I2V and CI test notes
  AGENTS.md
  fastvideo/AGENTS.md
  fastvideo/attention/AGENTS.md
  fastvideo/models/AGENTS.md
  fastvideo/models/wan/AGENTS.md
  fastvideo/pipelines/AGENTS.md
  fastvideo/tests/AGENTS.md
  fastvideo/train/AGENTS.md
  fastvideo/training/AGENTS.md
Due: Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: refresh AGENTS.md maps and add Wan SP/I2V and CI test notes (#1845)
  AGENTS.md
  fastvideo/AGENTS.md
  fastvideo/attention/AGENTS.md
  fastvideo/models/AGENTS.md
  fastvideo/models/wan/AGENTS.md
  fastvideo/pipelines/AGENTS.md
  fastvideo/tests/AGENTS.md
  fastvideo/train/AGENTS.md
  fastvideo/training/AGENTS.md
Due: Transformer Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Serialize MPS worker results through CPU storage
  fastvideo/tests/worker/test_multiproc_executor.py
  fastvideo/worker/multiproc_executor.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: simplify parquet dtype decode and skip CFG-dropped copies (#1843)
  fastvideo/dataset/utils.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_overfit.py
  fastvideo/tests/dataset/test_parquet_dtype_roundtrip.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: respect serialized tensor dtype in parquet dataloader (#1843)
  fastvideo/dataset/utils.py
  fastvideo/pipelines/preprocess/preprocess_minimax_h3_overfit.py
  fastvideo/tests/dataset/test_parquet_dtype_roundtrip.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: align the H3 duration bound across runtimes (#1842)
  examples/inference/lora/minimax_h3_lora_inference.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: pin the H3 15-second bucket in tests and docs (#1842)
  docs/cookbook/minimax-h3.md
  docs/cookbook/openai-api.md
  docs/getting_started/installation/spark_pair.md
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_fast_mode.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: allow MiniMax H3 frame padding at the 15-second limit
  docs/cookbook/minimax-h3.md
  docs/cookbook/openai-api.md
  docs/getting_started/installation/spark_pair.md
  examples/inference/lora/minimax_h3_lora_inference.py
  fastvideo/mlx_runtime/minimax_h3.py
  fastvideo/mlx_runtime/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_input_preparation.py
  fastvideo/tests/entrypoints/test_openai_serving_engine.py
  fastvideo/tests/mlx/test_mlx_minimax_h3_fast_mode.py
  fastvideo/tests/stages/test_minimax_h3_input_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: validate response_format on image edits and share helper (#1841)
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/tests/entrypoints/test_image_response_format_validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Validate image response format before generation (#1841)
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/tests/entrypoints/test_image_response_format_validation.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: document image generations alias and tidy route test (#1840)
  docs/design/server_contracts/openai.md
  fastvideo/tests/entrypoints/test_image_generation_route_compatibility.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add OpenAI-compatible image generation endpoint (#1840)
  docs/design/server_contracts/openai.md
  fastvideo/entrypoints/openai/image_api.py
  fastvideo/tests/entrypoints/test_image_generation_route_compatibility.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add fastvideo serve configs for Wan CUDA models
  examples/serving/openai_fastwan21_1_3b.yaml
  examples/serving/openai_wan21_i2v_14b.yaml
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
Due: none

[bugfix]: fix Wan serve config docs, parallelism, and add parse test (#1801)
  examples/serving/README.md
  examples/serving/openai_wan21_i2v_14b.yaml
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
  fastvideo/tests/api/test_serve_examples.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add fastvideo serve configs for Wan CUDA models (#1801)
  examples/serving/README.md
  examples/serving/openai_fastwan21_1_3b.yaml
  examples/serving/openai_wan21_i2v_14b.yaml
  examples/serving/openai_wan22_t2v_a14b.yaml
  examples/serving/openai_wan22_ti2v_5b.yaml
  fastvideo/tests/api/test_serve_examples.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: isolate cancelled streaming requests from GPU result readers
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/tests/entrypoints/streaming/test_gpu_pool.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add modular training performance metrics
  docs/training/train_infra.md
  examples/train/configs/example.yaml
  fastvideo/tests/train/utils/test_config.py
  fastvideo/tests/train/utils/test_performance.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/config.py
  fastvideo/train/utils/performance.py
  fastvideo/train/utils/training_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep the H100 FastH3 profile resident and fail closed in the FP8 converter (#1829)
  examples/inference/basic/basic_fasth3_h100.yaml
  fastvideo/models/encoders/minimax_h3_checkpoint_fp8.py
  fastvideo/tests/encoders/test_minimax_h3_qwen3_vl_checkpoint_fp8.py
  scripts/checkpoint_conversion/quantize_minimax_h3_text_encoder_fp8.py
Due: Encoder Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: bound pre-loop perf records and harden metrics (#1826)
  docs/training/train_infra.md
  fastvideo/tests/train/trainer/test_performance_wiring.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add Wan TDM training
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  examples/train/configs/example.yaml
  fastvideo/configs/pipelines/base.py
  fastvideo/models/wan/pipeline_config.py
  fastvideo/pipelines/basic/wan/stages/dmd.py
  fastvideo/tests/ssim/test_wan_i2v_similarity.py
  fastvideo/tests/ssim/test_wan_t2v_similarity.py
  fastvideo/tests/train/methods/test_tdm_config_path.py
  fastvideo/tests/train/utils/test_checkpoint.py
  fastvideo/train/callbacks/grad_clip.py
  fastvideo/train/methods/__init__.py
  fastvideo/train/methods/distribution_matching/__init__.py
  fastvideo/train/methods/distribution_matching/tdm.py
  fastvideo/train/models/base.py
  fastvideo/train/models/wan/wan.py
  fastvideo/train/models/wan/wan_causal.py
  fastvideo/train/utils/checkpoint.py
  fastvideo/training/trackers.py
  tests/local_tests/tdm/README.md
  tests/local_tests/tdm/__init__.py
  tests/local_tests/tdm/test_jsonl_tracker.py
  tests/local_tests/tdm/test_tdm_config_smoke.py
  tests/local_tests/tdm/test_tdm_method_unit.py
  tests/local_tests/tdm/test_tdm_scheduler_math.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: add Wan TDM overfit diagnostic
  examples/train/configs/distribution_matching/wan/tdm_overfit_prompts.txt
  examples/train/configs/distribution_matching/wan/tdm_overfit_validation.json
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_overfit.yaml
  fastvideo/tests/train/methods/test_tdm_config_path.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: refresh TDM validation fixture
  fastvideo/tests/train/methods/test_tdm_config_path.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: complete TDM validation pipeline stub
  fastvideo/tests/train/methods/test_tdm_config_path.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: synchronize modular LoRA replicas
  fastvideo/tests/train/trainer/test_validation.py
  fastvideo/tests/train/utils/test_lora.py
  fastvideo/train/methods/base.py
  fastvideo/train/trainer.py
  fastvideo/train/utils/lora.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: guard the Ulysses call contract and correct stale comments (#1807)
  docs/contributing/ulysses_performance.md
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo/distributed/device_communicators/ulysses_a2a.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[test]: add TDM Gaussian gradient oracle
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: none

[bugfix]: restore faithful TDM update order
  docs/training/train_infra.md
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora.yaml
  examples/train/configs/distribution_matching/wan/tdm_t2v_lora_overfit.yaml
  fastvideo/tests/train/methods/test_tdm_config_path.py
  fastvideo/train/methods/distribution_matching/tdm.py
  tests/local_tests/tdm/README.md
  tests/local_tests/tdm/test_tdm_config_smoke.py
  tests/local_tests/tdm/test_tdm_method_unit.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Route every frame consumer through pixels_to_uint8 and assert the uint8 decode contract
  fastvideo/entrypoints/streaming_generator.py
  fastvideo/entrypoints/video_generator.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  fastvideo/tests/train/callbacks/test_validation.py
  fastvideo/train/callbacks/validation.py
  fastvideo/training/distillation_pipeline.py
  fastvideo/training/training_pipeline.py
  fastvideo/utils.py
Due: SSIM Tests, Training Tests, Distillation DMDTests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] MiniMax H3: return uint8 frames from the decode worker
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/tests/entrypoints/test_video_generator.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] ROCm: route the video sparse attention backends to their Triton kernels
  fastvideo/platforms/rocm.py
  fastvideo/tests/platforms/test_rocm_vsa_backend_routing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] ROCm: detect the platform from a HIP torch build when amdsmi is unavailable
  fastvideo/platforms/__init__.py
  fastvideo/tests/platforms/test_rocm_detection_without_amdsmi.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: support checkpoint-defined FastH3 shifts and explicit DMD schedules
  docs/cookbook/minimax-h3.md
  docs/inference/fasth3-distilled.md
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
  fastvideo/tests/stages/test_minimax_h3_distilled_schedule.py
  fastvideo/tests/test_partial_hf_download.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: add basic_fasth3_8step.py example for the public FastH3 8-Step V2 checkpoint
  docs/inference/fasth3-distilled.md
  examples/inference/basic/basic_fasth3_8step.py
  fastvideo/tests/inference/test_basic_fasth3_profile.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] fix(cosmos): make AdaLayerNorm autocast device-agnostic (#1818)
  fastvideo/models/dits/cosmos.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: FastH3 8-Step V2 news entry and cookbook recipe
  README.md
  docs/assets/cookbook-recipes.json
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
Due: none

[misc]: tighten ROCm VSA routing assertions and comment (#1851)
  fastvideo/platforms/rocm.py
  fastvideo/tests/platforms/test_rocm_vsa_backend_routing.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: cover the ROCm device-node probe and correct stale comments (#1849)
  fastvideo/platforms/__init__.py
  fastvideo/tests/platforms/test_rocm_detection_without_amdsmi.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: log dropped late replies in the GPU pool reader (#1848)
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/tests/entrypoints/streaming/test_gpu_pool.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
