Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[test]add test for usp
  fastvideo/tests/attention/test_ring_attention_config.py
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update test script
  fastvideo/tests/attention/test_ring_attention_config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test for single gpu
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] fix multi-gpu test
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add distributed test for usp
  fastvideo/tests/distributed/test_usp_group_layout.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

refactor with main
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update usp calling function
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add test for usp
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete some files which were not used
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/ring_flash_attn_varlen.py
  fastvideo/attention/ring/ring_npu_flash_attn.py
  fastvideo/attention/ring/stripe_flash_attn.py
  fastvideo/attention/ring/triton_utils.py
  fastvideo/attention/ring/zigzag_ring_flash_attn.py
  fastvideo/attention/ring/zigzag_ring_flash_attn_varlen.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add get ring group func
  fastvideo/distributed/parallel_state.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update docstr
  fastvideo/attention/ring/__init__.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor]update ring-atten kernel and delete un-call funcs
  fastvideo/attention/layer.py
  fastvideo/attention/ring/__init__.py
  fastvideo/attention/ring/capabilities.py
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring/ring_flashinfer_attn.py
  fastvideo/attention/ring/ring_pytorch_attn.py
  fastvideo/attention/ring/utils.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]parse flash_attn version instead of lexicographic string compare
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

call ring-atten using new funcs
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]fix distributed ring attention bug
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/kernels/__init__.py
  fastvideo/attention/ring/kernels/attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

change attention dir and add ring-attem docs
  fastvideo/attention/AGENTS.md
Due: Transformer Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

split usp from distributed-atten
  fastvideo/distributed/usp_topology.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update ring-atten test
  fastvideo/tests/attention/test_ring_attention_rope.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[log] add logs for ring-atten
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

update ring-atten test
  fastvideo/tests/distributed/test_usp_group_layout.py
  fastvideo/tests/distributed/test_usp_topology.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

delete test script
  run_ring_2gpu.sh
Due: none

[fix]preserve q/k/v dtype in ring attention backward
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]restore hsdp_replicate_dim/hsdp_shard_dim validation
  fastvideo/fastvideo_args.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

split ring-atten from distributed atten
  fastvideo/attention/ring_attention.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit
  fastvideo/attention/ring/ring_flash_attn.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]throw error when not dispatch ring-atten in subclass overrides and skip all-to-all when ulysses_size == 1
  fastvideo/attention/layer.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: support H3 Ring attention with packed sequence padding
  fastvideo/attention/ring/ring_flash_attn.py
  fastvideo/attention/ring_attention.py
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]: cover H3 Ring padding and distributed parity
  .buildkite/scripts/unit_test.sh
  fastvideo/tests/attention/test_h3_ring_attention.py
  fastvideo/tests/distributed/test_h3_ring_attention_parity.py
  fastvideo/tests/distributed/test_ring_attention.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: add H3 Ring inference commands and validation limits
  docs/cookbook/minimax-h3.md
  docs/inference/h3-ring-attention.md
  examples/inference/basic/basic_minimax_h3_t2v.py
Due: none

[feat]: int8 transformer for MiniMax H3
  fastvideo/tests/ops/quantization/test_minimax_h3_int8_gpu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: int8 transformer for MiniMax H3
  fastvideo/layers/quantization/minimax_h3_int8.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_minimax_h3_int8.py
  fastvideo/tests/ops/quantization/test_minimax_h3_transformer_int8_converter.py
  scripts/checkpoint_conversion/convert_minimax_h3_transformer_int8.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]: int8 transformer for MiniMax H3
  fastvideo/layers/quantization/minimax_h3_int8.py
  fastvideo/models/loader/component_loader.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: cast Q/K/V to bf16 at the VSA-H3 tile-64 Triton kernel boundary
  fastvideo/attention/backends/video_sparse_attn_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: record the 4E dtype fix and the VSA memory wall
  .agents/handoffs/tdm-port-handoff.md
Due: none

[feat]: int8 transformer for MiniMax H3
  fastvideo/layers/quantization/minimax_h3_int8.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/ops/quantization/test_minimax_h3_int8.py
  fastvideo/tests/ops/quantization/test_minimax_h3_transformer_int8_converter.py
  scripts/checkpoint_conversion/convert_minimax_h3_transformer_int8.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: isolate cancelled streaming requests from GPU result readers (#1848)
  fastvideo/entrypoints/streaming/gpu_pool.py
  fastvideo/tests/entrypoints/streaming/test_gpu_pool.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: Fall back when large pinned output allocation fails (#1759)
  fastvideo/entrypoints/video_generator.py
  fastvideo/pipelines/basic/minimax_h3/stages/minimax_h3_decoding.py
  fastvideo/tests/entrypoints/test_video_generator.py
  fastvideo/tests/stages/test_minimax_h3_vae_streaming.py
  fastvideo/tests/vaes/test_minimax_h3_video_vae_streaming.py
  fastvideo/utils.py
Due: VAE Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
