Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[bugfix] Wan I2V: stop silently dropping CLIP image conditioning
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/dreamx_world.py
  fastvideo/models/dits/lingbotworld/model.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Wan I2V: stop silently dropping CLIP image conditioning
  fastvideo/models/dits/causal_wanvideo.py
  fastvideo/models/dits/wanvideo.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

run pre-commit
  fastvideo/pipelines/preprocess/preprocess_hunyuan15_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]change utils function for 2 encoder output for hunyuan
  fastvideo/dataset/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: keep the existing preprocess writers working with the widened schema
  fastvideo/dataset/utils.py
  fastvideo/pipelines/preprocess/preprocess_cosmos25_overfit.py
  fastvideo/pipelines/preprocess/preprocess_cosmos_overfit.py
  fastvideo/pipelines/preprocess/preprocess_hunyuan_overfit.py
  fastvideo/pipelines/preprocess/preprocess_kandinsky5_overfit.py
  fastvideo/pipelines/preprocess/preprocess_ltx2_overfit.py
  fastvideo/tests/dataset/test_hunyuan15_parquet_schema.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat]add second text encoder byt5 for hunyuan model
  fastvideo/dataset/dataloader/schema.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: let the overfit preprocess script's paths be overridden
  fastvideo/pipelines/preprocess/preprocess_hunyuan15_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test]add unitest for preprocessing
  fastvideo/tests/dataset/test_hunyuan15_dual_text_collator.py
  fastvideo/tests/dataset/test_hunyuan15_parquet_schema.py
  fastvideo/tests/dataset/test_preprocess_hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] add hunyuan1.5 preprocess overfit
  fastvideo/pipelines/preprocess/preprocess_hunyuan15_overfit.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] add the HunyuanVideo 1.5 training runbook
  docs/training/hunyuan15_overfit.md
  examples/train/configs/overfit_hunyuan15_t2v.yaml
  mkdocs.yml
Due: none

[bugfix] recognize HY1.5 double_blocks in grad-norm test helper
  fastvideo/tests/train/methods/grad_norm_regression.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] skip the negative-prompt cache for HY1.5 fine-tuning
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] add HunyuanVideo 1.5 T2V training support
  examples/train/configs/fine_tuning/hunyuan15/t2v.yaml
  examples/train/configs/overfit_hunyuan15_t2v.yaml
  fastvideo/tests/train/fixtures/hunyuan15_t2v_finetune_min.yaml
  fastvideo/tests/train/fixtures/hunyuan15_t2v_min.yaml
  fastvideo/tests/train/methods/test_hunyuan15_finetune.py
  fastvideo/tests/train/models/test_hunyuan15_smoke.py
  fastvideo/tests/train/models/test_load_hunyuan15.py
  fastvideo/train/models/hunyuan15/__init__.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
  fastvideo/training/training_utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] pack HY1.5 conditioning channels (32+1+32=65) in hidden_states
  fastvideo/tests/train/models/test_hunyuan15_smoke.py
  fastvideo/tests/train/models/test_load_hunyuan15.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] guard both ByT5 fields in Hunyuan15Model.prepare_batch
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] address review: shard the 8-GPU recipe, add HY1.5 decode_latents, disable validation, warn on mixed prompt lengths
  examples/train/configs/fine_tuning/hunyuan15/t2v.yaml
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: say so when ByT5 embeddings are absent, and read their width from config
  fastvideo/tests/train/methods/test_hunyuan15_finetune.py
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: satisfy the formatter on the ByT5 width helper
  fastvideo/train/models/hunyuan15/hunyuan15.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: re-enable HunyuanVideo 1.5 validation now that the sizing fix has landed
  docs/training/hunyuan15_overfit.md
  examples/train/configs/fine_tuning/hunyuan15/t2v.yaml
  examples/train/configs/overfit_hunyuan15_t2v.yaml
Due: none

[bugfix]: give GB200 its own SSIM reference folder instead of B200's
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/test_device_reference_folder.py
  fastvideo/tests/ssim/test_glm_image_similarity.py
  fastvideo/tests/ssim/test_zimage_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix]: give GB200 its own SSIM reference folder instead of B200's (#1676)
  fastvideo/tests/ssim/inference_similarity_utils.py
  fastvideo/tests/ssim/test_device_reference_folder.py
  fastvideo/tests/ssim/test_glm_image_similarity.py
  fastvideo/tests/ssim/test_zimage_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

attention: sm_100a CUDA forward for block-causal-sink (Blackwell)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/attention/block_causal_sink_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_causal_sink_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_causal_sink_sm100a.cu
  fastvideo-kernel/csrc/attention/primitives.cuh
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo/attention/kernels/block_causal_sink.py
  fastvideo/attention/kernels/block_causal_sink_cuda.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: keep _resolved_attention_backend out of the positional config signature
  fastvideo/configs/models/base.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] Build + allow attn_qat_infer FP4 attention on sm_121a (DGX Spark)
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo/models/dits/wanvideo.py
  fastvideo/pipelines/stages/denoising.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: harden SM121 Attn-QAT support
  .github/workflows/publish-kernel.yml
  docs/getting_started/installation/spark.md
  docs/inference/optimizations.md
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/tests/test_attn_qat_infer.py
  fastvideo-kernel/tests/test_build_arch.py
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[kernel] Address review: guard sm_121a on CUDA>=13, downgrade main arch, wheel+README
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test]: drop redundant attn_qat_infer capability test (superseded by #1647)
  fastvideo/tests/attention/test_attn_qat_infer_capability.py
  fastvideo/tests/modal/pr_test.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[style] clang-format the sm_100a attention sources; apply pre-commit
  fastvideo-kernel/csrc/attention/block_causal_sink_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_causal_sink_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_causal_sink_sm100a.cu
  fastvideo-kernel/csrc/attention/primitives.cuh
  fastvideo/attention/kernels/block_causal_sink.py
  fastvideo/attention/kernels/block_causal_sink_cuda.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[bugfix]: keep _resolved_attention_backend out of the positional config signature (#1678)
  fastvideo/configs/models/base.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[ci] Ground GB10 perf thresholds from 5x reproducibility run (39.3s / 8.4GB)
  .buildkite/performance-benchmarks/tests/wan-t2v-1.3b-gb10-1gpu.json
Due: none

[ci] Validate run_config.gpu_types at discovery (list of non-empty strings)
  fastvideo/tests/performance/test_benchmark_config_validation.py
  fastvideo/tests/performance/test_inference_performance.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

T2VA, FL2VA, and Ref2VA
  HANDOFF.md
  docs/design/minimax_h3_porting_pitfalls.md
  fastvideo/pipelines/basic/minimax_h3/__init__.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/packing_ref2va.py
  fastvideo/pipelines/basic/minimax_h3/stages/__init__.py
  fastvideo/pipelines/basic/minimax_h3/stages/_vae_conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/keyframe_encoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/latent_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/layout_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/reference_encoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/reference_preparation.py
  fastvideo/pipelines/basic/minimax_h3/types.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/test_minimax_h3_pipeline.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_media.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_packing.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_pipeline.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref_loader.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

cleanup
  HANDOFF.md
  docs/design/minimax_h3_frontier_and_integration_plan.md
  docs/design/minimax_h3_porting_pitfalls.md
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pipeline, test with real weights
  docs/design/minimax_h3_porting_pitfalls.md
  examples/inference/basic/basic_minimax_h3_fl2va.py
  examples/inference/basic/basic_minimax_h3_ref2va.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/pipelines/basic/minimax_h3/__init__.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing_ref2va.py
  fastvideo/pipelines/basic/minimax_h3/presets.py
  fastvideo/pipelines/basic/minimax_h3/stages/conditioning.py
  fastvideo/registry.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/run_stage4_conditioned.py
  tests/local_tests/minimax_h3/run_stage4_t2va.py
  tests/local_tests/minimax_h3/test_minimax_h3_conditioner.py
  tests/local_tests/minimax_h3/test_minimax_h3_ref2va_media.py
  tests/local_tests/pipelines/test_minimax_h3_pipeline_smoke.py
Due: Encoder Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add pipeline
  docs/design/minimax_h3_porting_pitfalls.md
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/configs/pipelines/minimax_h3.py
  fastvideo/models/encoders/minimax_h3_qwen3_vl.py
  fastvideo/models/loader/component_loader.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/minimax_h3_pipeline.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/basic/minimax_h3/stages/__init__.py
  fastvideo/pipelines/basic/minimax_h3/stages/_module_lifecycle.py
  fastvideo/pipelines/basic/minimax_h3/stages/conditioning.py
  fastvideo/pipelines/basic/minimax_h3/stages/decoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/denoising.py
  fastvideo/pipelines/basic/minimax_h3/stages/input_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/keyframe_encoding.py
  fastvideo/pipelines/basic/minimax_h3/stages/latent_preparation.py
  fastvideo/pipelines/basic/minimax_h3/stages/timestep_preparation.py
  fastvideo/pipelines/basic/minimax_h3/types.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/test_minimax_h3_conditioner.py
  tests/local_tests/minimax_h3/test_minimax_h3_loader_contracts.py
  tests/local_tests/minimax_h3/test_minimax_h3_pipeline.py
  tests/local_tests/vaes/test_minimax_h3_audio_vae_parity.py
  tests/local_tests/vaes/test_minimax_h3_video_vae_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

add docs
  docs/design/minimax_h3_frontier_and_integration_plan.md
Due: none

some fix
  docs/design/inference_schema_parity_inventory.yaml
  docs/design/minimax_h3_frontier_and_integration_plan.md
  fastvideo/api/sampling_param.py
  fastvideo/api/schema.py
  fastvideo/configs/models/dits/minimax_h3.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/vaes/minimax_h3_video.py
  fastvideo/pipelines/basic/minimax_h3/packing.py
  fastvideo/pipelines/pipeline_batch_info.py
  fastvideo/tests/api/test_parser.py
  scripts/checkpoint_conversion/convert_minimax_h3_to_diffusers.py
  tests/local_tests/minimax_h3/PORT_STATUS.md
  tests/local_tests/minimax_h3/README.md
  tests/local_tests/minimax_h3/test_minimax_h3_api_contract.py
  tests/local_tests/minimax_h3/test_minimax_h3_conversion.py
  tests/local_tests/minimax_h3/test_minimax_h3_loader_contracts.py
  tests/local_tests/minimax_h3/test_minimax_h3_packing.py
  tests/local_tests/transformers/test_minimax_h3_transformer_parity.py
Due: VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
