Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

[reliability] Skip bad parquet rows in __getitems__ (R3)
  fastvideo/dataset/parquet_dataset_map_style.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Wire PyTorch profiler into new trainer (P4)
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add fp16 on-disk dtype for VAE latents
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add letterbox resize for video preprocessing
  fastvideo/dataset/__init__.py
  fastvideo/dataset/transform.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add final flush at end of preprocess loop
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Cache T5("") embedding for all-empty caption batches
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Skip LetterboxResizeVideo work when clip already at target size
  fastvideo/dataset/transform.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Skip clips that fail to decode in VideoCaptionMergedDataset
  fastvideo/dataset/preprocessing_datasets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] Add --vae_autocast_dtype flag for VAE encode autocast
  fastvideo/pipelines/preprocess/preprocess_pipeline_base.py
  fastvideo/pipelines/preprocess/v1_preprocess.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Fix host-RAM leak in VideoCaptionMergedDataset._get_item
  fastvideo/dataset/preprocessing_datasets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Add padding=max_length to T5 tokenizer config
  fastvideo/configs/models/encoders/t5.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc] Address PR #4 review: portable paths + chain seed sampler in sbatch
  scripts/soccernet_smoke/run_wan22_i2v.py
  scripts/soccernet_smoke/submit_wan22_i2v.sbatch
Due: none

[reliability] Address PR #5 review: world-wide NaN gate + parse dist_timeout from YAML
  fastvideo/train/trainer.py
  fastvideo/train/utils/config.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Address PR #6 review: advance profiler schedule + dedicated regions
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Address PR #7 review: dtype-aware parquet reader + skip-budget
  fastvideo/dataset/preprocessing_datasets.py
  fastvideo/dataset/utils.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Apply suggestion from @rahimentezari
  fastvideo/dataset/preprocessing_datasets.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Address PR #5 re-review: spread bad-row replacements across all survivors
  fastvideo/dataset/parquet_dataset_map_style.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Address PR #6 re-review: stop profiler outside the broad train region
  fastvideo/train/trainer.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs] dreamverse-integration: D-18 — Option B+ monorepo plan
  .agents/memory/dreamverse-integration/README.md
  .agents/memory/dreamverse-integration/decisions-log.md
  .agents/memory/dreamverse-integration/integration-plan.md
  .agents/memory/dreamverse-integration/integration-review.md
Due: none

[docs] dreamverse-integration: align test strategy with B+ + GPU4 hook
  .agents/memory/dreamverse-integration/integration-plan.md
Due: none

[docs] magi-human: Wave 7 CFG/neg-prompt findings; OQ-6 partial fix
  tests/local_tests/magi-human.md
Due: none

[fix] magi-human: align default resolution to upstream 480x256
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human DiT: reuse fastvideo.layers RoPE primitive
  fastvideo/models/dits/magi_human.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] magi-human: TI2V (text+image-to-AV) inference flow
  examples/inference/basic/basic_magi_human_distill_ti2v.py
  examples/inference/basic/basic_magi_human_ti2v.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/__init__.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/pipelines/basic/magi_human/stages/reference_image.py
  fastvideo/registry.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_ti2v_pipeline_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] magi-human: SR-540p two-stage super-resolution pipeline
  examples/inference/basic/basic_magi_human_sr540p.py
  examples/inference/basic/basic_magi_human_sr540p_ti2v.py
  fastvideo/models/loader/component_loader.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/__init__.py
  fastvideo/pipelines/basic/magi_human/stages/sr_denoising.py
  fastvideo/pipelines/basic/magi_human/stages/sr_latent_preparation.py
  fastvideo/registry.py
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_sr540p_pipeline_parity.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

skill draft
  .agents/skills/index.jsonl
Due: none

[bugfix]: drop double-shift in MagiHuman scheduler init
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[feat] magi-human denoising: wire trace_step around DiT calls
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] magi-human: encode real preset prompts in pipeline parity
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: none

[bugfix] convert_magi_human: keep fp32 for adapter+final_linear weights
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  tests/local_tests/magi_human/test_magi_human_distill_parity.py
Due: none

[bugfix] magi-human: pack video tokens channel-major to match upstream
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  tests/local_tests/magi-human.md
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human: lazy-load Wan VAE from upstream (drop bundling default)
  examples/inference/basic/basic_magi_human.py
  examples/inference/basic/basic_magi_human_distill.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/utils.py
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human: defer audio VAE to main's stable-audio infra
  fastvideo/configs/models/encoders/__init__.py
  fastvideo/configs/models/encoders/sa_audio.py
  fastvideo/models/encoders/sa_audio.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  tests/local_tests/magi_human/test_magi_human_sa_audio_parity.py
Due: Encoder Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] magi-human: align DiT dtype boundaries with upstream for bit-exact parity
  fastvideo/models/dits/magi_human.py
  tests/local_tests/magi-human.md
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] magi-human: surface bf16 bugs (OQ-6/OQ-7); 4-step pipeline; defer Wan VAE
  tests/local_tests/magi_human/test_magi_human_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_vae_parity.py
Due: none

[fix]: magi-human pipeline: don't clobber bundled components on lazy-load
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[refactor] magi-human DiT: restore dtype-agnostic attention via orig_dtype
  fastvideo/models/dits/magi_human.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] magi-human: emit per-side layer log files in block parity debugger
  tests/local_tests/magi_human/_debug_magi_human_block_parity.py
Due: none

[docs] magi-human: Wave 8 broader CFG/preset/fallback audit; OQ-6 production resolved
  tests/local_tests/magi-human.md
Due: none

[refactor] magi: T2V→base rename + faithful parity tests
  examples/inference/basic/basic_magi_human.py
  fastvideo/configs/models/dits/magi_human.py
  fastvideo/pipelines/basic/magi_human/magi_human_pipeline.py
  fastvideo/pipelines/basic/magi_human/pipeline_configs.py
  fastvideo/pipelines/basic/magi_human/presets.py
  fastvideo/pipelines/basic/magi_human/stages/denoising.py
  fastvideo/pipelines/basic/magi_human/stages/latent_preparation.py
  fastvideo/registry.py
  fastvideo/tests/ssim/test_magi_human_similarity.py
  scripts/checkpoint_conversion/convert_magi_human_to_diffusers.py
  tests/local_tests/magi_human/test_magi_human_pipeline_parity.py
  tests/local_tests/magi_human/test_magi_human_pipeline_smoke.py
  tests/local_tests/magi_human/test_magi_human_vae_parity.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
