Repository hao-ai-lab/FastVideo: changes, and which Buildkite steps are due for each by the changed paths.
All: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Path conditions:
  Encoder Tests: any of: fastvideo/models/encoders/**, fastvideo/models/loader/**, fastvideo/tests/encoders/**, pyproject.toml, docker/Dockerfile.python3.12
  VAE Tests: any of: fastvideo/models/vaes/**, fastvideo/models/loader/**, fastvideo/tests/vaes/**, pyproject.toml, docker/Dockerfile.python3.12
  Transformer Tests: any of: fastvideo/models/dits/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/layers/**, fastvideo/attention/**, pyproject.toml, docker/Dockerfile.python3.12
  SSIM Tests: any of: fastvideo/**/*.py, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Inference Tests: any of: fastvideo/tests/lora/**, fastvideo/models/loader/**, fastvideo/tests/transformers/**, fastvideo/pipelines/**, fastvideo/layers/lora/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Distillation DMDTests: any of: fastvideo/training/*distillation_pipeline.py, pyproject.toml, docker/Dockerfile.python3.12
  Self-Forcing Tests: any of: fastvideo/training/*self_forcing_distillation_pipeline.py, fastvideo/tests/training/self-forcing/**, pyproject.toml, docker/Dockerfile.python3.12
  LoRA Training Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12
  Training Tests VSA: any of: fastvideo/**, fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Kernel Tests: any of: fastvideo-kernel/**, pyproject.toml, docker/Dockerfile.python3.12
  Inference Tests VMoBA: any of: fastvideo-kernel/**, fastvideo/attention/backends/vmoba.py, pyproject.toml, docker/Dockerfile.python3.12
  Unit Tests: any of: fastvideo/**, pyproject.toml, docker/Dockerfile.python3.12

Fix Cosmos AdaLayerNorm autocast to follow the tensor device
  fastvideo/models/dits/cosmos.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] sm_100a CUDA backward for VSA block-sparse attention (64-token blocks)
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_sm100a.cu
  fastvideo-kernel/csrc/attention/primitives.cuh
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_bwd_sm100a.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  tests/test_block_sparse_bwd_sm100a.py
  tests/test_block_sparse_sm100a_dispatch.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[ci] Surface worker process logs on perf hard regressions
  .buildkite/scripts/lanes/performance.sh
  docs/contributing/performance_benchmarks.md
  fastvideo/tests/performance/compare_baseline.py
  fastvideo/tests/performance/test_compare_baseline_policy.py
  fastvideo/tests/performance/test_inference_performance.py
  fastvideo/tests/performance/test_inference_performance_result_schema.py
  fastvideo/tests/performance/test_worker_log_capture.py
  fastvideo/tests/performance/worker_log_capture.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[misc]: disable SSIM models pending removal
  fastvideo/tests/ssim/test_dreamx_world_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_glm_image_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  fastvideo/tests/ssim/test_zimage_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Disable old SSIM models (#1820)
  fastvideo/tests/ssim/test_dreamx_world_similarity.py
  fastvideo/tests/ssim/test_gamecraft_similarity.py
  fastvideo/tests/ssim/test_glm_image_similarity.py
  fastvideo/tests/ssim/test_longcat_similarity.py
  fastvideo/tests/ssim/test_matrixgame2_similarity.py
  fastvideo/tests/ssim/test_turbodiffusion_similarity.py
  fastvideo/tests/ssim/test_zimage_similarity.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove MiniMax H3 profile scripts
  examples/inference/basic/basic_minimax_h3_t2v_profile.py
  examples/inference/basic/basic_minimax_h3_t2v_profile.sh
Due: none

Refactor: simplify FastH3 example inference script.
  examples/inference/basic/basic_fasth3_lora_preview.py
  examples/inference/basic/basic_fasth3_simplified.py
  examples/inference/basic/run_fasth3_lora_preview.sh
  examples/inference/basic/run_fasth3_lora_preview_dense_datafree.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_datafree.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_synthetic_step1300.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_synthetic_step1900.sh
Due: none

Add profile scripts.
  examples/inference/basic/basic_minimax_h3_t2v_profile.py
  examples/inference/basic/basic_minimax_h3_t2v_profile.sh
Due: none

add nvtx around H3 transformer blocks
  fastvideo/models/dits/minimax_h3.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Update profile script.
  examples/inference/basic/basic_fasth3_simplified_profile.py
  examples/inference/basic/basic_fasth3_simplified_profile.sh
Due: none

rename launch script.
  examples/inference/basic/basic_fasth3_simplified.sh
Due: none

Add MXFP8 H3 FFN inference
  examples/inference/basic/basic_fasth3_simplified_profile.py
  fastvideo/layers/mxfp8linear.py
  fastvideo/layers/quantization/__init__.py
  fastvideo/layers/quantization/mxfp8_config.py
  fastvideo/models/dits/minimax_h3.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/lora_pipeline.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Add support for NVFP4 on FFN in H3.
  fastvideo/layers/quantization/nvfp4_config.py
  fastvideo/models/loader/fsdp_load.py
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Restore FastH3 example scripts
  examples/inference/basic/basic_fasth3_lora_preview.py
  examples/inference/basic/run_fasth3_lora_preview_dense_datafree.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_datafree.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_synthetic_step1300.sh
  examples/inference/basic/run_fasth3_lora_preview_vsa_synthetic_step1900.sh
Due: none

[feat] Add native SM103a VSA support (#1812)
  .github/workflows/publish-kernel.yml
  fastvideo-kernel/CMakeLists.txt
  fastvideo-kernel/README.md
  fastvideo-kernel/build.sh
  fastvideo-kernel/csrc/attention/block_sparse_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_sm100a.cu
  fastvideo-kernel/csrc/attention/primitives.cuh
  fastvideo-kernel/csrc/common_extension.cpp
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn.py
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_sm100a.py
  fastvideo-kernel/python/fastvideo_kernel/vsa_utils.py
  fastvideo/attention/backends/video_sparse_attn_h3.py
  fastvideo/tests/attention/test_vsa_h3_sm100a_route.py
  tests/bench_block_sparse_sm100a.py
  tests/test_block_sparse_sm100a.py
  tests/test_block_sparse_sm100a_dispatch.py
  tests/test_fasth3_packaging.py
Due: Transformer Tests, SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[docs]: add one-Spark FastH3 cookbook runtime with a device-count row (#1811)
  docs/assets/cookbook-recipes.json
  docs/assets/cookbook.js
  docs/assets/custom.css
  docs/cookbook/cosmos.md
  docs/cookbook/flux.md
  docs/cookbook/glm-image.md
  docs/cookbook/hunyuan.md
  docs/cookbook/index.md
  docs/cookbook/kandinsky5.md
  docs/cookbook/longcat.md
  docs/cookbook/ltx.md
  docs/cookbook/matrix-game.md
  docs/cookbook/minimax-h3.md
  docs/cookbook/mmaudio.md
  docs/cookbook/openai-api.md
  docs/cookbook/stable-audio.md
  docs/cookbook/stable-diffusion.md
  docs/cookbook/turbodiffusion.md
  docs/cookbook/wan.md
  docs/cookbook/z-image.md
  docs/generate_examples.py
  docs/getting_started/installation/spark.md
  docs/getting_started/installation/spark_pair.md
  examples/inference/basic/basic_fasth3_spark.yaml
  examples/serving/openai_fasth3_spark.yaml
  tests/local_tests/test_cookbook_serving.py
Due: none

Fix: add quack kernel dependency.
  pyproject.toml
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, Distillation DMDTests, Self-Forcing Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

Reject FSDP Inference w/ precomputed quantized weight.
  fastvideo/models/loader/fsdp_load.py
  fastvideo/tests/loader/test_fsdp_inference_quantization.py
Due: Encoder Tests, VAE Tests, Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Remove CUDA to CPU and vice versa conversion And more network payload logging
  fastvideo/pipelines/basic/minimax_h3/disaggregated.py
  fastvideo/tests/worker/test_minimax_h3_disaggregated.py
  fastvideo/worker/minimax_h3_disaggregated.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

Reject unsafe LoRA operations after weight quantization
  fastvideo/pipelines/lora_pipeline.py
  fastvideo/tests/ops/quantization/test_nvfp4_minimax_h3_wiring.py
Due: SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] sm_100a backward: keep each softmax warp's bf16 overlay inside its own fp32 columns
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] sm_100a backward: drop the cached identity order array, nullptr remap = identity
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_sm100a.cu
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[kernel] sm_100a backward: drop tcgen05.wait::ld after the TMEM loads
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

Add MXFP8 parity tests.
  fastvideo/tests/ops/quantization/test_mxfp8.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

pre-commit fix.
  fastvideo/layers/mxfp8linear.py
  fastvideo/layers/quantization/mxfp8_config.py
  fastvideo/pipelines/lora_pipeline.py
Due: Transformer Tests, SSIM Tests, LoRA Inference Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[bugfix] Keep Ulysses rank agreement unconditional and reuse vote buffers
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/tests/distributed/benchmark_ulysses_a2a.py
  fastvideo/tests/distributed/test_ulysses_fault_injection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[test] Cover real CUDA capture and recovery after a cold decline
  fastvideo/tests/distributed/test_ulysses_fault_injection.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Add reproducible Ulysses MFU bottleneck experiments
  fastvideo/tests/distributed/probe_ulysses_launch.py
  fastvideo/tests/distributed/profile_ulysses_mfu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Compare launch geometry in dense and sparse training blocks
  fastvideo/tests/distributed/profile_ulysses_mfu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Build the pinned sparse kernel for the MFU experiment
  fastvideo/tests/distributed/probe_ulysses_launch.py
  fastvideo/tests/distributed/profile_ulysses_mfu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Study H3 long-sequence window limits and bounded chunking
  fastvideo/tests/distributed/profile_ulysses_mfu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[perf] Probe H3 chunked all-to-all with direct output slices
  fastvideo/tests/distributed/profile_ulysses_mfu.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[fix]: restore tcgen05.wait::ld after the TMEM loads in the sm_100a backward
  fastvideo-kernel/csrc/attention/block_sparse_bwd_kernel_sm100a.cuh
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[misc]: pin the identity-order/chunked-launch invariant; fix set_extension docstring
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/python/fastvideo_kernel/block_sparse_attn_bwd_sm100a.py
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test]: sm_100a backward parity and run-to-run stability at 65536 tokens
  tests/test_block_sparse_sm100a_dispatch.py
Due: none

[perf]: add bounded H3 windows and agreed GB200 launch plans
  fastvideo-kernel/csrc/comm/ulysses_all_to_all.cu
  fastvideo-kernel/include/comm/ulysses_all_to_all.cuh
  fastvideo-kernel/python/fastvideo_kernel/comm_ops.py
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/tests/distributed/check_ulysses_h3_native.py
  fastvideo/tests/distributed/test_ulysses_h3_policy.py
  fastvideo/tests/distributed/ulysses_native_test_support.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Kernel Tests, Inference Tests VMoBA, Unit Tests

[perf]: preserve the full baseline plan for long H3 training
  fastvideo/distributed/device_communicators/ulysses_a2a.py
  fastvideo/envs.py
  fastvideo/tests/distributed/check_ulysses_h3_native.py
  fastvideo/tests/distributed/test_ulysses_h3_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[docs]: explain bounded Ulysses chunks and long training policy
  docs/contributing/profiling.md
  docs/contributing/ulysses_performance.md
  fastvideo/tests/distributed/test_ulysses_h3_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests

[kernel] sm_100a backward: L2 transition as the per-head dQ accumulator bytes; order kernel whenever the launch is chunked
  fastvideo-kernel/csrc/attention/block_sparse_bwd_launch_sm100a.cuh
  fastvideo-kernel/csrc/attention/block_sparse_bwd_sm100a.cu
Due: Training Tests VSA, Kernel Tests, Inference Tests VMoBA

[test]: require actual tuned Ulysses execution in native validation
  fastvideo/tests/distributed/check_ulysses_h3_native.py
  fastvideo/tests/distributed/test_ulysses_h3_policy.py
Due: SSIM Tests, Training Tests, LoRA Training Tests, Training Tests VSA, Unit Tests
